<ngx-smart-modal #logicalGroupViewModal identifier="logicalGroupViewModal" [dismissable]="true" customClass="large-modal">
  <header class="modal-header">
    <h4 class="modal-title">{{ logicalGroup?.logicalGroup?.name }}</h4>
  </header>

  <main class="modal-body">
    <app-table [config]="config" [data]="logicalGroup?.members"></app-table>
  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="logicalGroupViewModal.close()">
      Close
    </button>
  </footer>
</ngx-smart-modal>
