<h1>Nat Rules</h1>
<ng-container *ngIf="tiers.length !== 0; else warningMessage">
  <app-tabs [tabs]="tabs" (tabChange)="handleTabChange($event)"></app-tabs>

  <section class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-info" (click)="getTiers()">
      <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
      <span>Refresh</span>
    </button>
  </section>

  <table class="table table-striped">
    <caption>
      <fa-icon class="icon" [icon]="['fas', 'table']"></fa-icon>
      <span>{{ currentTab }} Nat Rules with the current Tier</span>
    </caption>
    <thead>
      <tr>
        <th scope="col">Tier</th>
        <th scope="col">Nat Rules</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let natRuleGroup of natRuleGroups
            | filter : filterNatRuleGroup
            | paginate: { itemsPerPage: perPage, currentPage: currentNatRulePage }
        "
      >
        <td>
          {{ getTierName(natRuleGroup.tierId) }}
        </td>
        <td>
          <a routerLink="/nat-rules/edit/{{ natRuleGroup.id }}" queryParamsHandling="merge"
            >{{ natRuleGroup.name | slice: 0:20 }}{{ natRuleGroup.name.length > 20 ? '...' : '' }}</a
          >
        </td>
        <td>{{ natRuleGroup.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</td>
      </tr>
      <tr *ngIf="natRuleGroups.length === 0" class="text-center">
        <td colspan="3">No Nat Rules</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="currentNatRulePage = $event"></pagination-controls>

  <section class="btn-toolbar btn-toolbar--start" role="toolbar">
    <span class="mr-3">Entities per page</span>
    <div class="btn-group" role="group">
      <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">10</button>
      <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">20</button>
      <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">50</button>
    </div>
  </section>

  <!-- <section class="btn-toolbar" role="toolbar">
    <app-import-export
      [exportObject]="NatRuleGroups"
      exportFileName="NatRuleGroups"
      [disableJson]="false"
    ></app-import-export>
  </section> -->
</ng-container>
<app-yes-no-modal></app-yes-no-modal>
<ng-template #warningMessage>
  <p>Create a Tier to display Nat Rules details</p>
</ng-template>