<div class="text-center">
  <h4>{{ ipnat.name }}</h4>

  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Original</h5>
          <hr>
          <p class="card-text">{{ ipnat.ip_address_from }}</p>
          <p class="card-text">{{ ipnat.source_port_start || "Any"}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card">
          <div class="card-body">
      <h5 class="card-title">Details</h5>
      <hr>
      <p class="card-text"><b>Protocol: </b>{{ ipnat.protocol }}</p>
      <p class="card-text"><b>Bidirectional: </b>{{ ipnat.two_way_relation }}</p>
    </div>
    </div>
    </div>

    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Translated</h5>
          <hr>
          <p class="card-text">{{ ipnat.ip_address_to }}</p>
          <p class="card-text">{{ ipnat.target_port_start || "Any"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <button class="btn btn-danger" (click)="deleteIpNat()">Delete</button>
</div>