<div class="text-center">
    <h1>Solaris Dashboard</h1>
  </div>
  
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            CDOMs
          </div>
          <div class="card-body">
            <h6>{{ CdomCount }}</h6>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" routerLink="/solaris-cdom-list">View</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            LDOMs
          </div>
          <div class="card-body">
            <h6>{{ LdomCount }}</h6>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" routerLink="/solaris/ldom/list">View</button>
          </div>
        </div>
      </div>

    </div>