<h1>Recovery Plans</h1>

<section class="btn-toolbar" role="toolbar">
  <button type="button" class="btn btn-info" (click)="loadRecoveryPlans()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>
  <button type="button" class="btn btn-warning" (click)="executeAllRecoveryPlans()">
    <fa-icon class="icon" [icon]="['fas', 'play']"></fa-icon>
    <span>Execute</span>
  </button>
</section>

<ng-container *ngIf="!isLoading; else loading">
  <app-table [config]="config" [data]="recoveryPlans"></app-table>
</ng-container>

<app-yes-no-modal></app-yes-no-modal>

<ng-template #actions let-recoveryPlan="datum">
  <section class="table__actions">
    <!-- Execute -->
    <app-icon-button
      icon="execute"
      label="Execute Recovery Plan"
      (handleClick)="executeRecoveryPlan(recoveryPlan)"
    ></app-icon-button>

    <!-- Delete -->
    <app-icon-button
      icon="delete"
      label="Delete Recovery Plan"
      (handleClick)="deleteRecoveryPlan(recoveryPlan)"
    ></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>
