<ngx-smart-modal
  #vmDiscoveryModal
  identifier="vmDiscoveryModal"
  [dismissable]="false"
  (onOpen)="onLoad()"
  (onClose)="onClose()"
  customClass="large-modal"
>
  <ng-container *ngTemplateOutlet="currentDiscoveryStepTemplate"></ng-container>
</ngx-smart-modal>

<!-- Step 1 - Select vCenter -->
<ng-template #selectVCenter>
  <app-select-vcenter (vcenterSelected)="onVCenterSelected($event)"></app-select-vcenter>
</ng-template>

<!-- Step 2 - Select Virtual Machines -->
<ng-template #selectVirtualMachines>
  <app-select-virtual-machines
    [vcenterId]="selectedVCenterId"
    (virtualMachinesSelected)="onVirtualMachinesSelected($event)"
  ></app-select-virtual-machines>
</ng-template>

<!-- Step 3 - Select Action -->
<ng-template #selectAction>
  <app-select-action (actionSelected)="onActionSelected($event)"></app-select-action>
</ng-template>
