<ngx-smart-modal
  #natRulePacketTracer
  identifier="natRulePacketTracer"
  (onClose)="reset()"
  [dismissable]="false"
  customClass="medium-wide-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Nat Rule Packet Tracer</h4>
  </header>
  <div *ngIf="rulesHit.length > 0">
    <div class="dropdown">
      <app-icon-button id="dropdownToggle" icon="filter" label="Filter" (handleClick)="toggleDropdown()"></app-icon-button>
      <label for="dropdownToggle">Filter Results</label>
      <div class="dropdown-menu" *ngIf="dropdownOpen" id="dropdownMenu">
        <div class="form-check">
          <input type="checkbox" id="exactMatchCheckbox" [(ngModel)]="filterExact" (change)="applyFilter()" />
          <label for="exactMatchCheckbox">Exact Matches</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="partialMatchCheckbox" [(ngModel)]="filterPartial" (change)="applyFilter()" />
          <label for="partialMatchCheckbox">Partial Matches</label>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-sm table-striped table-bordered">
        <caption>
          Matches
        </caption>
        <thead>
          <tr>
            <th scope="col">Rule Name</th>
            <th scope="col">Original Source IP</th>
            <th scope="col">Original Dest IP</th>
            <th scope="col">Translated Source IP</th>
            <th scope="col">Translated Dest IP</th>
            <th scope="col">Original Source Port</th>
            <th scope="col">Original Dest Port</th>
            <th scope="col">Translated Source Port</th>
            <th scope="col">Translated Dest Port</th>
            <th scope="col">Direction Match</th>
            <th scope="col">biDirectional Match</th>
            <th scope="col">Enabled Match</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredRules && filteredRules?.length === 0" class="text-center">
            <td [attr.colspan]="12">No Matches</td>
          </tr>
          <tr *ngFor="let rule of filteredRules | paginate : { id: 'rulesMatch', itemsPerPage: pageSize, currentPage: currentPage }">
            <td>
              <span class="d-flex">
                {{ rule.name }}
                <div *ngIf="rule.checkList.softDeleted" class="icon-spacing">
                  <fa-icon class="icon" [icon]="['fas', 'trash']" style="color: #d33737"></fa-icon>
                </div>
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.originalSourceIPInRange === false ? 'bold' : 'normal' }">
                {{ rule.checkList.originalSourceIPInRange }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.originalDestIPInRange === false ? 'bold' : 'normal' }">
                {{ rule.checkList.originalDestIPInRange }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.translatedSourceIPInRange === false ? 'bold' : 'normal' }">
                {{ rule.checkList.translatedSourceIPInRange }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.translatedDestIPInRange === false ? 'bold' : 'normal' }">
                {{ rule.checkList.translatedDestIPInRange }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.originalSourcePortMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.originalSourcePortMatch }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.originalDestPortMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.originalDestPortMatch }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.translatedSourcePortMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.translatedSourcePortMatch }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.translatedDestPortMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.translatedDestPortMatch }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.directionMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.directionMatch }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.biDirectionalMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.biDirectionalMatch }}
              </span>
            </td>
            <td>
              <span [ngStyle]="{ 'font-weight': rule.checkList.enabledMatch === false ? 'bold' : 'normal' }">
                {{ rule.checkList.enabledMatch }}
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td [attr.colspan]="12">
            <pagination-controls id="rulesMatch" (pageChange)="currentPage = $event"></pagination-controls>
          </td>
        </tfoot>
      </table>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="search()">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="biDirectional">biDirectional</label>
          <select
            id="biDirectional"
            formControlName="biDirectional"
            class="form-control"
            [class.is-invalid]="submitted && f.biDirectional.errors"
            aria-label="Direction"
          >
            <option></option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
          <div *ngIf="submitted && f.biDirectional.errors" class="invalid-feedback">
            <div *ngIf="f.biDirectional.errors.required">biDirectional is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="direction">Direction</label>
          <select
            id="direction"
            formControlName="direction"
            class="form-control"
            [class.is-invalid]="submitted && f.direction.errors"
            aria-label="Direction"
          >
            <option></option>
            <option value="In">In</option>
            <option value="Out">Out</option>
          </select>
          <div *ngIf="submitted && f.direction.errors" class="invalid-feedback">
            <div *ngIf="f.direction.errors.required">Direction is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="enabled">Enabled</label>
          <select
            id="enabled"
            formControlName="enabled"
            class="form-control"
            [class.is-invalid]="submitted && f.enabled.errors"
            aria-label="Enabled"
          >
            <option></option>
            <option value="false">False</option>
            <option value="true">True</option>
          </select>
          <div *ngIf="submitted && f.enabled.errors" class="invalid-feedback">
            <div *ngIf="f.enabled.errors.required">Enabled is required</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="originalSourceIp">Original Source IP</label>
          <input
            type="text"
            formControlName="originalSourceIp"
            id="originalSourceIp"
            class="form-control"
            [class.is-invalid]="submitted && f.originalSourceIp.errors"
            aria-label="Source IP"
          />
          <div *ngIf="submitted && f.originalSourceIp.errors" class="invalid-feedback">
            <div *ngIf="f.originalSourceIp.errors.required">Original Source IP Address is required</div>
            <div *ngIf="f.originalSourceIp.errors.invalidIpAny">Original Source IP address, must be a valid IPv4 address</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="originalDestinationIp">Original Destination IP</label>
          <input
            type="text"
            id="originalDestinationIp"
            formControlName="originalDestinationIp"
            class="form-control"
            [class.is-invalid]="submitted && f.originalDestinationIp.errors"
            aria-label="Destination IP"
          />
          <div *ngIf="submitted && f.originalDestinationIp.errors" class="invalid-feedback">
            <div *ngIf="f.originalDestinationIp.errors.required">Original Destination IP is required</div>
            <div *ngIf="f.originalDestinationIp.errors.invalidIpAny">Original Destination IP address, must be a valid IPv4 address</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="translatedSourceIp">Translated Source IP</label>
          <input
            type="text"
            id="translatedSourceIp"
            formControlName="translatedSourceIp"
            class="form-control"
            [class.is-invalid]="submitted && f.translatedSourceIp.errors"
            aria-label="Translated Source IP"
            aria-placeholder="None"
            placeholder="None"
          />
          <div *ngIf="submitted && f.translatedSourceIp.errors" class="invalid-feedback">
            <div *ngIf="f.translatedSourceIp.errors.required">Translated Source IP is required</div>
            <div *ngIf="f.translatedSourceIp.errors.invalidIpAny">Translated Source IP address must be a valid IPv4 address</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="translatedDestinationIp">Translated Destination IP</label>
          <input
            type="text"
            id="translatedDestinationIp"
            formControlName="translatedDestinationIp"
            class="form-control"
            [class.is-invalid]="submitted && f.translatedDestinationIp.errors"
            aria-label="Translated Destination IP"
            aria-placeholder="None"
            placeholder="None"
          />
          <div *ngIf="submitted && f.translatedDestinationIp.errors" class="invalid-feedback">
            <div *ngIf="f.translatedDestinationIp.errors.required">Translated Destination IP is required</div>
            <div *ngIf="f.translatedDestinationIp.errors.invalidIpAny">Translated Destination IP address must be a valid IPv4 address</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="originalSourcePort">Original Source Port</label>
          <input
            type="text"
            id="originalSourcePort"
            formControlName="originalSourcePort"
            class="form-control"
            [class.is-invalid]="submitted && f.originalSourcePort.errors"
            aria-label="Original Source Port"
            aria-placeholder="any"
            placeholder="any"
          />
          <div *ngIf="submitted && f.originalSourcePort.errors" class="invalid-feedback">
            <div *ngIf="f.originalSourcePort.errors.invalidPortNumber">Original Source Port must be between 1-65535</div>
            <div *ngIf="f.originalSourcePort.errors.required">Original Source Port is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="originalDestinationPort">Original Destination Port</label>
          <input
            type="text"
            id="originalDestinationPort"
            formControlName="originalDestinationPort"
            class="form-control"
            [class.is-invalid]="submitted && f.originalDestinationPort.errors"
            aria-label="Original Destination Port"
            aria-placeholder="any"
            placeholder="any"
          />
          <div *ngIf="submitted && f.originalDestinationPort.errors" class="invalid-feedback">
            <div *ngIf="f.originalDestinationPort.errors.invalidPortNumber">Original Destination Port must be between 1-65535</div>
            <div *ngIf="f.originalDestinationPort.errors.required">Original Destination Port is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="translatedSourcePort">Translated Source Port</label>
          <input
            type="text"
            id="translatedSourcePort"
            formControlName="translatedSourcePort"
            class="form-control"
            [class.is-invalid]="submitted && f.translatedSourcePort.errors"
            aria-label="Translated Source Port"
            aria-placeholder="None"
            placeholder="None"
          />
          <div *ngIf="submitted && f.translatedSourcePort.errors" class="invalid-feedback">
            <div *ngIf="f.translatedSourcePort.errors.invalidPortNumber">Translated Source Port must be between 1-65535</div>
            <div *ngIf="f.translatedSourcePort.errors.required">Translated Source Port is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="translatedDestinationPort">Translated Destination Port</label>
          <input
            type="text"
            id="translatedDestinationPort"
            formControlName="translatedDestinationPort"
            class="form-control"
            [class.is-invalid]="submitted && f.translatedDestinationPort.errors"
            aria-label="Translated Destination Port"
            aria-placeholder="None"
            placeholder="None"
          />
          <div *ngIf="submitted && f.translatedDestinationPort.errors" class="invalid-feedback">
            <div *ngIf="f.translatedDestinationPort.errors.invalidPortNumber">Translated Destination Port must be between 1-65535</div>
            <div *ngIf="f.translatedDestinationPort.errors.required">Translated Destination Port is required</div>
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="close()">Cancel</button>

      <button class="btn btn-primary" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'search']"></fa-icon>
        <span>Search</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
