.card {
  margin-bottom: 1.25rem; /* 20px / 16px */
}

.expanded-card {
  width: 100%;
  transition: all 0.3s ease;
}

.card-body.expanded {
  transition: all 0.3s ease;
}

.card.collapsed:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 4px / 16px, 8px / 16px */
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card.collapsed:focus {
  outline: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Same conversion for consistency */
}

.card.collapsed:active {
  transform: scale(0.98);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem; /* 24px / 16px */
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#myCustomTable th.column-border {
  position: relative;
  padding-bottom: 0.625rem; /* 10px / 16px */
}

#myCustomTable th.column-border::after {
  content: '';
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -0.0625rem; /* -1px / 16px */
  border-bottom: 2px solid #000;
  display: block;
}

#myCustomTable thead th {
  border-bottom: 0;
  border-top: 0;
}

#myCustomTable2 th.column-border {
  position: relative;
  padding-bottom: 0.625rem; /* 10px / 16px */
}

#myCustomTable2 th.column-border::after {
  content: '';
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -0.0625rem; /* -1px / 16px */
  border-bottom: 2px solid #000;
  display: block;
}

#myCustomTable2 thead th {
  border-bottom: 0;
  border-top: 0;
}

.tight-spacing {
  line-height: 1;
  margin-top: -0.625rem; /* -10px / 16px */
}

.pool-vs-title {
  flex: 1 1 auto; /* Allows the item to grow and shrink, adjusting `flex-basis` as necessary */
  min-width: 0; /* Important for allowing text wrapping in flex items */
}

.member-list {
  max-height: 12.5rem; /* Adjust this value based on your design requirements; equivalent to 200px */
  /* overflow-y: auto; Ensures that scrolling is possible within the member list area */
}

.non-expanded-card-body {
  max-height: 18.75rem;
  min-height: 18.75rem;
  /* overflow-y: auto; Enables vertical scrolling if the content is too tall */
  overflow-x: hidden;
}

.member-list.scroll-indicator::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px; /* Height of the fading effect */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.grey-test {
  color: #717579;
}
