<ngx-smart-modal #filterEntryModal identifier="filterEntryModal" (onOpen)="getData()" (onClose)="reset()">
  <header class="modal-header">
    <h4 class="modal-title">Filter Entry</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or '_'.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="alias">Alias</label>
        <input
          type="text"
          id="alias"
          formControlName="alias"
          class="form-control"
          [class.is-invalid]="submitted && f.alias.errors"
          aria-label="Alias"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.minlength">Description must be at least 3 characters.</div>
          <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="etherType">Ether Type</label>
        <ng-select formControlName="etherType" [items]="etherTypeOptions" id="etherType"></ng-select>
      </div>

      <div class="form-group">
        <label for="arpFlag">Arp Flag</label>
        <ng-select formControlName="arpFlag" [items]="arpFlagOptions" id="arpFlag"></ng-select>
      </div>

      <div class="form-group">
        <label for="ipProtocol">Ip Protocol</label>
        <ng-select formControlName="ipProtocol" [items]="ipProtocolOptions" id="ipProtocol"></ng-select>
      </div>

      <div class="form-group">
        <label for="matchOnlyFragments">Match Only Fragments</label>
        <select
          id="matchOnlyFragments"
          formControlName="matchOnlyFragments"
          class="form-control"
          [class.is-invalid]="submitted && f.matchOnlyFragments.errors"
          aria-label="Match Only Fragments"
        >
          <option></option>
          <option value="true">Enabled</option>
          <option value="false">Disabled</option>
        </select>
        <div *ngIf="submitted && f.matchOnlyFragments.errors" class="invalid-feedback">
          <div *ngIf="f.matchOnlyFragments.errors.required">match Only Fragments is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="sourceFromPort">Source From Port</label>
        <input
          type="text"
          id="sourceFromPort"
          formControlName="sourceFromPort"
          class="form-control"
          [class.is-invalid]="submitted && f.sourceFromPort.errors"
          aria-label="Source From Port"
        />
      </div>

      <div class="form-group">
        <label for="sourceToPort">Source To Port</label>
        <input
          type="text"
          id="sourceToPort"
          formControlName="sourceToPort"
          class="form-control"
          [class.is-invalid]="submitted && f.sourceToPort.errors"
          aria-label="Source To Port"
        />
      </div>

      <div class="form-group">
        <label for="destinationFromPort">Destination From Port</label>
        <input
          type="text"
          id="destinationFromPort"
          formControlName="destinationFromPort"
          class="form-control"
          [class.is-invalid]="submitted && f.destinationFromPort.errors"
          aria-label="Destination From Port"
        />
      </div>

      <div class="form-group">
        <label for="destinationToPort">Destination To Port</label>
        <input
          type="text"
          id="destinationToPort"
          formControlName="destinationToPort"
          class="form-control"
          [class.is-invalid]="submitted && f.destinationToPort.errors"
          aria-label="Destination To Port"
        />
      </div>

      <div class="form-group">
        <label for="tcpFlags">Tcp Flags</label>
        <ng-select id="tcpFlags" formControlName="tcpFlags" [items]="tcpFlagsOptions" [multiple]="true" bindValue="value" (change)="onTcpFlagSelected($event)"></ng-select>
      </div>

      <div class="form-group">
        <label for="stateful">Stateful</label>
        <select
          id="matchOnlyFragments"
          formControlName="stateful"
          class="form-control"
          [class.is-invalid]="submitted && f.stateful.errors"
          aria-label="Stateful"
        >
          <option></option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
        <div *ngIf="submitted && f.matchOnlyFragments.errors" class="invalid-feedback">
          <div *ngIf="f.stateful.errors.required">Stateful is required</div>
        </div>
      </div>
        
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="reset()">
        Cancel
      </button>
      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
      <app-table [config]="config" [data]="filterEntries" (clearResults)="getFilterEntries($event)" (searchParams)="getFilterEntries($event)" [searchColumns]="searchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"></app-table>

    </div>
  </form>
</ngx-smart-modal>

<ng-template #actionsTemplate let-filterEntry="datum">
  <section>
    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Bridge Domain"
      [type]="filterEntry?.deletedAt ? 'danger' : 'default'"
      (handleClick)="removeFilterEntry(filterEntry)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="filterEntry?.deletedAt"
      icon="undo"
      label="Restore Bridge Domain"
      type="success"
      (handleClick)="restoreFilterEntry(filterEntry)"
    ></app-icon-button>
  </section>
</ng-template>