<ngx-smart-modal
  #networkObjectModal
  identifier="networkObjectModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <div class="modal-header">
    <h4 class="modal-title">Network Object</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="!f.nat.value">
        <label for="type">Type</label>
        <tooltip [message]="helpText.Type"></tooltip>
        <select
          name="type"
          formControlName="type"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
          aria-label="Type"
        >
          <option></option>
          <option value="IpAddress">Ip Address</option>
          <option value="Range">Range</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="f.type.value == 'IpAddress'">
        <label for="name">IP Address</label>
        <tooltip *ngIf="f.type.value == 'IpAddress'" [message]="helpText.IpAddress"></tooltip>
        <input
          type="text"
          name="name"
          formControlName="ipAddress"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.ipAddress.errors }"
          aria-label="IP Address"
          *ngIf="f.type.value == 'IpAddress'"
        />
        <div *ngIf="submitted && f.ipAddress.errors" class="invalid-feedback">
          <div *ngIf="f.ipAddress.errors.required">
            IP Address is required
          </div>
          <div *ngIf="f.ipAddress.errors.invalidIpAny">
            IP Address is invalid, must be a valid IPv4/IPv6 address or CIDR.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="subnetMask" *ngIf="f.type.value == 'Range'"
          >Start Address</label>
          <tooltip *ngIf="f.type.value == 'Range'" [message]="helpText.StartIpAddress"></tooltip>
        <input
          type="text"
          name="startIpAddress"
          class="form-control"
          formControlName="startIpAddress"
          [ngClass]="{
            'is-invalid': submitted && f.startIpAddress.errors
          }"
          aria-label="Start Address"
          *ngIf="f.type.value == 'Range'"
        />

        <div
          *ngIf="submitted && f.startIpAddress.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.startIpAddress.errors && f.startIpAddress.errors.required">
            Start Address is required
          </div>
          <div
            *ngIf="
              f.startIpAddress.errors && f.startIpAddress.errors.invalidIpAddress
            "
          >
            IP Address is invalid
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="subnetMask" *ngIf="f.type.value == 'Range'"
          >End Address</label>
          <tooltip *ngIf="f.type.value == 'Range'" [message]="helpText.EndIpAddress"></tooltip>
        <input
          type="text"
          name="endIpAddress"
          class="form-control"
          formControlName="endIpAddress"
          [ngClass]="{ 'is-invalid': submitted && f.endIpAddress.errors }"
          aria-label="End Address"
          *ngIf="f.type.value == 'Range'"
        />
        <div *ngIf="submitted && f.endIpAddress.errors" class="invalid-feedback">
          <div *ngIf="f.endIpAddress.errors.invalidIpAddress">
            IP Address is invalid
          </div>
          <div *ngIf="f.endIpAddress.errors.required">
            End Address is required
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="f.type.value === 'IpAddress'">
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            name="nat"
            class="form-check-input"
            formControlName="nat"
            aria-label="NAT"
          />

          <label class="form-check-label" for="nat">
            NAT
          </label>
          <tooltip *ngIf="f.type.value == 'IpAddress'" [message]="helpText.Nat"></tooltip>
        </div>
      </div>
      
      <div class="form-group" *ngIf="f.nat.value">
        <label for="natType">NAT Type</label>
        <tooltip *ngIf="f.nat.value" [message]="helpText.NatType"></tooltip>
        <select
        name="natType"
        formControlName="natType"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.natType.errors }"
        aria-label="NAT Direction"
        >
        <option></option> 
        <option value="Intervrf">InterVRF</option>
        <option value="External">External</option>
        </select>
      </div>

      <div class="form-group" *ngIf="f.nat.value">
        <label for="natDirection">NAT Direction</label>
        <tooltip *ngIf="f.nat.value" [message]="helpText.NatDirection"></tooltip>
        <select
          name="natDirection"
          formControlName="natDirection"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.natDirection.errors }"
          aria-label="NAT Direction"
        >
          <option></option>
          <option value="In">In</option>
          <option value="Out">Out</option>
        </select>
      </div>

      <div class="form-group" *ngIf="f.nat.value">
        <label for="translatedIpAddress">
          Translated IP Address
        </label>
        <tooltip *ngIf="f.nat.value" [message]="helpText.TranslatedIpAddress"></tooltip>
        <input
          type="text"
          name="translatedIpAddress"
          class="form-control"
          formControlName="translatedIpAddress"
          aria-label="Translated IP"
          [ngClass]="{ 'is-invalid': submitted && f.translatedIpAddress.errors }"
        />
      </div>

      <div class="form-group" *ngIf="f.nat.value">
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            name="natService"
            class="form-check-input"
            formControlName="natService"
            aria-label="NAT Service"
          />

          <label class="form-check-label" for="nat">
            NAT Service
          </label>
          <tooltip *ngIf="f.nat.value" [message]="helpText.NatService"></tooltip>
        </div>
      </div>

      <div class="form-group" *ngIf="f.natService.value">
        <label for="type">NAT Protocol</label>
        <tooltip *ngIf="f.natService.value" [message]="helpText.NatProtocol"></tooltip>
        <select
          name="natProtocol"
          formControlName="natProtocol"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.natProtocol.errors }"
          aria-label="NAT Protocol Type"
        >
          <option></option>
          <option value="TCP">TCP</option>
          <option value="UDP">UDP</option>
        </select>
        <div *ngIf="submitted && f.natProtocol.errors" class="invalid-feedback">
          <div *ngIf="f.natProtocol.errors.required">
            NAT Protocol is required
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="f.natService.value">
        <div class="form-group col-md-6">
          <label for="natSourcePort">
            Source Port
          </label>
          <tooltip *ngIf="f.natService.value" [message]="helpText.NatSourcePort"></tooltip>
          <input
            type="text"
            name="natSourcePort"
            class="form-control"
            formControlName="natSourcePort"
            [ngClass]="{ 'is-invalid': submitted && f.natSourcePort.errors }"
            mask="09999"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="natTranslatedPort">
            Destination Port
          </label>
          <tooltip *ngIf="f.natService.value" [message]="helpText.NatTranslatedPort"></tooltip>
          <input
            type="text"
            name="natTranslatedPort"
            class="form-control"
            formControlName="natTranslatedPort"
            [ngClass]="{ 'is-invalid': submitted && f.natTranslatedPort.errors }"
            mask="09999"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
