<div class="text-center">
</div>

<div class="offset-1 col-md-10">

  <h5>Network Security Profile Rules</h5>  

  <div class="btn-group" role="group">

    <button type="button" class="btn btn-warning" (click)="updateFirewallRules()">
      <fa name="floppy-o" size="2x"></fa>
    </button>
  
    <button type="button" class="btn btn-info" (click)="getFirewallRules()">
      <fa name="refresh" size="2x"></fa> 
    </button>

    <button type="button" class="btn btn-success" (click)="addFirewallRule()"> 
      <fa name="plus" size="2x"></fa>  
    </button>  

    <button type="button" class="btn btn-info" (click)="uploader.click()">
      <fa name="file-text-o" size="2x"></fa>
    </button>

    <input hidden type="file" #uploader (change)="handleFileSelect($event)"/>
  </div>

<div class="card">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
      <th scope="col">Protocol</th>
      <th scope="col">Direction</th> 
      <th scope="col">Source IP(s)</th>
      <th scope="col">Source Port(s)</th>
      <th scope="col">Destination IP(s)</th>
      <th scope="col">Destination Port(s)</th> 
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let firewallRule of firewall_rules">
      <td>
        <p [hidden]="firewallRule.Edit">
          {{firewallRule.Name}}
        </p>

        <input class="form-control" [(ngModel)]="firewallRule.Name" [hidden]="!firewallRule.Edit">
      </td>
      <td>
        <p [ngClass]="{'fg-danger': firewallRule.Action == 'deny', 'fg-success': firewallRule.Action == 'allow'}"
           [hidden]="firewallRule.Edit" >
          {{firewallRule.Action}}
        </p>

        <select class="form-control" [(ngModel)]="firewallRule.Action" [hidden]="!firewallRule.Edit">
          <option value="deny">Deny</option>
          <option value="permit">Permit</option>
        </select>
      </td>
      <td>
        <p [hidden]="firewallRule.Edit">
          {{firewallRule.Protocol}}
        </p>
        <select class="form-control" [(ngModel)]="firewallRule.Protocol" [hidden]="!firewallRule.Edit">
          <option value="icmp">ICMP</option>  
          <option value="tcp">TCP</option>
          <option value="udp">UDP</option>     
        </select>
      </td>
      <td>
       {{firewallRule.Direction}}
      </td>
      <td>
        <p [hidden]="firewallRule.Edit">{{firewallRule.SourceIP}}</p>
        <input class="form-control" placeholder="any" [(ngModel)]="firewallRule.SourceIP" [hidden]="!firewallRule.Edit">    
      </td>
      <td>
        <p [hidden]="firewallRule.Edit">{{firewallRule.SourcePorts}}</p>
        <input class="form-control" placeholder="any" [(ngModel)]="firewallRule.SourcePorts" [hidden]="!firewallRule.Edit">    
      </td>  
      <td>
        <p [hidden]="firewallRule.Edit">{{firewallRule.DestinationIP}}</p>
        <input class="form-control" placeholder="any" [(ngModel)]="firewallRule.DestinationIP" [hidden]="!firewallRule.Edit">    
      </td>
      <td>
        <p [hidden]="firewallRule.Edit">{{firewallRule.DestinationPorts}}</p>
        <input class="form-control" placeholder="any" [(ngModel)]="firewallRule.DestinationPorts" [hidden]="!firewallRule.Edit">    
      </td>
      <td>
        <fa 
        name="pencil" 
        (click)="firewallRule.Edit = !firewallRule.Edit" 
        [hidden]="firewallRule.Edit">
      </fa>        
      <fa 
        name="floppy-o" 
        (click)="firewallRule.Edit = !firewallRule.Edit" 
        [hidden]="!firewallRule.Edit">
      </fa>
      <fa
      name="chevron-up"
      (click)="moveFirewallRule(-1,firewallRule)"
      >
      </fa>
      <fa
      name="chevron-down"
      (click)="moveFirewallRule(1,firewallRule)"
      >
      </fa>
      <fa
      name ="trash"
      (click)=deleteFirewallRule(firewallRule)
      >
      </fa>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>