<ng-container *ngIf="!isLoading; else loading">
  <app-table
    [config]="config"
    [data]="externalFirewalls"
    (clearResults)="getExternalFirewalls($event)"
    (searchParams)="getExternalFirewalls($event)"
    [searchColumns]="searchColumns"
    [(itemsPerPage)]="perPage"
    (tableEvent)="onTableEvent($event)"
  ></app-table>
</ng-container>

<ng-template #actionsTemplate let-externalFirewall="datum">
  <section class="table__actions">
    <a
      class="btn btn-icon"
      title="Edit Firewall Configuration"
      aria-label="Edit Firewall Configuration"
      (click)="editFirewallConfig(externalFirewall)"
      queryParamsHandling="merge"
    >
      <fa-icon class="icon" [icon]="['fas', 'pencil-alt']"></fa-icon>
    </a>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>
