<a routerLink="/netcentric/static-routes" queryParamsHandling="merge" class="btn btn-info">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>{{ tier?.name }} Static Routes</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Add Static Route -->
  <button type="button" class="btn btn-success" (click)="createStaticRoute()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Add Static Route</span>
  </button>

  <!-- Refresh -->
  <button type="button" class="btn btn-info" (click)="getStaticRoutes()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>
</section>

<ng-container *ngIf="!isLoading; else loading">
  <app-table
    [config]="config"
    [data]="staticRoutes"
    (clearResults)="getStaticRoutes()"
    [searchColumns]="searchColumns"
    [(itemsPerPage)]="perPage"
  ></app-table>
</ng-container>

<ng-template #stateTemplate let-staticRoute="datum">
  <section>
    <span>{{ staticRoute.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
  </section>
</ng-template>

<ng-template #actionsTemplate let-staticRoute="datum">
  <section class="table__actions">
    <app-icon-button
      *ngIf="!staticRoute?.deletedAt"
      icon="edit"
      label="Edit Static Route"
      (handleClick)="openStaticRouteModal(ModalMode.Edit, staticRoute)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="staticRoute?.deletedAt"
      icon="undo"
      label="Restore Static Route"
      type="success"
      (handleClick)="restoreStaticRoute(staticRoute)"
    ></app-icon-button>

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Static Route"
      [type]="staticRoute?.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteStaticRoute(staticRoute)"
    ></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [animation]="true ? 'spin' : undefined"></fa-icon>
</ng-template>

<app-static-route-modal></app-static-route-modal>
<app-yes-no-modal></app-yes-no-modal>
