<div>
  <h5>Subnet: {{ subnet.name }}</h5>

  <div class="btn-toolbar mb-2" role="toolbar">
    <div class="btn-group-sm">
      <button
        type="button"
        class="btn btn-warning mr-1"
        aria-label="Save Changes"
        (click)="updateStaticRoutes()"
      >
        Save Changes
      </button>

      <button type="button" class="btn btn-info mr-1" (click)="getNetwork()">
        Refresh
      </button>

      <button
        type="button"
        class="btn btn-success mr-1"
        (click)="addStaticRoute()"
      >
        Add Static Route
      </button>

      <app-import-export
        [exportObject]="staticRoutes"
        exportFileName="staticRoutes-{{ subnet.name }}-{{
          subnet.vrf_group_name
        }}"
        (import)="insertStaticRoutes($event)"
      ></app-import-export>
    </div>
  </div>

  <div class="card">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th scope="col">CIDR Address</th>
          <th scope="col">Next Hop</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of staticRoutes">
          <td>
            <p [hidden]="route.Edit">{{ route.CidrAddress }}</p>
            <input
              class="form-control"
              placeholder="any"
              [(ngModel)]="route.CidrAddress"
              [hidden]="!route.Edit"
              [dropSpecialCharacters]="false"
              mask="099.099.099.099/09"
            />
          </td>
          <td>
            <p [hidden]="route.Edit">{{ route.NextHop }}</p>
            <input
              class="form-control"
              placeholder="any"
              [(ngModel)]="route.NextHop"
              [hidden]="!route.Edit"
              [dropSpecialCharacters]="false"
              mask="099.099.099.099"
            />
          </td>
          <td>
            <fa
              name="floppy-o"
              (click)="route.Edit = !route.Edit"
              [hidden]="!route.Edit"
            ></fa>
            <fa name="trash" (click)="deleteStaticRoute(route)"></fa>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
