<a routerLink="/static-routes" class="btn btn-primary">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h4>Tier: {{ tier?.name }} Static Routes</h4>

<section class="btn-toolbar" role="toolbar">
  <!-- Add Static Route -->
  <button type="button" class="btn btn-success" (click)="createStaticRoute()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Add Static Route</span>
  </button>

  <!-- Refresh -->
  <button type="button" class="btn btn-info" (click)="getStaticRoutes()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>
</section>

<table class="table table-striped" aria-describedby="Static Routes table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Destination Network</th>
      <th scope="col">Next Hop</th>
      <th scope="col">Metric</th>
      <th scope="col">State</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staticRoute of staticRoutes">
      <td>
        <span>{{ staticRoute?.name }}</span>
      </td>
      <td>
        <span>{{ staticRoute?.destinationNetwork }}</span>
      </td>
      <td>
        <span>{{ staticRoute?.nextHop }}</span>
      </td>
      <td>
        <span>{{ staticRoute?.metric }}</span>
      </td>
      <td>
        <span>{{ staticRoute?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
      </td>
      <td class="item-actions">
        <fa-icon 
          class="icon"
          [icon]="['fas', 'pencil-alt']" 
          *ngIf="!staticRoute?.deletedAt"
          (click)="openStaticRouteModal(ModalMode.Edit, staticRoute)"
          aria-label="Edit Static Route"
        ></fa-icon>
        <fa-icon 
          [icon]="['fas', 'undo']"
          *ngIf="staticRoute?.deletedAt"
          class="fg-success icon"
          (click)="restoreStaticRoute(staticRoute)"
          aria-label="Restore Static Route"
        ></fa-icon>
        <fa-icon 
          class="icon"
          [icon]="['fas', 'trash']"
          [ngClass]="{ 'fg-danger': staticRoute?.deletedAt }"
          (click)="deleteStaticRoute(staticRoute)"
          aria-label="Soft-Delete/Delete Static Route"
        ></fa-icon>
      </td>
    </tr>
    <tr *ngIf="!staticRoutes?.length" class="text-center">
      <td colspan="6">No Static Routes</td>
    </tr>
  </tbody>
</table>

<app-static-route-modal></app-static-route-modal>
<app-yes-no-modal></app-yes-no-modal>
