<div class="offset-1 col-10">

  <div class="text-center">
    <h3>Create a Virtual Machine</h3>
  </div>

  <div class="card">
    <div style="display:flex;">
      <fa name="plus-square" size="2x" style="padding-right:50px;" (click)="updateSelectionIndex(1)"></fa>
      <h4>Choose a Project</h4>
    </div>

    <div [hidden]="selectionIndex != 1" class="text-center">

      <form>
        <div class="form-group">
          <label>Project</label>
          <select name="selected-project" class="form-control" [(ngModel)]="virtualMachine.ProjectId">
            <option>Standalone</option>
            <option *ngFor="let project of projects" value="{{project.Id}}">{{project.Name}}</option>
          </select>
        </div>
      </form>

      <button type="button" class="btn btn-primary" (click)="selectProject()">Select</button>
    </div>

  </div>

  <div class="card">
    <div style="display:flex;">
      <fa name="plus-square" size="2x" style="padding-right:50px;" (click)="updateSelectionIndex(2)"></fa>
      <h4>Choose a Template</h4>
    </div>

    <div [hidden]="selectionIndex != 2" style="padding:50px;">

      <div class="row">
        <div class="col-sm-2" *ngFor="let template of templates">
          <div class="card" style="width: 14rem; height: 20rem;">

            <img class="card-img-top" style="padding-top:10px; width:100px; height:100px; display:block; margin-left:auto; margin-right:auto;"
              src="{{template.LogoUrl}}" alt="Card image cap">

            <div class="card-body">
              <h6 class="card-title">{{template.Name}}</h6>
              <p class="card-text">{{template.Description}}</p>
            </div>

            <div class="card-footer text-center">
              <button type="button" class="btn btn-primary" (click)="selectTemplate(template)">Select</button>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="card">
    <div style="display:flex;">
      <fa name="plus-square" size="2x" style="padding-right:50px;" (click)="updateSelectionIndex(3)"></fa>
      <h4>Customize Virtual Machine</h4>
    </div>

    <div [hidden]="selectionIndex != 3">
      <div style="padding:15px;">

        <hr>
        <h5>Details</h5>
        <hr>

        <div class="input-group input-group-lg mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Virtual Machine Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="virtualMachine.Name">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="virtualMachine.Description">
        </div>

        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Notes</span>
          </div>
          <textarea class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="virtualMachine.Notes"></textarea>
        </div>

        <hr>
        <h5>Resources</h5>
        <hr>
        <h6>CPU</h6>

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">CPU</span>
          </div>
          <select class="form-control" [(ngModel)]="virtualMachine.CpuCores">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Cores per Socket</span>
          </div>
          <select class="form-control" [(ngModel)]="virtualMachine.CoresPerSocket">
            <option value="1">1</option>
            <option value="2" [hidden]="virtualMachine.CpuCores < 2">2</option>
            <option value="3" [hidden]="virtualMachine.CpuCores < 3">3</option>
            <option value="4" [hidden]="virtualMachine.CpuCores < 4">4</option>
          </select>
        </div>

        <h6>Memory</h6>

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Memory</span>
          </div>
          <select class="form-control" [(ngModel)]="virtualMachine.MemoryMB">
            <option value="1024">1GB</option>
            <option value="2048">2GB</option>
            <option value="4096">4GB</option>
            <option value="8192">8GB</option>
            <option value="16384">16GB</option>
            <option value="32768">32GB</option>
          </select>
        </div>

        <h6>Virtual Disks</h6>

        <fa name="plus-circle" size="2x" (click)="virtualMachine.AddVirtualDisk()"></fa>

        <div class="input-group input-group-sm mb-3" *ngFor="let disk of virtualMachine.VirtualDisks">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="disk.Name">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Size (GB)</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="disk.AllocatedStorageGB">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Storage Tier</span>
          </div>
          <select class="form-control" [(ngModel)]="disk.StoragePoolId">
            <!--TODO: Format-->
            <option *ngFor="let storagePool of storagePools" value={{storagePool.Id}}>{{storagePool.Name}} Flash:
              {{storagePool.FlashBased}} Tier: {{storagePool.StorageTierString}}</option>
          </select>
        </div>

        <h6>Networking</h6>

        <fa name="plus-circle" size="2x" (click)="virtualMachine.AddNetworkAdapter()"></fa>

        <div class="input-group input-group-sm mb-3" *ngFor="let networkAdapter of virtualMachine.NetworkAdapters">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="networkAdapter.Name">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Network</span>
          </div>
          <select class="form-control" [(ngModel)]="networkAdapter.NetworkId">
            <option *ngFor="let network of networks" value={{network.Id}}>{{network.Name}}
              ({{network.NetworkAddress}}/{{network.SubnetMask}})</option>
          </select>

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">IP Address</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="networkAdapter.IpAddress">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Speed Mbps</span>
          </div>
          <select class="form-control" [(ngModel)]="networkAdapter.SpeedMbps">
            <option value="100">100Mbps</option>
            <option value="1000">1Gbps</option>
            <option value="2500">2.5Gbps</option>
            <option value="5000">5Gbps</option>
            <option value="10000">10Gbps</option>
          </select>

        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success" (click)="createVirtualMachine()">
      Submit
    </button>
  </div>
