<ngx-smart-modal
  #templateModal
  identifier="templateModal"
  [dismissable]="false"
  (onOpen)="onLoad()"
  (onClose)="onCancelOrClose()"
  customClass="large-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </header>

  <main class="modal-body">
    <form [formGroup]="form">
      <!-- Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          aria-label="Name"
          [class.is-invalid]="submitted && f.name.errors"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" formControlName="description" />
      </div>

      <!-- Time Window -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="startTime">Time Window Start</label>
          <select id="startTime" formControlName="startTime" class="form-control">
            <option *ngFor="let time of times" [value]="time">{{ time }}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="endTime">Time Window End</label>
          <select id="endTime" formControlName="endTime" class="form-control">
            <option *ngFor="let time of times" [value]="time">{{ time }}</option>
          </select>
        </div>
      </div>
    </form>
  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onCancelOrClose()">
      Cancel
    </button>

    <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="saveTemplate()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Save SLA Template</span>
    </button>
  </footer>
</ngx-smart-modal>
