<ngx-smart-modal
  #filterModal
  identifier="filterModal"
  customClass="large-modal"
  (onOpen)="getData()"
  (onClose)="reset()"
  [dismissable]="false"
  customClass="large-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Filter</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
        />
        @if (submitted && f.name.errors) {
        <div class="invalid-feedback">
          @if (f.name.errors.required) {
          <div>Name is required</div>
          } @if (f.name.errors.minlength) {
          <div>Name must be at least 3 characters.</div>
          } @if (f.name.errors.maxlength) {
          <div>Name must be 100 characters or less.</div>
          } @if (f.name.errors.invalidName) {
          <div>Name must only contain alphanumeric characters or '_'.</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="alias">Alias</label>
        <input
          type="text"
          id="alias"
          formControlName="alias"
          class="form-control"
          [class.is-invalid]="submitted && f.alias.errors"
          aria-label="Alias"
        />
        @if (submitted && f.alias.errors) {
        <div class="invalid-feedback">
          @if (f.alias.errors.maxlength) {
          <div>Alias must be 100 characters or less.</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
        />
        @if (submitted && f.description.errors) {
        <div class="invalid-feedback">
          @if (f.description.errors.maxlength) {
          <div>Description must be 500 characters or less.</div>
          }
        </div>
        }
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-bs-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
  @if (modalMode == 'Edit') {
  <div>
    <div class="modal-body">
      <hr />
      <h5>Filter Entries</h5>
      <section class="btn-toolbar" role="toolbar">
        <button type="button" class="btn btn-success" (click)="openFilterEntryModal(ModalMode.Create)">
          <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
          <span>Create Filter Entry</span>
        </button>
      </section>
      <app-table
        [config]="config"
        [data]="filterEntries"
        (clearResults)="getFilterEntries($event)"
        (searchParams)="getFilterEntries($event)"
        [searchColumns]="searchColumns"
        [(itemsPerPage)]="perPage"
        (tableEvent)="onTableEvent($event)"
      ></app-table>
    </div>
    <app-import-export
      [exportObject]="filterEntries"
      exportFileName="filterEntries"
      [disableJson]="false"
      (import)="importFilterEntries($event)"
    ></app-import-export>
  </div>
  }
</ngx-smart-modal>

<ng-template #actionsTemplate let-filterEntry="datum">
  <section>
    @if (!filterEntry?.deletedAt) {
    <app-icon-button
      icon="edit"
      label="Edit FIlter Entry"
      (handleClick)="openFilterEntryModal(ModalMode.Edit, filterEntry)"
    ></app-icon-button>
    }
    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Filter Entry"
      [type]="filterEntry?.deletedAt ? 'danger' : 'default'"
      (handleClick)="removeFilterEntry(filterEntry)"
    ></app-icon-button>

    @if (filterEntry?.deletedAt) {
    <app-icon-button
      icon="undo"
      label="Restore Filter Entry"
      type="success"
      (handleClick)="restoreFilterEntry(filterEntry)"
    ></app-icon-button>
    }
  </section>
</ng-template>

<ng-template #sourcePortTemplate let-filterEntry="datum">
  <section>
    @if (filterEntry.sourceFromPort && filterEntry.sourceToPort) {
    <span>{{ filterEntry?.sourceFromPort }} - {{ filterEntry?.sourceToPort }}</span>
    }
  </section>
</ng-template>

<ng-template #destinationPortTemplate let-filterEntry="datum">
  <section>
    @if (filterEntry.destinationFromPort || filterEntry.destinationToPort) {
    <span>
      {{ filterEntry.destinationFromPort ? filterEntry.destinationFromPort + ' - ' : '' }}{{ filterEntry.destinationToPort || '' }}
    </span>
    }
  </section>
</ng-template>
<app-filter-entry-modal [tenantId]="tenantId"></app-filter-entry-modal>
