<!-- Request Enhancement -->
<ngx-smart-modal #requestEnhancementModal identifier="requestEnhancementModal" [dismissable]="false" (onClose)="closeModal()">
  <header class="modal-header">
    <h4 class="modal-title">Request for Enhancement</h4>
  </header>

  <form [formGroup]="rfeForm" (ngSubmit)="saveFeedback()">
    <div class="modal-body">
      <p>
        We appreciate your interest in recommending enhancements to the DRaaS Control System (DCS). We value your feedback. Please complete
        the form below for enhancement consideration.
      </p>
      <p>
        The DRaaS team reviews and evaluates each request periodically. If approved by the Centers for Medicare and Medicaid, we will add
        the enhancement request to our backlog for the future program increment planning cycle.
      </p>
      <div class="form-group">
        <label for="component">Component</label>
        <select
          formControlName="component"
          class="form-control"
          id="component"
          [class.is-invalid]="submitted && rfe.component.errors"
          (change)="update($event)"
        >
          <option *ngFor="let comp of comps" [value]="comp">
            {{ comp }}
          </option>
          <option>Other</option>
        </select>

        <div *ngIf="submitted && rfe.component.errors" class="invalid-feedback">
          <div *ngIf="rfe.component.errors.required">Component is required</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="description">Describe your enhancement</label> -->
        <div>
          <div>
            {{ rfeFormText[0] }}
            <textarea
              id="whatIsItDoing"
              rows="2"
              formControlName="whatIsItDoing"
              [class.is-invalid]="submitted && rfe.whatIsItDoing.errors"
              class="form-control"
              style="resize: none"
            >
            </textarea>
            <div *ngIf="submitted && rfe.whatIsItDoing.errors" class="invalid-feedback">
              <div *ngIf="rfe.whatIsItDoing.errors.required">Description is required</div>
            </div>
          </div>
          <div>
            {{ rfeFormText[1] }}
            <textarea
              id="enhancement"
              rows="2"
              formControlName="enhancement"
              [class.is-invalid]="submitted && rfe.enhancement.errors"
              class="form-control"
              style="resize: none"
            >
            </textarea>
            <div *ngIf="submitted && rfe.enhancement.errors" class="invalid-feedback">
              <div *ngIf="rfe.enhancement.errors.required">Description is required</div>
            </div>
          </div>
          <div>
            {{ rfeFormText[2] }}
            <textarea
              id="benefits"
              rows="2"
              formControlName="benefits"
              [class.is-invalid]="submitted && rfe.benefits.errors"
              class="form-control"
              style="resize: none"
            >
            </textarea>
            <div *ngIf="submitted && rfe.benefits.errors" class="invalid-feedback">
              <div *ngIf="rfe.benefits.errors.required">Description is required</div>
            </div>
          </div>
          <div>
            {{ rfeFormText[3] }}
            <textarea
              id="helpful"
              rows="2"
              formControlName="helpful"
              [class.is-invalid]="submitted && rfe.helpful.errors"
              class="form-control"
              style="resize: none"
            >
            </textarea>
            <div *ngIf="submitted && rfe.helpful.errors" class="invalid-feedback">
              <div *ngIf="rfe.helpful.errors.required">Description is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="requestEnhancementModal.close()">Cancel</button>
      <button type="submit" class="btn btn-danger" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'sign-out-alt']"></fa-icon>
        <span>Send</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
