<ngx-smart-modal
  #natRulesOperationModal
  identifier="natRulesOperationModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="small-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Nat Rule - {{ name }}</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="tiers">Destination Tier</label>
        <ng-select
          id="tiers"
          [items]="tiers"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedTierId"
          [ngModelOptions]="{ standalone: true }"
          (change)="getNatRuleGroups(selectedTierId)"
        ></ng-select>
      </div>

      <div class="form-group">
        <label for="natRuleGroups">Nat Rule Groups</label>
        <ng-select id="natRuleGroups" [items]="natRuleGroups" bindLabel="name" bindValue="id" formControlName="natRuleGroupId"></ng-select>
        @if (submitted && f.natRuleGroupId.errors) {
        <div class="invalid-feedback">
          @if (f.natRuleGroupId.errors.required) {
          <div>Nat Group is required</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="operation">Operation</label>
        <tooltip
          message="Clone will create a copy of the selected rule in the selected rule group. Move will create a copy of the selected rule and soft delete the original rule."
        ></tooltip>
        <select class="form-control" id="operation" class="form-control" formControlName="operation">
          <option></option>
          @if (this.form.controls.natRuleGroupId.value !== sourceNatRuleGroupId) {
          <option value="Move">Move</option>
          }
          <option value="Clone">Clone</option>
        </select>
        @if (submitted && f.operation.errors) {
        <div class="invalid-feedback">
          @if (f.operation.errors.required) {
          <div>Operation is required</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <tooltip
          message="Please note that a rule with the same name must not already exist in order for the new rule to be moved/cloned."
        ></tooltip>
        <input aria-label="name" class="form-control" id="name" type="text" formControlName="name" />
        @if (submitted && f.name.errors) {
        <div class="invalid-feedback">
          @if (f.name.errors.required) {
          <div>Name is required</div>
          } @if (f.name.errors.minlength) {
          <div>Name must be at least 3 characters.</div>
          } @if (f.name.errors.maxlength) {
          <div>Name must be 60 characters or less.</div>
          } @if (f.name.errors.invalidName) {
          <div>Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="ruleIndex">Rule Index</label>
        <tooltip
          message="Please note that a rule with the same rule index must not already exist in order for the new rule to be moved/cloned."
        ></tooltip>
        <input aria-label="ruleIndex" class="form-control" id="ruleIndex" type="number" formControlName="ruleIndex" />
        @if (submitted && f.ruleIndex.errors) {
        <div class="invalid-feedback">
          @if (f.ruleIndex.errors.required) {
          <div>Rule Index is required</div>
          }
        </div>
        }
      </div>
    </div>
    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>

<app-yes-no-modal></app-yes-no-modal>
