<h1>Solaris Image Repository</h1>

<button
  class="btn btn-sm btn-success mb-2 pull-right"
  (click)="openImageModal()"
>
  <fa name="plus"></fa>
  Add Image
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Solaris Version</th>
      <th scope="col">Protocol</th>
      <th scope="col">Source</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solarisImage of SolarisImages">
      <td>
        <span>{{ solarisImage.Name }}</span>
      </td>
      <td>
        <span>{{ solarisImage.Size }} MB</span>
      </td>
      <td>
        <span>{{ solarisImage.Version }}</span>
      </td>
      <td>
        <span>{{ solarisImage.Protocol }}</span>
      </td>
      <td>
        <span>{{ solarisImage.Source }}</span>
      </td>
      <td class="item-actions">
        <fa name="trash" (click)="deleteImage(solarisImage)"></fa>
      </td>
    </tr>
    <tr *ngIf="!SolarisImages?.length" class="text-center">
      <td colspan="5">No Images</td>
    </tr>
  </tbody>
</table>

<ngx-smart-modal
  #imageModal
  identifier="imageModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Image</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="imageModal.close()"
    ></button>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputImageProtocol">Protocol</label>
        <select
          name="inputImageProtocol"
          aria-label="Protocol"
          class="form-control"
          id="inputImageProtocol"
          [(ngModel)]="newSolarisImage.Protocol"
        >
          <option value="http">HTTP</option>
          <option value="https">HTTPS</option>
          <option value="nfs">NFS</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Image Name</label>
        <input class="form-control" [(ngModel)]="newSolarisImage.Name" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCDOMVDS">Version</label>
        <select
          name="inputCDOMVDS"
          aria-label="Version"
          class="form-control"
          id="inputCDOMVDS"
          [(ngModel)]="newSolarisImage.Version"
        >
          <option value="10">Solaris 10</option>
          <option value="11">Solaris 11</option>
        </select>
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-12">
        <label>Source</label>
        <input class="form-control" [(ngModel)]="newSolarisImage.Source" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="imageModal.close()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-success"
      data-dismiss="modal"
      (click)="insertImage()"
    >
      <fa name="save"></fa>
      Save
    </button>
  </div>
</ngx-smart-modal>
