<ng-container>
  <section class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-success" (click)="createWorkflow(CreateWorkflowDtoWorkflowTypeEnum.TenantOverlay)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Workflow</span>
      </button>
      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" (click)="toggleDropdown()" aria-haspopup="true" [attr.aria-expanded]="showDropdown">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu" [class.show]="showDropdown" *ngIf="showDropdown" (click)="$event.stopPropagation()">
        <a class="dropdown-item" (click)="createWorkflow(CreateWorkflowDtoWorkflowTypeEnum.TenantOverlay)">Tenant Overlay</a>
        <a class="dropdown-item" (click)="createWorkflow(CreateWorkflowDtoWorkflowTypeEnum.TenantUnderlay)">Tenant Underlay</a>
        <a class="dropdown-item" (click)="createWorkflow(CreateWorkflowDtoWorkflowTypeEnum.TransitTenantOverlay)">Transit Tenant Overlay</a>
        <a class="dropdown-item" (click)="createWorkflow(CreateWorkflowDtoWorkflowTypeEnum.TransitTenantUnderlay)">Transit Tenant Underlay</a>
        <a class="dropdown-item" (click)="createWorkflow(CreateWorkflowDtoWorkflowTypeEnum.TenantFirewallUnderlay)">Tenant Firewall Underlay</a>
      </div>
    </div>
  </section>

  <ng-container *ngIf="!isLoading; else loading">
    <app-table
      [config]="config"
      [data]="workflows"
      (clearResults)="getWorkflows($event)"
      [(itemsPerPage)]="perPage"
      (tableEvent)="onTableEvent($event)"
    ></app-table>
  </ng-container>

  <ng-template #statusTemplate let-workflow="datum">
    <span class="d-flex align-items-center">
      <fa-icon [icon]="getStatusIcon(workflow.status).icon" [ngClass]="getStatusIcon(workflow.status).color" class="me-2"></fa-icon>
      <span>{{ workflow.status }}</span>
    </span>
  </ng-template>

  <ng-template #actionsTemplate let-workflow="datum">
    <section class="table__actions">
      <app-icon-button icon="cogs" label="View Workflow" (handleClick)="openWorkflowViewModal(workflow)"></app-icon-button>
      <app-icon-button icon="delete" label="Delete Workflow" (handleClick)="deleteWorkflow(workflow)"></app-icon-button>
    </section>
  </ng-template>

  <ng-template #loading>
    <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </ng-template>
</ng-container>
<app-workflow-view-modal></app-workflow-view-modal>
<app-yes-no-modal></app-yes-no-modal>
