<ngx-smart-modal
  #firewallRuleModal
  identifier="firewallRuleModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Firewall Rule</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="type">Action</label>
          <tooltip [message]="helpText.Action"></tooltip>
          <select
            name="action"
            formControlName="action"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.action.errors }"
            aria-label="Type"
          >
            <option value="Deny">Deny</option>
            <option value="Permit">Permit</option>
          </select>
          <div *ngIf="submitted && f.action.errors" class="invalid-feedback">
            <div *ngIf="f.action.errors.required">Type is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="type">Direction</label>
          <tooltip [message]="helpText.Direction"></tooltip>
          <select
            name="direction"
            formControlName="direction"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.action.errors }"
            aria-label="Direction"
          >
            <option value="In">In</option>
            <option value="Out">Out</option>
          </select>
          <div *ngIf="submitted && f.direction.errors" class="invalid-feedback">
            <div *ngIf="f.direction.errors.required">Direction is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="type">Protocol</label>
          <tooltip [message]="helpText.Protocol"></tooltip>
          <select
            name="protocol"
            formControlName="protocol"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.protocol.errors }"
            aria-label="Protocol"
          >
            <option value="IP">IP</option>
            <option value="ICMP">ICMP</option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
          <div *ngIf="submitted && f.protocol.errors" class="invalid-feedback">
            <div *ngIf="f.protocol.errors.required">Protocol is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="type">Logging</label>
          <tooltip [message]="helpText.Logging"></tooltip>
          <select
            name="logging"
            formControlName="logging"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.logging.errors }"
            aria-label="Logging"
          >
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
          <div *ngIf="submitted && f.logging.errors" class="invalid-feedback">
            <div *ngIf="f.logging.errors.required">Protocol is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="type">Enabled</label>
          <tooltip [message]="helpText.Enabled"></tooltip>
          <select
            name="enabled"
            formControlName="enabled"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.logging.errors }"
            aria-label="Logging"
          >
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="type">Rule Index</label>
          <tooltip [message]="helpText.RuleIndex"></tooltip>
          <input
          type="number"
          formControlName="ruleIndex"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.ruleIndex.errors }"
          aria-label="Rule Index"
          />
          <div *ngIf="submitted && f.ruleIndex.errors" class="invalid-feedback">
            <div *ngIf="f.ruleIndex.errors.required">Rule Index is required</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Source Network Type</label>
          <tooltip [message]="helpText.SourceNetworkType"></tooltip>
          <select
            name="sourceNetworkType"
            formControlName="sourceNetworkType"
            class="form-control"
            aria-label="Source Network Type"
          >
            <option value="IpAddress">IP</option>
            <option value="NetworkObject">Network Object</option>
            <option value="NetworkObjectGroup">Network Object Group</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="sourceIpAddress" *ngIf="f.sourceNetworkType.value === 'IpAddress'"
            >Source IP</label>
            <tooltip *ngIf="f.sourceNetworkType.value === 'IpAddress'" [message]="helpText.IpNetworkType"></tooltip>
          <input
            type="text"
            formControlName="sourceIpAddress"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sourceIpAddress.errors }"
            aria-label="Source IP"
            *ngIf="f.sourceNetworkType.value === 'IpAddress'"
          />
          <div *ngIf="submitted && f.sourceIpAddress.errors" class="invalid-feedback">
            <div *ngIf="f.sourceIpAddress.errors.required">
              Source IP is required
            </div>
          </div>

          <label for="name" *ngIf="f.sourceNetworkType.value === 'NetworkObject'"
            >Source Network Object</label
          >
          <tooltip *ngIf="f.sourceNetworkType.value === 'NetworkObject'" [message]="helpText.NetworkObjectType"></tooltip>
          <select
            formControlName="sourceNetworkObject"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.sourceNetworkObject.errors
            }"
            aria-label="Source Network Object"
            *ngIf="f.sourceNetworkType.value === 'NetworkObject'"
          >
            <option
              *ngFor="let networkObject of networkObjects"
              [ngValue]="networkObject.id"
              >{{ networkObject?.name }}</option
            >
          </select>
          <div
            *ngIf="submitted && f.sourceNetworkObject.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.sourceNetworkObject.errors.required">
              Source Network Object is required
            </div>
          </div>

          <label
            for="sourceNetworkObjectGroup"
            *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'"
            >Source Network Object Group</label
          >
          <tooltip *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'" [message]="helpText.NetworkObjectGroupType"></tooltip>
          <select
            formControlName="sourceNetworkObjectGroup"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.sourceNetworkObjectGroup.errors
            }"
            aria-label="Name"
            *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'"
          >
            <option
              *ngFor="let networkObjectGroup of networkObjectGroups"
              [ngValue]="networkObjectGroup.id"
              >{{ networkObjectGroup.name }}</option
            >
          </select>
          <div
            *ngIf="submitted && f.sourceNetworkObjectGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.sourceNetworkObjectGroup.errors.required">
              Source Network Object Group is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Destination Network Type</label>
          <tooltip [message]="helpText.DestinationNetworkType"></tooltip>
          <select
            name="destinationNetworkType"
            formControlName="destinationNetworkType"
            class="form-control"
            aria-label="Destination Network Type"
          >
            <option value="IpAddress">IP</option>
            <option value="NetworkObject">Network Object</option>
            <option value="NetworkObjectGroup">Network Object Group</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label
            for="destinationIpAddress"
            *ngIf="f.destinationNetworkType.value === 'IpAddress'"
            >Destination IP</label>
            <tooltip *ngIf="f.destinationNetworkType.value === 'IpAddress'" [message]="helpText.IpNetworkType"></tooltip>
          <input
            type="text"
            formControlName="destinationIpAddress"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.destinationIpAddress.errors }"
            aria-label="Destination IP"
            *ngIf="f.destinationNetworkType.value === 'IpAddress'"
          />
          <div
            *ngIf="submitted && f.destinationIpAddress.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.destinationIpAddress.errors.required">
              Destination IP is required
            </div>
          </div>

          <label for="name" *ngIf="f.destinationNetworkType.value === 'NetworkObject'"
            >Destination Network Object</label
          >
          <tooltip *ngIf="f.destinationNetworkType.value === 'NetworkObject'" [message]="helpText.NetworkObjectType"></tooltip>
          <select
            formControlName="destinationNetworkObject"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.destinationNetworkObject.errors
            }"
            aria-label="Destination Network Object"
            *ngIf="f.destinationNetworkType.value === 'NetworkObject'"
          >
            <option
              *ngFor="let networkObject of networkObjects"
              [ngValue]="networkObject.id"
              >{{ networkObject.name }}</option
            >
          </select>
          <div
            *ngIf="submitted && f.destinationNetworkObject.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.destinationNetworkObject.errors.required">
              Destination Network Object is required
            </div>
          </div>

          <label
            for="destinationNetworkObjectGroup"
            *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'"
            >Destination Network Object Group</label
          >
          <tooltip *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'" [message]="helpText.NetworkObjectGroupType"></tooltip>
          <select
            formControlName="destinationNetworkObjectGroup"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.destinationNetworkObjectGroup.errors
            }"
            aria-label="Name"
            *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'"
          >
            <option
              *ngFor="let networkObjectGroup of networkObjectGroups"
              [ngValue]="networkObjectGroup.id"
              >{{ networkObjectGroup.name }}</option
            >
          </select>
          <div
            *ngIf="submitted && f.destinationNetworkObjectGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.destinationNetworkObjectGroup.errors.required">
              Destination Network Object Group is required
            </div>
          </div>
        </div>
      </div>

      <hr />
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Service Type</label>
          <tooltip [message]="helpText.SourceServiceType"></tooltip>
          <select
            name="serviceType"
            formControlName="serviceType"
            class="form-control"
            aria-label="Source Service Type"
          >
            <option value="Port">Port</option>
            <option value="ServiceObject">Service Object</option>
            <option value="ServiceObjectGroup">Service Object Group</option>
          </select>
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6" *ngIf="f.serviceType.value === 'Port'">
          <label for="name" *ngIf="f.serviceType.value === 'Port'"
            >Source Port</label
          >
          <tooltip *ngIf="f.serviceType.value === 'Port'" [message]="helpText.PortServiceType"></tooltip>
          <input
            type="text"
            formControlName="sourcePorts"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sourcePorts.errors }"
            aria-label="Name"
            *ngIf="f.serviceType.value === 'Port'"
          />
          <div
            *ngIf="submitted && f.sourcePorts.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.sourcePorts.errors.required">
              Source Port is required
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label
            for="destinationPorts"
            *ngIf="f.serviceType.value === 'Port'"
            >Destination Port</label
          >
          <tooltip *ngIf="f.serviceType.value === 'Port'" [message]="helpText.PortServiceType"></tooltip>
          <input
            type="text"
            formControlName="destinationPorts"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.destinationPorts.errors }"
            aria-label="Name"
            *ngIf="f.serviceType.value === 'Port'"
          />
          <div
            *ngIf="submitted && f.destinationPorts.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.destinationPorts.errors.required">
              Destination Port is required
            </div>
          </div>

          <label for="name" *ngIf="f.serviceType.value === 'ServiceObject'"
            >Service Object
          </label>
          <tooltip *ngIf="f.serviceType.value === 'ServiceObject'" [message]="helpText.ServiceObjectType"></tooltip>
          <select
            formControlName="serviceObject"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.serviceObject.errors
            }"
            aria-label="Name"
            *ngIf="f.serviceType.value === 'ServiceObject'"
          >
            <option
              *ngFor="let serviceObject of serviceObjects"
              [ngValue]="serviceObject.id"
              >{{ serviceObject.name }}</option
            >
          </select>
          <div
            *ngIf="submitted && f.serviceObject.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.serviceObject.errors.required">
              Service Object is required
            </div>
          </div>

          <label
            for="name"
            *ngIf="f.serviceType.value === 'ServiceObjectGroup'"
            >Service Object Group</label
          >
          <tooltip *ngIf="f.serviceType.value === 'ServiceObjectGroup'" [message]="helpText.ServiceObjectGroupType"></tooltip>
          <select
            formControlName="serviceObjectGroup"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.serviceObjectGroup.errors
            }"
            aria-label="Name"
            *ngIf="f.serviceType.value === 'ServiceObjectGroup'"
          >
            <option
              *ngFor="let serviceObjectGroup of serviceObjectGroups"
              [ngValue]="serviceObjectGroup.id"
              >{{ serviceObjectGroup.name }}</option
            >
          </select>
          <div
            *ngIf="submitted && f.serviceObjectGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.serviceObjectGroup.errors.required">
              Service Object Group is required
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
