<ngx-smart-modal
  #externalRouteModal
  [dismissable]="false"
  customClass="medium-modal"
  identifier="externalRouteModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">External Routes</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="network">Network</label>
        <input
          type="text"
          id="network"
          formControlName="network"
          class="form-control"
          [class.is-invalid]="submitted && f.network.errors"
          aria-label="Network"
        />
        @if (submitted && f.network.errors) {
        <div class="invalid-feedback">
          @if (f.network.errors.required) {
          <div>Network is required</div>
          } @if (f.network.errors.invalidIpCidr) {
          <div>Invalid Network address, must be a valid CIDR.</div>
          } @if (f.network.errors.invalidExternalRouteIp) {
          <div>Invalid Network address, mus begin with 10.x.x.x, 158.73.x.x, or 192.168.x.x</div>
          } @if (f.network.errors.invalidHost) {
          <div>Invalid network id for subnet mask</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="prefixLength">Prefix Length</label>
        <input
          type="number"
          id="prefixLength"
          formControlName="prefixLength"
          class="form-control"
          [class.is-invalid]="submitted && f.prefixLength.errors"
          aria-label="Prefix Length"
        />
        @if (submitted && f.prefixLength.errors) {
        <div class="invalid-feedback">
          @if (f.prefixLength.errors.required) {
          <div>Prefix Length is required.</div>
          } @if (f.prefixLength.errors.min) {
          <div>Prefix Length must be greater than 0.</div>
          } @if (f.prefixLength.errors.max) {
          <div>Prefix Length must be less than 32.</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="metric">Metric</label>
        <input
          type="number"
          id="metric"
          formControlName="metric"
          class="form-control"
          [class.is-invalid]="submitted && f.metric.errors"
          aria-label="Metric"
        />
        @if (submitted && f.metric.errors) {
        <div class="invalid-feedback">
          @if (f.metric.errors.required) {
          <div>Metric is required.</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="vrf">VRF / Zone</label>
        <select
          id="vrf"
          formControlName="vrf"
          class="form-control"
          [class.is-invalid]="submitted && f.vrf.errors"
          aria-label="Policy Control Enforced"
        >
          <option></option>
          <option value="appprod">appprod (vpn_app_unix)</option>
          <option value="appdev">appdev (vpn_app_unix_imp)</option>
          <option value="dataprod">dataprod (vpn_data_unix)</option>
          <option value="datadev">appprod (vpn_data_unix_imp)</option>
          <option value="edcmgmt">edcmgmt (vpn_edc_mgmt)</option>
          <option value="transport">Transport</option>
        </select>
        @if (submitted && f.vrf.errors) {
        <div class="invalid-feedback">
          @if (f.vrf.errors.required) {
          <div>VRF/Zone is required</div>
          }
        </div>
        }
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
