<div class="card" (click)="navigateToDetails()">
  <div class="card-header d-flex justify-content-end align-items-center">
    <p class="mb-0">
      <small *ngIf="!isRecentlyRefreshed() && !isRefreshingRuntimeData">Refreshed: {{ lastRefreshed }}</small>
      <small *ngIf="isRefreshingRuntimeData" class="text-muted">Refreshing</small>
      <small *ngIf="isRecentlyRefreshed() && !isRefreshingRuntimeData" class="text-muted">Refreshed</small>
    </p>
    <button
      type="button"
      class="btn btn-icon"
      (click)="refreshF5Config($event); $event.stopPropagation()"
      [disabled]="isRecentlyRefreshed() || isRefreshingRuntimeData"
    >
      <fa-icon *ngIf="!isRecentlyRefreshed()" class="icon" [icon]="['fas', 'sync-alt']" [spin]="isRefreshingRuntimeData"></fa-icon>
      <fa-icon *ngIf="isRecentlyRefreshed() && !isRefreshingRuntimeData" class="icon" [icon]="['fas', 'check']"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ hostName }}</h5>
    <p class="card-text">Status: {{ highAvailabilityStatus }}</p>
    <p class="card-text">
      <small>Software Version: {{ softwareVersion }}</small>
    </p>
  </div>
</div>
