<div
  class="card"
  [class.card-disabled]="isRefreshingRuntimeData"
  (click)="!isRefreshingRuntimeData && navigateToDetails()"
  (keydown)="handleKeyDown($event)"
>
  <div class="card-header d-flex justify-content-between align-items-center">
    <!-- Status message on the left -->
    <div class="d-flex align-items-center custom-align-items">
      <fa-icon
        [icon]="['fas', 'circle']"
        class="icon-align"
        [class.text-success]="highAvailabilityStatus === 'ACTIVE'"
        [class.text-muted]="highAvailabilityStatus !== 'ACTIVE'"
      ></fa-icon>
    </div>
    <!-- Icons and refresh button on the right -->
    <div class="d-flex align-items-center">
      <fa-icon
        *ngIf="jobStatus && jobStatus !== 'successful'"
        class="icon"
        [icon]="['fas', 'exclamation-triangle']"
        data-bs-toggle="tooltip"
        [attr.title]="getTooltipMessage(jobStatus)"
      ></fa-icon>
      <p class="mb-0">
        <small *ngIf="!isRecentlyRefreshed() && !isRefreshingRuntimeData">{{ lastRefreshed }}</small>
        <small *ngIf="isRefreshingRuntimeData" class="text-muted">Refreshing</small>
        <small *ngIf="isRecentlyRefreshed() && !isRefreshingRuntimeData" class="text-muted">Refreshed</small>
      </p>
      <button
        type="button"
        title="Refresh F5 Config"
        class="btn btn-icon"
        (click)="refreshF5Config(); $event.stopPropagation()"
        [disabled]="isRecentlyRefreshed() || isRefreshingRuntimeData"
      >
        <fa-icon *ngIf="!isRecentlyRefreshed()" class="icon" [icon]="['fas', 'sync-alt']" [spin]="isRefreshingRuntimeData"></fa-icon>
        <fa-icon *ngIf="isRecentlyRefreshed() && !isRefreshingRuntimeData" class="icon" [icon]="['fas', 'check']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body pb-0">
    <h5 class="card-title">{{ displayName }}</h5>
    <p class="card-text mb-0">
      <small style="color: #717579">Version: {{ softwareVersion }}</small>
    </p>
  </div>
</div>
