<ngx-smart-modal
  #healthMonitorModal
  identifier="healthMonitorModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="closeModal()"
  customClass="medium-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Health Monitor</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <!-- Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" class="form-control" [class.is-invalid]="submitted && f.name.errors" />
        @if (submitted && f.name.errors) {
        <div class="invalid-feedback">
          @if (f.name.errors.required) {
          <div>Name is required</div>
          } @if (f.name.errors.minlength) {
          <div>Name must be at least 3 characters.</div>
          } @if (f.name.errors.maxlength) {
          <div>Name must be 100 characters or less.</div>
          } @if (f.name.errors.invalidName) {
          <div>Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
          }
        </div>
        }
      </div>

      <div class="form-row">
        <!-- Type -->
        <div class="form-group col-md-6">
          <label for="type">Type</label>
          <select id="type" formControlName="type" class="form-control" [class.is-invalid]="submitted && f.type.errors">
            <option></option>
            @for (type of healthMonitorTypes; track type) {
            <option [ngValue]="type">{{ type }}</option>
            }
          </select>
          @if (submitted && f.type.errors) {
          <div class="invalid-feedback">
            @if (f.type.errors.required) {
            <div>Type is required</div>
            }
          </div>
          }
        </div>

        <!-- Service Port -->
        <div class="form-group col-md-6">
          <label for="servicePort">Service Port</label>
          <tooltip [message]="helpText.ServicePort"></tooltip>
          <input
            id="servicePort"
            type="number"
            class="form-control"
            name="servicePort"
            formControlName="servicePort"
            [class.is-invalid]="submitted && f.servicePort.errors"
          />
          @if (submitted && f.servicePort.errors) {
          <div class="invalid-feedback">
            @if (f.servicePort.errors.required) {
            <div>Service Port is required</div>
            } @if (f.servicePort.errors.min || f.servicePort.errors.max) {
            <div>Service Port must be between 1-65535</div>
            }
          </div>
          }
        </div>
      </div>

      <!-- Interval -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="interval">Interval (seconds)</label>
          <tooltip [message]="helpText.Interval"></tooltip>
          <input
            id="interval"
            type="number"
            class="form-control"
            name="interval"
            formControlName="interval"
            [class.is-invalid]="submitted && f.interval.errors"
            min="1"
            max="300"
          />
          @if (submitted && f.interval.errors) {
          <div class="invalid-feedback">
            @if (f.interval.errors.required) {
            <div>Interval is required</div>
            } @if (f.interval.errors.min || f.interval.errors.max) {
            <div>Interval must be between 5-300 seconds</div>
            }
          </div>
          }
        </div>

        <!-- Timeout -->
        <div class="form-group col-md-6">
          <label for="timeout">Timeout (seconds)</label>
          <tooltip [message]="helpText.Timeout"></tooltip>
          <input
            id="timeout"
            type="number"
            class="form-control"
            name="timeout"
            formControlName="timeout"
            [class.is-invalid]="submitted && f.timeout.errors"
            min="1"
            max="300"
          />
          @if (submitted && f.timeout.errors) {
          <div class="invalid-feedback">
            @if (f.timeout.errors.required) {
            <div>Timeout is required</div>
            } @if (f.timeout.errors.min || f.timeout.errors.max) {
            <div>Timeout must be between 5-300 seconds</div>
            }
          </div>
          }
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save Health Monitor</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
