<div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-info" (click)="getNetworks()">
      <fa name="refresh" size="2x"></fa>
    </button>
  </div>

  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IP Address</th>
          <th scope="col">Subnet</th>
          <th scope="col">Device</th>
          <th scope="col">Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ip of ipResult?.ips">
          <td>
            {{ ip?.ip }}
          </td>
          <td>
            <a routerLink="/networks/edit/{{ ip?.subnet_id }}">{{ ip?.subnet }}</a>
          </td>
          <td>
            <a *ngIf="ip?.device" routerLink="/devices/edit/{{ ip?.device_id }}">{{ ip?.device }}</a>
            <p *ngIf="!ip?.device">N/A</p>
          </td>
          <td>
            {{ip?.available}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
