<div class="header-with-button mb-2 mt-2">
  <h3>ACI Endpoints</h3>
  <div class="d-flex align-items-center">
    @if (jobStatus && jobStatus !== 'successful') {
    <fa-icon
      class="icon"
      [icon]="['fas', 'exclamation-triangle']"
      data-bs-toggle="tooltip"
      [attr.title]="getTooltipMessage(jobStatus)"
    ></fa-icon>
    }
    <p class="mb-0">
      @if (!isRecentlyRefreshed() && !isRefreshingRuntimeData) {
      <small>{{ lastRefreshed }}</small>
      } @if (isRefreshingRuntimeData) {
      <small style="color: #717579">Refreshing</small>
      } @if (isRecentlyRefreshed() && !isRefreshingRuntimeData) {
      <small style="color: #717579">Refreshed</small>
      }
    </p>
    <button
      type="button"
      title="Refresh F5 Config"
      class="btn btn-icon"
      (click)="refreshRuntimeData(); $event.stopPropagation()"
      [disabled]="isRecentlyRefreshed() || isRefreshingRuntimeData"
    >
      @if (!isRecentlyRefreshed()) {
      <fa-icon class="icon" [icon]="['fas', 'sync-alt']" animation="spin"></fa-icon>
      } @if (isRecentlyRefreshed() && !isRefreshingRuntimeData) {
      <fa-icon class="icon" [icon]="['fas', 'check']"></fa-icon>
      }
    </button>
  </div>
</div>
<app-lite-table [config]="config" [data]="aciRuntimeData"></app-lite-table>
