<h1>Dashboard</h1>
<main class="dashboard">
  <!-- Service Status -->
  <aside class="dashboard__card" aria-label="Service Status">
    <h4 class="dashboard__heading">Service Status</h4>
    <div *ngFor="let service of status" class="status-item">
      <span>
        {{ service.name }}
      </span>
      <div class="status-light" [ngClass]="service.status"></div>
    </div>
  </aside>

  <!-- Global Resources -->
  <aside class="dashboard__card" aria-label="Global Resources">
    <h4 class="dashboard__heading">Global Resources</h4>
    <ul class="dash-card">
      <li>
        <a routerLink="/adminportal/tenant-v2" queryParamsHandling="merge">
          <span> TV2 Logical Tenants</span>
        </a>
      </li>
      <li>
        <a routerLink="/adminportal/global-messages" queryParamsHandling="merge">
          <span> Global Messages </span>
        </a>
      </li>
      <li>
        <a routerLink="/adminportal/route-control-request" queryParamsHandling="merge">
          <span> Route Control Requests </span>
        </a>
      </li>
      <li>
        <a routerLink="/adminportal/environment-management" queryParamsHandling="merge">
          <span> Environments </span>
        </a>
      </li>

      <li>
        <a routerLink="/adminportal/global-bgp-asn" queryParamsHandling="merge">
          <span> Global BGP ASN </span>
        </a>
      </li>
    </ul>
  </aside>
</main>
