<button class="btn float-left mr-3" (click)="navigateToWanForm()" aria-label="navigate-to-wan-form">
  <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
</button>

<h1>Advertised Internal Subnets for: {{ wanForm?.name }}</h1>

<section class="btn-toolbar" role="toolbar" aria-label="create-internal-subnet">
  <button type="button" class="btn btn-success" (click)="openModal(ModalMode.Create)">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Create Subnet</span>
  </button>
</section>

<app-table
  *ngIf="!isLoading; else loading"
  [config]="config"
  [data]="wanFormSubnets"
  (clearResults)="getWanFormSubnets($event)"
  (searchParams)="getWanFormSubnets($event)"
  [searchColumns]="searchColumns"
  [(itemsPerPage)]="perPage"
  (tableEvent)="onTableEvent($event)"
></app-table>

<ng-template #actionsTemplate let-wanFormSubnet="datum">
  <section>
    <app-icon-button icon="edit" label="Edit External Route" (handleClick)="openModal(ModalMode.Edit, wanFormSubnet)"></app-icon-button>
    <app-icon-button
      *ngIf="wanFormSubnet?.deletedAt"
      icon="undo"
      label="Restore External Route"
      type="success"
      (handleClick)="restoreWanFormSubnet(wanFormSubnet)"
    ></app-icon-button>

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Extnernal Route"
      [type]="wanFormSubnet.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteWanFormSubnet(wanFormSubnet)"
    >
    </app-icon-button>
  </section>
</ng-template>

<ng-template #vrfNameTemplate let-wanFormSubnet="datum">
  <span *ngIf="wanFormSubnet.vrf === 'appprod'">appprod (vpn_app_unix)</span>
  <span *ngIf="wanFormSubnet.vrf === 'appdev'">appdev (vpn_app_unix_imp)</span>
  <span *ngIf="wanFormSubnet.vrf === 'dataprod'">dataprod (vpn_data_unix)</span>
  <span *ngIf="wanFormSubnet.vrf === 'datadev'">datadev (vpn_data_unix_imp)</span>
  <span *ngIf="wanFormSubnet.vrf === 'edcmgmt'">edcmgmt (vpn_edc_mgmt)</span>
  <span *ngIf="wanFormSubnet.vrf === 'transport'">Transport</span>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [animation]="true ? 'spin' : undefined"></fa-icon>
</ng-template>

<app-wan-form-subnets-modal></app-wan-form-subnets-modal>

<ng-template #expandableRows let-subnet="datum">
  <ng-container *ngIf="subnet.netcentricSubnetId">
    <tr>
      <td colspan="5">
        <div *ngIf="subnet.netcentricSubnet" class="expandable-row bg-light border rounded m-3 p-3 shadow-sm">
          <h5 class="mb-3">Subnet Details</h5>
          <div class="row">
            <div class="col-sm-6">
              <p><strong>Name:</strong> {{ subnet.netcentricSubnet.name }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Description:</strong> {{ subnet.netcentricSubnet.description || '-' }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Network:</strong> {{ subnet.netcentricSubnet.network }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Gateway:</strong> {{ subnet.netcentricSubnet.gateway }}</p>
            </div>
          </div>
        </div>
      </td>
      <td colspan="5">
        <div *ngIf="subnet.netcentricSubnet" class="expandable-row bg-light border rounded m-3 p-3 shadow-sm">
          <h5 class="mb-3">VLAN Details</h5>
          <div class="row">
            <div class="col-sm-6">
              <p><strong>Name:</strong> {{ subnetVlans.get(subnet.netcentricSubnetId).name }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Description:</strong> {{ subnetVlans.get(subnet.netcentricSubnetId).description || '-' }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>VLAN Number:</strong> {{ subnetVlans.get(subnet.netcentricSubnetId).vlanNumber }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>VCD VLAN Type:</strong> {{ subnetVlans.get(subnet.netcentricSubnetId).vcdVlanType }}</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  <ng-container *ngIf="subnet.appcentricSubnetId">
    <tr>
      <td colspan="5">
        <div *ngIf="subnet.appcentricSubnet" class="expandable-row bg-light border rounded m-3 p-3 shadow-sm">
          <h5 class="mb-3">Subnet Details</h5>
          <div class="row">
            <div class="col-sm-6">
              <p><strong>Name:</strong> {{ subnet.appcentricSubnet.name }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Description:</strong> {{ subnet.appcentricSubnet.description || '-' }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Gateway IP:</strong> {{ subnet.appcentricSubnet.gatewayIp }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Treat As Virtual IP Address:</strong> {{ subnet.appcentricSubnet.treatAsVirtualIpAddress }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Primary IP Address:</strong> {{ subnet.appcentricSubnet.primaryIpAddress }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Advertised Externally:</strong> {{ subnet.appcentricSubnet.advertisedExternally }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Preferred:</strong> {{ subnet.appcentricSubnet.preferred }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Shared:</strong> {{ subnet.appcentricSubnet.sharedBetweenVrfs }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>IP Data Plane Learning:</strong> {{ subnet.appcentricSubnet.ipDataPlaneLearning }}</p>
            </div>
          </div>
        </div>
      </td>
      <td colspan="5">
        <div *ngIf="subnet.appcentricSubnetId" class="expandable-row bg-light border rounded m-3 p-3 shadow-sm">
          <h5 class="mb-3">Bridge Domain Details</h5>
          <div class="row">
            <div class="col-sm-6">
              <p><strong>Name:</strong> {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).name }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Description:</strong> {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).description || '-' }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Mac Address:</strong> {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).bdMacAddress }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Unicast Routing:</strong> {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).unicastRouting }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>ARP Flooding:</strong> {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).arpFlooding }}</p>
            </div>
            <div class="col-sm-6">
              <p><strong>Limit Local IP Learning:</strong> {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).limitLocalIpLearning }}</p>
            </div>
            <div class="col-sm-6">
              <p>
                <strong>EP Move Detection Mode GARP:</strong>
                {{ subnetBridgeDomains.get(subnet.appcentricSubnetId).epMoveDetectionModeGarp }}
              </p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
</ng-template>
