<ngx-smart-modal
  #l3OutsModal
  [dismissable]="false"
  customClass="large-modal"
  identifier="l3OutsModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">L3 Outs</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or '_'.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="alias">Alias</label>
        <input
          type="text"
          id="alias"
          formControlName="alias"
          class="form-control"
          [class.is-invalid]="submitted && f.alias.errors"
          aria-label="Alias"
        />
        <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
          <div *ngIf="f.alias.errors.maxlength">Alias must be 100 characters or less.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
        </div>
      </div>
      <div *ngIf="modalMode === modalModeEnum.Create">
        <app-table
          [config]="config"
          [data]="vrfs"
          (clearResults)="getVrfs($event)"
          (searchParams)="getVrfs($event)"
          [searchColumns]="searchColumns"
          [(itemsPerPage)]="perPage"
          (tableEvent)="onTableEvent($event)"
        ></app-table>
        <div *ngIf="f.vrfId.errors" class="invalid-feedback">
          <div *ngIf="f.vrfId.errors.required">Vrf is required</div>
        </div>
      </div>

      <!-- Subnet-to-EPG/ESG Associations Section -->
      <div *ngIf="modalMode === modalModeEnum.Edit" class="mt-4">
        <h5>Subnet and EPG/ESG Associations</h5>
        <p class="text-muted">Configure which subnets should be advertised and which EPGs/ESGs can communicate via this L3Out.</p>

        <!-- No data message -->
        <div *ngIf="!bridgeDomainsWithSubnets || bridgeDomainsWithSubnets.length === 0" class="alert alert-warning">
          <p>No bridge domains found for this VRF. Please make sure the VRF has associated bridge domains.</p>
        </div>

        <!-- Bridge domains with subnets -->
        <div *ngFor="let bd of bridgeDomainsWithSubnets" class="card mb-3">
          <div class="card-header bg-light">
            <h6 class="mb-0">Bridge Domain: {{ bd.name }}</h6>
          </div>
          <div class="card-body">
            <!-- Subnets -->
            <div *ngIf="bd.subnets.length > 0" class="mb-3">
              <h6>Subnets</h6>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Subnet</th>
                      <th>Gateway</th>
                      <th>Advertise</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subnet of bd.subnets">
                      <td>{{ subnet.name }}</td>
                      <td>{{ subnet.gateway }}</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [id]="'subnet-' + subnet.id"
                            [checked]="subnet.isAdvertised"
                            (change)="toggleSubnetAdvertisement(bd.id, subnet.id)"
                          />
                          <label class="custom-control-label" [for]="'subnet-' + subnet.id"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="bd.subnets.length === 0" class="alert alert-info">
              <p>No subnets found for this bridge domain.</p>
            </div>

            <!-- EPGs -->
            <div *ngIf="bd.epgs.length > 0" class="mb-3">
              <h6>Associated EPGs</h6>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>EPG Name</th>
                      <th>Allow Communication via L3Out</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let epg of bd.epgs">
                      <td>{{ epg.name }}</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [id]="'epg-' + epg.id"
                            [checked]="isEpgSelected(epg.id)"
                            (change)="toggleEpgSelection(epg.id)"
                          />
                          <label class="custom-control-label" [for]="'epg-' + epg.id"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="bd.epgs.length === 0" class="alert alert-info">
              <p>No EPGs found for this bridge domain.</p>
            </div>

            <!-- ESGs -->
            <div *ngIf="bd.esgs.length > 0">
              <h6>Associated ESGs</h6>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>ESG Name</th>
                      <th>Allow Communication via L3Out</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let esg of bd.esgs">
                      <td>{{ esg.name }}</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [id]="'esg-' + esg.id"
                            [checked]="isEsgSelected(esg.id)"
                            (change)="toggleEsgSelection(esg.id)"
                          />
                          <label class="custom-control-label" [for]="'esg-' + esg.id"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="bd.esgs.length === 0" class="alert alert-info">
              <p>No ESGs found for this bridge domain.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>

<ng-template #vrfSelectTemplate let-vrf="datum">
  <section>
    <div [formGroup]="form" class="custom-control custom-radio">
      <input
        type="radio"
        formControlName="vrfId"
        name="vrfId"
        value="{{ vrf.id }}"
        aria-label="Vrf"
        class="custom-control-input"
        id="radio-{{ vrf.id }}"
      />
      <label class="custom-control-label" for="radio-{{ vrf.id }}">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
      </label>
    </div>
  </section>
</ng-template>

<!-- <ng-template #removeVrf> -->
