<ngx-smart-modal
  #virtualMachineModal
  identifier="virtualMachineModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h1 class="modal-title header">Virtual Machine</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
          required
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          aria-label="Description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.minlength">Description must be at least 3 characters.</div>
          <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="cpuCount">CPU Cores</label>
          <select id="cpuCount" formControlName="cpuCount" class="form-control" required>
            <option></option>
            <option *ngFor="let cpuCount of [1, 2, 3, 4, 5, 6, 7, 8]"> {{ cpuCount }}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="coreCount">Cores Per Socket</label>
          <select id="coreCount" formControlName="coreCount" class="form-control" required>
            <option></option>
            <option *ngFor="let cores of [1, 2, 3, 4, 5, 6, 7, 8]">
              {{ cores }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="cpuReserved">CPU Reserved?</label>
          <select id="cpuReserved" formControlName="cpuReserved" class="form-control" required>
            <option></option>
            <option *ngFor="let opt of [true, false]">
              {{ opt }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="memorySize">Memory (GB)</label>
          <input type="number" id="memorySize" formControlName="memorySize" class="form-control" required />
        </div>

        <div class="form-group col-md-6">
          <label for="memoryReserved">Memory Reserved?</label>
          <select id="memoryReserved" formControlName="memoryReserved" class="form-control" required>
            <option></option>
            <option *ngFor="let opt of [true, false]">
              {{ opt }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="this.ModalMode === 'Edit'">
        <hr />

        <div class="form-group">
          <label for="modalVirtualDisk">Virtual Disks</label>
          <button type="button" name="modalVirtualDisk" class="btn btn-sm btn-info pull-right mb-2" (click)="openVirtualDiskModal()">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            Add Virtual Disk
          </button>
          <table name="virtualDisksTable" class="table table-striped" aria-describedby="Virtual Disks table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Disk Size</th>
                <th scope="col">Raw LUN</th>
                <th scope="col">State</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of virtualDisks">
                <td>{{ v.name }}</td>
                <td>{{ ConversionUtil.convertBytesToGb(v.diskSize) }} GB</td>
                <td>{{ v.rawLun }}</td>
                <td>{{ v.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</td>
                <td class="item-actions">
                  <fa-icon 
            [icon]="['fas', 'undo']"
                    *ngIf="v?.deletedAt"
                    class="fg-success"
                    (click)="restoreVirtualDisk(v)"
                    aria-label="Restore Virtual Disk"
                  ></fa-icon>
                  <fa-icon 
              [icon]="['fas', 'trash']"
                    [ngClass]="{ 'fg-danger': v.deletedAt }"
                    (click)="deleteVirtualDisk(v)"
                    aria-label="Soft-Delete/Delete Virtual Disk"
                  >
                  </fa-icon>
                </td>
              </tr>
              <tr *ngIf="!virtualDisks?.length" class="text-center">
                <td colspan="5">No Virtual Disks</td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />

        <div class="form-group">
          <label>Network Adapters</label>
          <button type="button" name="modalVswitch" class="btn btn-sm btn-info pull-right mb-2" (click)="openNetworkAdapterModal()">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            Add Network Adapter
          </button>
          <table name="networkAdapterTable" class="table table-striped" aria-describedby="Network Adapters table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">VLAN</th>
                <th scope="col">State</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of networkAdapters">
                <td>{{ n.name }}</td>
                <td>{{ n.vlanId }}</td>
                <td>{{ n.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</td>
                <td class="item-actions">
                  <fa-icon 
            [icon]="['fas', 'undo']"
                    *ngIf="n?.deletedAt"
                    class="fg-success"
                    (click)="restoreNetworkAdapter(n)"
                    aria-label="Restore Network Adapter"
                  ></fa-icon>
                  <fa-icon 
              [icon]="['fas', 'trash']"
                    [ngClass]="{ 'fg-danger': n.deletedAt }"
                    (click)="deleteNetworkAdapter(n)"
                    aria-label="Soft-Delete/Delete Network Adapter"
                  >
                  </fa-icon>
                </td>
              </tr>
              <tr *ngIf="!networkAdapters?.length" class="text-center">
                <td colspan="4">No Network Adapters</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end edit conditional -->
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon [icon]="['far', 'save']"></fa-icon>
        Save
      </button>
    </div>
  </form>
</ngx-smart-modal>
