<div class="text-center">
  <h1>Dashboard</h1>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Subnets
        </div>
        <div class="card-body">
          <h6>{{ subnets.subnets.length }}</h6>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" routerLink="/networks">Manage</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Devices
        </div>
        <div class="card-body">
          <h6>{{ devices.Devices.length }}</h6>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" routerLink="/devices">Manage</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          IP Addresses
        </div>
        <div class="card-body">
          <h6>{{ ips.ips.length }}</h6>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" routerLink="/ipaddresses">Manage</button>
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Jobs executed in the Last 24 Hours
          </div>
          <div class="card-body">
            <h6>{{ jobs.results.length }}</h6>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Successful Jobs
          </div>
          <div class="card-body">
            <h6>{{ succesfulJobs }}</h6>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Failed Jobs
          </div>
          <div class="card-body">
            <h6 style="color:red;">{{ failedJobs }}</h6>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>

</div>
