<h1>Dashboard</h1>

<main class="dashboard">
  <!-- Service Status -->
  <aside class="dashboard__card" aria-label="Service Status">
    <h2 class="dashboard__heading">Service Status</h2>
    <div *ngFor="let service of status" class="status-item">
      <span>
        {{ service.name }}
      </span>
      <div class="status-light" [ngClass]="service.status"></div>
    </div>
  </aside>

  <!-- Overall Environment -->
  <aside class="dashboard__card" aria-label="Overall Environment">
    <h4 class="dashboard__heading">Network Environment</h4>
    <ul class="dash-card">
      <li>
        <a>
          <span>
            Datacenters
            <tooltip [message]="helpText.Datacenters"></tooltip>
          </span>
          <span class="inline-block ml-auto">
            {{ datacenters || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']" style="visibility: hidden;"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/tiers" queryParamsHandling="merge">
          <span>
            Tiers
            <tooltip [message]="helpText.Tiers"></tooltip>
          </span>
          <span class="inline-block ml-auto">
            {{ tiers || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>

    
      <li class="dash-card__item">
        <a routerLink="/netcentric/subnets-vlans" queryParamsHandling="merge">
          <span>
            Subnets
          </span>
          <span class="inline-block ml-auto">
            {{ subnetCount || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/subnets-vlans" queryParamsHandling="merge">
          <span>
            Vlans
          </span>
          <span class="inline-block ml-auto">
            {{ vlanCount || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
    </ul>
  </aside>


  <aside class="dashboard__card">
    <h4 class="dashboard__heading">Network Security</h4>
    <ul class="dash-card">
      <li class="dash-card__item">
        <a routerLink="/netcentric/network-objects-groups" queryParamsHandling="merge">
          <span>
            Network Objects
          </span>
          <span class="inline-block ml-auto">
            {{ networkObjectCount || 0 }} 
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/network-objects-groups" queryParamsHandling="merge">
          <span>
            Network Object Groups
          </span>
          <span class="inline-block ml-auto">
            {{ networkObjectGroupCount || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/service-objects-groups" queryParamsHandling="merge">
          <span>
            Service Objects 
          </span>
          <span class="inline-block ml-auto">
            {{ serviceObjectCount || 0 }} 
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/service-objects-groups" queryParamsHandling="merge">
          <span>
            Service Object Groups
          </span>
          <span class="inline-block ml-auto">
            {{ serviceObjectCount || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/firewall-rules" queryParamsHandling="merge">
          <span>
            Firewall Rules
          </span>
          <span class="inline-block ml-auto">
            {{ firewallRuleCount || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/netcentric/nat-rules" queryParamsHandling="merge">
          <span>
            Nat Rules
          </span>
          <span class="inline-block ml-auto">
            {{ natRuleCount || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
    </ul>
  </aside>

  <!-- Overall Environment -->
  <aside class="dashboard__card" aria-label="Overall Environment">
    <h2 class="dashboard__heading">Miscellaneous</h2>
    <ul class="dash-card">
      <li class="dash-card__item">
        <a routerLink="/netcentric/load-balancers" queryParamsHandling="merge">
          <span>
            Load Balancer Virtual Servers
            <tooltip [message]="helpText.LbVirtualServers"></tooltip>
          </span>
          <span class="inline-block ml-auto">
            {{ loadBalancerVirtualServers || 0 }}
          </span>
          <fa-icon class="icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </a>
      </li>
    </ul>
  </aside>
</main>
