@import '../../../assets/styles/variables';

.status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;

  span {
    font-size: 18px;
  }

  &--large {
    justify-content: space-evenly;

    span {
      font-size: 22px;
    }
    .status-light {
      height: 45px;
      width: 75px;
    }
  }
}

.status-light {
  display: inline-block;
  height: 30px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  &.green {
    background-image: url('../../../assets/img/status-green.svg');
  }

  &.yellow {
    background-image: url('../../../assets/img/status-yellow.svg');
  }

  &.red {
    background-image: url('../../../assets/img/status-red.svg');
  }
}

.chart-wrap {
  display: flex;
  justify-content: space-around;
}

.chart {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-color: $gray-main;
}

.legend {
  p {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .legend-color {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;

    &.success {
      background-color: $success;
    }
    &.danger {
      background-color: $danger;
    }
    &.warning {
      background-color: $warning;
    }
    &.info {
      background-color: $info;
    }
    &.medium {
      background-color: $gray-medium;
    }
  }

  .legend-subtitle {
    display: block;
    color: $gray-medium;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0 15px 35px;
  }
}

.dash-card {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 18px;
  }

  .icon {
    color: $primary-main;
    padding-left: 20px;
  }

  a {
    display: flex;
    width: 100%;
    color: $c-gray-700;
    
    &:hover {
      text-decoration: none;
      
      .icon {
        color: $secondary-main;
      }
    }
  }
}
