<nav class="navbar navbar-expand-lg" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="dashboard" queryParamsHandling="merge" title="DRaaS">
    <fa name="bolt"></fa>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa name="bars"></fa>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Networking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="networks" queryParamsHandling="merge">Subnets</a>
          <a class="dropdown-item" routerLink="subnets-vlans" queryParamsHandling="merge">Subnets & VLANs</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="static-routes" queryParamsHandling="merge">Routing</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="firewall-rules" queryParamsHandling="merge"
            >Firewall Rules</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="load-balancers" queryParamsHandling="merge"
            >Load Balancers</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Systems
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="solaris" queryParamsHandling="merge">Solaris Summary</a>
          <a class="dropdown-item" routerLink="solaris/cdom/list" queryParamsHandling="merge">CDOM List</a>
          <a class="dropdown-item" routerLink="solaris/ldom/list" queryParamsHandling="merge">LDOM List</a>
          <a class="dropdown-item" routerLink="solaris/imagerepository" queryParamsHandling="merge"
            >Solaris Image Respository</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="physical-server"
            >Physical Servers</a
          >
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >IPAM
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="network-objects-groups" queryParamsHandling="merge"
            >Network Objects/Groups</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="service-objects-groups" queryParamsHandling="merge"
            >Service Objects/Groups</a
          >
        </div>
      </li>
    </ul>
    

    <ul class="navbar-nav ml-auto align-items-lg-center">

        <li class="nav-item dropdown">
          <a [ngClass]="{'text-danger': !currentDatacenter }" class="text-bold">{{ currentDatacenter?.name || 'No Datacenter Selected' }}</a>
        </li>
    
        <li class="nav-item">        
          <button class="btn btn-sm btn-info" [disabled]="lockCurrentDatacenter" (click)="ngx.getModal('datacenterSwitchModal').open()">   
            {{ currentDatacenter ? 'Switch' : 'Select'}} Datacenter
          </button>
        </li>
  
      <li class="nav-item">
        <a class="nav-link disabled" [routerLinkActive]="['active']" routerLink="jobs" queryParamsHandling="merge">
          <fa
            name="spinner fa-spin"
            style="padding-right:5px;"
            [hidden]="!activeJobs.length"
          ></fa>
          <span class="badge badge-success" [hidden]="!activeJobs.length">
            {{ activeJobs.length }}</span>
          Jobs</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ currentUser.Username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            target="_blank"
            href="https://jiraent.cms.gov/"
            >Ticketing System</a
          >
          <a class="dropdown-item">Documentation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="ngx.getModal('logoutModal').open()"
            >Logout</a
          >
        </div>
      </li>

      <li class="nav-item align-self-end align-self-lg-center">
        <button class="btn btn-sm btn-danger" routerLink="deploy" queryParamsHandling="merge">
          Deploy
        </button>
      </li>

      <ul class="navbar-nav customer-name">
        <li class="nav-item">
          <a class="nav-link disabled">{{ currentUser.CustomerName }}</a>
        </li>
      </ul>
    </ul>
  </div>
</nav>

<ngx-smart-modal
  #datacenterSwitchModal
  identifier="datacenterSwitchModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Switch Datacenter Context?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="datacenterSwitchModal.close()"
    ></button>
  </div>

  <div>Current Datacenter: {{ currentDatacenter?.name || 'No Datacenter Selected'}}

    <select [(ngModel)]="selectedDatacenter" class="form-control">
      <option></option>
      <option *ngFor="let datacenter of datacenters" [ngValue]="datacenter">{{ datacenter.name }}</option>
    </select>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="datacenterSwitchModal.close()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-danger"
      data-dismiss="modal"
      (click)="switchDatacenter(); datacenterSwitchModal.close()"
    >
      Yes
    </button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal
  #logoutModal
  identifier="logoutModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Logout?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="logoutModal.close()"
    ></button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="logoutModal.close()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-danger"
      data-dismiss="modal"
      (click)="logout()"
    >
      Yes
    </button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal
  #jobLaunchModal
  identifier="jobLaunchModal"
  customClass="'modal-content'"
  [dismissable]="false"
>
  <div class="modal-header">
    <h4
      *ngIf="jobMessage?.Success"
      class="modal-title"
      [ngClass]="{
        'text-success': modalJob?.status === 'successful',
        'text-danger': modalJob?.status === 'failed'
      }"
    >
      Job {{ modalJob?.id }} Status
    </h4>
    <h4 *ngIf="!jobMessage?.Success" class="modal-title text-danger">
      Job Launch Failed
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeJobModal()"
    ></button>
  </div>

  <div class="modal-body text-center" *ngIf="!jobMessage?.Success">
    {{ jobMessage?.Text }}
  </div>

  <div class="modal-body" *ngIf="jobMessage?.Success">
    <div class="form-row">
      <div class="form-group col-md-6 text-center">
        <p
          [ngClass]="{
            'text-success': modalJob?.status === 'successful',
            'text-danger': modalJob?.status === 'failed'
          }"
          class="text-capitalize"
        >
          Status: {{ modalJob?.status }}
        </p>
      </div>
      <div class="form-group col-md-6 text-center">
        Elapsed Time: {{ modalJob?.elapsed }}s
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-info"
      data-dismiss="modal"
      routerLink="/jobs"
      queryParamsHandling="merge"
      (click)="closeJobModal()"
      *ngIf="jobMessage?.Success && modalJob?.status !== 'failed'"
    >
      View All Jobs
    </button>

    <a
      class="btn btn-danger"
      *ngIf="!jobMessage?.Success || modalJob?.status === 'failed'"
      target="_blank"
      href="https://jiraent.cms.gov/"
    >
      Open Ticket
    </a>

    <button
      type="button"
      class="btn btn-success"
      data-dismiss="modal"
      (click)="closeJobModal()"
    >
      Close Dialog
    </button>
  </div>
</ngx-smart-modal>
