@import '../../../assets/styles/variables';

.navbar {
  background: linear-gradient(170deg, $primary-dark, $primary-main);
  background-color: $primary-main;
  box-shadow: 0 5px 8px rgba($primary-dark, .15);

  color: $primary-light;
  a {
    color: $primary-light;
    cursor: pointer;
  }

  .navbar-brand {
    margin: 0 15px;
  }
}

.dropdown-menu {
  padding: 0;
  a {
    color: $primary-dark;
  }
}

.dropdown-item {
  padding: .75rem 1.5rem;
  &:focus,
  &:hover {
    background-color: $primary-light;
  }

  &:first-of-type {
    border-radius: .25rem .25rem 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 .25rem .25rem;
  }
}

.dropdown-divider {
  margin: 0;
}

.customer-name {
  margin-left: 15px;
}