<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="dashboard">
    <h4>DRaaS</h4>
  </a>
 
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Networking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="networks">Subnets</a>
          <a class="dropdown-item" routerLink="static-routes">Routing</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="network-security-profiles">Network Security</a>
          <a class="dropdown-item" routerLink="ip-nats">Network Address Translation</a>
        </div>
      </li>
  

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >IPAM
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="ipaddresses">IP Addresses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="network-objects-groups">Network Objects/Groups</a>
            <a class="dropdown-item" routerLink="service-objects-groups">Service Objects/Groups</a>
          </div>
        </li>
      </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['active']"
          routerLink="jobs"
          ><fa name="spinner fa-spin"
            style="padding-right:5px;"
            [hidden]="!runningJobs.count"></fa>
          <span class="badge badge-success" [hidden]="!runningJobs.count">{{runningJobs.count}}</span> Jobs</a>
      </li>



      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{currentUser.Username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="ngx.getModal('logoutModal').open()">Logout</a>
        </div>
      </li>

      <li class="nav-item">
          <button class="btn btn-danger" routerLink="deploy">Deploy</button>
      </li>

      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link disabled">{{ currentUser.CustomerName}}</a>
          </li>  
        </ul>
    </ul>
  </div>
</nav>


<ngx-smart-modal
  #logoutModal
  identifier="logoutModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Logout?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="logoutModal.close()"
    ></button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="logout()"
    >
      Yes
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="logoutModal.close()"
    >
      No
    </button>
  </div>
</ngx-smart-modal>