<h4>CDOM Create or Clone</h4>
<div class="col-sm-12">
  <div>
    <form name="CDOMCloneOrCreateForm" class="form" #form="ngForm" novalidate>
      <div class="form-group row">
        <label for="inputCDOMName" class="col-md-1 col-form-label">CDOM Name</label>
        <div class="col-md-2">
          <input
            name="inputCDOMName"
            aria-label="Input CDOM Name"
            appIsAlphanumeric type="text" 
            class="form-control"
            placeholder="Name"
            #name="ngModel"
            [(ngModel)]="CDOM.name"
          >
        </div>
        <label for="inputCDOMCloneFrom" class="col-md-1 col-form-label offset-md-1">Clone CDOM From:</label>
        <div class="col-md-2">
          <input
            name="inputCDOMCloneFrom"
            aria-label="Clone from CDOM"
            appIsAlphanumeric type="text"
            class="form-control"
            placeholder="Name"
            #name="ngModel"
            [(ngModel)]="CDOM.name"
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCDOMMemory" class="col-1 col-form-label offset-md-1">RAM (GB)</label>
        <div class="col-1">
          <input
            name="inputCDOMMemory"
            aria-label="RAM in Gigabytes"
            appIsAlphanumeric type="text"
            class="form-control"
            placeholder="# GB"
            #name="ngModel"
            [(ngModel)]="CDOM.RAM"
          >
        </div>
        <label for="inputCDOMvCPU" class="col-1 col-form-label offset-2">vCPU</label>
        <div class="col-1">
          <input
            name="inputCDOMvCPU"
            aria-label="vCPU for CDOM"
            appIsAlphanumeric type="text"
            class="form-control"
            placeholder="# vCPU"
            #name="ngModel"
            [(ngModel)]="CDOM.vcpu"
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCDOMSPConfig" class="col-1 col-form-label offset-md-1">SPConfig</label>
        <div class="col-1 offset-md-4">
          <input
            name="inputCDOMSPConfig"
            aria-label="CDOM SP Config"
            appIsAlphanumeric type="text"
            class="form-control"
            #name="ngModel"
            [(ngModel)]="CDOM.spconfig"
          >
        </div>
      </div>
      <div class="form-group row">
          <label for="inputCDOMVDS" class="col-1 offset-md-1">VDS</label>
          <!-- 
            <option *ngFor="let subnet of subnets" [ngValue]="subnet">
            {{subnet.name}}
            </option>
           research *ngFor to dynamically populate lists
          -->
          <select id="inputCDOMVDS" class="custom-select col-1 offset-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
      </div>
      <div class="form-group row">
          <label for="inputCDOMVDSDevs" class="col-1 col-form-label offset-md-1">VDSDevs</label>
          <select id="inputCDOMVDSDevs" class="custom-select col-1 offset-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
      </div>
      <div class="form-group row">
        <label for="inputCDOMVCC" class="col-1 col-form-label offset-md-1">VCC</label>
          <select id="inputCDOMVCC" class="custom-select col-1 offset-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
      </div>
      <div class="form-group row">
          <label for="inputCDOMVSW" class="col-1 col-form-label offset-md-1">VSW</label>
          <select id="inputCDOMVSW" class="custom-select col-1 offset-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
      </div>
      <div class="form-group row">
        <label for="inputCDOMVNet" class="col-1 col-form-label offset-md-1">VNET</label>
          <select id="inputCDOMVnet" class="custom-select col-1 offset-md-4">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
      </div>
      <div class="form-group row">
          <label for="inputCDOMLUNS" class="col-1 col-form-label offset-md-1">LUNS</label>
          <div class="col-1 offset-md-4">
            <input
             name="inputCDOMLUNS"
             aria-label="CDOM LUNS"
             appIsAlphanumeric
             type="text"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="CDOM.luns"
             >
          </div>
      </div>
      <div class="form-group row">
          <label for="inputCDOMVLANs" class="col-1 col-form-label offset-md-1">VLANS</label>
          <div class="col-1 offset-md-4">
            <input
             name="inputCDOMVLANs"
             aria-label="CDOM VLANS"
             appIsAlphanumeric
             type="text"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="CDOM.vlans"
             >
          </div>
      </div>
      <div class="btn-group offset-1">
        <button class="btn btn-success" aria-label="Save" disabled>
          Save
        </button>
        <button
          class="btn btn-danger"
          aria-label="Deploy"
          type="submit"
        >
          Deploy
        </button>
      </div>
    </form>
  </div>
</div>
<!-- https://mdbootstrap.com/docs/angular/forms/inputs/ -->