<div>
  <form name="CDOMCloneOrCreateForm" class="form" #form="ngForm" novalidate>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCDOMName">CDOM Name</label>
        <input
          name="inputCDOMName"
          aria-label="Input CDOM Name"
          type="text"
          class="form-control"
          placeholder="Name"
          #name="ngModel"
          [(ngModel)]="CDOM.name"
        />
      </div>

      <div class="form-group col-md-4">
        <label for="cdomClone">Clone CDOM From:</label>
        <div class="input-group">
          <select
            name="cdomClone"
            class="form-control"
            id="cdomClone"
            #cdomClone="ngModel"
            [(ngModel)]="cdomInput"
          >
            <option
              class="list-group-item"
              *ngFor="let cdom of CDOMDeviceArray"
              [ngValue]="cdom"
            >
              {{ cdom.name }}
            </option>
          </select>
          <button class="btn btn-success" (click)="cloneCdom()">
            Clone
          </button>
        </div>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-1">
        <label for="inputCDOMvCPU">vCPU</label>
        <select
          name="inputCDOMvCPU"
          aria-label="vCPU for CDOM"
          class="form-control"
          #name="ngModel"
          [(ngModel)]="CDOM.vcpu"
        >
          <option></option>
          <option *ngFor="let cpuCount of cpuCountArray" [ngValue]="cpuCount"
            >{{ cpuCount }} vCPU</option
          >
        </select>
      </div>

      <div class="form-group col-md-1">
        <label for="inputCDOMMemory">RAM (GB)</label>
        <select
          name="inputCDOMMemory"
          aria-label="RAM GB"
          class="form-control"
          #name="ngModel"
          [(ngModel)]="CDOM.memory"
        >
          <option></option>
          <option *ngFor="let ramAmount of ramCountArray" [ngValue]="ramAmount"
            >{{ ramAmount }} GB</option
          >
        </select>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCDOMVCCname">VCC Name</label>
        <input
          name="inputCDOMVCCname"
          aria-label="CDOM VCC name"
          class="form-control"
          #vccName="ngModel"
          [(ngModel)]="CDOM.vccname"
        />
      </div>

      <!--TODO: Add Range Validator-->
      <div class="form-group col-md-4">
        <label for="inputCDOMVCCports">VCC Ports</label>
        <input
          name="inputCDOMVCCports"
          aria-label="CDOM VCC Ports"
          class="form-control"
          #vccPorts="ngModel"
          [(ngModel)]="CDOM.vccports"
        />
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>vSwitches</label>
        <table name="vSwitchTable" class="table">
          <thead>
            <tr>
              <th>vSwitch Name</th>
              <th>Untagged VLAN</th>
              <th>Tagged VLAN(s)</th>
              <th>Net Device</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vsw of CDOM.vsw">
              <td>{{ vsw.vSwitchName }}</td>
              <td>{{ vsw.vlansUntagged }}</td>
              <td>{{ vsw.vlansTagged }}</td>
              <td>{{ vsw.netDevice }}</td>
              <td>
                <fa name="trash" (click)="deletevSwitch(vsw)"> </fa>
              </td>
            </tr>
          </tbody>
        </table>

        <button
          type="button"
          name="addVswitch"
          class="btn btn-success"
          (click)="openVswitchModal()"
        >
          Add vSwitch
        </button>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-2">
        <div class="form-check form-check-inline">
          <input
            name="alternateVds"
            aria-label="Alternate VDS"
            type="checkbox"
            class="form-check-input"
            #formAlternateVds="ngModel"
            [(ngModel)]="CDOM.alternatevds"
          />
          <label class="form-check-label">Create Alternate VDS</label>
        </div>
      </div>
    </div>

    <hr />

    <div class="btn-group">
      <button
        class="btn btn-success"
        aria-label="Save"
        (click)="launchCDOMJobs()"
      >
        Save
      </button>
    </div>
  </form>
</div>

<ngx-smart-modal
  #vswitchModalCdom
  identifier="vswitchModalCdom"
  customClass="'modal-content'"
  [dismissable]="false"
>
  <div class="modal-header">
    <h4 class="modal-title">Add vSwitch</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="vswitchModalCdom.close()"
    ></button>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCDOMvswitch">vSwitch</label>
        <input
          name="inputCDOMvswitch"
          aria-label="CDOM vSwitch name"
          class="form-control"
          id="inputCDOMvswitch"
          #formVds="ngModel"
          [(ngModel)]="addVswitch.vSwitchName"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="unTaggedVlans">Untagged VLANS</label>
      <input class="form-control" [(ngModel)]="addVswitch.vlansUntagged" />
    </div>

    <div class="form-group">
      <label for="taggedVlans">Tagged VLANS</label>
      <input class="form-control" [(ngModel)]="addVswitch.vlansTagged" />

      <div class="form-group">
        <label>Network Device</label>
        <select
          name="vnetDevice"
          class="form-control"
          [(ngModel)]="addVswitch.netDevice"
        >
          <option></option>
          <option *ngFor="let li of LogicalInterfaces" [ngValue]="li.Name">
            {{ li.Name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="insertVswitch()"
    >
      Add
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="vswitchModalCdom.close()"
    >
      Cancel
    </button>
  </div>
</ngx-smart-modal>
