<ngx-smart-modal
  #networkObjectModal
  identifier="virtualServerModal"
  [dismissable]="false"
  (onOpen)="getData()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Virtual Server</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <tooltip [message]="helpText.Type"></tooltip>
        <select
          name="type"
          formControlName="type"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
          aria-label="Type"
        >
          <option value="standard">Standard</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="sourceAddressTranslation">Source Address Translation</label>
        <tooltip [message]="helpText.SourceAddressTranslation"></tooltip>
        <select
          name="sourceAddressTranslation"
          formControlName="sourceAddressTranslation"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.sourceAddressTranslation.errors }"
          aria-label="Type"
        >
          <option></option>
          <option value="None">None</option>
          <option value="AutoMap">Auto Map</option>
          <option value="SNAT">SNAT</option>
        </select>
        <div *ngIf="submitted && f.sourceAddressTranslation.errors" class="invalid-feedback">
          <div *ngIf="f.sourceAddressTranslation.errors.required">Source Address Translation is required</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="sourceAddress">Source Address</label>
          <tooltip [message]="helpText.SourceAddress"></tooltip>
          <input
            name="sourceAddress"
            formControlName="sourceAddress"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sourceAddress.errors }"
            aria-label="Source Address"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="destinationAddress">Destination Address</label>
          <tooltip [message]="helpText.DestinationAddress"></tooltip>
          <input
            name="destinationAddress"
            formControlName="destinationAddress"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.destinationAddress.errors
            }"
            [dropSpecialCharacters]="false"
            mask="099.099.099.099/09"
            aria-label="Destination Address"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="servicePort">
            Service Port
          </label>
          <tooltip [message]="helpText.ServicePort"></tooltip>
          <input
            class="form-control"
            name="servicePort"
            formControlName="servicePort"
            [ngClass]="{ 'is-invalid': submitted && f.servicePort.errors }"
            mask="09999"
            aria-label="Service Port"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="pool">
            Pool
          </label>
          <tooltip [message]="helpText.Pool"></tooltip>
          <select
            class="form-control"
            name="pool"
            formControlName="pool"
            [ngClass]="{ 'is-invalid': submitted && f.pool.errors }"
            aria-label="Pool"
          >
            <option></option>
            <option *ngFor="let pool of pools" [ngValue]="pool.id">
              {{ pool.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row" *ngIf="ModalMode === 'Edit'">
        <div class="form-group col-md-12">
          <label for="availableProfiles">Profiles</label>
          <tooltip [message]="helpText.AvailableProfiles"></tooltip>

          <div class="input-group align-items-center">
            <select class="form-control" id="availableProfiles" formControlName="selectedProfile">
              <option></option>
              <option *ngFor="let profile of availableProfiles" [ngValue]="profile.id">{{ profile.name }}</option>
            </select>
            <button type="button" class="btn btn-sm btn-info" (click)="addProfile();">
              Add Profile
            </button>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="selectedProfiles">Selected Profiles</label>
          <tooltip [message]="helpText.SelectedProfiles"></tooltip>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Profile</th>
                <th>Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let profile of selectedProfiles">
                <td>
                  {{ profile?.name }}
                </td>
                <td>
                  {{ profile?.profileType }}
                </td>
                <td class="item-actions">
                  <fa name="trash" (click)="removeProfile(profile)">
                  </fa>
                </td>
              </tr>
              <tr *ngIf="!selectedProfiles?.length" class="text-center">
                <td colspan="3">No Profiles Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-row" *ngIf="ModalMode === 'Edit'">
        <div class="form-group col-md-12">
          <label for="availablePolicies">Policies</label>
          <tooltip [message]="helpText.AvailablePolicies"></tooltip>

          <div class="input-group align-items-center">
            <select class="form-control" id="availablePolicies" formControlName="selectedPolicy">
              <option></option>
              <option *ngFor="let policy of availablePolicies" [ngValue]="policy.id">{{ policy.name }}</option>
            </select>
            <button type="button" class="btn btn-sm btn-info" (click)="addPolicy();">
              Add Policy
            </button>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="selectedPolicies">Selected Policies</label>
          <tooltip [message]="helpText.SelectedPolicies"></tooltip>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Policy</th>
                <th>Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let policy of selectedPolicies">
                <td>
                  {{ policy?.name }}
                </td>
                <td>
                  {{ policy?.policyType }}
                </td>
                <td class="item-actions">
                  <fa name="trash" (click)="removePolicy(policy)">
                  </fa>
                </td>
              </tr>
              <tr *ngIf="!selectedPolicies?.length" class="text-center">
                <td colspan="3">No Policies Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-row" *ngIf="ModalMode === 'Edit'">
        <div class="form-group col-md-12">
          <label>iRules</label>
          <tooltip [message]="helpText.IRules"></tooltip>
          <div class="input-group align-items-center">
            <select
              class="form-control"
              id="availableRules"
              formControlName="selectedIRule"
            >
              <option></option>
              <option *ngFor="let irule of availableIRules" [ngValue]="irule.id">{{
                irule.name
              }}</option>
            </select>
            <button
              type="button"
              class="btn btn-sm btn-info"
              (click)="addIRule()"
            >
              Add iRule
            </button>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="selectedProfiles">Selected IRules</label>
          <tooltip [message]="helpText.SelectedProfiles"></tooltip>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let irule of selectedIRules">
                <td>
                  {{ irule.name }}
                </td>
                <td class="item-actions">
                  <fa name="trash" (click)="removeIRule(irule)"> </fa>
                </td>
              </tr>
              <tr *ngIf="!selectedIRules?.length" class="text-center">
                <td colspan="2">No iRules Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
