<ngx-smart-modal
  #networkObjectModal
  identifier="virtualServerModal"
  [dismissable]="false"
  (onOpen)="getData()"
>
  <div class="modal-header">
    <h4 class="modal-title">Virtual Server</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select
          name="type"
          formControlName="type"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
          aria-label="Type"
        >
          <option></option>
          <option value="standard">Standard</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="sourceAddress">Source Address</label>

        <input
          name="sourceAddress"
          formControlName="sourceAddress"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.sourceAddress.errors }"
          [dropSpecialCharacters]="false"
          mask="099.099.099.099/09"
          aria-label="Source Address"
        />
      </div>

      <div class="form-group">
        <label for="destinationAddress">Destination Address</label>

        <input
          name="destinationAddress"
          formControlName="destinationAddress"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.destinationAddress.errors }"
          [dropSpecialCharacters]="false"
          mask="099.099.099.099/09"
          aria-label="Destination Address"
        />
      </div>

      <div class="form-group">
        <label for="servicePort">
          Service Port
        </label>

        <input
          class="form-control"
          name="servicePort"
          formControlName="servicePort"
          [ngClass]="{ 'is-invalid': submitted && f.servicePort.errors }"
          aria-label="Service Port"
        />
      </div>

      <div class="form-group">
        <label for="pool">
          Pool
        </label>

        <select
        class="form-control"
        name="pool"
        formControlName="pool"
        [ngClass]="{ 'is-invalid': submitted && f.pool.errors }"
        aria-label="Pool"
        >
      <option></option>
      <option *ngFor="let pool of pools" [ngValue]=pool.Name>{{ pool.Name }}</option>
      </select>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          Save
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
