<div class="offset-1 col-10">
    <div class="card">
  
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" (click)="getStoragePools()">
          <fa name="refresh" size="2x"></fa>
        </button>
        <button type="button" class="btn btn-success">
          <fa name="plus" size="2x"></fa>
        </button>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Available Storage</th>
            <th scope="col">Storage Tier</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let storagePool of storagePools">
            <td><input type="checkbox"></td>
            <td>{{storagePool.Name}}</td>
            <td>{{storagePool.AvailableStorageGB / 1000}}TB <div [hidden]="!storagePool.FlashBased" class="pill-default">Flash</div></td>
            <td>{{storagePool.StorageTierString}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  