<ngx-smart-modal
  #poolModal
  identifier="poolModal"
  [dismissable]="false"
  (onOpen)="getData()"
>
  <div class="modal-header">
    <h4 class="modal-title">Pool</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          Save
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
