<ngx-smart-modal
  #poolModal
  identifier="poolModal"
  [dismissable]="false"
  (onOpen)="getData()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Pool</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="loadBalancingMethod">Load Balancing Method</label>
        <tooltip [message]="helpText.LoadBalancingMethod"></tooltip>
        <select
          formControlName="loadBalancingMethod"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f.loadBalancingMethod.errors
          }"
          aria-label="Load Balancing Method"
        >
          <!--TODO: Do we want to expose all LB methods to users?-->
          <option></option>
          <option value="RoundRobin">Round Robin</option>
          <option value="LeastSessions">Least Sessions</option>
          <option value="FastestNode">Fastest Node</option>
          <option value="FastestAppResponse">Fastest App Response</option>
        </select>
        <div
          *ngIf="submitted && f.loadBalancingMethod.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.name.load.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="servicePort">Service Port</label>
        <tooltip [message]="helpText.ServicePort"></tooltip>
        <input
          type="text"
          formControlName="servicePort"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.servicePort.errors }"
          aria-label="Service Port"
        />
        <div *ngIf="submitted && f.servicePort.errors" class="invalid-feedback">
          <div *ngIf="f.servicePort.errors.required">Service Port is required</div>
        </div>
      </div>

      <hr />

      <label>Nodes </label>
      <tooltip [message]="helpText.Nodes"></tooltip>
      <div class="btn-group-sm mb-2 pull-right" role="group">
        <button
          type="button"
          class="btn btn-info"
          (click)="createNode()"
          [disabled]="ModalMode === 'Create'"
          aria-label="Create Node"
        >
          <fa name="plus"></fa>
          Add Node
        </button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">FQDN/IP</th>
            <th scope="col">Port</th>
            <th scope="col">Auto Populate</th>
            <th scope="col">Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let node of nodes">
            <td>
              <p>{{ node?.name }}</p>
            </td>
            <td>
              <p>{{ node?.type }}</p>
            </td>
            <td>
              <p *ngIf="node.type == 'IpAddress'">
                {{ node?.IpAddress }}
              </p>
              <p *ngIf="node.type == 'Fqdn'">{{ node?.fqdn }}</p>
            </td>
            <td>
              <p>{{ node?.servicePort }}</p>
            </td>
            <td>
              <p>{{ node?.autoPopulate }}</p>
            </td>
            <td>
              <p>{{ node?.priority }}</p>
            </td>
            <td>
              <fa *ngIf="node.id" name="pencil" (click)="editNode(node)"> </fa>
              <fa *ngIf="node.id" name="trash" (click)="deleteNode(node)"> </fa>
            </td>
          </tr>
          <tr *ngIf="!nodes?.length" class="text-center">
            <td colspan="6">No Nodes</td>
          </tr>
        </tbody>
      </table>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="availableHealthMonitors">Available Health Monitors</label>
          <tooltip [message]="helpText.AvailableHealthMonitors"></tooltip>

          <div class="input-group align-items-center">
            <select
              class="form-control"
              id="availableHealthMonitors"
              formControlName="selectedHealthMonitor"
            >
              <option></option>
              <option
                *ngFor="let healthMonitor of availableHealthMonitors"
                [ngValue]="healthMonitor"
                >{{ healthMonitor.name }}</option
              >
            </select>
            <button
            type="button"
            class="btn btn-sm btn-info"
            (click)="selectHealthMonitor();"
            [disabled]="ModalMode === 'Create'"
            >
            Select Health Monitor
          </button>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="selectedHealthMonitors">Selected Health Monitors</label>
          <tooltip [message]="helpText.SelectedHealthMonitors"></tooltip>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let healthMonitor of selectedHealthMonitors">
                <td>
                  {{ healthMonitor.name }}
                </td>
                <td class="item-actions">
                  <fa
                    name="trash"
                    (click)="unselectHealthMonitor(healthMonitor)"
                  >
                  </fa>
                </td>
              </tr>
              <tr *ngIf="!selectedHealthMonitors?.length" class="text-center">
                <td colspan="2">No Health Monitors Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
