<ngx-smart-modal
  #requestModal
  identifier="requestModal"
  [dismissable]="false"
  customClass="small-modal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <div class="modal-header">
    <h4 class="modal-title">Upload Request</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="file">File Upload</label>
        <!-- TO DO: fix style -->
        <input
          type="file"
          formControlName="file"
          class="form-control"
          (change)="importFile($event)"
        />
        <div>
          <input
            *ngIf="uploadType === 'configuration'"
            type="checkbox"
            name="isConfiguration"
            class="form-check-input"
            formControlName="isConfiguration"
          />
          <label class="form-check-label" for="isConfiguration">
            Configure without Upload
          </label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-link"
        data-dismiss="modal"
        (click)="cancel()"
      >
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa name="upload"></fa>
        Upload
      </button>
    </div>
  </form>
</ngx-smart-modal>
