<h1>Dashboard</h1>
<main class="dashboard">
  <!-- Service Status -->
  <aside class="dashboard__card" aria-label="Service Status">
    <h4 class="dashboard__heading">Service Status</h4>
    @for (service of status; track service) {
    <div class="status-item">
      <span>
        {{ service.name }}
      </span>
      <div class="status-light" [ngClass]="service.status"></div>
    </div>
    }
  </aside>

  <!-- Overall Environment -->
  <aside class="dashboard__card" aria-label="Overall Environment">
    <h4 class="dashboard__heading">Overall Environment</h4>
    <ul class="dash-card">
      <li>
        <span>
          Tenants
          <tooltip [message]="helpText.Tenants"></tooltip>
        </span>
        <span class="inline-block ms-auto">
          {{ tenants || 0 }}
        </span>
      </li>
      <li class="dash-card__item">
        <span>
          Vrfs
          <tooltip [message]="helpText.Vrfs"></tooltip>
        </span>
        <span class="inline-block ms-auto">
          {{ vrfs || 0 }}
        </span>
      </li>
      <li class="dash-card__item">
        <span>
          Bridge Domains
          <tooltip [message]="helpText.BridgeDomains"></tooltip>
        </span>
        <span class="inline-block ms-auto">
          {{ bridgeDomains || 0 }}
        </span>
      </li>
      <li class="dash-card__item">
        <span>
          Contracts
          <tooltip [message]="helpText.Contracts"></tooltip>
        </span>
        <span class="inline-block ms-auto">
          {{ contracts || 0 }}
        </span>
      </li>
    </ul>
  </aside>
</main>
