<div class="firewall-config-summary">
  <ng-container *ngIf="hasFirewall; else nothingSelected">
    <h2>{{ resolvedData?.firewall?.name }}</h2>
    <dl>
      <dt>Type</dt>
      <dd>{{ resolvedData?.firewallType }}</dd>

      <dt>Tier</dt>
      <dd>{{ resolvedData?.firewall?.tier?.name || 'Unknown' }}</dd>

      <dt>Tenant</dt>
      <dd>{{ resolvedData?.tenant?.name || 'Unknown' }}</dd>
    </dl>
  </ng-container>

  <ng-template #nothingSelected>
    <p>Nothing Selected.</p>
  </ng-template>
</div>
