<div class="table-container mb-4">
  <table>
    <thead>
      <tr>
        @for (column of config.columns; track column) {
        <th scope="col">{{ column.name }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @if (data && data.length === 0) {
      <tr class="no-data-row">
        <td [attr.colspan]="config.columns.length" class="no-data-cell">No Data Present</td>
      </tr>
      } @for (row of data; track row) {
      <tr>
        @for (column of config.columns; track column) {
        <td>
          @if (column.property) {
          {{ row[column.property] }}
          }
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
