<div>
  <form name="LDOMCloneOrCreateForm" class="form" #form="ngForm" novalidate>
    <div class="form-row">
      <div class="form-group col-md-4 ">
        <label for="inputLDOMName">LDOM Name</label>
        <input
          name="inputLDOMName"
          aria-label="Input LDOM Name"
          class="form-control"
          placeholder="Name"
          #inputLDOMName="ngModel"
          [(ngModel)]="LDOM.name"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputLDOMaddCDOM">CDOM</label>
        <select
          name="cdomSelect"
          class="form-control"
          id="inputLDOMaddCDOM"
          #cdomInputName="ngModel"
          [(ngModel)]="cdomInput"
          (ngModelChange)="printCDOM(cdomInput)"
        >
          <option></option>
          <option
            class="list-group-item"
            *ngFor="let cdom of CDOMDeviceArray"
            [ngValue]="cdom"
          >
            {{ cdom.name }}
          </option>
        </select>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCDOMvCPU">vCPU</label>
        <select
          name="inputCDOMvCPU"
          aria-label="vCPU for CDOM"
          class="form-control"
          #addvCPU="ngModel"
          [(ngModel)]="LDOM.add_vcpu"
        >
          <option></option>
          <option
            *ngFor="let cpuCount of [1, 2, 4, 6, 8, 10, 12]"
            [ngValue]="cpuCount"
            >{{ cpuCount }} vCPU's</option
          >
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputCDOMMemory">RAM (GB)</label>
        <select
          name="inputCDOMMemory"
          aria-label="RAM GB"
          class="form-control"
          #addMemory="ngModel"
          [(ngModel)]="LDOM.add_memory"
        >
          <option></option>
          <option
            *ngFor="let ramAmount of [0.5, 1, 2, 4, 8, 16, 32, 64]"
            [ngValue]="ramAmount"
            >{{ ramAmount }} GB</option
          >
        </select>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputLDOMvnet">vNet</label>
        <ul class="list-group" *ngIf="vnets">
          <li class="list-group-item" *ngFor="let vnet of LDOM.add_vnet">
            <fa
              name="chevron-up"
              (click)="moveObjectPosition(-1, vnet, LDOM.add_vnet)"
            >
            </fa>
            <fa
              name="chevron-down"
              (click)="moveObjectPosition(1, vnet, LDOM.add_vnet)"
            >
            </fa>
            <fa name="trash" (click)="deleteObject(vnet, LDOM.add_vnet)"> </fa>
            {{ vnet }}
          </li>
        </ul>
        <select
          name="vnetSelect"
          class="form-control"
          id="inputLDOMvnet"
          #ldomVnetInput="ngModel"
          [(ngModel)]="inputLDOMvnet"
        >
          <option
            class="list-group-item"
            *ngFor="let vswitch of currentCDOM?.vswitch"
            [ngValue]="vswitch"
          >
            {{ vswitch }}
          </option>
        </select>
        <button
          class="btn btn-outline-info"
          id="enterVnet"
          type="button"
          (click)="addvnetObject(inputLDOMvnet, LDOM.add_vnet)"
          [disabled]="!inputLDOMvnet"
        >
          Add Vnet
        </button>
      </div>
    </div>

    <div class="form-row">
      <!--
        Note from Steve M on WWN naming
        names can only be [a-z, A-Z, 0-9] and start with a letter.
        I'd even suggest forcing all lower a-z to keep it simple too.
      -->
      <div class="form-group col-md-4">
        <label for="inputLDOMvdswwn">VDS WWN</label>
        <input
          name="inputLDOMvdswwn"
          aria-label="World Wide Name for VDS"
          class="form-control"
          #vdsWwn="ngModel"
          [(ngModel)]="inputLDOMvdswwn"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputLDOMvdiskname">vDisk Name</label>
        <input
          name="inputLDOMvdsiskname"
          aria-label="vDisk name"
          class="form-control"
          placeholder="vDisk name"
          #vdiskName="ngModel"
          [(ngModel)]="inputLDOMvdiskname"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputLDOMvdsdev">VDS</label>
        <ul class="list-group" *ngIf="vnets">
          <li class="list-group-item" *ngFor="let vds of LDOM.add_vds">
            <fa
              name="chevron-up"
              (click)="moveObjectPosition(-1, vds, LDOM.add_vds)"
            >
            </fa>
            <fa
              name="chevron-down"
              (click)="moveObjectPosition(1, vds, LDOM.add_vds)"
            >
            </fa>
            <fa name="trash" (click)="deleteObject(vds, LDOM.add_vds)"> </fa>
            {{ vds }}
          </li>
        </ul>
        <select
          name="vdsSelect"
          class="form-control"
          id="inputLDOMvds"
          #cdomInputName="ngModel"
          [(ngModel)]="inputLDOMvds"
        >
          <option
            class="list-group-item"
            *ngFor="let vds of currentCDOM?.add_vds"
            [ngValue]="vds"
          >
            {{ vds }}
          </option>
        </select>
        <button
          class="btn btn-outline-info"
          id="enterVds"
          type="button"
          (click)="
            addvdsObject(
              inputLDOMvdswwn,
              inputLDOMvdiskname,
              inputLDOMvds,
              LDOM.add_vds
            )
          "
          [disabled]="!inputLDOMvdswwn && !inputLDOMvdiskname && !inputLDOMvds"
        >
          Add VDS
        </button>
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputLDOMnetinstall">Net Install</label>
        <input
          name="inputLDOMnetinstall"
          aria-label="LDOM Net Install"
          type="text"
          class="form-control"
          #netInstall="ngModel"
          [(ngModel)]="LDOM.net_install"
        />
      </div>
    </div>

    <hr />

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputLDOMbip">IP</label>
        <input
          name="inputLDOMbip"
          aria-label="LDOM Net Install"
          type="text"
          class="form-control"
          #bip="ngModel"
          [(ngModel)]="LDOM.bip"
        />
      </div>

      <div class="form-group col-md-4">
        <label for="inputLDOMbmask">Net Mask</label>
        <input
          name="inputLDOMbmask"
          aria-label="LDOM Net Install"
          type="text"
          class="form-control"
          #netmask="ngModel"
          [(ngModel)]="LDOM.bmask"
        />
      </div>

      <div class="form-group col-md-4">
        <label for="inputLDOMbgw">Gateway</label>
        <input
          name="inputLDOMbgw"
          aria-label="LDOM Net Install"
          type="text"
          class="form-control"
          #bgw="ngModel"
          [(ngModel)]="LDOM.bgw"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group offset-6 col-md-6">
        <label for="inputLDOMvariable">Variables</label>
        <table 
        name="variableTable"
        class="table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let variable of LDOM.variables">
              <td>{{ variable.key }}</td>
              <td>{{ variable.value }}</td>
              <td>      
                <fa
                name ="trash"
                (click)="deleteVariable(variable)">
                </fa>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="input-group">
          <input name="addVariableKey" type="text" class="form-control" placeholder="Key" [(ngModel)]="newVariable.key"/>
          <input name="addVariableValue" type="text" class="form-control" placeholder="Value" [(ngModel)]="newVariable.value"/>
          <button type="button" class="btn btn-success" (click)="addVariable()">
            Add Variable
          </button>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <button
        class="btn btn-success"
        aria-label="Save"
        (click)="launchLDOMJobs()"
      >
        Save
      </button>

      <button
        class="btn btn-danger"
        aria-label="Deploy"
        type="submit"
        (click)="getvdsCmds()"
      >
        test add_vnet_cmd
      </button>
    </div>
  </form>
</div>
