<h4>LDOM Create or Clone</h4>
<div class="col-sm-12">
  <div>
    <form name="LDOMCloneOrCreateForm" class="form" #form="ngForm" novalidate>
      <div class="form-group row">
        <label for="inputLDOMName" class="col-sm-1 col-form-label">LDOM Name</label>
        <div class="col-md-2">
          <input
            name="inputLDOMName"
            aria-label="Input LDOM Name"
            appIsAlphanumeric type="text" 
            class="form-control"
            placeholder="Name"
            #name="ngModel"
            [(ngModel)]="LDOM.name"
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLDOMadddomain" class="col-sm-1 col-form-label offset-sm-1">Add Domain</label>
        <div class="col-sm-1">
          <input
            name="inputLDOMadddomain"
            aria-label="Add LDOM Domain"
            appIsAlphanumeric type="text"
            class="form-control"
            placeholder=""
            #name="ngModel"
            [(ngModel)]="LDOM.add_domain"
          >
        </div>
        <label for="inputLDOMvCPU" class="col-sm-1 col-form-label offset-2">vCPU Count</label>
        <div class="col-sm-1">
          <input
            name="inputLDOMvCPU"
            aria-label="vCPU count for LDOM"
            appIsAlphanumeric type="text"
            class="form-control"
            placeholder="# vCPU"
            #name="ngModel"
            [(ngModel)]="LDOM.add_vcpu"
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLDOMmemory" class="col-sm-1 col-form-label offset-sm-1">Memory</label>
        <div class="col-4 offset-sm-4">
          <input
            name="inputLDOMmemory"
            aria-label="LDOM Memory"
            appIsAlphanumeric type="text"
            class="form-control"
            #name="ngModel"
            [(ngModel)]="LDOM.add_memory"
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLDOMvnets" class="col-sm-1 offset-sm-1">vNet</label>
        <div class="col-4 offset-sm-4">
          <ul class="list-group" *ngIf="vnets">
            <li class="list-group-item" *ngFor="let vnet of LDOM.add_vnet_cmd">
              <fa 
              name="chevron-up"
              (click)="moveObjectPosition(-1,vnet,LDOM.add_vnet_cmd)"
              >
              </fa>
              <fa 
              name="chevron-down"
              (click)="moveObjectPosition(1,vnet,LDOM.add_vnet_cmd)"
              >
              </fa>
                {{vnet}}
             
            </li>
           </ul>
           <input
              type="text"
              name="inputLDOMvnet"
              id="inputLDOMvnet"
              aria-label="LDOM vNet Config"
              class="form-control"
              [(ngModel)]="inputLDOMvnet"
            >
            <button class="btn btn-outline-info" id="enterVnet" type="button" (click)="addvnets()">Add Vnet</button>
         </div>

         <div class="col-4 offset-sm-4">
         </div>
      </div>
      <div class="form-group row">
          <label for="inputLDOMvdsdev" class="col-sm-1 col-form-label offset-sm-1">VDS Devs</label>
          <div class="col-4 offset-sm-4">
            <input
               name="inputLDOMvdsdev"
               aria-label="LDOM VDS Config"
               appIsAlphanumeric type="text"
               class="form-control"
               #name="ngModel"
               [(ngModel)]="LDOM.add_vdsdev"
             >
          </div>
      </div>
      <div class="form-group row">
        <label for="inputLDOMvariable" class="col-sm-1 col-form-label offset-sm-1">Variables</label>
        <div class="col-4 offset-sm-4">
          <input
             name="inputLDOMvariable"
             aria-label="LDOM VDS Config"
             appIsAlphanumeric type="text"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="LDOM.set_variable"
           >
        </div>
      </div>
      <div class="form-group row">
          <label for="inputLDOMvdisk" class="col-sm-1 col-form-label offset-sm-1">Virtual Disks</label>
          <div class="col-4 offset-sm-4">
            <input
               name="inputLDOMVDS"
               aria-label="LDOM VDS Config"
               appIsAlphanumeric type="text"
               class="form-control"
               #name="ngModel"
               [(ngModel)]="LDOM.add_vdisk"
             >
          </div>
      </div>
      <div class="form-group row">
        <label for="inputLDOMVNet" class="col-sm-1 col-form-label offset-sm-1">Bind Domain</label>
        <div class="col-4 offset-sm-4">
          <input
             name="inputLDOMbinddomain"
             aria-label="LDOM Bind Domain Config"
             appIsAlphanumeric type="text"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="LDOM.bind_domain"
           >
        </div>
      </div>
      <div class="form-group row">
          <label for="inputLDOMstartdomain" class="col-sm-1 col-form-label offset-sm-1">Start Domain</label>
          <div class="col-4 offset-sm-4">
            <input
             name="inputLDOMstartdomain"
             aria-label="LDOM Start Domain"
             appIsAlphanumeric
             type="text"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="LDOM.start_domain"
             >
          </div>
      </div>
      <div class="form-group row">
          <label for="inputLDOMnetinstall" class="col-sm-1 col-form-label offset-sm-1">Net Install</label>
          <div class="col-4 offset-sm-4">
            <input
             name="inputLDOMnetinstall"
             aria-label="LDOM Net Install"
             appIsAlphanumeric
             type="text"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="LDOM.net_install"
             >
          </div>
      </div>
      <div class="form-group row">
        <label for="inputLDOMaddconfig" class="col-sm-1 col-form-label offset-sm-1">Control Domain</label>
        <div class="col-4 offset-sm-4">
          <input
           name="inputLDOMaddconfig"
           aria-label="LDOM Control Domain"
           appIsAlphanumeric
           type="text"
           class="form-control"
           #name="ngModel"
           [(ngModel)]="LDOM.associatedcdom"
           >
        </div>
    </div>
    <div class="form-group row">
      <label for="inputLDOMbip" class="col-sm-1 col-form-label offset-sm-1">IP</label>
      <div class="col-4 offset-sm-4">
        <input
         name="inputLDOMbip"
         aria-label="LDOM Net Install"
         appIsAlphanumeric
         type="text"
         class="form-control"
         #name="ngModel"
         [(ngModel)]="LDOM.bip"
         >
      </div>
  </div>
  <div class="form-group row">
    <label for="inputLDOMbmask" class="col-sm-1 col-form-label offset-sm-1">Net Mask</label>
    <div class="col-4 offset-sm-4">
      <input
       name="inputLDOMbmask"
       aria-label="LDOM Net Install"
       appIsAlphanumeric
       type="text"
       class="form-control"
       #name="ngModel"
       [(ngModel)]="LDOM.bmask"
       >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLDOMbgw" class="col-sm-1 col-form-label offset-sm-1">Gateway</label>
      <div class="col-4 offset-sm-4">
        <input
         name="inputLDOMbgw"
         aria-label="LDOM Net Install"
         appIsAlphanumeric
         type="text"
         class="form-control"
         #name="ngModel"
         [(ngModel)]="LDOM.bgw"
         >
      </div>
    </div>
    <div class="btn-group offset-1">
      <button class="btn btn-success" aria-label="Save" disabled>
          Save
        </button>
        <button
          class="btn btn-danger"
          aria-label="Deploy"
          type="submit"
        >
          Deploy
        </button>
      </div>
    </form>
  </div>
</div>
<!-- https://mdbootstrap.com/docs/angular/forms/inputs/ -->