@import "../../../assets/styles/variables";

/* Tooltip container */
.tooltip {
  display: inline-block;
  position: relative;
  opacity: 1;

  &:hover {
    cursor: pointer;
  }

  /* Tooltip text */
  .tooltiptext {
    position: absolute;
    background-color: $gray-main;
    max-width: 400px;
    width: 90vw;
    margin: auto;
    padding: 11px;
    border-radius: 6px;
    border: 1px solid $gray-light;
    color: $white;
    font-size: 110%;
    text-align: left;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    white-space: normal;

    /* Show the tooltip text when the mouse is hovering over the tooltip container */
    &.show {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
    &.lock {
      visibility: visible !important;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}

.tooltip .material-icons {
  font-size: 20px;
}

.tooltip .tooltiptext .pin {
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
  color: $gray-main;
  background: $gray-light;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 2px;
}

.pin-icon {
  position: relative;
  top: -1px;
}
