<div
  #tooltip
  class="tooltip"
  (mouseenter)="showTooltip(true)"
  (mouseleave)="showTooltip(false)"
>
  <fa-icon class="icon" [icon]="['far', 'question-circle']" class="pl-2" aria-label="Toggle tooltip"></fa-icon>
  <div
    class="tooltiptext"
    [class.show]="isShowTooltip"
    [class.lock]="isLockTooltip"
    [ngStyle]="tooltipMsgStyle"
  >
    <div [innerHTML]="message"></div>
    <div
      class="pin"
      (click)="toggleVis()"
    >
      <span *ngIf="!isLockTooltip" class="pin-icon">+</span>
      <span *ngIf="isLockTooltip" class="pin-icon">-</span>
    </div>
  </div>
</div>
