<div class="offset-1 col-10">

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" (click)="getIpNats()" aria-label="Refresh Networks">
          <fa name="refresh" size="2x"></fa>
        </button>
        <button type="button" class="btn btn-success" [routerLink]="['create']">
            <fa name="plus" size="2x"></fa>
          </button>
      </div>

    <div class="card">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Source IP Address</th>
            <th scope="col">Destination IP Address</th>
            <th scope="col">Bidirectional</th>
            <th scope="col">Protocol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ipnat of ipnats.ipnats">
            <td>
              <a routerLink="/ip-nats/edit/{{ ipnat.id }}">{{ ipnat.name }}</a>
            </td>
            <td>
              {{ ipnat.ip_address_from}}
            </td>
            <td>
              {{ ipnat.ip_address_to}}
            </td>
            <td>
              {{ ipnat.two_way_relation}}
            </td>
            <td>
              {{ ipnat.protocol }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>