<div>
  <div class="btn-group-sm mb-2" role="group">
    <button
      type="button"
      class="btn btn-info mr-1"
      (click)="getIpNats()"
      aria-label="Refresh Networks"
    >
      Refresh
    </button>
    <button type="button" class="btn btn-success mr-1" [routerLink]="['create']">
      Create IP NAT
    </button>
  </div>

  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Source IP Address</th>
          <th scope="col">Destination IP Address</th>
          <th scope="col">Bidirectional</th>
          <th scope="col">Protocol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ipnat of ipnats.ipnats">
          <td>
            <a routerLink="/ip-nats/edit/{{ ipnat.id }}">{{ ipnat.name }}</a>
          </td>
          <td>
            {{ ipnat.ip_address_from }}
          </td>
          <td>
            {{ ipnat.ip_address_to }}
          </td>
          <td>
            {{ ipnat.two_way_relation }}
          </td>
          <td>
            {{ ipnat.protocol }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
