<ngx-smart-modal #staticRouteModal identifier="staticRouteModal" [dismissable]="false" (onOpen)="getData()" (onClose)="reset()">
  <div class="modal-header">
    <h4 class="modal-title">Static Route</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-group">
        <label for="destinationNetwork">Destination Network</label>
        <input
          type="text"
          name="destinationNetwork"
          formControlName="destinationNetwork"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.destinationNetwork.errors }"
          aria-label="Destination Network"
        />
        <div *ngIf="submitted && f.destinationNetwork.errors" class="invalid-feedback">
          <div *ngIf="f.destinationNetwork.errors.required">Destination Network is required.</div>
          <div *ngIf="f.destinationNetwork.errors.invalidIpCidr">Invalid IP address, must be a valid IPv4/IPv6 CIDR.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Next Hop</label>
        <input
          type="text"
          name="name"
          formControlName="nextHop"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nextHop.errors }"
          aria-label="Next Hop"
        />
        <div *ngIf="submitted && f.nextHop.errors" class="invalid-feedback">
          <div *ngIf="f.nextHop.errors.required">
            Next Hop required.
          </div>
          <div *ngIf="f.nextHop.errors.invalidIpAddress">Invalid IP address, must be a valid IPv4/IPv6 address.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Metric</label>
        <input
          type="number"
          name="name"
          formControlName="metric"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.metric.errors }"
          aria-label="Metric"
        />
        <div *ngIf="submitted && f.metric.errors" class="invalid-feedback">
          <div *ngIf="f.metric.errors.required">
            Metric required.
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa name="save"></fa>
        Save
      </button>
    </div>
  </form>
</ngx-smart-modal>
