<ng-container *ngIf="virtualMachine; else loading">
  <h1>{{ virtualMachine.name }}</h1>

  <section>
    <app-view-field label="Managed?" [value]="virtualMachine.isManaged"></app-view-field>
    <app-view-field label="Last Sync Date" [value]="lastSyncDate | async"></app-view-field>
    <app-view-field label="Recent Available Backup" [value]="lastBackupDate | async"></app-view-field>
  </section>
</ng-container>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>
