<ngx-smart-modal
  #applianceModal
  identifier="applianceModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="cancel()"
  customClass="medium-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Appliance</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
          id="name"
          required
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
          id="description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.minlength">Description must be at least 3 characters.</div>
          <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="rackUnits">Rack Units</label>
          <input
            type="number"
            formControlName="rackUnits"
            class="form-control"
            [class.is-invalid]="submitted && f.rackUnits.errors"
            id="rackUnits"
            required
            min="1"
          />
          <div *ngIf="submitted && f.rackUnits.errors" class="invalid-feedback">
            <div *ngIf="f.rackUnits.errors.required">Rack Units are required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="serialNumber">Serial Number</label>
          <input
            type="text"
            formControlName="serialNumber"
            class="form-control"
            [class.is-invalid]="submitted && f.serialNumber.errors"
            id="serialNumber"
            required
          />
          <div *ngIf="submitted && f.serialNumber.errors" class="invalid-feedback">
            <div *ngIf="f.serialNumber.errors.required">Serial Number is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="deliveryDate">Delivery Date</label>
        <input
          type="date"
          formControlName="deliveryDate"
          id="deliveryDate"
          class="form-control"
          [class.is-invalid]="submitted && f.deliveryDate.errors"
          required
        />
        <div *ngIf="submitted && f.deliveryDate.errors" class="invalid-feedback">
          <div *ngIf="f.deliveryDate.errors.required">Delivery Date is required</div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="form-group col-md-4">
          <label for="localStorageType">Local Storage Type</label>
          <select
            formControlName="localStorageType"
            id="localStorageType"
            class="form-control"
            [class.is-invalid]="submitted && f.localStorageType.errors"
            required
          >
            <option></option>
            <option *ngFor="let opt of ['HDD', 'SSD']">
              {{ opt }}
            </option>
          </select>
          <div *ngIf="submitted && f.localStorageType.errors" class="invalid-feedback">
            <div *ngIf="f.localStorageType.errors.required">Local Storage Type is required</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="localStorageRequired">Local Storage Required?</label>

          <select
            formControlName="localStorageRequired"
            id="localStorageRequired"
            class="form-control"
            [class.is-invalid]="submitted && f.localStorageRequired.errors"
            required
          >
            <option></option>
            <option *ngFor="let opt of [true, false]">
              {{ opt }}
            </option>
          </select>

          <div *ngIf="submitted && f.localStorageRequired.errors" class="invalid-feedback">
            <div *ngIf="f.localStorageRequired.errors.required">Local Storage is required</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="localStorageSize">Local Storage Size (GB)</label>
          <input
            type="number"
            formControlName="localStorageSize"
            id="localStorageSize"
            class="form-control"
            [class.is-invalid]="submitted && f.localStorageSize.errors"
            required
            min="1"
          />
          <div *ngIf="submitted && f.localStorageSize.errors" class="invalid-feedback">
            <div *ngIf="f.localStorageSize.errors.required">Local Storage Size is required</div>
            <div *ngIf="f.localStorageSize.errors.min">Local Storage Size must be greater than or equal to 1</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="form-group col-md-4">
          <label for="sanType">SAN Type</label>
          <select formControlName="sanType" id="sanType" class="form-control" [class.is-invalid]="submitted && f.sanType.errors" required>
            <option></option>
            <option *ngFor="let opt of ['iSCSI', 'NFS']">
              {{ opt }}
            </option>
          </select>
          <div *ngIf="submitted && f.sanType.errors" class="invalid-feedback">
            <div *ngIf="f.sanType.errors.required">SAN Type is required</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="sanRequired">SAN Required?</label>
          <select
            formControlName="sanRequired"
            id="sanRequired"
            class="form-control"
            [class.is-invalid]="submitted && f.sanRequired.errors"
            required
          >
            <option></option>
            <option *ngFor="let opt of [true, false]">
              {{ opt }}
            </option>
          </select>
          <div *ngIf="submitted && f.sanRequired.errors" class="invalid-feedback">
            <div *ngIf="f.sanRequired.errors.required">SAN Required is required</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="sanStorageSize">SAN Storage Size (GB)</label>
          <input
            type="number"
            formControlName="sanStorageSize"
            id="sanStorageSize"
            class="form-control"
            [class.is-invalid]="submitted && f.sanStorageSize.errors"
            required
            min="1"
          />
          <div *ngIf="submitted && f.sanStorageSize.errors" class="invalid-feedback">
            <div *ngIf="f.sanStorageSize.errors.required">SAN Storage Size is required</div>
            <div *ngIf="f.sanStorageSize.errors.min">SAN Storage Size must be greater than or equal to 1</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="form-group col-md-6">
          <label for="powerSupplyVoltage">Power Supply Voltage</label>
          <input
            type="number"
            formControlName="powerSupplyVoltage"
            id="powerSupplyVoltage"
            class="form-control"
            [class.is-invalid]="submitted && f.powerSupplyVoltage.errors"
            required
            min="1"
          />
          <div *ngIf="submitted && f.powerSupplyVoltage.errors" class="invalid-feedback">
            <div *ngIf="f.powerSupplyVoltage.errors.required">Power Supply Voltage is required</div>
            <div *ngIf="f.powerSupplyVoltage.errors.min">Power Supply Voltage must be greater than or equal to 1</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="powerSupplyWattage">Power Supply Wattage</label>
          <input
            type="number"
            formControlName="powerSupplyWattage"
            id="powerSupplyWattage"
            class="form-control"
            [class.is-invalid]="submitted && f.powerSupplyWattage.errors"
            required
            min="1"
          />
          <div *ngIf="submitted && f.powerSupplyWattage.errors" class="invalid-feedback">
            <div *ngIf="f.powerSupplyWattage.errors.required">Power Supply Wattage is required</div>
            <div *ngIf="f.powerSupplyWattage.errors.min">Power Supply Wattage must be greater than or equal to 1</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="powerSupplyConnectionType">Power Supply Connection Type</label>
          <select
            formControlName="powerSupplyConnectionType"
            id="powerSupplyConnectionType"
            class="form-control"
            [class.is-invalid]="submitted && f.powerSupplyConnectionType.errors"
            required
          >
            <option></option>
            <option *ngFor="let opt of ['NEMA-5-15P', 'C-13', 'C-19']">
              {{ opt }}
            </option>
          </select>
          <div *ngIf="submitted && f.powerSupplyConnectionType.errors" class="invalid-feedback">
            <div *ngIf="f.powerSupplyConnectionType.errors.required">Power Supply Connection Type is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="powerSupplyCount">Power Supply Count</label>
          <input
            type="number"
            formControlName="powerSupplyCount"
            id="powerSupplyCount"
            class="form-control"
            [class.is-invalid]="submitted && f.powerSupplyCount.errors"
            required
            min="1"
          />
          <div *ngIf="submitted && f.powerSupplyCount.errors" class="invalid-feedback">
            <div *ngIf="f.powerSupplyCount.errors.required">Power Supply Count is required</div>
            <div *ngIf="f.powerSupplyCount.errors.min">Power Supply Count must be greater than or equal to 1</div>
          </div>
        </div>
      </div>

      <div *ngIf="this.ModalMode === 'Edit'">
        <hr />

        <div class="form-group">
          <label>Network Ports</label>

          <!-- Add Network Port -->
          <section class="btn-toolbar" role="toolbar">
            <button type="button" name="modalVirtualDisk" class="btn btn-info" (click)="openAddNetworkPortModal()">
              <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
              <span>Add Network Port</span>
            </button>
          </section>

          <table class="table table-striped">
            <caption>
              <fa-icon class="icon" [icon]="['fas', 'table']"></fa-icon>
              <span>Network Ports on this Appliance</span>
            </caption>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of networkPorts">
                <td>{{ n.name }}</td>
                <td class="table__actions">
                  <app-icon-button
                    *ngIf="n?.deletedAt"
                    icon="undo"
                    label="Restore Network Port"
                    type="success"
                    (handleClick)="restoreNetworkPort(n)"
                  ></app-icon-button>

                  <app-icon-button
                    icon="delete"
                    label="Soft-Delete/Delete Network Port"
                    [type]="n?.deletedAt ? 'danger' : 'default'"
                    (handleClick)="deleteNetworkPort(n)"
                  ></app-icon-button>
                </td>
              </tr>
              <tr *ngIf="!networkPorts?.length" class="text-center">
                <td colspan="2">No Network Ports</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
