<header class="modal-header">
  <h4 class="modal-title">Select vCenter</h4>
</header>

<main class="modal-body">
  <ng-template #selectVCenterToggleTemplate let-vcenter="datum">
    <input name="vcenter" [value]="vcenter.id" type="radio" [(ngModel)]="selectedVCenterId" aria-label="Select vCenter" />
  </ng-template>

  <app-table *ngIf="!isLoading" [config]="config" [data]="vCenters"></app-table>
  <ng-container *ngTemplateOutlet="isLoading ? loading : null; context: { title: 'Loading vCenters' }"></ng-container>
</main>

<footer class="modal-footer">
  <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onCancel()">
    Cancel
  </button>

  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="selectVCenter()" [disabled]="!selectedVCenterId">
    <span>Select vCenter</span>
  </button>
</footer>

<ng-template #loading let-title="title">
  <aside class="loading">
    <fa-icon class="icon" [icon]="['fas', 'spinner']" size="2x" [spin]="true"></fa-icon>
    <span>{{ title }}</span>
  </aside>
</ng-template>
