@import '../../../assets/styles/variables';

.vm--high-perf {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-left: 10px;
  padding: 2px 6px;
  background: white;
  color: $c-red-400;
  border: 1px solid $c-red-400;
  font-weight: bold;
  border-radius: 4px;

  span {
    margin-left: 4px;
  }
}
