<ngx-smart-modal #subnetModal identifier="subnetModal" [dismissable]="false" (onOpen)="getData()" (onClose)="reset()">
  <header class="modal-header">
    <h4 class="modal-title">Subnet</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
          <div *ngIf="f.description.errors.minlength">Description must be at least 3 characters.</div>
          <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="vlan">VLAN</label>
        <tooltip [message]="helpText?.Vlan"></tooltip>

        <ng-select
          formControlName="vlan"
          id="vlan"
          [ngClass]="{
            'is-invalid': submitted && f.vlan.errors
          }"
          aria-label="VLAN"
          [items]="vlans"
          bindLabel="name"
          bindValue="id"
        >
        </ng-select>

        <div *ngIf="submitted && f.vlan.errors" class="invalid-feedback">
          <div *ngIf="f.vlan.errors.required">VLAN is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="network">Network</label>
        <tooltip [message]="helpText?.Network"></tooltip>
        <input
          type="text"
          id="network"
          formControlName="network"
          class="form-control"
          [class.is-invalid]="submitted && f.network.errors"
          aria-label="Network"
        />
        <div *ngIf="submitted && f.network.errors" class="invalid-feedback">
          <div *ngIf="f.network.errors.required">
            Network is required
          </div>
          <div *ngIf="f.network.errors.invalidIpCidr">
            Invalid IP address, must be a valid IPv4/IPv6 CIDR.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="gateway">Gateway</label>
        <tooltip [message]="helpText?.Gateway"></tooltip>
        <input
          type="text"
          id="gateway"
          formControlName="gateway"
          class="form-control"
          [class.is-invalid]="submitted && f.gateway.errors"
          aria-label="Gateway"
        />
        <div *ngIf="submitted && f.gateway.errors" class="invalid-feedback">
          <div *ngIf="f.gateway.errors.required">
            Gateway is required
          </div>
          <div *ngIf="f.gateway.errors.invalidIpAddress">
            IP Address is invalid, must be a valid IPv4/IPv6 address.
          </div>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input type="checkbox" name="sharedBetweenVrfs" class="form-check-input" formControlName="sharedBetweenVrfs" aria-label="Shared Between Vrfs" />
          <label class="form-check-label" for="sharedBetweenVrfs">Shared between VRFs</label>
          <tooltip [message]="helpText.SharedBetweenVrfs"></tooltip>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save Subnet</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
