<div class="clearfix">
  <h1>Network: {{ subnet?.name }}</h1>

  <div class="btn-toolbar mb-2 pull-right" role="toolbar">
    <button
      class="btn btn-sm btn-danger"
      (click)="ngx.getModal('deleteSubnetModal').open()"
    >
      <fa name="trash"></fa>
      Delete Subnet
    </button>
  </div>
</div>

<div *ngIf="subnet">
  <p><strong>Network:</strong> {{ subnet?.network }}/{{ subnet?.mask_bits }}</p>
  <p><strong>Gateway:</strong> {{ subnet?.gateway }}</p>
  <p>
    <strong>Range:</strong> {{ subnet?.range_begin }} - {{ subnet?.range_end }}
  </p>
  <p><strong>Tier (VRF):</strong> {{ subnet?.vrf_group_name }}</p>
  <p><strong>Deployed:</strong> {{ getDeployedState(subnet) }}</p>
  <p><strong>VLAN:</strong> {{ getVlan(subnet) }}</p>
</div>

<hr />
<!-- <h3 class="mt-5">IP Addresses</h3> -->

<app-ipaddresses
  *ngIf="subnet"
  [subnetId]="subnet?.subnet_id"
></app-ipaddresses>

<ngx-smart-modal
  #deleteSubnetModal
  identifier="deleteSubnetModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Delete Subnet '{{ subnet?.name }}'?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="deleteSubnetConfirm = ''; deleteSubnetModal.close()"
    ></button>
  </div>

  <div class="modal-body text-center">
    <p>This will also delete all child objects associated with this subnet.</p>

    <h6 class="text-danger">
      DANGER: The subnet will be permanently deleted and deprovisioned.
    </h6>

    <p class="py-3">Type 'DELETE' and click 'Yes'</p>
    <input class="form-control" [(ngModel)]="deleteSubnetConfirm" />
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="deleteSubnetConfirm = ''; deleteSubnetModal.close()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-danger"
      data-dismiss="modal"
      (click)="deleteSubnet()"
      [disabled]="deleteSubnetConfirm !== 'DELETE'"
    >
      Yes
    </button>
  </div>
</ngx-smart-modal>
