<div class="text-center">
  <h3>Network: {{ subnet.name }}</h3>
  <p>{{ subnet.network }}/{{ subnet.mask_bits }}</p>
  <button
    class="btn btn-danger"
    (click)="ngx.getModal('deleteSubnetModal').open()"
  >
    Delete
  </button>
</div>

<h3>IP Addresses</h3>

<app-ipaddresses *ngIf="subnet" [subnetId]="subnet?.Id"></app-ipaddresses>

<ngx-smart-modal
  #deleteSubnetModal
  identifier="deleteSubnetModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Delete Subnet '{{ subnet.name }}'?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="deleteSubnetConfirm = ''; deleteSubnetModal.close()"
    ></button>
  </div>

  <div class="modal-body text-center">
    <p>This will also delete all child objects associated with this subnet.</p>

    <h6 class="text-danger">DANGER: The subnet will be permanently deleted and deprovisioned.</h6>

    <p class="py-3">Type 'DELETE' and click 'Yes'</p>
    <input class="form-control" [(ngModel)]="deleteSubnetConfirm" />
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="deleteSubnet()"
      [disabled]="deleteSubnetConfirm !== 'DELETE'"
    >
      Yes
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="deleteSubnetConfirm = ''; deleteSubnetModal.close()"
    >
      No
    </button>
  </div>
</ngx-smart-modal>
