<div class="text-center">
  <h3>Network: {{ subnet?.name }}</h3>
  <button
    class="btn btn-danger"
    (click)="ngx.getModal('deleteSubnetModal').open()"
  >
    Delete
  </button>
</div>

<div class="card mt-3">
  <div class="form-row text-center text-bold">
    <div class="form-group col-md-2">
      Network: {{ subnet?.network }}/{{ subnet.mask_bits }}
    </div>

    <div class="form-group col-md-2">
      Gateway: {{ subnet?.gateway }}
    </div>

    <div class="form-group col-md-2">
      Range: {{ subnet.range_begin }} - {{ subnet.range_end }}
    </div>
    <div class="form-group col-md-2">
      Tier (VRF): {{ subnet?.vrf_group_name }}
    </div>

    <div class="form-group col-md-2">
      Deployed: {{ getDeployedState(subnet) }}
    </div>

    <div class="form-group col-md-2">
      VLAN: {{ getVlan(subnet) }}
    </div>
  </div>
</div>

<h3>IP Addresses</h3>

<app-ipaddresses
  *ngIf="subnet"
  [subnetId]="subnet?.subnet_id"
></app-ipaddresses>

<ngx-smart-modal
  #deleteSubnetModal
  identifier="deleteSubnetModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Delete Subnet '{{ subnet?.name }}'?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="deleteSubnetConfirm = ''; deleteSubnetModal.close()"
    ></button>
  </div>

  <div class="modal-body text-center">
    <p>This will also delete all child objects associated with this subnet.</p>

    <h6 class="text-danger">
      DANGER: The subnet will be permanently deleted and deprovisioned.
    </h6>

    <p class="py-3">Type 'DELETE' and click 'Yes'</p>
    <input class="form-control" [(ngModel)]="deleteSubnetConfirm" />
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="deleteSubnet()"
      [disabled]="deleteSubnetConfirm !== 'DELETE'"
    >
      Yes
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="deleteSubnetConfirm = ''; deleteSubnetModal.close()"
    >
      No
    </button>
  </div>
</ngx-smart-modal>
