<div>
  <h1>Network Interfaces</h1>

  <div class="mt-3 mb-3">
    <div class="form-row pb-2">
      <span class="col-form-label mr-2">VRF</span>
      <select
        name="vrf"
        class="form-control col-md-3 mr-1"
        [(ngModel)]="currentVrf"
        (ngModelChange)="getVrfObjects(currentVrf)"
        [disabled]="dirty"
      >
        <option *ngFor="let vrf of vrfs" [ngValue]="vrf">{{ vrf.name }}</option>
      </select>

      <div class="button-group btn-group-sm ml-auto">
        <button
          type="button"
          class="btn btn-success mr-1"
          aria-label="Save Changes to Current VRF"
          (click)="saveAll()"
          [hidden]="!dirty"
        >
          <fa name="save"></fa>
          Save Changes to Current VRF
        </button>
        <button
          type="button"
          class="btn btn-danger mr-1"
          aria-label="Clear Changes to Current VRF"
          (click)="getVrfs()"
          [hidden]="!dirty"
        >
          <fa name="trash"></fa>
          Clear Changes to Current VRF
        </button>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="navIndex = 0">
      <a class="nav-link" [ngClass]="{ active: navIndex == 0 }"
        >Logical Interfaces</a
      >
    </li>
  </ul>

  <div *ngIf="navIndex == 0">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button
        type="button"
        class="btn btn-success btn-sm"
        (click)="createLogicalInterface()"
        aria-label="Create Logical Interface"
      >
        <fa name="plus"></fa>
        Create Logical Interface
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Native VLAN</th>
          <th scope="col">Tagged VLANs</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logicalInterface of LogicalInterfaces">
          <td>
            <span>{{ logicalInterface.Name }}</span>
          </td>
          <td>
            <span>{{ logicalInterface.NativeSubnet }}</span>
          </td>
          <td>
            <span>{{ logicalInterface.TaggedSubnets?.length }}</span>
          </td>
          <td class="item-actions">
            <fa name="pencil" (click)="editLogicalInterface(logicalInterface)">
            </fa>
            <fa name="trash" (click)="deleteLogicalInterface(logicalInterface)">
            </fa>
          </td>
        </tr>
        <tr *ngIf="!LogicalInterfaces?.length" class="text-center">
          <td colspan="6">No Logical Interfaces in this VRF</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="currentVrf" class="pull-right">
  <app-import-export
    [exportObject]="LogicalInterfaces"
    exportFileName="logicalInterfaces-{{ currentVrf.name }}"
    (import)="insertLogicalInterfaces($event)"
  ></app-import-export>
</div>

<app-logical-interface-modal></app-logical-interface-modal>
