<h1>Audit Log</h1>
<ng-container *ngIf="currentDatacenter; else warningMessage">
    <ng-container *ngIf="!isLoading; else loading">
        <app-table *ngIf="!showingAppCentricLogs" [config]="config" [data]="auditLogs" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)">
        </app-table>
        <app-table *ngIf="showingAppCentricLogs" [config]="appCentricConfig" [data]="auditLogs" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)">
        </app-table>
    </ng-container>

</ng-container>

<ng-template #entityAfterTemplate let-auditLog="datum">
    <div *ngIf="auditLog.entityAfter">
        <span (click)=openDetailedModal(auditLog) >{{ auditLog.entityAfter.name }}</span>
    </div>
    <div *ngIf="auditLog.entityBefore && !auditLog.entityAfter">
        <span (click)=openDetailedModal(auditLog) >{{ auditLog.entityBefore.name }}</span>
    </div>
    <div *ngIf="auditLog.entityAfter?.definition?.vrf_name">
        <span (click)=openDetailedModal(auditLog) >{{ auditLog.entityAfter.definition.vrf_name }}</span>
    </div>
</ng-template>

<ng-template #loading>
    <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-audit-log-view-modal [auditLog]="selectedAuditLog"></app-audit-log-view-modal>
<ng-template #warningMessage>
  <p>Select a Datacenter to display Audit Log details</p>
</ng-template>