<h1>Audit Log</h1>
@if (currentDatacenter) { @if (!isLoading) { @if (!showingAppCentricLogs) {
<app-table [config]="config" [data]="auditLogs" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"> </app-table>
} @if (showingAppCentricLogs) {
<app-table (tableEvent)="onAppCentricTableEvent($event)" [config]="appCentricConfig" [data]="auditLogs" [(itemsPerPage)]="perPage">
</app-table>
} } @else {
<fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
} } @else {
<p>Select a Datacenter to display Audit Log details</p>
}

<ng-template #entityAfterTemplate let-auditLog="datum">
  @if (auditLog.entityAfter) {
  <div>
    @if (auditLog.actionType === 'Update') {
    <span (click)="openDetailedModal(auditLog)">{{ auditLog.entityAfter.name }}</span>
    } @if (auditLog.actionType !== 'Update') {
    <div>{{ auditLog.entityAfter.name }}</div>
    }
  </div>
  } @if (auditLog.entityBefore && !auditLog.entityAfter) {
  <div>
    <div>{{ auditLog.entityBefore.name }}</div>
  </div>
  } @if (auditLog.entityAfter?.definition?.vrf_name) {
  <div>
    <span (click)="openDetailedModal(auditLog)">{{ auditLog.entityAfter.definition.vrf_name }}</span>
  </div>
  }
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-audit-log-view-modal [auditLog]="selectedAuditLog"></app-audit-log-view-modal>
<ng-template #warningMessage>
  <p>Select a Datacenter to display Audit Log details</p>
</ng-template>
