<h1>Audit Log</h1>

<!-- NetCentric Mode - Requires datacenter to be selected -->
<ng-container *ngIf="currentMode === auditLogMode.NETCENTRIC">
  <ng-container *ngIf="currentDatacenter; else warningMessage">
    <ng-container *ngIf="!isLoading; else loading">
      <app-table [config]="config" [data]="auditLogs" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"> </app-table>
    </ng-container>
  </ng-container>
</ng-container>

<!-- AppCentric Mode - Does not require datacenter -->
<ng-container *ngIf="currentMode === auditLogMode.APPCENTRIC">
  <ng-container *ngIf="!isLoading; else loading">
    <app-table [config]="appCentricConfig" [data]="auditLogs" [(itemsPerPage)]="perPage" (tableEvent)="onAppCentricTableEvent($event)">
    </app-table>
  </ng-container>
</ng-container>

<!-- TenantV2 Mode - Does not require datacenter -->
<ng-container *ngIf="currentMode === auditLogMode.TENANTV2">
  <ng-container *ngIf="!isLoading; else loading">
    <app-table [config]="tenantV2Config" [data]="auditLogs" [(itemsPerPage)]="perPage" (tableEvent)="onTenantV2TableEvent($event)">
    </app-table>
  </ng-container>
</ng-container>

<ng-template #entityAfterTemplate let-auditLog="datum">
  <div *ngIf="auditLog.entityAfter">
    <span *ngIf="auditLog.actionType === 'Update'" (click)="openDetailedModal(auditLog)">{{ auditLog.entityAfter.name }}</span>
    <div *ngIf="auditLog.actionType !== 'Update'">{{ auditLog.entityAfter.name }}</div>
  </div>
  <div *ngIf="auditLog.entityBefore && !auditLog.entityAfter">
    <div>{{ auditLog.entityBefore.name }}</div>
  </div>
  <div *ngIf="auditLog.entityAfter?.definition?.vrf_name">
    <span (click)="openDetailedModal(auditLog)">{{ auditLog.entityAfter.definition.vrf_name }}</span>
  </div>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-audit-log-view-modal [auditLog]="selectedAuditLog"></app-audit-log-view-modal>
<ng-template #warningMessage>
  <p>Select a Datacenter to display Audit Log details</p>
</ng-template>
