<ng-container>
  <section class="btn-toolbar" role="toolbar">
    <!-- Create Application Profile -->
    <button type="button" class="btn btn-success" (click)="openApplicationProfileModal(ModalMode.Create)">
      <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
      <span>Create Application Profile</span>
    </button>
  </section>

  @if (!isLoading) {
  <app-table
    [config]="config"
    [data]="applicationProfiles"
    (clearResults)="getApplicationProfiles($event)"
    (searchParams)="getApplicationProfiles($event)"
    [searchColumns]="searchColumns"
    [(itemsPerPage)]="perPage"
    (tableEvent)="onTableEvent($event)"
  ></app-table>
  <section class="btn-toolbar" role="toolbar">
    <app-import-export
      [exportObject]="applicationProfiles"
      exportFileName="applicationProfiles"
      [disableJson]="false"
      (import)="importAppProfiles($event)"
    ></app-import-export>
  </section>
  } @else {
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  }
</ng-container>

<ng-template #actionsTemplate let-applicationProfile="datum">
  <section class="table__actions">
    @if (!applicationProfile?.deletedAt) {
    <app-icon-button
      icon="edit"
      label="Edit Application Profile"
      (handleClick)="openApplicationProfileModal(ModalMode.Edit, applicationProfile)"
    ></app-icon-button>
    } @if (applicationProfile?.deletedAt) {
    <app-icon-button
      icon="undo"
      label="Restore Application Profile"
      type="success"
      (handleClick)="restoreApplicationProfile(applicationProfile)"
    ></app-icon-button>
    }
    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Application Profile"
      [type]="applicationProfile?.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteApplicationProfile(applicationProfile)"
    ></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-application-profile-modal [tenantId]="tenantId"></app-application-profile-modal>
<app-yes-no-modal></app-yes-no-modal>
