<div *ngIf="showWizard" class="form-row p-3">
  <div class="form-group col-md-4">
    <h2>Prepare <fa name="circle" style="color:darkorange"></fa></h2>

    <div>
      <h4 class="p1-1">
        <fa name="angle-down"></fa>Networking
        <fa name="circle" style="color:darkorange"></fa>
      </h4>
      <div>
        <h5 class="pl-2">
          <fa name="angle-down"></fa>Subnets
          <fa name="circle" style="color:green"></fa>
        </h5>
        <h6 class="pl-3">
          <fa name="angle-right"></fa>Example 1
          <fa name="circle" style="color:green"></fa>
        </h6>
        <h6 class="pl-3">
          <fa name="angle-right"></fa>Example 2
          <fa name="circle" style="color:green"></fa>
        </h6>
        <h6 class="pl-3">
          <fa name="angle-right"></fa>Example 3
          <fa name="circle" style="color:green"></fa>
        </h6>
      </div>
      <div>
        <h5 class="pl-2">
          <fa name="angle-right"></fa>Load Balancers
          <fa name="circle" style="color:green"></fa>
        </h5>
      </div>
      <div>
        <h5 class="pl-2">
          <fa name="angle-right"></fa>Firewall Rules
          <fa name="circle" style="color:darkorange"></fa>
        </h5>
      </div>
    </div>
    <div>
        <h4 class="pl-1">
          <fa name="angle-right"></fa> Data
          <fa name="circle" style="color:red"></fa>
        </h4>
      </div>
  </div>

  <div class="form-group col-md-4 text-center">
    <h2>Test <fa name="circle" style="color:red"></fa></h2>
    <div>
      <h4 class="p1-1">
        <fa name="angle-right"></fa>Automated Tests
        <fa name="circle" style="color:red"></fa>
      </h4>
    </div>
  </div>

  <div class="form-group col-md-4 text-center">
    <h2>Deploy <fa name="circle" style="color:red"></fa></h2>
    <div>
        <h4 class="p1-1">
          <fa name="angle-right"></fa>Deployment Readiness
          <fa name="circle" style="color:red"></fa>
        </h4>
      </div>
  </div>
</div>
