@import '../../../assets/styles/variables';

.card-header {
  border: none;
}

label {
  margin: 0;
  color: $c-gray-700;
}

%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after {
    background-color: $c-gray-100;
  }
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $multistep-success;
    font-size: 12px;

    &:before {
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: $multistep-success;
        radius: 50%;
      }
    }
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: $multistep-success;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.is-active {
      @extend %remain-steps;
      &:before {
        background-color: white;
        border-color: $multistep-success;
      }

      ~ li {
        color: $c-gray-400;
        @extend %remain-steps;
        &:before {
          background-color: $c-gray-100;
          border-color: $c-gray-100;
        }
      }
    }

    &.warning {
      color: $c-yellow-100;
      &:before {
        border-color: $c-yellow-100;
      }
      &:after {
        background-color: $c-yellow-100;
      }
    }

    &.danger {
      color: $c-red-400;
      &:before {
        border-color: $c-red-400;
      }
      &:after {
        background-color: $c-red-400;
      }
    }
  }
}
