<div class="form-row p-3">
  <div *ngFor="let wizardSection of WizardSections" class="form-group col-sm-12 col-md-12 col-lg-12 border-secondary mb-5">
    <div>
      <h2>
        {{ wizardSection.Name }}
      </h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="container-fluid mt-4">
          <ul class="list-unstyled multi-steps">
            <li [ngClass]="{ 'is-active': wizardSection.StatusText == 'Defining' }">
              Onboarding
            </li>
            <li
              [ngClass]="{
                'is-active': wizardSection.StatusText == 'ConfiguringDatacenter'
              }"
            >
              Configuring Datacenter
            </li>
            <li
              [ngClass]="{
                'is-active': wizardSection.StatusText == 'DataProtection'
              }"
            >
              Data Protection
            </li>
            <li
              [ngClass]="{
                'is-active': wizardSection.StatusText == 'DisasterRecovery'
              }"
            >
              Declaration and Recovery
            </li>
            <li [ngClass]="{ 'is-active': wizardSection.StatusText == 'Operational' }">
              Operational
            </li>
            <li [ngClass]="{ 'is-active': wizardSection.StatusText == 'Failback' }">
              Failback
            </li>
          </ul>
        </div>

        <div class="mb-2 card" *ngFor="let category of wizardSection.Categories">
          <div class="card-header">
            <label class="m-0">
              <fa name="{{ category?.Expanded ? 'chevron-down' : 'chevron-right' }}" (click)="category.Expanded = !category.Expanded"></fa>
              {{ category.Name }}</label
            >
          </div>

          <div *ngIf="category?.Expanded">
            <div class="p-2 pl-5" *ngFor="let subcategory of category.Subcategories">
              <label>
                <fa
                  name="{{ subcategory?.Expanded ? 'chevron-down' : 'chevron-right' }}"
                  (click)="subcategory.Expanded = !subcategory.Expanded"
                ></fa>

                {{ subcategory.Name }}
              </label>

              <div *ngIf="subcategory?.Expanded" class="mt-1">
                <div class="p-2 pl-5" *ngFor="let item of subcategory.Items">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>{{ item.Name }}</span>
                    <span class="pull-right">
                      <button
                        type="button"
                        class="btn btn-xs"
                        [ngClass]="{
                          'btn-success': item.Status === 'Completed',
                          'btn-info': item.Status === 'In Progress',
                          'btn-warning': item.Status === 'Not Started'
                        }"
                      >
                        {{ item.Status }}
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 card mb-2">
        <div class="row mb-3 mt-3">
          <div class="col-lg-12">
            <h4>Replication Not Completed</h4>
            <ngx-charts-pie-chart
              [view]="pieView"
              [scheme]="pieColorScheme"
              [results]="pieChartData"
              [legend]="pieShowLegend"
              [labels]="pieShowLabels"
            >
            </ngx-charts-pie-chart>
          </div>
          <div class="col-lg-12">
            <h4>Replication Queue Depth</h4>
            <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [yScaleMax]="yScaleMax"
              [timeline]="timeline"
              [results]="lineChartData"
            >
            </ngx-charts-line-chart>
          </div>
        </div>

        <table name="" class="table table-striped">
          <thead>
            <th>VOLSER</th>
            <th>CGX</th>
            <th>Storage Pool</th>
            <th>Status</th>
            <th>Timestamp</th>
          </thead>
          <tbody>
            <tr *ngFor="let replication of formattedReplicationData">
              <td>{{ replication.volser }}</td>
              <td>{{ replication.cgx }}</td>
              <td>{{ replication.storagePool }}</td>
              <td>{{ replication.status }}</td>
              <td>{{ replication.date }}</td>
            </tr>
            <tr *ngIf="!formattedReplicationData?.length" class="text-center">
              <td colspan="5">No replication data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr />
</div>
