<ngx-smart-modal
  #routeTableModal
  [dismissable]="false"
  customClass="medium-modal"
  identifier="routeTableModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">Route Tables</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="network">Network</label>
        <input
          type="text"
          id="network"
          formControlName="network"
          class="form-control"
          [class.is-invalid]="submitted && f.network.errors"
          aria-label="Network"
        />
        <div *ngIf="submitted && f.network.errors" class="invalid-feedback">
          <div *ngIf="f.network.errors.required">Network is required</div>
          <div *ngIf="f.network.errors.invalidIpCidr">Invalid Network address, must be a valid CIDR.</div>
          <div *ngIf="f.network.errors.invalidRouteTableIp">
            Invalid Network address, mus begin with 10.x.x.x, 158.73.x.x, or 192.168.x.x
          </div>
          <div *ngIf="f.network.errors.invalidHost">Invalid network id for subnet mask</div>
        </div>
      </div>

      <div class="form-group">
        <label for="prefixLength">Prefix Length</label>
        <input
          type="number"
          id="prefixLength"
          formControlName="prefixLength"
          class="form-control"
          [class.is-invalid]="submitted && f.prefixLength.errors"
          aria-label="Prefix Length"
        />
        <div *ngIf="submitted && f.prefixLength.errors" class="invalid-feedback">
          <div *ngIf="f.prefixLength.errors.required">Prefix Length is required.</div>
          <div *ngIf="f.prefixLength.errors.min">Prefix Length must be greater than 0.</div>
          <div *ngIf="f.prefixLength.errors.max">Prefix Length must be less than 32.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="metric">Metric</label>
        <input
          type="number"
          id="metric"
          formControlName="metric"
          class="form-control"
          [class.is-invalid]="submitted && f.metric.errors"
          aria-label="Metric"
        />
        <div *ngIf="submitted && f.metric.errors" class="invalid-feedback">
          <div *ngIf="f.metric.errors.required">Metric is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="vrf">VRF / Zone</label>
        <select
          id="vrf"
          formControlName="vrf"
          class="form-control"
          [class.is-invalid]="submitted && f.vrf.errors"
          aria-label="Policy Control Enforced"
        >
          <option></option>
          <option value="appprod">appprod (vpn_app_unix)</option>
          <option value="appdev">appdev (vpn_app_unix_imp)</option>
          <option value="dataprod">dataprod (vpn_data_unix)</option>
          <option value="datadev">appprod (vpn_data_unix_imp)</option>
          <option value="edcmgmt">edcmgmt (vpn_edc_mgmt)</option>
          <option value="transport">Transport</option>
        </select>
        <div *ngIf="submitted && f.vrf.errors" class="invalid-feedback">
          <div *ngIf="f.vrf.errors.required">VRF/Zone is required</div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
