<div>
  <h1 class="mb-3">Deploy</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: tabIndex === 0 }"
        (click)="tabIndex = 0"
        >Networks</a
      >
    </li>
  </ul>
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Address Range</th>
          <th scope="col">Firewall Rules</th>
          <th scope="col">Static Routes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subnet of subnets">
          <td>
            <a href="/networks/edit/{{ subnet.subnet_id }}">{{
              subnet.name
            }}</a>
          </td>
          <td>{{ subnet.network }}/{{ subnet.mask_bits }}</td>
          <td>{{ getPropertyLength(subnet, "firewall_rules") }}</td>
          <td>{{ getPropertyLength(subnet, "static_routes") }}</td>
        </tr>
        <tr *ngIf="!subnets?.length" class="text-center">
          <td colspan="5">No Subnets to Deploy</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button
    class="btn btn-danger"
    (click)="deployNetwork()"
    *ngIf="subnets.length"
  >
    Deploy Networks
  </button>
</div>
