<div>
  <h3 class="mb-3">Deploy</h3>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: navIndex === 0 }">Tiers</a>
    </li>
  </ul>

  <div *ngIf="navIndex == 0">
    <table class="table table-striped" aria-describedby="Deploy table">
      <thead>
        <tr>
          <th scope="col">Deploy</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Tier Group</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tier of tiers">
          <td>
            <input type="checkbox" [(ngModel)]="tier.isSelected" />
          </td>
          <td>
            {{ tier?.item?.name }}
          </td>
          <td>
            {{ tier?.item?.tierType }}
          </td>
          <td>
            {{ tier?.item?.tierGroupId | resolve: getTierGroupName }}
          </td>
          <td>
            {{ tier?.item?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}
          </td>
        </tr>
        <tr *ngIf="!tiers?.length" class="text-center">
          <td colspan="5">No Tiers to Provision</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-danger pull-right" (click)="deployTiers()">
      Deploy Selected Tiers
    </button>
  </div>
</div>

<app-yes-no-modal></app-yes-no-modal>
