<div *ngIf="isLoading" class="text-center mt-5">
  <p>Loading Request Details...</p>
</div>

<div *ngIf="!isLoading && routeControlRequest">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h3>Route Control Request for Tenant: {{ routeControlChanges.tenantName || 'N/A' }}</h3>
      <button class="btn btn-link" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back to Requests
      </button>
    </div>
    <div>
      <button class="btn btn-success mr-2" (click)="approveRequest()">Approve</button>
      <button class="btn btn-danger" (click)="rejectRequest()">Reject</button>
    </div>
  </div>

  <mat-accordion *ngIf="groupedChanges && groupedChanges.length > 0">
    <mat-expansion-panel *ngFor="let change of groupedChanges">
      <mat-expansion-panel-header>
        <mat-panel-title>
          External VRF Connection:&nbsp;<strong>{{ resolveGroupExternalVrfName(change) }}</strong>
        </mat-panel-title>
        <mat-panel-description> Click to view changes </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Internal Additions -->
      <div *ngIf="change.internalAdditions && change.internalAdditions.length > 0">
        <h4>Internal Route Additions</h4>
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="table-scroll-container">
              <table mat-table [dataSource]="change.internalAdditions" class="mat-elevation-z1 w-100">
                <!-- Dynamic column definitions -->
                <ng-container *ngFor="let col of getColumnsFor(change.internalAdditions); trackBy: trackByColumn" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                  <td mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="col">
                      <a
                        *ngSwitchCase="'appcentricSubnetId'"
                        href="javascript:void(0)"
                        (click)="openSubnetDetails(row.appcentricSubnetId)"
                        >{{ row.appcentricSubnetId }}</a
                      >
                      <a
                        *ngSwitchCase="'externalVrfConnectionId'"
                        href="javascript:void(0)"
                        (click)="openExternalVrfConnectionDetails(row.externalVrfConnectionId)"
                        >{{ resolveExternalVrfName(row.externalVrfConnectionId) }}</a
                      >
                      <span *ngSwitchDefault>{{ formatCellValue(getCellValue(row, col)) }}</span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getColumnsFor(change.internalAdditions)"></tr>
                <tr mat-row *matRowDef="let row; columns: getColumnsFor(change.internalAdditions)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- External Additions -->
      <div *ngIf="change.externalAdditions && change.externalAdditions.length > 0">
        <h4>External Route Additions</h4>
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="table-scroll-container">
              <table mat-table [dataSource]="change.externalAdditions" class="mat-elevation-z1 w-100">
                <ng-container *ngFor="let col of getColumnsFor(change.externalAdditions); trackBy: trackByColumn" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                  <td mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="col">
                      <a
                        *ngSwitchCase="'externalVrfConnectionId'"
                        href="javascript:void(0)"
                        (click)="openExternalVrfConnectionDetails(row.externalVrfConnectionId)"
                        >{{ resolveExternalVrfName(row.externalVrfConnectionId) }}</a
                      >
                      <a
                        *ngSwitchCase="'globalExternalRouteId'"
                        href="javascript:void(0)"
                        (click)="openGlobalExternalRouteDetails(row.globalExternalRouteId)"
                        >{{ row.globalExternalRouteId }}</a
                      >
                      <span *ngSwitchDefault>{{ formatCellValue(getCellValue(row, col)) }}</span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getColumnsFor(change.externalAdditions)"></tr>
                <tr mat-row *matRowDef="let row; columns: getColumnsFor(change.externalAdditions)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Internal Modifications -->
      <div *ngIf="change.internalModifications && change.internalModifications.length > 0">
        <h4>Internal Route Modifications</h4>
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="table-scroll-container">
              <table mat-table [dataSource]="change.internalModifications" class="mat-elevation-z1 w-100">
                <ng-container *ngFor="let col of getColumnsFor(change.internalModifications); trackBy: trackByColumn" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                  <td mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="col">
                      <a
                        *ngSwitchCase="'appcentricSubnetId'"
                        href="javascript:void(0)"
                        (click)="openSubnetDetails(row.appcentricSubnetId)"
                        >{{ row.appcentricSubnetId }}</a
                      >
                      <a
                        *ngSwitchCase="'externalVrfConnectionId'"
                        href="javascript:void(0)"
                        (click)="openExternalVrfConnectionDetails(row.externalVrfConnectionId)"
                        >{{ resolveExternalVrfName(row.externalVrfConnectionId) }}</a
                      >
                      <span *ngSwitchDefault>{{ formatCellValue(getCellValue(row, col)) }}</span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getColumnsFor(change.internalModifications)"></tr>
                <tr mat-row *matRowDef="let row; columns: getColumnsFor(change.internalModifications)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- External Modifications -->
      <div *ngIf="change.externalModifications && change.externalModifications.length > 0">
        <h4>External Route Modifications</h4>
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="table-scroll-container">
              <table mat-table [dataSource]="change.externalModifications" class="mat-elevation-z1 w-100">
                <ng-container *ngFor="let col of getColumnsFor(change.externalModifications); trackBy: trackByColumn" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                  <td mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="col">
                      <a
                        *ngSwitchCase="'externalVrfConnectionId'"
                        href="javascript:void(0)"
                        (click)="openExternalVrfConnectionDetails(row.externalVrfConnectionId)"
                        >{{ resolveExternalVrfName(row.externalVrfConnectionId) }}</a
                      >
                      <a
                        *ngSwitchCase="'globalExternalRouteId'"
                        href="javascript:void(0)"
                        (click)="openGlobalExternalRouteDetails(row.globalExternalRouteId)"
                        >{{ row.globalExternalRouteId }}</a
                      >
                      <span *ngSwitchDefault>{{ formatCellValue(getCellValue(row, col)) }}</span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getColumnsFor(change.externalModifications)"></tr>
                <tr mat-row *matRowDef="let row; columns: getColumnsFor(change.externalModifications)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Internal Deletions -->
      <div *ngIf="change.internalDeletions && change.internalDeletions.length > 0">
        <h4>Internal Route Deletions</h4>
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="table-scroll-container">
              <table mat-table [dataSource]="change.internalDeletions" class="mat-elevation-z1 w-100">
                <ng-container *ngFor="let col of getColumnsFor(change.internalDeletions); trackBy: trackByColumn" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                  <td mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="col">
                      <a
                        *ngSwitchCase="'appcentricSubnetId'"
                        href="javascript:void(0)"
                        (click)="openSubnetDetails(row.appcentricSubnetId)"
                        >{{ row.appcentricSubnetId }}</a
                      >
                      <a
                        *ngSwitchCase="'externalVrfConnectionId'"
                        href="javascript:void(0)"
                        (click)="openExternalVrfConnectionDetails(row.externalVrfConnectionId)"
                        >{{ row.externalVrfConnectionId }}</a
                      >
                      <span *ngSwitchDefault>{{ formatCellValue(getCellValue(row, col)) }}</span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getColumnsFor(change.internalDeletions)"></tr>
                <tr mat-row *matRowDef="let row; columns: getColumnsFor(change.internalDeletions)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- External Deletions -->
      <div *ngIf="change.externalDeletions && change.externalDeletions.length > 0">
        <h4>External Route Deletions</h4>
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <div class="table-scroll-container">
              <table mat-table [dataSource]="change.externalDeletions" class="mat-elevation-z1 w-100">
                <ng-container *ngFor="let col of getColumnsFor(change.externalDeletions); trackBy: trackByColumn" [matColumnDef]="col">
                  <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                  <td mat-cell *matCellDef="let row">
                    <ng-container [ngSwitch]="col">
                      <a
                        *ngSwitchCase="'externalVrfConnectionId'"
                        href="javascript:void(0)"
                        (click)="openExternalVrfConnectionDetails(row.externalVrfConnectionId)"
                        >{{ row.externalVrfConnectionId }}</a
                      >
                      <a
                        *ngSwitchCase="'globalExternalRouteId'"
                        href="javascript:void(0)"
                        (click)="openGlobalExternalRouteDetails(row.globalExternalRouteId)"
                        >{{ row.globalExternalRouteId }}</a
                      >
                      <span *ngSwitchDefault>{{ formatCellValue(getCellValue(row, col)) }}</span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getColumnsFor(change.externalDeletions)"></tr>
                <tr mat-row *matRowDef="let row; columns: getColumnsFor(change.externalDeletions)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="!groupedChanges || groupedChanges.length === 0" class="alert alert-info mt-4" role="alert">
    No pending changes found for this request.
  </div>
</div>

<app-yes-no-modal #yesNoModal></app-yes-no-modal>
