<ng-template #refreshButtonTemplate>
  <button
    (click)="refreshRuntimeData()"
    class="btn"
    [ngClass]="{ 'btn-success': isRecentlyRefreshed(), 'btn-secondary': !isRecentlyRefreshed() }"
    [disabled]="isRefreshingRuntimeData || isRecentlyRefreshed()"
  >
    <ng-container *ngIf="!isRefreshingRuntimeData && !isRecentlyRefreshed()">Refresh</ng-container>
    <ng-container *ngIf="isRefreshingRuntimeData">
      <fa-icon class="icon" [icon]="['fas', 'spinner']" [animation]="true ? 'spin' : undefined"></fa-icon>
      Refreshing...
    </ng-container>
    <ng-container *ngIf="isRecentlyRefreshed() && !isRefreshingRuntimeData">Refreshed</ng-container>
  </button>
</ng-template>

<button aria-label="navigate-to-wan-form" class="btn float-left mr-3" (click)="navigateToWanForm()">
  <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
</button>
<h1>Manage Allowed External Routes for: {{ wanForm?.name }}</h1>

<div *ngIf="!showComponent" class="mt-3">
  <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
    <div>
      <fa-icon class="icon" [icon]="['fas', 'info-circle']"></fa-icon>
      <span>Please refresh allowed external routes to continue.</span>
    </div>
    <ng-container *ngTemplateOutlet="refreshButtonTemplate"></ng-container>
  </div>
</div>
<div *ngIf="showComponent">
  <section class="btn-toolbar" role="toolbar" aria-label="create-external-route">
    <button class="btn btn-primary" (click)="openModal()">
      <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
      <span>Create External Route</span>
    </button>
    <ng-container *ngTemplateOutlet="refreshButtonTemplate"></ng-container>
  </section>
  <input
    type="text"
    class="search-input ml-1 mb-1"
    placeholder="Search..."
    aria-label="Search"
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
  />
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Network</th>
          <th>Prefix Length</th>
          <th>Protocol</th>
          <th>Metric</th>
          <th>VRF</th>
          <th>Uptime</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="sortedRoutes.length > 0; else noData">
          <tr *ngFor="let route of sortedRoutes" [class.associated]="route.isAssociated">
            <td>{{ route.network }}</td>
            <td>{{ route.prefixLength }}</td>
            <td>{{ route.protocol }}</td>
            <td>{{ route.metric }}</td>
            <td>{{ route.vrf }}</td>
            <td>{{ route.uptime || '-' }}</td>
            <td>
              <app-icon-button
                *ngIf="!checkIfWanFormExists(route)"
                icon="add"
                label="Add Route to Wan Form"
                (handleClick)="addRouteToWanForm(route)"
              ></app-icon-button>
              <app-icon-button
                *ngIf="checkIfWanFormExists(route)"
                icon="times"
                label="Remove Route from Wan Form"
                (handleClick)="removeRouteFromWanForm(route)"
              ></app-icon-button>
              <app-icon-button
                *ngIf="route?.protocol === 'manual' && !checkIfWanFormExists(route)"
                icon="delete"
                label="Delete Route"
                (handleClick)="deleteRoute(route)"
              ></app-icon-button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="7" class="text-center">No routes available</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<app-external-route-modal></app-external-route-modal>
