<h1 class="mb-3">CDOM: {{ Cdom?.name }}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item" (click)="navIndex = 0">
    <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Summary</a>
  </li>
  <li class="nav-item" (click)="navIndex = 1">
    <a class="nav-link" [ngClass]="{ active: navIndex == 1 }">LDOMs</a>
  </li>
  <li class="nav-item" (click)="navIndex = 2">
    <a class="nav-link" [ngClass]="{ active: navIndex == 2 }"
      >Virtual Switches</a
    >
  </li>
</ul>

<div *ngIf="navIndex == 0">
  <div class="p-3">
    <p>
      <strong>vCPU: </strong>
      {{ CdomMetadata?.vcpu }}
    </p>
    <p>
      <strong>Memory: </strong>
      {{ CdomMetadata?.memory }}
    </p>
    <p>
      <strong>VCC Name/Ports: </strong>
      {{ CdomMetadata?.vccname }} - {{ CdomMetadata?.vccports }}
    </p>
  </div>
</div>

<div *ngIf="navIndex == 1">
  <div class="p-3">
    <app-ldom-list *ngIf="Cdom" [CdomName]="Cdom?.name"></app-ldom-list>
  </div>
</div>

<div *ngIf="navIndex == 2">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Net Device</th>
          <th scope="col">Untagged VLAN</th>
          <th scope="col">Tagged VLANs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vsw of CdomMetadata.vsw">
          <td>
            <span>{{ vsw?.vSwitchName }}</span>
          </td>
          <td>
            <span>{{ vsw?.netDevice }}</span>
          </td>
          <td>
            <span>{{ vsw?.vlansUntagged }}</span>
          </td>
          <td>
            <span>{{ vsw?.vlansTagged }}</span>
          </td>
        </tr>
        <tr *ngIf="!CdomMetadata.vsw?.length" class="text-center">
          <td colspan="4">No Virtual Switches</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
