<h1 class="mb-3">CDOM: {{ Cdom?.name }}</h1>
<!--TODO: Fix Button Layout-->
<button class="btn btn-danger" (click)="ngxSm.getModal('deleteCdomModal').open()">
  Delete CDOM
</button>
<ul class="nav nav-tabs">
  <li class="nav-item" (click)="navIndex = 0">
    <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Summary</a>
  </li>
  <li class="nav-item" (click)="navIndex = 1">
    <a class="nav-link" [ngClass]="{ active: navIndex == 1 }">LDOMs</a>
  </li>
  <li class="nav-item" (click)="navIndex = 2">
    <a class="nav-link" [ngClass]="{ active: navIndex == 2 }"
      >Virtual Switches</a
    >
  </li>
</ul>

<div *ngIf="navIndex == 0">
  <div class="p-3">
    <p>
      <strong>vCPU: </strong>
      {{ CdomMetadata?.vcpu }}
    </p>
    <p>
      <strong>Memory: </strong>
      {{ CdomMetadata?.memory }}
    </p>
    <p>
      <strong>VCC Name/Ports: </strong>
      {{ CdomMetadata?.vccname }} - {{ CdomMetadata?.vccports }}
    </p>
  </div>
</div>

<div *ngIf="navIndex == 1">
  <div class="p-3">
    <app-ldom-list *ngIf="Cdom" [CdomName]="Cdom?.name"></app-ldom-list>
  </div>
</div>

<div *ngIf="navIndex == 2">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Net Device</th>
          <th scope="col">Untagged VLAN</th>
          <th scope="col">Tagged VLANs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vsw of CdomMetadata.vsw">
          <td>
            <span>{{ vsw?.vSwitchName }}</span>
          </td>
          <td>
            <span>{{ vsw?.netDevice }}</span>
          </td>
          <td>
            <span>{{ vsw?.vlansUntagged }}</span>
          </td>
          <td>
            <span>{{ vsw?.vlansTagged }}</span>
          </td>
        </tr>
        <tr *ngIf="!CdomMetadata.vsw?.length" class="text-center">
          <td colspan="4">No Virtual Switches</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ngx-smart-modal
  #deleteCdomModal
  identifier="deleteCdomModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Delete CDOM?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="deleteCdomConfirm = ''; deleteCdomModal.close()"
    ></button>
  </div>

  <div class="modal-body text-center">
    <p>This will also delete all child objects associated with this CDOM.</p>

    <h6 class="text-danger">
      DANGER: The CDOM will be permanently deleted and deprovisioned.
    </h6>

    <p class="py-3">Type 'DELETE' and click 'Yes'</p>
    <input class="form-control" [(ngModel)]="deleteCdomConfirm" />
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="deleteCdom()"
      [disabled]="deleteCdomConfirm !== 'DELETE'"
    >
      Yes
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="deleteCdomConfirm = ''; deleteCdomModal.close()"
    >
      No
    </button>
  </div>
</ngx-smart-modal>
