<ngx-smart-modal
  #serviceObjectModal
  identifier="serviceObjectModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <div class="modal-header">
    <h4 class="modal-title">Service Object</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-group">
        <label for="protocol">Type</label>
        <tooltip [message]="helpText.Type"></tooltip>
        <select
          name="protocol"
          formControlName="protocol"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.protocol.errors }"
          aria-label="Type"
        >
          <option></option>
          <option value="TCP">TCP</option>
          <option value="UDP">UDP</option>
        </select>
        <div *ngIf="submitted && f.protocol.errors" class="invalid-feedback">
          <div *ngIf="f.protocol.errors.required">Type is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Source Port/Port Range</label>
        <tooltip [message]="helpText.Port"></tooltip>
        <input
          type="text"
          name="name"
          formControlName="sourcePorts"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.sourcePorts.errors }"
          aria-label="Source Port"
        />
        <div *ngIf="submitted && f.sourcePorts.errors" class="invalid-feedback">
          <div *ngIf="f.sourcePorts.errors.required">
            Source Port/Range required.
          </div>
          <div *ngIf="f.sourcePorts.errors.validPortNumber">
            Source Port/Range values must be greater than 0 and less than or
            equal to 65535.
          </div>
          <div *ngIf="f.sourcePorts.errors.validPortRange">
            Source Port Range is invalid.
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="name">Destination Port/Port Range</label>
          <tooltip [message]="helpText.Port"></tooltip>
          <input
            type="text"
            name="name"
            formControlName="destinationPorts"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.destinationPorts.errors }"
            aria-label="Destination Port"
          />
          <div *ngIf="submitted && f.destinationPorts.errors" class="invalid-feedback">
            <div *ngIf="f.destinationPorts.errors.required">
                  Destination Port/Range required.
            </div>
            <div *ngIf="f.destinationPorts.errors.validPortNumber">
              Destination Port/Range values must be greater than 0 and less than or equal to 65535.
            </div>
            <div *ngIf="f.destinationPorts.errors.validPortRange">
              Destination Port Range is invalid.
            </div>
          </div>
        </div>
    </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
    </div>
  </form>
</ngx-smart-modal>
