<ngx-smart-modal
  [dismissable]="false"
  #selfServiceArtifactReviewModal
  identifier="selfServiceArtifactReviewModal"
  customClass="xlarge-modal"
  (onClose)="onClose()"
>
  <header class="modal-header">
    <h4 class="modal-title">{{ selfService?.id }} - Managed Network Migration Review</h4>
  </header>

  <main class="modal-body">
    <app-import-export
      [exportObject]="selfService"
      exportFileName="selfService"
      [disableCsv]="true"
      [disableImport]="true"
    ></app-import-export>
    @if (selfService) {
    <app-tabs [tabs]="tabs" (tabChange)="handleTabChange($event)"></app-tabs>
    @if (!loadingTabObjects) {
    <app-table [config]="config" [data]="selectedObjects"></app-table>
    } @else {
    <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    } }
  </main>
</ngx-smart-modal>

<ng-template #lineNumberTemplate let-selectedObject="datum">
  <span>
    {{ selectedObject?.info?.line_number }}
  </span>
  <span>
    {{ selectedObject?.path }}
  </span>

  @if (!selectedObject.info && !selectedObject.path) {
  <span>
    {{ selectedObject }}
  </span>
  }
</ng-template>

<ng-template #errorsTemplate let-selectedObject="datum">
  <ul>
    @for (warning of selectedObject.warnings; track warning) {
    <li>
      {{ warning }}
    </li>
    }
  </ul>
</ng-template>

<ng-template #loadingObjects>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>
