<a routerLink="/netcentric/firewall-rules" queryParamsHandling="merge" class="btn btn-info">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>{{ TierName }} - {{ FirewallRuleGroup?.name }} FW Rules</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Add Firewall Rule -->
  <button type="button" class="btn btn-success" (click)="createFirewallRule()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Add Firewall Rule</span>
  </button>

  <!-- Refresh -->
  <button type="button" class="btn btn-info" (click)="refresh()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>

  @if (FirewallRuleGroup?.type === 'Intervrf' || FirewallRuleGroup?.type === 'External') {
  <button class="btn btn-info" (click)="openPacketTracer()">Packet Tracer</button>
  }
</section>

@if (!isLoading) {
<app-table
  [config]="config"
  [data]="firewallRules"
  (clearResults)="getFirewallRules($event)"
  (searchParams)="getFirewallRules($event)"
  [searchColumns]="searchColumns"
  [(itemsPerPage)]="perPage"
  (tableEvent)="onTableEvent($event)"
></app-table>
} @else {
<fa-icon class="icon" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
}

<ng-template #actionsTemplate let-firewallRule="datum">
  <section class="table__actions">
    @if (checkUndeployedChanges(firewallRule)) {
    <app-icon-button icon="asterisk" label="Undeployed Changes" [type]="'info'"></app-icon-button>
    } @if (!firewallRule?.deletedAt && FirewallRuleGroup?.type !== 'ZoneBased') {
    <app-icon-button
      icon="clone"
      label="Move/Clone Firewall Rule"
      (handleClick)="openFirewallRuleOperationModal(firewallRule)"
    ></app-icon-button>
    } @if (!firewallRule?.deletedAt) {
    <app-icon-button
      icon="edit"
      label="Edit Firewall Rule"
      (handleClick)="openFirewallRuleModal(ModalMode.Edit, firewallRule)"
    ></app-icon-button>
    } @if (firewallRule?.deletedAt) {
    <app-icon-button
      icon="undo"
      label="Restore Firewall Rule"
      type="success"
      (handleClick)="restoreFirewallRule(firewallRule)"
    ></app-icon-button>
    }

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Firewall Rule"
      [type]="firewallRule.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteFirewallRule(firewallRule)"
    >
    </app-icon-button>
  </section>
</ng-template>

<section class="btn-toolbar" role="toolbar">
  <app-import-export
    [exportObject]="firewallRules"
    exportFileName="firewallRules-{{ TierName }}-{{ FirewallRuleGroup?.name }}"
    (import)="importFirewallRulesConfig($event)"
    [disableJson]="false"
  ></app-import-export>
</section>

<app-firewall-rule-modal></app-firewall-rule-modal>
<app-yes-no-modal></app-yes-no-modal>
<app-preview-modal></app-preview-modal>

<app-firewall-rule-object-info-modal></app-firewall-rule-object-info-modal>

<!-- source address template -->
<ng-template #sourceAddress let-firewallRule="datum">
  @if (firewallRule.sourceAddressType === 'IpAddress') {
  <p aria-label="Source IP">
    {{ firewallRule?.sourceIpAddress }}
  </p>
  } @if (firewallRule.sourceAddressType === 'NetworkObject') {
  <p
    (click)="getObjectInfo('Source NetworkObject', firewallRule.sourceAddressType, firewallRule.sourceNetworkObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Source Network Object"
  >
    {{ firewallRule?.sourceNetworkObjectId | resolve : getNetworkObjectName }}
    (Object)
  </p>
  } @if (firewallRule.sourceAddressType === 'NetworkObjectGroup') {
  <p
    (click)="getObjectInfo('Source NetworkObjectGroup', firewallRule.sourceAddressType, firewallRule.sourceNetworkObjectGroupId)"
    style="color: blue; cursor: pointer"
    aria-label="Source Network Object Group"
  >
    {{ firewallRule?.sourceNetworkObjectGroupId | resolve : getNetworkObjectGroupName }}
    (Object Group)
  </p>
  }
</ng-template>

<!-- destination address template -->
<ng-template #destinationAddress let-firewallRule="datum">
  @if (firewallRule.destinationAddressType === 'IpAddress') {
  <p aria-label="Destination IP">
    {{ firewallRule?.destinationIpAddress }}
  </p>
  } @if (firewallRule.destinationAddressType === 'NetworkObject') {
  <p
    (click)="getObjectInfo('Destination NetworkObject', firewallRule.destinationAddressType, firewallRule.destinationNetworkObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Destination Network Object"
  >
    {{ firewallRule?.destinationNetworkObjectId | resolve : getNetworkObjectName }}
    (Object)
  </p>
  } @if (firewallRule.destinationAddressType === 'NetworkObjectGroup') {
  <p
    (click)="
      getObjectInfo('Destination NetworkObjectGroup', firewallRule.destinationAddressType, firewallRule.destinationNetworkObjectGroupId)
    "
    style="color: blue; cursor: pointer"
    aria-label="Destination Network Object Group"
  >
    {{ firewallRule?.destinationNetworkObjectGroupId | resolve : getNetworkObjectGroupName }}
    (Object Group)
  </p>
  }
</ng-template>

<!-- service type template -->
<ng-template #serviceType let-firewallRule="datum">
  @if (firewallRule.serviceType === 'Port') {
  <p aria-label="Source/Destination Ports">
    Source Ports: {{ firewallRule?.sourcePorts }} - Destination Ports: {{ firewallRule?.destinationPorts }}
  </p>
  } @if (firewallRule.serviceType === 'ServiceObject') {
  <p
    (click)="getObjectInfo('Service Object', firewallRule.serviceType, firewallRule.serviceObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Service Object"
  >
    {{ firewallRule?.serviceObjectId | resolve : getServiceObjectName }} (Object)
  </p>
  } @if (firewallRule.serviceType === 'ServiceObjectGroup') {
  <p
    (click)="getObjectInfo('Service Object Group', firewallRule.serviceType, firewallRule.serviceObjectGroupId)"
    style="color: blue; cursor: pointer"
    aria-label="Service Object Group"
  >
    {{ firewallRule?.serviceObjectGroupId | resolve : getServiceObjectGroupName }} (Object Group)
  </p>
  }
</ng-template>

<!-- to/from zone/direction template -->
<ng-template #directionZone let-firewallRule="datum">
  @if (FirewallRuleGroup?.type === 'Intervrf' || FirewallRuleGroup?.type === 'External') {
  <p aria-label="Direction">
    {{ firewallRule?.direction }}
  </p>
  } @if (FirewallRuleGroup?.type === 'ZoneBased') {
  <p aria-label="From Zone">From: {{ getZoneNames(firewallRule.fromZone) }}</p>
  } @if (FirewallRuleGroup?.type === 'ZoneBased') {
  <p aria-label="To Zone">To: {{ getZoneNames(firewallRule.toZone) }}</p>
  }
</ng-template>

<app-firewall-rule-packet-tracer [objects]="packetTracerObjects"></app-firewall-rule-packet-tracer>

<app-firewall-rules-operation-modal
  (emitGetRuleGroup)="getFirewallRuleGroup()"
  [networkObjects]="networkObjects"
  [networkObjectGroups]="networkObjectGroups"
  [serviceObjects]="serviceObjects"
  [serviceObjectGroups]="serviceObjectGroups"
></app-firewall-rules-operation-modal>

<ng-template #expandableRowsTemplate let-firewallRule="datum">
  <div class="hitcount-container">
    <div class="hitcount-display">
      <strong>Hit Count:&nbsp;</strong>
      <span>{{ firewallRule.hitCount === null ? '-' : firewallRule.hitCount }}</span>
    </div>

    <div class="last-refreshed">
      <strong>Last Refreshed:&nbsp;</strong>
      <span>
        {{ FirewallRuleGroup.runtimeDataLastRefreshed ? calculateTimeDifference(FirewallRuleGroup.runtimeDataLastRefreshed) : '-' }}
      </span>
    </div>

    <button
      (click)="refreshHitcount()"
      class="refresh-button"
      [ngClass]="{ 'green-button': isRecentlyRefreshed() }"
      [disabled]="isRefreshingRuntimeData || isRecentlyRefreshed()"
    >
      @if (!isRefreshingRuntimeData && !isRecentlyRefreshed()) { Refresh Hitcount } @if (isRefreshingRuntimeData) {
      <fa-icon class="icon" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
      Refreshing... } @if (isRecentlyRefreshed() && !isRefreshingRuntimeData) { Refreshed }
    </button>
  </div>
</ng-template>
