<a routerLink="/netcentric/firewall-rules" queryParamsHandling="merge" class="btn btn-info">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>{{ TierName }} - {{ FirewallRuleGroup?.name }} FW Rules ({{firewallRules.total}} items)</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Add Firewall Rule -->
  <button type="button" class="btn btn-success" (click)="createFirewallRule()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Add Firewall Rule</span>
  </button>

  <!-- Refresh -->
  <button type="button" class="btn btn-info" (click)="refresh()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>
</section>

<ng-container *ngIf="!isLoading; else loading">
  <app-table [config]="config" [data]="firewallRules" (clearResults)="getFirewallRules($event)" (searchParams)="getFirewallRules($event)" [searchColumns]="searchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"></app-table>
</ng-container>

<ng-template #actionsTemplate let-firewallRule="datum">
  <section class="table__actions">
    <app-icon-button *ngIf="!firewallRule?.deletedAt" icon="edit" label="Edit Firewall Rule"
      (handleClick)="openFirewallRuleModal(ModalMode.Edit, firewallRule)"></app-icon-button>

    <app-icon-button *ngIf="firewallRule?.deletedAt" icon="undo" label="Restore Firewall Rule" type="success"
      (handleClick)="restoreFirewallRule(firewallRule)"></app-icon-button>

    <app-icon-button icon="delete" label="Soft-Delete/Delete Appliance"
      [type]="firewallRule.deletedAt ? 'danger' : 'default'" (handleClick)="deleteFirewallRule(firewallRule)">
    </app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<section class="btn-toolbar" role="toolbar">
  <app-import-export [exportObject]="firewallRules"
    exportFileName="firewallRules-{{ TierName }}-{{ FirewallRuleGroup?.name }}"
    (import)="importFirewallRulesConfig($event)" [disableJson]="false"></app-import-export>
</section>

<app-firewall-rule-modal></app-firewall-rule-modal>
<app-yes-no-modal></app-yes-no-modal>
<app-preview-modal></app-preview-modal>

<!-- source address template -->
<ng-template #sourceAddress let-firewallRule="datum">
  <p *ngIf="firewallRule.sourceAddressType === 'IpAddress'" aria-label="Source IP">
    {{ firewallRule?.sourceIpAddress }}
  </p>
  <p *ngIf="firewallRule.sourceAddressType === 'NetworkObject'" aria-label="Source Network Object">
    {{ firewallRule?.sourceNetworkObjectId | resolve: getNetworkObjectName }}
    (Object)
  </p>
  <p *ngIf="firewallRule.sourceAddressType === 'NetworkObjectGroup'" aria-label="Source Network Object Group">
    {{ firewallRule?.sourceNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
    (Object Group)
  </p>
</ng-template>

<!-- destination address template -->
<ng-template #destinationAddress let-firewallRule="datum">
  <p *ngIf="firewallRule.destinationAddressType === 'IpAddress'" aria-label="Destination IP">
    {{ firewallRule?.destinationIpAddress }}
  </p>
  <p *ngIf="firewallRule.destinationAddressType === 'NetworkObject'" aria-label="Destination Network Object">
    {{ firewallRule?.destinationNetworkObjectId | resolve: getNetworkObjectName }}
    (Object)
  </p>
  <p *ngIf="firewallRule.destinationAddressType === 'NetworkObjectGroup'" aria-label="Destination Network Object Group">
    {{ firewallRule?.destinationNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
    (Object Group)
  </p>
</ng-template>

<!-- service type template -->
<ng-template #serviceType let-firewallRule="datum">
  <p *ngIf="firewallRule.serviceType === 'Port'" aria-label="Source/Destination Ports">
    Source Ports: {{ firewallRule?.sourcePorts }} - Destination Ports: {{ firewallRule?.destinationPorts }}
  </p>
  <p *ngIf="firewallRule.serviceType === 'ServiceObject'" aria-label="Service Object">
    {{ firewallRule?.serviceObjectId | resolve: getServiceObjectName }} (Object)
  </p>
  <p *ngIf="firewallRule.serviceType === 'ServiceObjectGroup'" aria-label="Service Object Group">
    {{ firewallRule?.serviceObjectGroupId | resolve: getServiceObjectGroupName }} (Object Group)
  </p>
</ng-template>