<button class="btn btn-success" routerLink="/solaris-cdom-create">New CDOM</button>

<div>
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>CDOM Name</th>
          <th>Number of LDOMs</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of CDOMDeviceArray">
          <td>
            <a routerLink="/solaris/cdom/detail/{{ device.device_id }}"
              ><fa name="server" style="color:black;"></fa> {{ device.name }}</a
            >
          </td>
          <td>
            2
          </td>
          <td>
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group-sm mr-2">
                <button class="btn btn-success" (click)="addLdom()">
                  Create new LDOM
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
