<ng-container *ngIf="show">
    <table class="table table-striped" [attr.aria-describedby]="config.description">
        <thead>
          <tr>
            <th *ngFor="let column of config.columns" scope="col">{{ column.name }}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datum of data">
                <td *ngFor="let column of config.columns">
                    <ng-container *ngIf="column.property">{{ datum[column.property] }}</ng-container>
                    <ng-container *ngIf="!column.property && column.template">
                        <ng-container *ngTemplateOutlet="column.template(); context: { datum: datum }"></ng-container>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
