<ng-container *ngIf="show">
  <table class="table table-striped">
    <caption>
      <fa-icon class="icon" [icon]="['fas', 'table']"></fa-icon>
      <span>{{ config.description }}</span>
    </caption>
    <thead>
      <tr>
        <th *ngFor="let column of config.columns" scope="col">{{ column.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let datum of data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, id: uniqueTableId }"
        [ngStyle]="config.rowStyle ? config.rowStyle(datum) : null"
      >
        <td *ngFor="let column of config.columns">
          <ng-container *ngIf="column.property">{{ datum[column.property] }}</ng-container>
          <ng-container *ngIf="!column.property && column.template">
            <ng-container *ngTemplateOutlet="column.template(); context: { datum: datum }"></ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td [attr.colspan]="config.columns.length">
        <pagination-controls [id]="uniqueTableId" (pageChange)="currentPage = $event"></pagination-controls>
      </td>
    </tfoot>
  </table>
</ng-container>
