<ngx-smart-modal
  #yesNoModal
  identifier="yesNoModal"
  [dismissable]="false"
  (onOpenFinished)="getData()"
  customClass="small-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle || 'Title' }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="yesNoModal.close()"
    ></button>
  </div>

  <div>
      {{ modalBody }}
  </div>
  <div
    [style.padding]="'15px 22px'"
    class="custom-control custom-radio"
    *ngIf="allowEmptyTier"
    [ngStyle]="{'font-style': styleExp}"
  >
    <input
      type="checkbox"
      class="custom-control-input"
      id="allowEmptyTierRadio"
      name="allowEmptyTierRadio"
      [(ngModel)]="allowEmptyTierRadio"
      mdbInput
    >
    <label class="custom-control-label" for="allowEmptyTierRadio">
      If checked, CSV's without TierIDs will default to current tier.
    </label>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="no()"
    >
      No
    </button>

    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="yes()"
    >
      Yes
    </button>
  </div>
</ngx-smart-modal>
