<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="setActiveTab(tab)" (keyup.enter)="setActiveTab(tab)">
    <a class="nav-link" [class.active]="activeTab?.name === tab.name">
      <span>{{ tab.name }}</span>
      <tooltip *ngIf="tab.tooltip" [message]="tab.tooltip"></tooltip>
    </a>
  </li>
</ul>

<!-- Sub-tabs row that appears when the active tab has sub-tabs -->
<ul class="nav nav-tabs sub-tabs" *ngIf="activeTab?.subTabs && activeTab.subTabs.length > 0">
  <li
    class="nav-item"
    *ngFor="let subTab of activeTab.subTabs; let i = index"
    (click)="setActiveSubTab(subTab)"
    (keyup.enter)="setActiveSubTab(subTab)"
  >
    <a class="nav-link" [class.active]="activeSubTab?.name === subTab.name">
      <span>{{ subTab.name }}</span>
      <tooltip *ngIf="subTab.tooltip" [message]="subTab.tooltip"></tooltip>
    </a>
  </li>
</ul>
