<ng-container [ngSwitch]="currentView">
  <ng-container *ngSwitchCase="'vrf'">
    <section class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-success" (click)="openVrfModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create VRF</span>
      </button>
    </section>

    <ng-container *ngIf="!isLoading; else loading">
      <app-table
        [config]="config"
        [data]="vrfs"
        (clearResults)="getVrfs($event)"
        (searchParams)="getVrfs($event)"
        [searchColumns]="searchColumns"
        [(itemsPerPage)]="perPage"
        (tableEvent)="onTableEvent($event)"
      ></app-table>
      <section class="btn-toolbar" role="toolbar">
        <app-import-export
          [exportObject]="vrfs"
          exportFileName="vrfs"
          [disableJson]="false"
          (import)="importVrfs($event)"
        ></app-import-export>
      </section>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'subnets'">
    <button type="button" class="btn btn-secondary mb-3 mt-3" (click)="showVrfList()">
      <fa-icon class="icon" [icon]="['fas', 'arrow-left']"></fa-icon>
      <span>Back to VRF List</span>
    </button>
    <app-internal-route [wanForm]="selectedVrf.wanForm" [vrfId]="selectedVrf.id" (back)="showVrfList()"></app-internal-route>
  </ng-container>

  <ng-container *ngSwitchCase="'routes'">
    <button type="button" class="btn btn-secondary mb-3 mt-3" (click)="showVrfList()">
      <fa-icon class="icon" [icon]="['fas', 'arrow-left']"></fa-icon>
      <span>Back to VRF List</span>
    </button>
    <app-external-route
      [wanForm]="selectedVrf.wanForm"
      [vrfId]="selectedVrf.id"
      [environmentId]="tenant?.environmentId"
    ></app-external-route>
  </ng-container>
</ng-container>

<ng-template #actionsTemplate let-vrf="datum">
  <section class="table__actions">
    <app-icon-button
      *ngIf="!vrf?.deletedAt"
      icon="edit"
      label="Edit VRF"
      (handleClick)="openVrfModal(ModalMode.Edit, vrf)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="vrf?.deletedAt"
      icon="undo"
      label="Restore VRF"
      type="success"
      (handleClick)="restoreVrf(vrf)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="!vrf?.provisionedAt"
      icon="delete"
      label="Soft-Delete/Delete VRF"
      [type]="vrf?.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteVrf(vrf)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="vrf?.provisionedAt"
      icon="download"
      label="Deprovision VRF"
      type="danger"
      (handleClick)="deprovisionVrf(vrf)"
    ></app-icon-button>

    <app-icon-button icon="expand" label="Expand Row" (click)="expandedRow = expandedRow === vrf ? null : vrf"></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-vrf-modal [tenantId]="tenantId"></app-vrf-modal>
<app-yes-no-modal></app-yes-no-modal>

<ng-template #expandableRows let-vrf="datum">
  <section class="table__expanded-row">
    <app-wan-form-detail [wanForm]="vrf.wanForm" (manageSubnets)="showSubnets(vrf)" (manageRoutes)="showRoutes(vrf)"></app-wan-form-detail>
  </section>
</ng-template>
