<h1>Tiers</h1>
<ng-container *ngIf="currentDatacenter; else warningMessage">
  <section class="btn-toolbar" role="toolbar">
    <!-- Create Tier -->
    <button type="button" class="btn btn-success" (click)="openTierModal(ModalMode.Create)">
      <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
      <span>Create Tier</span>
    </button>
  </section>

  <ng-container *ngIf="!isLoading; else loading">
  <app-table [config]="config" [data]="tiers" (clearResults)="getTiers($event)" (searchParams)="getTiers($event)" [searchColumns]="searchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"></app-table>
  <section class="btn-toolbar" role="toolbar">
    <app-import-export
      [exportObject]="tiers"
      exportFileName="tiers-{{ currentDatacenter?.name }}"
      [disableJson]="false"
      (import)="importTiersConfig($event)"
    ></app-import-export>
  </section>
</ng-container>
</ng-container>

<ng-template #stateTemplate let-tier="datum">
  <section>
    <span>{{ tier.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
  </section>
</ng-template>

<ng-template #tierGroupTemplate let-tier="datum">
  <section>
    <span>{{ tier?.tierGroupId | resolve: getTierGroupName }}</span>
  </section>
</ng-template>

<ng-template #actionsTemplate let-tier="datum">
  <section class="table__actions">
    <app-icon-button
            *ngIf="!tier?.deletedAt"
            icon="edit"
            label="Edit Tier"
            (handleClick)="openTierModal(ModalMode.Edit, tier)"
          ></app-icon-button>

          <app-icon-button
          *ngIf="tier?.deletedAt"
          icon="undo"
          label="Restore Tier"
          type="success"
          (handleClick)="restoreTier(tier)"
        ></app-icon-button>

        <app-icon-button
        icon="delete"
        label="Soft-Delete/Delete Tier"
        [type]="tier?.deletedAt ? 'danger' : 'default'"
        (handleClick)="deleteTier(tier)"
      ></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-tier-modal></app-tier-modal>
<app-yes-no-modal></app-yes-no-modal>
<ng-template #warningMessage>
  <p>Select a Datacenter to display Tier details</p>
</ng-template>
