<div>
  <h4>
    Tiers <span class="badge badge-primary">{{ currentDatacenter?.name }}</span>
  </h4>

  <div *ngIf="navIndex == 0">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openTierModal('Create')" aria-label="Create Tier">
        <fa name="plus"></fa>
        Create Tier
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Tier Type</th>
          <th scope="col">Tier Group</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tier of tiers | paginate: { itemsPerPage: perPage, currentPage: currentTiersPage }">
          <td>
            <span>{{ tier?.name }}</span>
          </td>
          <td>
            <span>{{ tier?.description }}</span>
          </td>
          <td>
            <span>{{ tier?.tierType }}</span>
          </td>
          <td>
            <span>{{ tier?.tierGroupId | resolve: getTierGroupName }}</span>
          </td>
          <td class="item-actions">
            <fa name="pencil" *ngIf="!tier?.deletedAt" (click)="openTierModal('Edit', tier)" aria-label="Edit Tier"> </fa>
            <fa name="undo" *ngIf="tier?.deletedAt" class="fg-success" (click)="restoreTier(tier)" aria-label="Restore Tier"></fa>
            <fa name="trash" [ngClass]="{ 'fg-danger': tier.deletedAt }" (click)="deleteTier(tier)" aria-label="Soft-Delete/Delete Tier">
            </fa>
          </td>
        </tr>
        <tr *ngIf="!tiers?.length" class="text-center">
          <td colspan="3">No Tiers in this Datacenter</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentTiersPage = $event"></pagination-controls>
    <div class="btn-toolbar" role="toolbar" aria-label="Entities per page">
      <div class="btn-group mr-2 align-items-center" role="group" aria-label="First group">
        Entities per page
        <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">10</button>
        <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">20</button>
        <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">50</button>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <app-import-export
      [exportObject]="tiers"
      exportFileName="tiers-{{ currentDatacenter?.name }}"
      [disableJson]="false"
      (import)="importTiersConfig($event)"
    >
    </app-import-export>
  </div>

  <app-tier-modal></app-tier-modal>
  <app-yes-no-modal></app-yes-no-modal>
</div>
