<ngx-smart-modal
  #loadBalancerPolicyModal
  identifier="loadBalancerPolicyModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="large-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Load Balancer Policy</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip message="todo"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="type">Type</label>
          <tooltip message="todo"></tooltip>
          <select
            formControlName="type"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
            aria-label="Type"
          >
            <option></option>
            <option value="ASM">ASM</option>
            <option value="APM">APM</option>
          </select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Type is required</div>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-row" *ngIf="f.type.value === 'ASM'">
        <div class="form-group col-md-12">
          <label for="">ASM Policy XML</label>
          <textarea
            rows="8"
            formControlName="asmContent"
            class="form-control"
            aria-label="APM Content"
            placeholder="Paste APM Export Here or Upload"
          >
          </textarea>
        </div>
        <div *ngIf="submitted && f.asmContent.errors" class="invalid-feedback">
          <div *ngIf="f.asmContent.errors.required">
            ASM Policy XML is Required.
          </div>
        </div>

      </div>

      <div class="form-row" *ngIf="f.type.value === 'ASM'">
        <div class="form-group col-md-6">
          <button
            class="btn btn-warning"
            (click)="policyContentUploader.click()"
            type="button"
          >
            <fa-icon class="icon" [icon]="['fas', 'upload']"></fa-icon>
            <span>Upload ASM XML Export</span>
          </button>

          <input
            hidden
            type="file"
            #policyContentUploader
            (change)="importPolicyContent($event)"
          />
        </div>
      </div>

      <div class="form-row" *ngIf="f.type.value === 'APM'">
        <div class="form-group col-md-6">
          <button
            class="btn btn-warning"
            (click)="policyContentUploader.click()"
            type="button"
          >
            <fa-icon class="icon" [icon]="['fas', 'upload']"></fa-icon>
            <span>Upload APM Base64 Export</span>
          </button>

          <input
            hidden
            type="file"
            #policyContentUploader
            (change)="importPolicyContent($event)"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
          <span>Save</span>
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
