<div class="btn-group mr-2">
  <button class="btn btn-warning" (click)="uploader.click()">
    <span>Import </span>
    <span *ngIf="!disableJson">JSON</span>
    <span *ngIf="!disableJson && !disableCsv">/</span>
    <span *ngIf="!disableCsv">CSV</span>
  </button>
</div>

<div class="btn-group mr-2" *ngIf="!disableJson">
  <a
    class="btn btn-success"
    title="Download JSON"
    [href]="downloadHref"
    download="{{ exportFileName }}-{{ currentDate }}.json"
    (click)="getDate(); exportFile('json')"
    >Export JSON</a
  >
</div>

<div class="btn-group mr-2" *ngIf="!disableCsv">
  <a
    class="btn btn-success"
    title="Download CSV"
    [href]="downloadHref"
    download="{{ exportFileName }}-{{ currentDate }}.csv"
    (click)="getDate(); exportFile('csv')"
    >Export CSV</a
  >
</div>

<input
  hidden
  type="file"
  #uploader
  (change)="importFile($event)"
  [(ngModel)]="fileInput"
/>
