  
  <button class="btn btn-warning btn-sm mr-1" (click)="uploader.click()">
    <span>Import </span>
    <span *ngIf="!disableJson">JSON</span>
    <span *ngIf="!disableJson && !disableCsv">/</span>
    <span *ngIf="!disableCsv">CSV</span>
  </button>
  
  <a
    class="btn btn-success btn-sm mr-1"
    title="Download JSON"
    [href]="downloadHref"
    download="{{ exportFileName }}-{{ currentDate }}.json"
    (click)="getDate(); exportFile('json')"
    >Export JSON</a
  >

  <a
    class="btn btn-success btn-sm mr-1"
    title="Download CSV"
    [href]="downloadHref"
    download="{{ exportFileName }}-{{ currentDate }}.csv"
    (click)="getDate(); exportFile('csv')"
    >Export CSV</a
  >

<input
  hidden
  type="file"
  #uploader
  (change)="importFile($event)"
  [(ngModel)]="fileInput"
/>
