<nav class="navbar navbar-expand-lg" *ngIf="user && tenant">
  <a id="dashboard-link" class="navbar-brand" routerLink="dashboard" queryParamsHandling="merge" title="DRaaS">
    <fa-icon class="icon" [icon]="['fas', 'bolt']"></fa-icon>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa-icon class="icon" [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          tabindex="0"
          class="nav-link dropdown-toggle"
          id="networkingNavbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Networking
        </a>
        <div class="dropdown-menu" aria-labelledby="networkingNavbarDropdown">
          <a id="tiers-link" class="dropdown-item" routerLink="tiers" queryParamsHandling="merge">Tiers</a>
          <a
            id="self-service-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="self-service"
            queryParamsHandling="merge"
            >Managed Network</a
          >
          <a
            id="subnets-vlans-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="subnets-vlans"
            queryParamsHandling="merge"
            >Subnets & VLANs</a
          >
          <a
            id="firewall-rule-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="firewall-rules"
            queryParamsHandling="merge"
            >Firewall Rule Groups</a
          >
          <a
            id="nat-rule-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="nat-rules"
            queryParamsHandling="merge"
            >NAT Rule Groups</a
          >
          <a
            id="network-objects-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="network-objects-groups"
            queryParamsHandling="merge"
            >Network Objects/Groups</a
          >
          <a
            id="service-objects-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="service-objects-groups"
            queryParamsHandling="merge"
            >Service Objects/Groups</a
          >
          <a
            id="load-balancers-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('loadbalancer_admin')"
            class="dropdown-item"
            routerLink="load-balancers"
            queryParamsHandling="merge"
            >Load Balancers</a
          >
          <a
            id="routing-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="static-routes"
            queryParamsHandling="merge"
            >Routing</a
          >
        </div>
      </li>
    </ul>

    <ul class="navbar-nav m-auto">
      <li id="accountNumber" class="nav-item">
        <a>
          <span *ngIf="tenant">{{ tenant }}</span>
        </a>
      </li>
      <li (click)="openChangeRequestModal()" id="changeRequestNumber" class="nav-item">
        <a>
          <button *ngIf="changeRequest" style="color: black;">{{ changeRequest }}</button>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto align-items-lg-center">
      <li class="nav-item">
        <a id="jobs-link" class="nav-link" [routerLinkActive]="['active']" routerLink="jobs" queryParamsHandling="merge">
          <span>Jobs</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          tabindex="0"
          class="nav-link dropdown-toggle"
          id="userNavbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span *ngIf="user">{{ user.uid }} ({{ user.cn }})</span>
        </a>
        <div class="dropdown-menu dropdown-menu--reverse" aria-labelledby="userNavbarDropdown">
          <a id="environment-summary-link" class="dropdown-item" routerLink="environment-summary" queryParamsHandling="merge"
            >Environment Summary</a
          >
          <a
            id="audit-log-link"
            *ngIf="userRoles?.includes('admin')"
            class="dropdown-item"
            routerLink="audit-log"
            queryParamsHandling="merge"
            >Audit Log</a
          >
          <a id="ticket-link" class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{{ environment?.dynamic?.snowBase }}"
            >Ticketing System</a
          >
          <a id="documentation-link" class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{{ environment?.dynamic?.wikiBase}}"
            >Documentation</a
          >
          <a tabindex="0" (keyup.enter)="openLogoutModal()" name="logout-link" class="dropdown-item" (click)="openLogoutModal()">Logout</a>
          <div class="dropdown-divider" *ngIf="dcsVersion"></div>
          <a name="version" class="dropdown-item" target="_blank" rel="noopener noreferrer" *ngIf="dcsVersion">v{{ dcsVersion }}</a>
        </div>
      </li>

      <li class="nav-item align-self-end align-self-lg-center">
        <button class="btn btn-danger" routerLink="deploy" queryParamsHandling="merge">
          Deploy
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Logout -->
<ngx-smart-modal #logoutModal identifier="logoutModal">
  <header class="modal-header">
    <h4 class="modal-title">Logout</h4>
  </header>

  <div class="modal-body">
    <p class="mb-3">Are you sure you want to log out?</p>
  </div>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="logoutModal.close()">
      Cancel
    </button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logout()">
      <fa-icon class="icon" [icon]="['fas', 'sign-out-alt']"></fa-icon>
      <span>Logout</span>
    </button>
  </footer>
</ngx-smart-modal>



<app-change-request-modal></app-change-request-modal>