<nav class="navbar navbar-expand-lg" *ngIf="user && tenant">
  <a id="dashboard-link" class="navbar-brand" routerLink="dashboard" queryParamsHandling="merge" title="DRaaS">
    <fa-icon class="icon" [icon]="['fas', 'bolt']"></fa-icon>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa-icon class="icon" [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          tabindex="0"
          class="nav-link dropdown-toggle"
          id="networkingNavbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Networking
        </a>
        <div class="dropdown-menu" aria-labelledby="networkingNavbarDropdown">
          <a id="tiers-link" class="dropdown-item" routerLink="tiers" queryParamsHandling="merge">Tiers</a>
          <a
            id="self-service-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="self-service"
            queryParamsHandling="merge"
            >Managed Network</a
          >
          <a
            id="subnets-vlans-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="subnets-vlans"
            queryParamsHandling="merge"
            >Subnets & VLANs</a
          >
          <a
            id="firewall-rule-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="firewall-rules"
            queryParamsHandling="merge"
            >Firewall Rule Groups</a
          >
          <a
            id="nat-rule-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="nat-rules"
            queryParamsHandling="merge"
            >NAT Rule Groups</a
          >
          <a
            id="network-objects-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="network-objects-groups"
            queryParamsHandling="merge"
            >Network Objects/Groups</a
          >
          <a
            id="service-objects-groups-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="service-objects-groups"
            queryParamsHandling="merge"
            >Service Objects/Groups</a
          >
          <a
            id="load-balancers-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('loadbalancer_admin')"
            class="dropdown-item"
            routerLink="load-balancers"
            queryParamsHandling="merge"
            >Load Balancers</a
          >
          <a
            id="routing-link"
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="static-routes"
            queryParamsHandling="merge"
            >Routing</a
          >
          <!-- <a
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="wan-form"
            queryParamsHandling="merge"
            >Wan Form</a
          > -->
        </div>
      </li>
    </ul>

    <ul class="navbar-nav m-auto">
      <li id="accountNumber" class="nav-item">
        <a>
          <span *ngIf="tenant">{{ tenant }}</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto align-items-lg-center">
      <li class="nav-item">
        <a id="jobs-link" class="nav-link" [routerLinkActive]="['active']" routerLink="jobs" queryParamsHandling="merge">
          <span>Jobs</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          tabindex="0"
          class="nav-link dropdown-toggle"
          id="userNavbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span *ngIf="user">{{ user.uid }} ({{ user.cn }})</span>
        </a>
        <div class="dropdown-menu dropdown-menu--reverse" aria-labelledby="userNavbarDropdown">
          <a id="environment-summary-link" class="dropdown-item" routerLink="environment-summary" queryParamsHandling="merge"
            >Environment Summary</a
          >

          <a id="f5-config-link" class="dropdown-item" routerLink="f5-config" queryParamsHandling="merge">F5 Config</a>
          <a
            id="audit-log-link"
            *ngIf="userRoles?.includes('admin')"
            class="dropdown-item"
            routerLink="audit-log"
            queryParamsHandling="merge"
            >Audit Log</a
          >
          <a id="ticket-link" class="dropdown-item" target="_blank" rel="noopener noreferrer" href="{{ environment?.dynamic?.snowBase }}"
            >Ticketing System</a
          >
          <a
            id="documentation-link"
            class="dropdown-item"
            target="_blank"
            rel="noopener noreferrer"
            href="{{ environment?.dynamic?.wikiBase }}"
            >Documentation</a
          >

          <a tabindex="0" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Bugs/Enhancements</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="openReportIssueModal()">Report Problem</a>
            <a class="dropdown-item" (click)="openRequestEnhancementModal()">Request Enhancement</a>
            <a class="dropdown-item" routerLink="bugs-enhancements" queryParamsHandling="merge">Bugs/Enhancements Component</a>
          </div>

          <a tabindex="0" (keyup.enter)="openLogoutModal()" name="logout-link" class="dropdown-item" (click)="openLogoutModal()">Logout</a>
          <div class="dropdown-divider" *ngIf="dcsVersion"></div>
          <a name="version" class="dropdown-item" target="_blank" rel="noopener noreferrer" *ngIf="dcsVersion">v{{ dcsVersion }}</a>
        </div>
      </li>

      <li class="nav-item align-self-end align-self-lg-center">
        <button class="btn btn-danger" routerLink="deploy" queryParamsHandling="merge">Deploy</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Logout -->
<ngx-smart-modal #logoutModal identifier="logoutModal">
  <header class="modal-header">
    <h4 class="modal-title">Logout</h4>
  </header>

  <div class="modal-body">
    <p class="mb-3">Are you sure you want to log out?</p>
  </div>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="logoutModal.close()">Cancel</button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logout()">
      <fa-icon class="icon" [icon]="['fas', 'sign-out-alt']"></fa-icon>
      <span>Logout</span>
    </button>
  </footer>
</ngx-smart-modal>

<!-- Report Issue -->
<!-- <ngx-smart-modal #reportIssueModal identifier="reportIssueModal" [dismissable]="false" (onClose)="closeModal()">
  <header class="modal-header">
    <h4 class="modal-title">Report a Problem</h4>
  </header>

  <form [formGroup]="issueForm" (ngSubmit)="saveFeedback('issue')">
    <div class="modal-body">
      <p>This form is solely for reporting issues within the DRaaS Control System (DCS).</p>
      <p>
        <i><b>Do not</b></i> use this form to report SEV1 or SEV2 issues to DRaaS Support. Instead, to ensure SEV1/SEV2 issues are addressed
        promptly, submit a ticket in Centers for Medicare and Medicaid Service Now.
      </p>
      <div class="form-group">
        <label for="component">Component</label>
        <select
          formControlName="component"
          class="form-control"
          id="component"
          aria-label="component"
          name="component"
          (change)="update($event)"
          [class.is-invalid]="submitted && issue.component.errors"
        >
          <option *ngFor="let comp of comps" [value]="comp">
            {{ comp }}
          </option>
        </select>
        <div *ngIf="submitted && issue.component.errors" class="invalid-feedback">
          <div *ngIf="issue.component.errors.required">Component is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Describe your issue</label>
        <textarea
          id="description"
          rows="15"
          formControlName="description"
          [class.is-invalid]="submitted && issue.description.errors"
          class="form-control"
        >
        </textarea>
        <div *ngIf="submitted && issue.description.errors" class="invalid-feedback">
          <div *ngIf="issue.description.errors.required">Description is required</div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-danger" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'sign-out-alt']"></fa-icon>
        <span>Send</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal> -->

<!-- Request Enhancement -->
<!-- <ngx-smart-modal #requestEnhancementModal identifier="requestEnhancementModal" [dismissable]="false" (onClose)="closeModal()">
  <header class="modal-header">
    <h4 class="modal-title">Request for Enhancement</h4>
  </header>

  <form [formGroup]="rfeForm" (ngSubmit)="saveFeedback('suggestion')">
    <div class="modal-body">
      <p>
        We appreciate your interest in recommending enhancements to the DRaaS Control System (DCS). We value your feedback. Please complete
        the form below for enhancement consideration.
      </p>
      <p>
        The DRaaS team reviews and evaluates each request periodically. If approved by the Centers for Medicare and Medicaid, we will add
        the enhancement request to our backlog for the future program increment planning cycle.
      </p>
      <div class="form-group">
        <label for="component">Component</label>
        <select
          formControlName="component"
          class="form-control"
          id="component"
          [class.is-invalid]="submitted && rfe.component.errors"
          (change)="update($event)"
        >
          <option *ngFor="let comp of comps" [value]="comp">
            {{ comp }}
          </option>
          <option>Other</option>
        </select>

        <div *ngIf="submitted && rfe.component.errors" class="invalid-feedback">
          <div *ngIf="rfe.component.errors.required">Component is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Describe your request</label>
        <textarea
          id="description"
          rows="15"
          formControlName="description"
          [class.is-invalid]="submitted && rfe.description.errors"
          class="form-control"
        >
        </textarea>
        <div *ngIf="submitted && rfe.description.errors" class="invalid-feedback">
          <div *ngIf="rfe.description.errors.required">Description is required</div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-danger" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'sign-out-alt']"></fa-icon>
        <span>Send</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal> -->

<app-request-enhancement-modal></app-request-enhancement-modal>
<app-report-issue-modal></app-report-issue-modal>
