<app-tier-select></app-tier-select>

<h1>Service Objects & Groups</h1>
<ng-container *ngIf="currentTier; else warningMessage">
  <app-tabs [tabs]="tabs" (tabChange)="handleTabChange($event)"></app-tabs>
  <div *ngIf="navIndex === 0">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create Service Object -->
      <button type="button" class="btn btn-success" (click)="openServiceObjectModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Service Object</span>
      </button>
      <button type="button" class="btn btn-primary" (click)="getFirewallRules()">
        <span>Unused Objects</span>
      </button>
    </section>

    <ng-container *ngIf="!isLoadingObjects; else loading">
      <app-table [config]="serviceObjectConfig" [data]="serviceObjects" (clearResults)="getServiceObjects($event)" (searchParams)="getServiceObjects($event)" [searchColumns]="objectSearchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onSvcObjTableEvent($event)"></app-table>
      <section class="btn-toolbar" role="toolbar">
        <app-import-export
          [exportObject]="serviceObjects"
          exportFileName="serviceObjects-{{ currentTier?.name }}"
          [disableJson]="false"
          (import)="importServiceObjectsConfig($event)"
        ></app-import-export>
      </section>
    </ng-container>

    <ng-template #objStateTemplate let-serviceObj="datum">
      <section>
        <span>{{ serviceObj.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
      </section>
    </ng-template>

    <ng-template #actionsTemplate let-serviceObj="datum">
      <section class="table__actions">
        <app-icon-button
              *ngIf="!serviceObj?.deletedAt"
              icon="edit"
              label="Edit Service Object"
              (handleClick)="openServiceObjectModal(ModalMode.Edit, serviceObj)"
            ></app-icon-button>

            <app-icon-button
              *ngIf="serviceObj?.deletedAt"
              icon="undo"
              label="Restore Service Object"
              type="success"
              (handleClick)="restoreServiceObject(serviceObj)"
            ></app-icon-button>

            <app-icon-button
              icon="delete"
              label="Soft-Delete/Delete Service Object"
              [type]="serviceObj?.deletedAt ? 'danger' : 'default'"
              (handleClick)="deleteServiceObject(serviceObj)"
            ></app-icon-button>
      </section>
    </ng-template>

    <ng-template #loading>
      <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </ng-template>
  </div>

  <div *ngIf="navIndex === 1">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create Service Object Group -->
      <button type="button" class="btn btn-success" (click)="openServiceObjectGroupModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Service Object Group</span>
      </button>
    </section>

    <ng-container *ngIf="!isLoadingGroups; else loading">
      <app-table [config]="serviceObjectGroupConfig" [data]="serviceObjectGroups" (clearResults)="getServiceObjectGroups($event)" (searchParams)="getServiceObjectGroups($event)" [searchColumns]="groupSearchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onSvcObjGrpTableEvent($event)"></app-table>
      <section class="btn-toolbar" role="toolbar">
        <app-import-export
          [exportObject]="serviceObjectGroups"
          exportFileName="serviceObjectGroups-{{ currentTier?.name }}"
          [disableJson]="false"
          (import)="importServiceObjectGroupsConfig($event)"
        ></app-import-export>
      </section>
    </ng-container>

    <ng-template #membersTemplate let-serviceObjGroup="datum">
      <section>
        <span> {{ serviceObjGroup.serviceObjects?.length }}</span>
      </section>
    </ng-template>

    <ng-template #groupStateTemplate let-serviceObjGroup="datum">
      <section>
        <span>{{ serviceObjGroup.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
      </section>
    </ng-template>

    <ng-template #actionsTemplate let-serviceObjGroup="datum">
      <section class="table__actions">
        <app-icon-button
              *ngIf="!serviceObjGroup?.deletedAt"
              icon="edit"
              label="Edit Service Object Group"
              (handleClick)="openServiceObjectGroupModal(ModalMode.Edit, serviceObjGroup)"
            ></app-icon-button>

            <app-icon-button
              *ngIf="serviceObjGroup?.deletedAt"
              icon="undo"
              label="Restore Service Object Group"
              type="success"
              (handleClick)="restoreServiceObjectGroup(serviceObjGroup)"
            ></app-icon-button>

            <app-icon-button
              icon="delete"
              label="Soft-Delete/Delete Service Object Group"
              [type]="serviceObjGroup?.deletedAt ? 'danger' : 'default'"
              (handleClick)="deleteServiceObjectGroup(serviceObjGroup)"
            ></app-icon-button>
      </section>
    </ng-template>

    <ng-template #loading>
      <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </ng-template>
  </div>

  <div *ngIf="navIndex === 2">
    <label class="mt-3 ml-3">Click the import CSV button to add Service Object Group relations</label>
  </div>

  <section class="btn-toolbar" role="toolbar" *ngIf="navIndex === 2">
    <app-import-export
      [disableExport]="true"
      [disableJson]="false"
      (import)="importServiceObjectGroupRelationsConfig($event)"
    ></app-import-export>
  </section>
</ng-container>
<app-service-object-group-modal></app-service-object-group-modal>
<app-service-object-modal></app-service-object-modal>
<app-unused-objects-modal [unusedObjectsInput]="unusedObjects"></app-unused-objects-modal>
<app-yes-no-modal [allowEmptyTier]="showRadio"></app-yes-no-modal>
<ng-template #warningMessage>
  <p>Select a Tier to display Service Objects & Groups details</p>
</ng-template>
