<div class="offset-1 col-md-10">
    <div class="btn-group-sm" role="group">
      <button
        type="button"
        class="btn btn-warning"
        aria-label="Save Service Objects/Groups"
        (click)="saveAll()"
        [hidden]="!dirty"
      >
        <fa name="floppy-o" size="2x"></fa>
      </button>
  
      <button
        type="button"
        class="btn btn-info"
        (click)="uploader.click()"
        aria-label="Upload CSV"
      >
        <fa name="file-text-o" size="2x"></fa>
      </button>
      
      <input hidden type="file" #uploader (change)="handleFileSelect($event)" />
    </div>
  
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="navIndex = 0">
        <a class="nav-link" [ngClass]="{ active: navIndex == 0 }"
          >Service Objects</a
        >
      </li>
      <li class="nav-item" (click)="navIndex = 1">
        <a class="nav-link" [ngClass]="{ active: navIndex == 1 }"
          >Service Object Groups</a
        >
      </li>
    </ul>
  
    <div *ngIf="navIndex == 0">
      <div class="btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-success"
          (click)="createServiceObject()"
          aria-label="Create Service Object"
        >
          <fa name="plus" size="2x"></fa>
        </button>
      </div>
  
      <div class="card">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Address</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let netObj of serviceObjects">
              <td>
                <p>{{ netObj.Name }}</p>
              </td>
              <td>
                <p>{{ netObj.Type }}</p>
              </td>
              <td>
                <p *ngIf="netObj.Type === 'host'">{{ netObj.HostAddress }}</p>
                <p *ngIf="netObj.Type === 'range'">
                  {{ netObj.StartAddress }} - {{ netObj.EndAddress }}
                </p>
                <p *ngIf="netObj.Type === 'service'">
                  {{ netObj.CidrAddress }}
                </p>
              </td>
              <td>
                <fa
                  name="pencil"
                  (click)="editServiceObject(netObj)"
                  aria-label="Edit Service Object"
                >
                </fa>
                <fa
                name ="trash"
                (click)="deleteServiceObject(netObj)"
                >
                </fa>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div *ngIf="navIndex == 1">
      <div class="btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-success"
          (click)="createServiceObjectGroup()"
          aria-label="Service Object Groups"
        >
          <fa name="plus" size="2x"></fa>
        </button>
      </div>
  
      <div class="card">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Members</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let netObjGroup of serviceObjectGroups">
              <td>
                <p>{{ netObjGroup.Name }}</p>
              </td>
              <td>
                <p>{{ netObjGroup.ServiceObjects.length }}</p>
              </td>
              <td>
                <fa
                  name="pencil"
                  (click)="editServiceObjectGroup(netObjGroup)"
                  aria-label="Edit Service Object Group"
                >
                </fa>
                <fa
                name ="trash"
                (click)="deleteServiceObjectGroup(netObjGroup)"
                >
                </fa>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>