<div>
  <h4>Service Objects & Groups</h4>

  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="navIndex = 0; getObjectsForNavIndex()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Service Objects <tooltip [message]="helpText.ServiceObjects"></tooltip></a>
    </li>
    <li class="nav-item" (click)="navIndex = 1; getObjectsForNavIndex()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 1 }"
        >Service Object Groups <tooltip [message]="helpText.ServiceObjects"></tooltip
      ></a>
    </li>
  </ul>

  <div *ngIf="navIndex == 0">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openServiceObjectModal('Create')" aria-label="Create Service Object">
        <fa name="plus"></fa>
        Create Service Object
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Source Port</th>
          <th scope="col">Destination Port</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let svcObj of serviceObjects | paginate: { itemsPerPage: perPage, currentPage: currentServiceObjectsPage }">
          <td>
            <span>{{ svcObj?.name }}</span>
          </td>
          <td>
            <span>{{ svcObj?.protocol }}</span>
          </td>
          <td>
            <span>{{ svcObj?.sourcePorts }}</span>
          </td>
          <td>
            <span>{{ svcObj?.destinationPorts }}</span>
          </td>
          <td class="item-actions">
            <fa name="pencil" *ngIf="!svcObj?.deletedAt" (click)="openServiceObjectModal('Edit', svcObj)" aria-label="Edit Service Object">
            </fa>
            <fa
              name="undo"
              *ngIf="svcObj?.deletedAt"
              class="fg-success"
              (click)="restoreServiceObject(svcObj)"
              aria-label="Restore Service Object"
            ></fa>
            <fa
              name="trash"
              [ngClass]="{ 'fg-danger': svcObj.deletedAt }"
              (click)="deleteServiceObject(svcObj)"
              aria-label="Soft-Delete/Delete Service Object"
            >
            </fa>
          </td>
        </tr>
        <tr *ngIf="!serviceObjects?.length" class="text-center">
          <td colspan="5">No Service Objects in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentServiceObjectsPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 1">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openServiceObjectGroupModal('Create')" aria-label="Service Object Groups">
        <fa name="plus"></fa>
        Create Service Object Group
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Members</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let svcObjGroup of serviceObjectGroups
              | paginate
                : {
                    itemsPerPage: perPage,
                    currentPage: currentServiceObjectGroupsPage
                  }
          "
        >
          <td>
            <span>{{ svcObjGroup.name }}</span>
          </td>
          <td>
            <span>{{ svcObjGroup.type }}</span>
          </td>
          <td>
            <span>{{ svcObjGroup.serviceObjects?.length }}</span>
          </td>
          <td class="item-actions">
            <fa
              name="pencil"
              *ngIf="!svcObjGroup?.deletedAt"
              (click)="openServiceObjectGroupModal('Edit', svcObjGroup)"
              aria-label="Edit Service Object Group"
            ></fa>
            <fa
              name="undo"
              *ngIf="svcObjGroup?.deletedAt"
              class="fg-success"
              (click)="restoreServiceObjectGroup(svcObjGroup)"
              aria-label="Restore Service Object Group"
            ></fa>
            <fa
              name="trash"
              [ngClass]="{ 'fg-danger': svcObjGroup.deletedAt }"
              (click)="deleteServiceObjectGroup(svcObjGroup)"
              aria-label="Soft-Delete/Delete Service Object Group"
            ></fa>
          </td>
        </tr>
        <tr *ngIf="!serviceObjectGroups?.length" class="text-center">
          <td colspan="4">No Service Object Groups in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentServiceObjectGroupsPage = $event"></pagination-controls>
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Entities per page">
    <div class="btn-group mr-2 align-items-center" role="group" aria-label="First group">
      Entities per page
      <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">
        10
      </button>
      <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">
        20
      </button>
      <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">
        50
      </button>
    </div>
  </div>
</div>

<div *ngIf="navIndex === 0" class="pull-right">
  <app-import-export
    [exportObject]="serviceObjects"
    exportFileName="serviceObjects-{{ currentTier?.name }}"
    [disableJson]="false"
    (import)="importServiceObjectsConfig($event)"
  ></app-import-export>
</div>

<div *ngIf="navIndex === 1" class="pull-right">
  <app-import-export
    [exportObject]="serviceObjectGroups"
    exportFileName="serviceObjectGroups-{{ currentTier?.name }}"
    [disableJson]="false"
    (import)="importServiceObjectGroupsConfig($event)"
  ></app-import-export>
</div>

<app-service-object-group-modal></app-service-object-group-modal>
<app-service-object-modal></app-service-object-modal>
<app-yes-no-modal [allowEmptyTier]="showRadio"></app-yes-no-modal>
