<ngx-smart-modal
  #previewModal
  identifier="previewModal"
  [dismissable]="false"
  (onOpenFinished)="getData()"
  customClass="xlarge-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">{{ config.description }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="previewModal.close()"
    ></button>
  </div>
  <app-table [config]="config" [data]="data"></app-table>
  <ng-template #nameTemplate let-datum="datum">{{ datum.name }}</ng-template>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="cancel()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      (click)="confirm()"
    >
      Import
    </button>
  </div>
</ngx-smart-modal>
