<ngx-smart-modal
  #logicalGroupModal
  identifier="logicalGroupModal"
  [dismissable]="false"
  customClass="large-modal"
  (onOpen)="loadLogicalGroup()"
  (onClose)="onClose()"
>
  <header class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </header>

  <main class="modal-body">
    <form [formGroup]="form">
      <div class="form-row">
        <!-- Name -->
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            aria-label="Name"
            [class.is-invalid]="submitted && f.name.errors"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>

        <!-- Cluster -->
        <div class="form-group col-md-6">
          <label for="cluster">Cluster</label>
          <ng-select
            id="cluster"
            [items]="clusters"
            [class.is-invalid]="submitted && f.clusterId.errors"
            bindLabel="name"
            [closeOnSelect]="true"
            bindValue="id"
            [loading]="isLoadingClusters"
            formControlName="clusterId"
          >
          </ng-select>
          <div *ngIf="submitted && f.clusterId.errors" class="invalid-feedback">
            <div *ngIf="f.clusterId.errors.required">Cluster is required</div>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control" aria-label="Description" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="virtual-machines">Virtual Machines</label>
          <ng-select
            id="virtual-machines"
            [items]="virtualMachines"
            [multiple]="true"
            bindLabel="name"
            [closeOnSelect]="false"
            [loading]="isLoadingVirtualMachines"
            formControlName="virtualMachines"
            virtualScroll="true"
          >
          </ng-select>
        </div>
      </div>

      <div class="form-row">
        <!-- Template -->
        <div class="form-group col-md-6">
          <label for="template">Template</label>
          <ng-select
            id="template"
            [items]="templates"
            bindLabel="name"
            [closeOnSelect]="true"
            bindValue="id"
            [loading]="isLoadingTemplates"
            formControlName="templateId"
          >
          </ng-select>
        </div>

        <!-- Profile -->
        <div class="form-group col-md-6">
          <label for="profile">Profile</label>
          <ng-select
            id="profile"
            [items]="profiles"
            bindLabel="name"
            [closeOnSelect]="true"
            bindValue="id"
            [loading]="isLoadingProfiles"
            formControlName="profileId"
          >
          </ng-select>
        </div>
      </div>
    </form>
  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onClose()">
      Cancel
    </button>

    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="save()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Save Logical Group</span>
    </button>
  </footer>
</ngx-smart-modal>
