<ngx-smart-modal #endpointGroupModal identifier="endpointGroupModal" (onOpen)="getData()" (onClose)="reset()">

  <header class="modal-header">
    <h4 class="modal-title">Endpoint Group</h4>
  </header>
    <form [formGroup]="form">
      <div class="modal-body">

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            [class.is-invalid]="submitted && f.name.errors"
            aria-label="Name"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
            <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
            <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
            <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or '_'.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="alias">Alias</label>
          <input
            type="text"
            id="alias"
            formControlName="alias"
            class="form-control"
            [class.is-invalid]="submitted && f.alias.errors"
            aria-label="Alias"
          />
          <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
            <div *ngIf="f.alias.errors.maxlength">Alias must be 100 characters or less.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            formControlName="description"
            class="form-control"
            [class.is-invalid]="submitted && f.description.errors"
            aria-label="Description"
          />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="intraEpgIsolation">Intra Epg Isolation</label>
          <select
            id="intraEpgIsolation"
            formControlName="intraEpgIsolation"
            class="form-control"
            [class.is-invalid]="submitted && f.intraEpgIsolation.errors"
            aria-label="Intra Epg Isolation"
          >
            <option></option>
            <option value="true">Isolated</option>
            <option value="false">Not Isolated</option>
          </select>
        </div>
        <button class="btn btn-success" (click)="save()">
          <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
          <span>Save Endpoint Group</span>
        </button>
        <app-table [config]="config" [data]="endpointGroups" (clearResults)="getEndpointGroups($event)" (searchParams)="getEndpointGroups($event)" [searchColumns]="searchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"></app-table>

      </div>

    </form>
</ngx-smart-modal>
