<div>
  <div>
    <h4>Static Routes</h4>

    <div class="btn-toolbar mb-2 pull-right" role="toolbar">
      <button type="button" class="btn btn-sm btn-info" (click)="getTiers()" aria-label="Refresh Static Routes">
        <fa name="refresh"></fa>
        Refresh
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Static Routes table">
      <thead>
        <tr>
          <th scope="col">Tier</th>
          <th scope="col">Static Routes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tier of tiers">
          <td>
            {{ tier.name }}
          </td>
          <td>
            <a routerLink="/static-routes/edit/{{ tier?.id }}" queryParamsHandling="merge">
              {{ tier.name }}
            </a>
          </td>
        </tr>
        <tr *ngIf="!tiers?.length" class="text-center">
          <td colspan="4">No Tiers</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
