<h1>Static Routes</h1>
<ng-container *ngIf="tiers.length !== 0; else warningMessage">
  <section class="btn-toolbar" role="toolbar">
    <!-- Refresh -->
    <button type="button" class="btn btn-info" (click)="getTiers()">
      <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
      <span>Refresh</span>
    </button>
  </section>
  <app-table [config]="config" [data]="tiers"></app-table>
</ng-container>
<ng-template #nameTemplate let-tier="datum">
  <a routerLink="/netcentric/static-routes/edit/{{ tier?.id }}" queryParamsHandling="merge"
            >{{ tier.name | slice: 0:20 }}{{ tier.name.length > 20 ? '...' : '' }}</a
          >
</ng-template>
<ng-template #staticRouteTemplate let-tier="datum">
  {{ tier.staticRoutes.length }}
</ng-template>
<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>
<ng-template #warningMessage>
  <p>Create a Tier to display Static Route details</p>
</ng-template>
