<app-tier-select></app-tier-select>

<div>
  <h1 class="header mb-3">Load Balancers</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="navIndex = 0; getVirtualServers(); getIrules(); getPools()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">
        Virtual Servers <tooltip [message]="helpText.VirtualServers"></tooltip>
      </a>
    </li>
    <li class="nav-item" (click)="navIndex = 1; getPools(); getHealthMonitors(); getNodes()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 1 }"> Pools <tooltip [message]="helpText.Pools"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 2; getNodes()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 2 }"> Nodes <tooltip [message]="helpText.Nodes"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 3; getIrules()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 3 }"> iRules <tooltip [message]="helpText.IRules"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 4; getHealthMonitors()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 4 }">
        Health Monitors <tooltip [message]="helpText.HealthMonitors"></tooltip>
      </a>
    </li>
    <li class="nav-item" (click)="navIndex = 5; getProfiles()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 5 }"> Profiles <tooltip [message]="helpText.Profiles"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 6; getPolicies()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 6 }"> Policies <tooltip [message]="helpText.Policies"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 7; getVlans()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 7 }"> Vlans <tooltip [message]="helpText.Vlans"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 8; getSelfIps()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 8 }"> Self IPs <tooltip [message]="helpText.SelfIps"></tooltip> </a>
    </li>
    <li class="nav-item" (click)="navIndex = 9; getRoutes()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 9 }"> Routes <tooltip [message]="helpText.Routes"></tooltip> </a>
    </li>
  </ul>

  <div *ngIf="navIndex == 0">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openVirtualServerModal(ModalMode.Create)" aria-label="Create Virtual Server">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Virtual Server
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Virtual Server table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Destination Address</th>
          <th scope="col">Service Port</th>
          <th scope="col">Pool</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let virtualServer of virtualServers | paginate: { itemsPerPage: perPage, currentPage: currentVSPage }">
          <td>
            <span>{{ virtualServer?.name }}</span>
          </td>
          <td>
            <span>{{ virtualServer?.type }}</span>
          </td>
          <td>
            <span>{{ virtualServer?.destinationIpAddress }}</span>
          </td>
          <td>
            <span>{{ virtualServer?.servicePort }}</span>
          </td>
          <td>
            <span>{{ virtualServer?.defaultPoolId | resolve: getPoolName }}</span>
          </td>
          <td>
            <span>{{ virtualServer?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openVirtualServerModal(ModalMode.Edit, virtualServer)" aria-label="Edit Virtual Server"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'undo']"
              *ngIf="virtualServer?.deletedAt"
              class="fg-success"
              (click)="restoreVirtualServer(virtualServer)"
              aria-label="Restore Virtual Server"
            ></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': virtualServer?.deletedAt }"
              (click)="deleteVirtualServer(virtualServer)"
              aria-label="Soft-Delete/Delete Virtual Server"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="virtualServers?.length === 0" class="text-center">
          <td colspan="7">No Virtual Servers in this Tier.</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentVSPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 1">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openPoolModal(ModalMode.Create)" aria-label="Create Pool">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Pool
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Pools table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">LB Method</th>
          <th scope="col">Service Port</th>
          <th scope="col">Nodes</th>
          <th scope="col">Health Monitors</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pool of pools | paginate: { itemsPerPage: perPage, currentPage: currentPoolPage }">
          <td>
            <span>{{ pool?.name }}</span>
          </td>
          <td>
            <span>{{ pool?.loadBalancingMethod }}</span>
          </td>
          <td>
            <span>{{ pool?.servicePort }}</span>
          </td>
          <td>
            <span>{{ pool?.nodes?.length }}</span>
          </td>
          <td>
            <span>{{ pool?.healthMonitors?.length }}</span>
          </td>
          <td>
            <span>{{ pool?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openPoolModal(ModalMode.Edit, pool)" aria-label="Edit Pool"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="pool?.deletedAt" class="fg-success" (click)="restorePool(pool)" aria-label="Restore Pool"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': pool?.deletedAt }"
              (click)="deletePool(pool)"
              aria-label="Soft-Delete/Delete Pool"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!pools?.length" class="text-center">
          <td colspan="7">No Pools in this tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPoolPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 2">
    <div class="btn-group-sm mb-2 pull-right  mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openNodeModal(ModalMode.Create)" aria-label="Create Node">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Node
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Nodes table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">IP Address</th>
          <th scope="col">FQDN</th>
          <th scope="col">Autopopulate</th>
          <th scope="col">Service Port</th>
          <th scope="col">Priority</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let node of nodes | paginate: { itemsPerPage: perPage, currentPage: currentNodePage }">
          <td>
            <span>{{ node?.name }}</span>
          </td>
          <td>
            <span>{{ node?.type }}</span>
          </td>
          <td>
            <span>{{ node?.ipAddress }}</span>
          </td>
          <td>
            <span>{{ node?.fqdn }}</span>
          </td>
          <td>
            <span>{{ node?.autoPopulate }}</span>
          </td>
          <td>
            <span>{{ node?.servicePort }}</span>
          </td>
          <td>
            <span>{{ node?.priority }}</span>
          </td>
          <td>
            <span>{{ node?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openNodeModal(ModalMode.Edit, node)" aria-label="Edit Node"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="node?.deletedAt" class="fg-success" (click)="restoreNode(node)" aria-label="Restore Node"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': node?.deletedAt }"
              (click)="deleteNode(node)"
              aria-label="Soft-Delete/Delete Node"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!nodes?.length" class="text-center">
          <td colspan="9">No Nodes in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentNodePage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 3">
    <div class="btn-group-sm mb-2 pull-right  mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openIRuleModal(ModalMode.Create)" aria-label="Create iRule">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create iRule
      </button>
    </div>

    <table class="table table-striped" aria-describedby="iRules table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Content</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let irule of irules | paginate: { itemsPerPage: perPage, currentPage: currentIrulePage }">
          <td>
            <span>{{ irule?.name }}</span>
          </td>
          <td>
            <span>{{ irule?.content }}</span>
          </td>
          <td>
            <span>{{ irule?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openIRuleModal(ModalMode.Edit, irule)" aria-label="Edit iRule"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="irule?.deletedAt" class="fg-success" (click)="restoreIrule(irule)" aria-label="Restore Irule"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': irule?.deletedAt }"
              (click)="deleteIrule(irule)"
              aria-label="Soft-Delete/Delete Irule"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!irules?.length" class="text-center">
          <td colspan="4">No iRules in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentIrulePage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 4">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openHealthMonitorModal(ModalMode.Create)" aria-label="Create Health Monitor">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Health Monitor
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Health Monitors table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Service Port</th>
          <th scope="col">Interval</th>
          <th scope="col">Timeout</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let healthMonitor of healthMonitors | paginate: { itemsPerPage: perPage, currentPage: currentHMPage }">
          <td>
            <span>{{ healthMonitor?.name }}</span>
          </td>
          <td>
            <span>{{ healthMonitor?.type }}</span>
          </td>
          <td>
            <span>{{ healthMonitor?.servicePort }}</span>
          </td>
          <td>
            <span>{{ healthMonitor?.interval }}</span>
          </td>
          <td>
            <span>{{ healthMonitor?.timeout }}</span>
          </td>
          <td>
            <span>{{ healthMonitor?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openHealthMonitorModal(ModalMode.Edit, healthMonitor)" aria-label="Edit Health Monitor"> </fa-icon>
            <fa-icon 
            [icon]="['fas', 'undo']"
              *ngIf="healthMonitor?.deletedAt"
              class="fg-success"
              (click)="restoreHealthMonitor(healthMonitor)"
              aria-label="Restore Health Monitor"
            ></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': healthMonitor?.deletedAt }"
              (click)="deleteHealthMonitor(healthMonitor)"
              aria-label="Soft-Delete/Delete Health Monitor"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!healthMonitors?.length" class="text-center">
          <td colspan="7">No Health Monitors in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentHMPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 5">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openProfileModal(ModalMode.Create)" aria-label="Create Profile">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Profile
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Profiles table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles | paginate: { itemsPerPage: perPage, currentPage: currentProfilesPage }">
          <td>
            <span>{{ profile?.name }}</span>
          </td>
          <td>
            <span>{{ profile?.type }}</span>
          </td>
          <td>
            <span>{{ profile?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openProfileModal(ModalMode.Edit, profile)" aria-label="Edit Profile"> </fa-icon>
            <fa-icon 
            [icon]="['fas', 'undo']"
              *ngIf="profile?.deletedAt"
              class="fg-success"
              (click)="restoreProfile(profile)"
              aria-label="Restore Profile"
            ></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': profile?.deletedAt }"
              (click)="deleteProfile(profile)"
              aria-label="Soft-Delete/Delete Profile"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!profiles?.length" class="text-center">
          <td colspan="4">No Profiles in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentProfilesPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 6">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openPolicyModal(ModalMode.Create)" aria-label="Create Policy">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Policy
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Policies table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies | paginate: { itemsPerPage: perPage, currentPage: currentPoliciesPage }">
          <td>
            <span>{{ policy?.name }}</span>
          </td>
          <td>
            <span>{{ policy?.type }}</span>
          </td>
          <td>
            <span>{{ policy?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openPolicyModal(ModalMode.Edit, policy)" aria-label="Edit Policy"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="policy?.deletedAt" class="fg-success" (click)="restorePolicy(policy)" aria-label="Restore Policy"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': policy?.deletedAt }"
              (click)="deletePolicy(policy)"
              aria-label="Soft-Delete/Delete Policy"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!policies?.length" class="text-center">
          <td colspan="4">No Policies in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPoliciesPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 7">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openVlanModal(ModalMode.Create)" aria-label="Create Vlan">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Vlan
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Vlans table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tag</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vlan of vlans | paginate: { itemsPerPage: perPage, currentPage: currentVlansPage }">
          <td>
            <span>{{ vlan?.name }}</span>
          </td>
          <td>
            <span>{{ vlan?.tag }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openVlanModal(ModalMode.Edit, vlan)" aria-label="Edit Vlan"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="vlan?.deletedAt" class="fg-success" (click)="restoreVlan(vlan)" aria-label="Restore Vlan"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': vlan?.deletedAt }"
              (click)="deleteVlan(vlan)"
              aria-label="Soft-Delete/Delete Vlan"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!vlans?.length" class="text-center">
          <td colspan="4">No Vlans in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentVlansPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 8">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openSelfIpModal(ModalMode.Create)" aria-label="Create Self IP">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Self IP
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Self IP table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">IP Address</th>
          <th scope="col">Vlan</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selfIp of selfIps | paginate: { itemsPerPage: perPage, currentPage: currentSelfIpsPage }">
          <td>
            <span>{{ selfIp?.name }}</span>
          </td>
          <td>
            <span>{{ selfIp?.ipAddress }}</span>
          </td>
          <td>
            <span>{{ selfIp?.loadBalancerVlan?.name }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openSelfIpModal(ModalMode.Edit, selfIp)" aria-label="Edit SelfIp"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="selfIp?.deletedAt" class="fg-success" (click)="restoreSelfIp(selfIp)" aria-label="Restore SelfIp"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': selfIp?.deletedAt }"
              (click)="deleteSelfIp(selfIp)"
              aria-label="Soft-Delete/Delete SelfIp"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!selfIps?.length" class="text-center">
          <td colspan="4">No Self IPs in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentSelfIpsPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 9">
    <div class="btn-group-sm mb-2 pull-right mt-3" role="group">
      <button type="button" class="btn btn-success" (click)="openRouteModal(ModalMode.Create)" aria-label="Create Route">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Create Route
      </button>
    </div>

    <table class="table table-striped" aria-describedby="Routes table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Destination</th>
          <th scope="col">Gateway</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routes | paginate: { itemsPerPage: perPage, currentPage: currentRoutesPage }">
          <td>
            <span>{{ route?.name }}</span>
          </td>
          <td>
            <span>{{ route?.destination }}</span>
          </td>
          <td>
            <span>{{ route?.gateway }}</span>
          </td>
          <td class="item-actions">
            <fa-icon [icon]="['fas', 'pencil-alt']" (click)="openRouteModal(ModalMode.Edit, route)" aria-label="Edit Route"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="route?.deletedAt" class="fg-success" (click)="restoreRoute(route)" aria-label="Restore Route"></fa-icon>
            <fa-icon 
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': route?.deletedAt }"
              (click)="deleteRoute(route)"
              aria-label="Soft-Delete/Delete Route"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!routes?.length" class="text-center">
          <td colspan="4">No Routes in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentRoutesPage = $event"></pagination-controls>
  </div>

  <div class="btn-toolbar" role="toolbar" aria-label="Entities per page">
    <div class="btn-group mr-2 align-items-center" role="group" aria-label="First group">
      Entities per page
      <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">
        10
      </button>
      <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">
        20
      </button>
      <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">
        50
      </button>
    </div>
  </div>

  <div *ngIf="currentTier" class="pull-right">
    <app-import-export
      [exportObject]="exportLoadBalancerConfig()"
      exportFileName="loadBalancers-{{ currentTier.name }}"
      (import)="importLoadBalancerConfig($event)"
    ></app-import-export>
  </div>

  <app-virtual-server-modal></app-virtual-server-modal>
  <app-pool-modal></app-pool-modal>
  <app-node-modal></app-node-modal>
  <app-irule-modal></app-irule-modal>
  <app-health-monitor-modal></app-health-monitor-modal>
  <app-load-balancer-profile-modal></app-load-balancer-profile-modal>
  <app-load-balancer-policy-modal></app-load-balancer-policy-modal>
  <app-load-balancer-vlan-modal></app-load-balancer-vlan-modal>
  <app-load-balancer-self-ip-modal></app-load-balancer-self-ip-modal>
  <app-load-balancer-route-modal></app-load-balancer-route-modal>
</div>
<app-yes-no-modal></app-yes-no-modal>
