<ul class="nav nav-tabs">
  <li class="nav-item" (click)="showExternal()">
    <a class="nav-link" [ngClass]="{ active: navIndex == 'External' }"> External <tooltip [message]="helpText.External"></tooltip> </a>
  </li>
  <li class="nav-item" (click)="showIntervrf()">
    <a class="nav-link" [ngClass]="{ active: navIndex == 'Intervrf' }"> Intervrf <tooltip [message]="helpText.InterVrf"></tooltip></a>
  </li>
</ul>

<h1 class="mt-3 header">{{ navIndex }} Firewall Rules</h1>
<div class="btn-toolbar mb-2 pull-right" role="toolbar">
  <button type="button" class="btn btn-info" (click)="getTiers()" aria-label="Refresh Networks">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>
</div>

<table class="table table-striped" aria-describedby="Firewall Rules table">
  <thead>
    <tr>
      <th scope="col">Tier</th>
      <th scope="col">Firewall Rules</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let firewallRuleGroup of firewallRuleGroups
          | filter: filterFirewallRuleGroup
          | paginate: { itemsPerPage: perPage, currentPage: currentFirewallRulePage }
      "
    >
      <td>
        {{ getTierName(firewallRuleGroup.tierId) }}
      </td>
      <td>
        <a routerLink="/firewall-rules/edit/{{ firewallRuleGroup.id }}" queryParamsHandling="merge">{{ firewallRuleGroup.name }}</a>
      </td>
      <td>{{ firewallRuleGroup.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</td>
    </tr>
    <tr *ngIf="firewallRuleGroups?.length === 0" class="text-center">
      <td colspan="3">No Tiers</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="currentFirewallRulePage = $event"></pagination-controls>

<div class="btn-toolbar" role="toolbar" aria-label="Entities per page">
  <div class="btn-group mr-2 align-items-center" role="group" aria-label="First group">
    Entities per page
    <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">10</button>
    <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">20</button>
    <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">50</button>
  </div>
</div>

<div class="pull-right">
  <app-import-export
    [exportObject]="firewallRuleGroups"
    exportFileName="firewallRuleGroups"
    [disableJson]="false"
    (import)="importFirewallRuleGroupsConfig($event)"
  >
  </app-import-export>
</div>
<app-yes-no-modal></app-yes-no-modal>
