<ul class="nav nav-tabs">
  <li class="nav-item" (click)="navIndex = 'External'">
    <a class="nav-link" [ngClass]="{ active: navIndex == 'External' }">
      External <tooltip [message]="helpText.External"></tooltip>
    </a>
  </li>
  <li class="nav-item" (click)="navIndex = 'Intervrf'">
    <a class="nav-link" [ngClass]="{ active: navIndex == 'Intervrf' }"> Intervrf <tooltip [message]="helpText.InterVrf"></tooltip></a>
  </li>
  <!-- <li class="nav-item" (click)="navIndex = 2">
    <a class="nav-link" [ngClass]="{ active: navIndex == 2 }">Intra-VRF <tooltip [message]="helpText.IntraVrf"></tooltip></a>
  </li> -->
</ul>

  <h1 class="mt-3">{{navIndex}} Firewall Rules</h1>
  <div class="btn-toolbar mb-2 pull-right" role="toolbar">
    <button
      type="button"
      class="btn btn-info btn-sm"
      (click)="getTiers()"
      aria-label="Refresh Networks"
    >
      <fa name="refresh"></fa>
      Refresh
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tier</th>
        <th scope="col">Firewall Rules</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let firewallRuleGroup of firewallRuleGroups | filter: filterFirewallRuleGroup">
        <td>
          {{ getTierName(firewallRuleGroup.tierId) }}
        </td>
        <td>
          <a routerLink="/firewall-rule-group/edit/{{ firewallRuleGroup.id }}"  queryParamsHandling="merge" >{{
            firewallRuleGroup.name
          }}</a>
        </td>
      </tr>
      <tr *ngIf="firewallRuleGroups?.length === 0" class="text-center">
        <td colspan="2">No Tiers</td>
      </tr>
    </tbody>
  </table>
