<h1>Bugs Enhancements</h1>

<ng-container *ngIf="!isLoading; else loading">
  <app-table
    [config]="config"
    [data]="mails"
    [(itemsPerPage)]="perPage"
    (tableEvent)="onTableEvent($event)"
    [searchColumns]="objectSearchColumns"
  >
  </app-table>
</ng-container>

<ng-template #mailBodyTemplate let-mail="datum">
  <div>
    <span style="color: blue; cursor: pointer" (click)="openDetailedModal(mail)"><a>Click Here</a></span>
  </div>
</ng-template>

<ng-template #mailUserTemplate let-mail="datum">
  <div>
    <span> {{ mail.mailBody?.user }}</span>
  </div>
</ng-template>

<ng-template #mailComponentTemplate let-mail="datum">
  <div>
    <span> {{ mail.mailBody?.component }}</span>
  </div>
</ng-template>

<ng-template #actionsTemplate let-mail="datum">
  <section class="table__actions">
    <app-icon-button icon="delete" (handleClick)="deleteMail(mail)"></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-yes-no-modal></app-yes-no-modal>
<app-bugs-enhancements-view-modal [mail]="selectedMail"></app-bugs-enhancements-view-modal>
