<ngx-smart-modal
  #physicalServerModal
  identifier="physicalServerModal"
  [dismissable]="false"
  (onOpen)="getData()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Physical Server</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description" />
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="serialNumber">Serial Number</label>
          <input
            type="text"
            class="form-control"
            formControlName="serialNumber"
            required
          />
        </div>

        <div class="form-group col-md-6">
          <label for="deliveryDate">Delivery Date</label>
          <input
            type="date"
            class="form-control"
            formControlName="deliveryDate"
            required
          />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="form-group col-md-4">
          <label for="localStorageType">Local Storage Type</label>
          <!-- TO DO: get actual options -->
          <select
            formControlName="localStorageType"
            class="form-control"
            required
          >
            <option></option>
            <option *ngFor="let opt of ['one', 'two', 'three']">
              {{ opt }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="localStorageRequired">Local Storage Required?</label>
          <select
            formControlName="localStorageRequired"
            class="form-control"
            required
          >
            <option></option>
            <option *ngFor="let opt of [true, false]">
              {{ opt }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="localStorageSize">Local Storage Size (GB)</label>
          <input
            type="number"
            class="form-control"
            formControlName="localStorageSize"
            required
          />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="form-group col-md-4">
          <label for="sanType">SAN Type</label>
          <!-- TO DO: get actual options -->
          <select formControlName="sanType" class="form-control" required>
            <option></option>
            <option *ngFor="let opt of ['one', 'two', 'three']">
              {{ opt }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="sanRequired">SAN Required?</label>
          <select formControlName="sanRequired" class="form-control" required>
            <option></option>
            <option *ngFor="let opt of [true, false]">
              {{ opt }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="sanStorageSize">SAN Size (GB)</label>
          <input
            type="number"
            class="form-control"
            formControlName="sanStorageSize"
            required
          />
        </div>
      </div>

      <div *ngIf="this.ModalMode === 'Edit'">
        <hr />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
