<section class="btn-toolbar" role="toolbar">
  <button type="button" class="btn btn-success" (click)="openModal()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Create Policy</span>
  </button>
</section>

<ng-container *ngIf="!isLoading; else loading">
  <app-table
    [config]="config"
    [data]="policies"
    (clearResults)="loadPolicies($event)"
    (searchParams)="loadPolicies($event)"
    [searchColumns]="searchColumns"
    [(itemsPerPage)]="perPage"
    (tableEvent)="onTableEvent($event)"
  ></app-table>
  <section class="btn-toolbar" role="toolbar">
    <app-import-export
      [exportObject]="policies"
      exportFileName="LoadBalancer_Policies_{{ currentTier.name }}"
      (import)="import($event)"
    ></app-import-export>
  </section>
</ng-container>

<ng-template #actionsTemplate let-policy="datum">
  <section class="table__actions">
    <app-icon-button
      *ngIf="checkUndeployedChanges(policy)"
      icon="asterisk"
      [label]="'Undeployed Changes'"
      [type]="'info'"
    ></app-icon-button>

    <app-icon-button *ngIf="!policy?.deletedAt" icon="edit" label="Edit Policy" (handleClick)="openModal(policy)"></app-icon-button>

    <app-icon-button
      *ngIf="policy?.deletedAt"
      icon="undo"
      label="Restore Policy"
      type="success"
      (handleClick)="restore(policy)"
    ></app-icon-button>

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Policy"
      [type]="policy?.deletedAt ? 'danger' : 'default'"
      (handleClick)="delete(policy)"
    ></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-policy-modal></app-policy-modal>
<app-yes-no-modal></app-yes-no-modal>
