<ngx-smart-modal
  #endpointSecurityGroupModal
  [dismissable]="false"
  customClass="medium-modal"
  identifier="endpointSecurityGroupModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">Endpoint Security Group</h4>
  </header>
  <app-tabs
    *ngIf="ModalMode === 'Edit'"
    #tabsRef
    [tabs]="tabs"
    [initialTabIndex]="initialTabIndex"
    (tabChange)="handleTabChange($event)"
  ></app-tabs>

  <div class="modal-body" *ngIf="currentTab === 'Consumed Contracts'">
    <app-consumed-contract
      #consumedContract
      [endpointSecurityGroupId]="endpointSecurityGroupId"
      [tenantId]="tenantId"
    ></app-consumed-contract>
  </div>
  <div class="modal-body" *ngIf="currentTab === 'Provided Contracts'">
    <app-provided-contract
      #providedContract
      [endpointSecurityGroupId]="endpointSecurityGroupId"
      [tenantId]="tenantId"
    ></app-provided-contract>
  </div>
  <div *ngIf="currentTab === 'Endpoint Security Group'">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            [class.is-invalid]="submitted && f.name.errors"
            aria-label="Name"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
            <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
            <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
            <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or '_'.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="preferredGroupMember">Preffered Group Member</label>
          <select
            id="preferredGroupMember"
            formControlName="preferredGroupMember"
            class="form-control"
            [class.is-invalid]="submitted && f.preferredGroupMember.errors"
            aria-label="preferredGroupMember"
          >
            <option [ngValue]="true">Include</option>
            <option [ngValue]="false">Exclude</option>
          </select>
          <div *ngIf="submitted && f.preferredGroupMember.errors" class="invalid-feedback">
            <div *ngIf="f.preferredGroupMember.errors.required">Preffered group member is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="adminState">Admin State</label>
          <select
            id="adminState"
            formControlName="adminState"
            class="form-control"
            [class.is-invalid]="submitted && f.adminState.errors"
            aria-label="AdminState"
          >
            <option selected value="AdminUp">Admin Up</option>
            <option value="AdminShut">Admin Shut</option>
          </select>
          <div *ngIf="submitted && f.adminState.errors" class="invalid-feedback">
            <div *ngIf="f.adminState.errors.required">Admin State is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="intraEsgIsolation">Intra Esg Isolation</label>
          <select
            id="intraEsgIsolation"
            formControlName="intraEsgIsolation"
            class="form-control"
            [class.is-invalid]="submitted && f.intraEsgIsolation.errors"
            aria-label="Intra Esg Isolation"
          >
            <option [ngValue]="true">Enforced</option>
            <option [ngValue]="false">Unenforced</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            formControlName="description"
            class="form-control"
            [class.is-invalid]="submitted && f.description.errors"
            aria-label="Description"
          />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="vrfId">Vrf</label>
          <ng-select formControlName="vrfId" [items]="vrfs" id="vrfId" bindLabel="name" bindValue="id"></ng-select>
          <div *ngIf="submitted && f.vrfId.errors" class="custom-invalid-feedback">
            <div *ngIf="f.vrfId.errors.required">Vrf is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="applicationProfile">Application Profile</label>
          <ng-select
            formControlName="applicationProfileId"
            [items]="applicationProfiles"
            id="applicationProfileId"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          <div *ngIf="submitted && f.applicationProfileId.errors" class="custom-invalid-feedback">
            <div *ngIf="f.applicationProfileId.errors.required">Application Profile is required</div>
          </div>
        </div>
      </div>

      <section *ngIf="ModalMode === 'Edit'" role="toolbar">
        <button type="button" class="btn btn-success" (click)="openSelectorModal()">
          <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
          <span>Create Selector</span>
        </button>

        <app-table
          [data]="tagSelectors"
          [config]="tagSelectorConfig"
          [searchColumns]="searchColumns"
          [(itemsPerPage)]="perPage"
          (tableEvent)="onTableEvent($event)"
        ></app-table>
        <app-table
          [data]="epgSelectors"
          [config]="epgSelectorConfig"
          [searchColumns]="searchColumns"
          [(itemsPerPage)]="perPage"
          (tableEvent)="onTableEvent($event)"
        ></app-table>
        <app-table
          [data]="IpSubnetSelectors"
          [config]="IpSubnetSelectorConfig"
          [searchColumns]="searchColumns"
          [(itemsPerPage)]="perPage"
          (tableEvent)="onTableEvent($event)"
        ></app-table>
      </section>
      <footer class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button class="btn btn-success" data-dismiss="modal">
          <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
          <span>Save</span>
        </button>
      </footer>
    </form>
  </div>

  <section *ngIf="currentTab === 'Endpoint Security Group'" role="toolbar">
    <app-import-export exportFileName="selectors" [disableJson]="false" (import)="importSelectors($event)"></app-import-export>
  </section>
</ngx-smart-modal>

<ng-template #actionsTemplate let-selector="datum">
  <section class="table__actions">
    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Selector"
      [type]="selector?.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteSelector(selector)"
    ></app-icon-button>
    <app-icon-button
      icon="undo"
      *ngIf="selector?.deletedAt"
      label="Soft-Delete/Delete Selector"
      type="success"
      (handleClick)="restoreSelector(selector)"
    ></app-icon-button>
  </section>
</ng-template>

<app-selector-modal [vrfId]="esgVrfId" [endpointSecurityGroupId]="endpointSecurityGroupId" [tenantId]="tenantId"></app-selector-modal>
