<ngx-smart-modal #advancedSearch identifier="advancedSearch"
  (onClose)="reset()" (onOpen)="test()" [dismissable]="false" customClass="medium-modal">
  <header class="modal-header">
    <h4 class="modal-title">Advanced Search</h4>
  </header>

  

  <form [formGroup]="form" (ngSubmit)="searchThis($event)">
    <div class="modal-body">

      <div class="form-row">

        <div *ngFor="let formInput of formInputs" class="form-group">

          <label>{{formInput.displayName}}</label>
          <input type="text" class="form-control">

        </div>

      </div>

    </div>

    <footer class="modal-footer">

      <button type="submit" class="btn btn-success">
        <!-- <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon> -->
        <span (click)="searchThis($event)">Search</span>
      </button>
    </footer>

  </form>
</ngx-smart-modal>
