<app-tier-select></app-tier-select>

<div>
  <h1 class="header mb-3">Subnets & VLANs</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="navIndex = 0; getObjectsForNavIndex()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Subnets <tooltip [message]="helpText?.Subnets"></tooltip></a>
    </li>
    <li class="nav-item" (click)="navIndex = 1; getObjectsForNavIndex()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 1 }">VLANs <tooltip [message]="helpText?.Vlans"></tooltip></a>
    </li>
  </ul>

  <div *ngIf="navIndex === 0">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create Subnet -->
      <button type="button" class="btn btn-success" (click)="openSubnetModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Subnet</span>
      </button>
    </section>

    <table class="table table-striped" aria-describedby="Subnets table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">VLAN</th>
          <th scope="col">Network</th>
          <th scope="col">Gateway</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subnet of subnets | paginate: { itemsPerPage: 10, currentPage: currentSubnetsPage }">
          <td>
            <span>{{ subnet?.name }}</span>
          </td>
          <td>
            <span>{{ subnet?.description }}</span>
          </td>
          <td>
            <span>{{ subnet?.vlanId | resolve: getVlanName }}</span>
          </td>
          <td>
            <span>{{ subnet?.network }}</span>
          </td>
          <td>
            <span>{{ subnet?.gateway }}</span>
          </td>
          <td>
            <span>{{ subnet?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon class="icon" [icon]="['fas', 'pencil-alt']" *ngIf="!subnet?.deletedAt" (click)="openSubnetModal(ModalMode.Edit, subnet)" aria-label="Edit Subnet"> </fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="subnet?.deletedAt" class="fg-success icon" (click)="restoreSubnet(subnet)" aria-label="Restore Subnet"></fa-icon>
            <fa-icon
              class="icon"
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': subnet.deletedAt }"
              (click)="deleteSubnet(subnet)"
              aria-label="Soft-Delete/Delete Subnet"
            >
            </fa-icon>
          </td>
        </tr>
        <tr *ngIf="!subnets?.length" class="text-center">
          <td colspan="7">No Subnets in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentSubnetsPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex === 1">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create VLAN -->
      <button type="button" class="btn btn-success" (click)="openVlanModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create VLAN</span>
      </button>
    </section>

    <table class="table table-striped" aria-describedby="VLANs table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">VLAN Number</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vlan of vlans | paginate: { itemsPerPage: 10, currentPage: currentVlansPage }">
          <td>
            <span>{{ vlan?.name }}</span>
          </td>
          <td>
            <span>{{ vlan?.description }}</span>
          </td>
          <td>
            <span>{{ vlan?.vlanNumber }}</span>
          </td>
          <td>
            <span>{{ vlan?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon class="icon" [icon]="['fas', 'pencil-alt']" *ngIf="!vlan?.deletedAt" (click)="openVlanModal(ModalMode.Edit, vlan)" aria-label="Edit VLAN"></fa-icon>
            <fa-icon [icon]="['fas', 'undo']" *ngIf="vlan?.deletedAt" class="fg-success icon" (click)="restoreVlan(vlan)" aria-label="Restore VLAN"></fa-icon>
            <fa-icon 
              class="icon"
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': vlan.deletedAt }"
              (click)="deleteVlan(vlan)"
              aria-label="Soft-Delete/Delete VLAN"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!vlans?.length" class="text-center">
          <td colspan="5">No VLANs in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentVlansPage = $event"></pagination-controls>
  </div>

  <section class="btn-toolbar btn-toolbar--start" role="toolbar">
    <span class="mr-3">Entities per page</span>
    <div class="btn-group" role="group">
      <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">10</button>
      <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">20</button>
      <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">50</button>
    </div>
  </section>
</div>

<section class="btn-toolbar" role="toolbar" *ngIf="currentTier">
  <app-import-export
    [exportObject]="subnets"
    exportFileName="subnets-{{ currentTier?.name }}"
    [disableJson]="false"
    (import)="importSubnetConfig($event)"></app-import-export>
</section>

<section class="btn-toolbar" role="toolbar" *ngIf="navIndex === 1">
  <app-import-export
  [exportObject]="vlans"
  exportFileName="vlans-{{ currentTier?.name }}"
  [disableJson]="false"
  (import)="importVlansConfig($event)"></app-import-export>
</section>

<app-subnet-modal></app-subnet-modal>
<app-vlan-modal></app-vlan-modal>
<app-yes-no-modal [allowEmptyTier]="showRadio"></app-yes-no-modal>
