<!-- add back button? -->
<div class="clearfix">
  <a routerLink="/physical-server" queryParamsHandling="merge" class="btn btn-sm btn-primary mb-2">
    <fa name="arrow-left"></fa>
    Back
  </a>

  <h1>Physical Server: {{ PhysicalServer?.name }}</h1>

  <div class="btn-toolbar mb-2 pull-right" role="toolbar">
    <button *ngIf="PhysicalServer?.deletedAt" class="btn btn-sm btn-success" (click)="restorePhysicalServer(PhysicalServer)">
      <fa name="undo"></fa>
      Restore Physical Server
    </button>
    <button class="btn btn-sm btn-danger" (click)="deletePhysicalServer(PhysicalServer)">
      <fa name="trash"></fa>
      Delete Physical Server
    </button>
  </div>
</div>

<div *ngIf="PhysicalServer">
  <p *ngIf="PhysicalServer.description"><strong>Description:</strong> {{ PhysicalServer.description }}</p>
  <p><strong>Serial Number:</strong> {{ PhysicalServer.serialNumber }}</p>
  <p>
    <strong>Delivery Date:</strong>
    {{ PhysicalServer.deliveryDate | date: 'shortDate' }}
  </p>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Local Storage Type: </strong>
        {{ PhysicalServer.localStorageType }}
      </p>
      <p>
        <strong>Local Storage Required?</strong>
        {{ PhysicalServer.localStorageRequired }}
      </p>
      <p>
        <strong>Local Storage Size:</strong>
        {{ convertBytesToGb(PhysicalServer.localStorageSize) }} GB
      </p>
    </div>
    <div class="col-md-6">
      <p><strong>SAN Type</strong> {{ PhysicalServer.sanType }}</p>
      <p><strong>SAN Required?</strong> {{ PhysicalServer.sanRequired }}</p>
      <p>
        <strong>SAN Storage Size: </strong>
        {{ convertBytesToGb(PhysicalServer.sanStorageSize) }} GB
      </p>
    </div>
  </div>
</div>

<hr />

<div class="p-3">
  <h3>Network Ports</h3>
  <table class="table table-striped" aria-describedby="Network Ports table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of networkPorts">
        <td>
          <span>{{ n.name }}</span>
        </td>
        <td></td>
      </tr>
      <tr *ngIf="!networkPorts?.length" class="text-center">
        <td colspan="2">No Network Ports</td>
      </tr>
    </tbody>
  </table>
</div>

<app-yes-no-modal></app-yes-no-modal>
