<div class="offset-3 col-md-6 mt-5">
  <div class="text-center">
    <img src="/assets/img/logo-alt.png" class="logo" alt="CMS DRaaS Logo" />

    <form name="loginForm" (ngSubmit)="form.form.valid && login()" #form="ngForm" novalidate>
      <div class="mb-3">
        <label for="location">Location</label>
        <select
          id="location"
          name="location"
          class="form-select"
          #location="ngModel"
          [(ngModel)]="selectedLocation"
          aria-label="location"
          [ngClass]="{ 'is-invalid': form.submitted && location.invalid }"
          (change)="navToLocation()"
          required
        >
          <option></option>
          @for (availablelocation of availableLocations; track availablelocation) {
          <option>
            {{ availablelocation }}
          </option>
          }
        </select>

        @if (form.submitted && location.invalid) {
        <div class="invalid-feedback">
          @if (location.errors.required) {
          <div>Select a location</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="EUA Username"
          aria-placeholder="EUA Username"
          id="username"
          class="form-control"
          #username="ngModel"
          [(ngModel)]="userpass.username"
          aria-label="Username"
          [ngClass]="{ 'is-invalid': form.submitted && username.invalid }"
          [disabled]="disableUserPass"
          required
        />
        @if (form.submitted && username.invalid) {
        <div class="invalid-feedback">
          @if (username.errors.required) {
          <div>Username is required</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="EUA Password"
          aria-placeholder="EUA Password"
          id="password"
          class="form-control"
          #password="ngModel"
          [(ngModel)]="userpass.password"
          aria-label="Password"
          [ngClass]="{ 'is-invalid': form.submitted && password.invalid }"
          [disabled]="disableUserPass"
          required
        />

        @if (form.submitted && password.invalid) {
        <div class="invalid-feedback">
          @if (password.errors.required) {
          <div>Password is required</div>
          }
        </div>
        }
      </div>

      <div class="button-container">
        @if (!showTenantButton) {
        <button id="getAccountsButton" class="btn btn-primary btn-lg" type="submit">Get Accounts</button>
        }
      </div>

      @if (errorMessage) {
      <div class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
      }
    </form>

    <form name="tenantForm" (ngSubmit)="(secondform.form.valid)" #secondform="ngForm" novalidate>
      <div class="mb-3">
        <label for="tenant">Account</label>
        <select
          id="tenant"
          name="tenant"
          class="form-select"
          #tenant="ngModel"
          [(ngModel)]="selectedTenant"
          aria-label="Tenant"
          [ngClass]="{ 'is-invalid': secondform.submitted && tenant.invalid }"
          [disabled]="!showTenantButton"
          required
        >
          <option></option>
          @for (availableTenant of availableTenants; track availableTenant) {
          <option [ngValue]="availableTenant">
            {{ availableTenant['tenantFullName'] }}
          </option>
          }
        </select>

        @if (secondform.submitted && tenant.invalid) {
        <div class="invalid-feedback">
          @if (tenant.errors.required) {
          <div>Select Account</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="mode">Mode</label>
        <select
          id="mode"
          name="mode"
          class="form-select"
          #mode="ngModel"
          [(ngModel)]="selectedMode"
          aria-label="Mode"
          [disabled]="!showTenantButton"
          required
        >
          <option value="netcentric">Netcentric (Default)</option>
          <option value="appcentric">Appcentric</option>
        </select>
      </div>
      @if (showAccountSelectionButton) {
      <button class="btn btn-primary btn-lg" (click)="setTenantAndNavigate(selectedTenant, selectedMode)">Select Account</button>
      } @if (showAdminPortalButton) {
      <button class="btn btn-primary btn-lg" (click)="navToAdminPortal(selectedTenant)">Admin Portal</button>
      }
    </form>
  </div>
</div>
