@import '../../../../assets/styles/variables';

.breadcrumb-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: color 150ms;

  a {
    color: $c-gray-700;

    &:hover {
      color: $c-blue-400;
    }
  }
}

.breadcrumb-item {
  font-size: 14px;
}