<label for="contracts">Contracts</label>
<ng-select
  [(ngModel)]="selectedContract"
  [ngModelOptions]="{ standalone: true }"
  [items]="contracts"
  id="contracts"
  bindLabel="name"
></ng-select>
<button type="button" class="btn btn-info" (click)="addContract()" [disabled]="!selectedContract">
  <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
  <span>Add Provided Contract</span>
</button>
<app-table
  [config]="config"
  [data]="contractTableData"
  (clearResults)="getProvidedContracts()"
  (searchParams)="getProvidedContracts()"
  [searchColumns]="searchColumns"
  [(itemsPerPage)]="perPage"
  (tableEvent)="onTableEvent($event)"
></app-table>

<ng-template #actionsTemplate let-contract="datum">
  <section class="table__actions">
    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Contract"
      [type]="contract?.deletedAt ? 'danger' : 'default'"
      (handleClick)="removeContract(contract)"
    ></app-icon-button>
  </section>
</ng-template>
