<div class="offset-1 col-10">
  
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-info" (click)="getVirtualMachines()">
      <fa name="refresh" size="2x"></fa>
    </button>
    <button type="button" class="btn btn-success" [routerLink]="['create']">
      <fa name="plus" size="2x"></fa>
    </button>
    <button type="button" class="btn btn-danger" disabled>
        <fa name="trash" size="2x"></fa>
      </button>
  </div>

  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Project</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vm of virtualMachines">
          <td><input type="checkbox" /></td>
          <td>
            <a href="/virtual-machines/edit/{{ vm.Id }}">{{ vm.Name }}</a>
          </td>
          <td>{{ vm.Description }}</td>
          <td>{{ vm.StatusString }}</td>
          <td>{{ vm.ProjectName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
