<ngx-smart-modal
  #wanFormSubnetModal
  [dismissable]="false"
  customClass="medium-modal"
  identifier="wanFormSubnetModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">Advertised Internal Subnets</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="name"
        />
        @if (submitted && f.name.errors) {
        <div class="invalid-feedback">
          @if (f.name.errors.required) {
          <div>Name is required</div>
          } @if (f.name.errors.minlength) {
          <div>Name must be at least 3 characters.</div>
          } @if (f.name.errors.maxlength) {
          <div>Name must be 100 characters or less.</div>
          } @if (f.name.errors.invalidName) {
          <div>Name must only contain alphanumeric characters or '_'.</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
        />
        @if (submitted && f.description.errors) {
        <div class="invalid-feedback">
          @if (f.description.errors.maxlength) {
          <div>Description must be 500 characters or less.</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="vrf">VRF / Zone</label>
        <select
          id="vrf"
          formControlName="vrf"
          class="form-select"
          [class.is-invalid]="submitted && f.vrf.errors"
          aria-label="Policy Control Enforced"
        >
          <option></option>
          <option value="appprod">appprod (vpn_app_unix)</option>
          <option value="appdev">appdev (vpn_app_unix_imp)</option>
          <option value="dataprod">dataprod (vpn_data_unix)</option>
          <option value="datadev">appprod (vpn_data_unix_imp)</option>
          <option value="edcmgmt">edcmgmt (vpn_edc_mgmt)</option>
          <option value="transport">Transport</option>
        </select>
        @if (submitted && f.vrf.errors) {
        <div class="invalid-feedback">
          @if (f.vrf.errors.required) {
          <div>VRF/Zone is required</div>
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="environment">Environment</label>
        <select
          id="environment"
          formControlName="environment"
          class="form-select"
          [class.is-invalid]="submitted && f.environment.errors"
          aria-label="Environment"
        >
          <option></option>
          <option value="prod">Prod</option>
          <option value="val">Val</option>
          <option value="imp">Imp</option>
          <option value="dev">Dev</option>
        </select>
        @if (submitted && f.environment.errors) {
        <div class="invalid-feedback">
          @if (f.environment.errors.required) {
          <div>Environment is required</div>
          }
        </div>
        }
      </div>

      @if (currentDcsMode === 'netcentric') {
      <div class="mb-3">
        <label for="netcentricSubnet">Subnet</label>
        <select
          id="netcentricSubnet"
          formControlName="netcentricSubnetId"
          class="form-select"
          [class.is-invalid]="submitted && f.netcentricSubnetId.errors"
          aria-label="Netcentric Subnet"
        >
          @for (subnet of availableNetcentricSubnets; track subnet) {
          <option [value]="subnet.id">
            {{ subnet.name }} - {{ subnet.description }} ({{ subnet.network }}, {{ subnet.gateway }}, VLAN: {{ subnet.vlan?.name }}, Shared: {{ subnet.sharedBetweenVrfs ? 'Yes' : 'No' }})
          </option>
          }
        </select>
        @if (submitted && f.netcentricSubnetId.errors) {
        <div class="invalid-feedback">
          @if (f.netcentricSubnetId.errors.required) {
          <div>Subnet is required</div>
          }
        </div>
        }
      </div>
      } @if (currentDcsMode === 'appcentric') {
      <div class="mb-3">
        <label for="appcentricSubnet">Subnet</label>
        <select
          id="appcentricSubnet"
          formControlName="appcentricSubnetId"
          class="form-select"
          [class.is-invalid]="submitted && f.appcentricSubnetId.errors"
          aria-label="Appcentric Subnet"
        >
          @for (subnet of availableAppcentricSubnets; track subnet) {
          <option [value]="subnet.id">
            {{ subnet.name }} - {{ subnet.alias }} - {{ subnet.description }} (Gateway IP: {{ subnet.gatewayIp }}, Treat As Virtual IP
            Address: {{ subnet.treatAsVirtualIpAddress ? 'Yes' : 'No' }}, Primary IP Address: {{ subnet.primaryIpAddress ? 'Yes' : 'No' }},
            Advertised Externally: {{ subnet.advertisedExternally ? 'Yes' : 'No' }}, Preferred: {{ subnet.preferred ? 'Yes' : 'No' }},
            Shared Between VRFs: {{ subnet.sharedBetweenVrfs ? 'Yes' : 'No' }}, IP Data Plane Learning:
            {{ subnet.ipDataPlaneLearning ? 'Yes' : 'No' }}, Tenant: {{ subnet.tenant?.name }}, Bridge Domain:
            {{ subnet.bridgeDomain.name }})
          </option>
          }
        </select>
        @if (submitted && f.appcentricSubnetId.errors) {
        <div class="invalid-feedback">
          @if (f.appcentricSubnetId.errors.required) {
          <div>Subnet is required</div>
          }
        </div>
        }
      </div>
      }
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-bs-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
