<ngx-smart-modal
  #wanFormSubnetModal
  [dismissable]="false"
  customClass="medium-modal"
  identifier="wanFormSubnetModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">Subnets</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or '_'.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          [class.is-invalid]="submitted && f.description.errors"
          aria-label="Description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="vrf">VRF / Zone</label>
        <select
          id="vrf"
          formControlName="vrf"
          class="form-control"
          [class.is-invalid]="submitted && f.vrf.errors"
          aria-label="Policy Control Enforced"
        >
          <option></option>
          <option value="appprod">appprod (vpn_app_unix)</option>
          <option value="appdev">appdev (vpn_app_unix_imp)</option>
          <option value="dataprod">dataprod (vpn_data_unix)</option>
          <option value="datadev">appprod (vpn_data_unix_imp)</option>
          <option value="edcmgmt ">edcmgmt (vpn_edc_mgmt)</option>
          <option value="transport">Transport</option>
        </select>
        <div *ngIf="submitted && f.vrf.errors" class="invalid-feedback">
          <div *ngIf="f.vrf.errors.required">VRF/Zone is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="environment">Environment</label>
        <select
          id="environment"
          formControlName="environment"
          class="form-control"
          [class.is-invalid]="submitted && f.environment.errors"
          aria-label="Environment"
        >
          <option></option>
          <option value="prod">Prod</option>
          <option value="val">Val</option>
          <option value="imp">Imp</option>
          <option value="dev">Dev</option>
        </select>
        <div *ngIf="submitted && f.environment.errors" class="invalid-feedback">
          <div *ngIf="f.environment.errors.required">Environment is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="currentDcsMode === 'netcentric'">
        <label for="netcentricSubnet">Netcentric Subnet</label>
        <select
          id="netcentricSubnet"
          formControlName="netcentricSubnetId"
          class="form-control"
          [class.is-invalid]="submitted && f.netcentricSubnetId.errors"
          aria-label="Netcentric Subnet"
        >
          <option *ngFor="let subnet of availableNetcentricSubnets" [value]="subnet.id">
            {{ subnet.name }} - {{ subnet.description }} ({{ subnet.network }}, {{ subnet.gateway }}, VLAN: {{ subnet.vlanInfo }}, Tier:
            {{ subnet.tierInfo }}, Shared: {{ subnet.sharedBetweenVrfs ? 'Yes' : 'No' }})
          </option>
        </select>
        <div *ngIf="submitted && f.netcentricSubnetId.errors" class="invalid-feedback">
          <div *ngIf="f.netcentricSubnetId.errors.required">Netcentric Subnet is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="currentDcsMode === 'appcentric'">
        <label for="appcentricSubnet">Appcentric Subnet</label>
        <select
          id="appcentricSubnet"
          formControlName="appcentricSubnetId"
          class="form-control"
          [class.is-invalid]="submitted && f.appcentricSubnetId.errors"
          aria-label="Appcentric Subnet"
        >
          <option *ngFor="let subnet of availableAppcentricSubnets" [value]="subnet.id">
            {{ subnet.name }} - {{ subnet.alias }} - {{ subnet.description }} (Gateway IP: {{ subnet.gatewayIp }}, Treat As Virtual IP Address: 
            {{ subnet.treatAsVirtualIpAddress ? 'Yes' : 'No' }}, Primary IP Address: {{ subnet.primaryIpAddress ? 'Yes' : 'No' }}, Advertised Externally: 
            {{ subnet.advertisedExternally ? 'Yes' : 'No' }}, Preferred: {{ subnet.preferred ? 'Yes' : 'No' }}, Shared Between VRFs: 
            {{ subnet.sharedBetweenVrfs ? 'Yes' : 'No' }}, IP Data Plane Learning: {{ subnet.ipDataPlaneLearning ? 'Yes' : 'No' }}, Tenant: 
            {{ subnet.tenantInfo }}, Bridge Domain: {{ subnet.bridgeDomainInfo }})
          </option>
        </select>
        <div *ngIf="submitted && f.appcentricSubnetId.errors" class="invalid-feedback">
          <div *ngIf="f.appcentricSubnetId.errors.required">Appcentric Subnet is required</div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
