<ngx-smart-modal
  #iruleModal
  identifier="iruleModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">iRule</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <tooltip [message]="helpText.Content"></tooltip>
        <textarea
          rows="15"
          formControlName="content"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.content.errors }"
          aria-label="Content"
        >
        </textarea>
        <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
          <div *ngIf="f.content.errors.required">Content is required</div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-link"
        data-dismiss="modal"
        (click)="cancel()"
      >
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['far', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </div>
  </form>
</ngx-smart-modal>
