<div class="select-wrap">
  <span *ngIf="currentDatacenter">
    Current Datacenter: <span class="text-bold ml-1">{{ currentDatacenter.name }}</span>
  </span>

  <span *ngIf="!currentDatacenter" class="fg-danger--dark">No Datacenter Selected</span>

  <button class="btn btn-sm btn-primary ml-3" [disabled]="lockCurrentDatacenter" (click)="ngx.getModal('datacenterSwitchModal').open()">
    {{ currentDatacenter ? 'Switch' : 'Select' }} Datacenter
  </button>
</div>

<ngx-smart-modal #datacenterSwitchModal identifier="datacenterSwitchModal">
  <div class="modal-header">
    <h4 class="modal-title">{{ currentDatacenter ? 'Switch' : 'Select' }} Datacenter</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="datacenterSwitchModal.close()"></button>
  </div>

  <div class="modal-body">
    Current Datacenter:
    {{ currentDatacenter?.name || 'No Datacenter Selected' }}

    <select [(ngModel)]="selectedDatacenter" class="form-control">
      <option></option>
      <option *ngFor="let datacenter of datacenters" [ngValue]="datacenter">{{ datacenter.name }}</option>
    </select>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="datacenterSwitchModal.close()">
      Cancel
    </button>

    <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!selectedDatacenter" (click)="switchDatacenter(); datacenterSwitchModal.close()">
      {{ currentDatacenter ? 'Switch' : 'Select' }} Datacenter
    </button>
  </div>
</ngx-smart-modal>
