<a routerLink="/netcentric/nat-rules" queryParamsHandling="merge" class="btn btn-info">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>{{ TierName }} - {{ NatRuleGroup?.name }} Nat Rules</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Add Nat Rule -->
  <button type="button" class="btn btn-success" (click)="createNatRule()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Add Nat Rule</span>
  </button>

  <!-- Refresh -->
  <button type="button" class="btn btn-info" (click)="refresh()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>

  <button type="button" class="btn btn-info" (click)="openPacketTracer()">Packet Tracer</button>
</section>

<ng-container *ngIf="!isLoading; else loading">
  <app-table
    [config]="config"
    [data]="natRules"
    (clearResults)="getNatRules($event)"
    (searchParams)="getNatRules($event)"
    [searchColumns]="searchColumns"
    [(itemsPerPage)]="perPage"
    (tableEvent)="onTableEvent($event)"
  ></app-table>
</ng-container>

<ng-template #actionsTemplate let-natRule="datum">
  <section class="table__actions">
    <app-icon-button
      *ngIf="!natRule?.deletedAt"
      icon="add"
      label="Nat Rule Operation"
      (handleClick)="openNatRuleOperationModal(natRule)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="!natRule?.deletedAt && NatRuleGroup?.type !== 'ZoneBased'"
      icon="edit"
      label="Edit Nat Rule"
      (handleClick)="openNatRuleModal(ModalMode.Edit, natRule)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="natRule?.deletedAt"
      icon="undo"
      label="Restore Nat Rule"
      type="success"
      (handleClick)="restoreNatRule(natRule)"
    ></app-icon-button>

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Appliance"
      [type]="natRule.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteNatRule(natRule)"
    >
    </app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<section class="btn-toolbar" role="toolbar">
  <app-import-export
    [exportObject]="natRules"
    exportFileName="natRules-{{ TierName }}-{{ NatRuleGroup?.name }}"
    (import)="importNatRulesConfig($event)"
    [disableJson]="false"
  ></app-import-export>
</section>

<app-nat-rule-modal></app-nat-rule-modal>
<app-yes-no-modal></app-yes-no-modal>
<app-preview-modal></app-preview-modal>

<!-- original service type template -->
<ng-template #originalServiceType let-natRule="datum">
  <p *ngIf="natRule.originalServiceType === 'None'" aria-label="Original Service type">
    {{ natRule.originalServiceType }}
  </p>
  <p (click)="getObjectInfo('Original ServiceObject', natRule.originalServiceType, natRule.originalServiceObjectId)" style="color:blue;cursor: pointer;" *ngIf="natRule.originalServiceType === 'ServiceObject'" aria-label="Service Object">
    {{ natRule?.originalServiceObjectId | resolve: getServiceObjectName }}
    (Object)
  </p>
</ng-template>

<!-- original source address template -->
<ng-template #originalSourceAddress let-natRule="datum">
  <p *ngIf="natRule.originalSourceAddressType === 'None'" aria-label="Original Source Address type">
    {{ natRule.originalSourceAddressType }}
  </p>
  <p (click)="getObjectInfo('Original Source NetworkObject', natRule.originalSourceAddressType, natRule.originalSourceNetworkObjectId)" style="color:blue;cursor: pointer;" *ngIf="natRule.originalSourceAddressType === 'NetworkObject'" aria-label="Network Object">
    {{ natRule?.originalSourceNetworkObjectId | resolve: getNetworkObjectName }}
    (Object)
  </p>
  <p (click)="getObjectInfo('Original Source NetworkObjectGroup', natRule.originalSourceAddressType, natRule.originalSourceNetworkObjectGroupId)" style="color:blue;cursor: pointer;" *ngIf="natRule.originalSourceAddressType === 'NetworkObjectGroup'" aria-label="Network Object Group">
    {{ natRule?.originalSourceNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
    (Object Group)
  </p>
</ng-template>

<!-- original destination address template -->
<ng-template #originalDestinationAddress let-natRule="datum">
  <p *ngIf="natRule.originalDestinationAddressType === 'None'" aria-label="Original Destination Address type">
    {{ natRule.originalDestinationAddressType }}
  </p>
  <p (click)="getObjectInfo('Original Destination NetworkObject', natRule.originalDestinationAddressType, natRule.originalDestinationNetworkObjectId)" style="color:blue;cursor: pointer;" *ngIf="natRule.originalDestinationAddressType === 'NetworkObject'" aria-label="Network Object">
    {{ natRule?.originalDestinationNetworkObjectId | resolve: getNetworkObjectName }}
    (Object)
  </p>
  <p (click)="getObjectInfo('Original Destination NetworkObjectGroup', natRule.originalDestinationAddressType, natRule.originalDestinationNetworkObjectGroupId)" style="color:blue;cursor: pointer;" *ngIf="natRule.originalDestinationAddressType === 'NetworkObjectGroup'" aria-label="Network Object Group">
    {{ natRule?.originalDestinationNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
    (Object Group)
  </p>
</ng-template>

<!-- translated service type template -->
<ng-template #translatedServiceType let-natRule="datum">
  <p *ngIf="natRule.translatedServiceType === 'None'" aria-label="Translated Service Type">
    {{ natRule.translatedServiceType }}
  </p>
  <p (click)="getObjectInfo('Translated ServiceObject', natRule.translatedServiceType, natRule.translatedServiceObjectId)" style="color:blue;cursor: pointer;" *ngIf="natRule.translatedServiceType === 'ServiceObject'" aria-label="Service Object">
    {{ natRule?.translatedServiceObjectId | resolve: getServiceObjectName }}
    (Object)
  </p>
</ng-template>

<!-- translated source address template -->
<ng-template #translatedSourceAddress let-natRule="datum">
  <p *ngIf="natRule.translatedSourceAddressType === 'None'" aria-label="Translated Source Address Type">
    {{ natRule?.translatedSourceAddressType }}
  </p>
  <p (click)="getObjectInfo('Translated Source NetworkObject', natRule.translatedSourceAddressType, natRule.translatedSourceNetworkObjectId)" style="color:blue;cursor: pointer;" *ngIf="natRule.translatedSourceAddressType === 'NetworkObject'" aria-label="Network Object">
    {{ natRule?.translatedSourceNetworkObjectId | resolve: getNetworkObjectName }}
    (Object)
  </p>
  <p (click)="getObjectInfo('Translated Source NetworkObjectGroup', natRule.translatedSourceAddressType, natRule.translatedSourceNetworkObjectGroupId)" style="color:blue;cursor: pointer;" *ngIf="natRule.translatedSourceAddressType === 'NetworkObjectGroup'" aria-label="Network Object Group">
    {{ natRule?.translatedSourceNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
    (Object Group)
  </p>
</ng-template>

<!-- translated destination address template -->
<ng-template #translatedDestinationAddress let-natRule="datum">
  <p *ngIf="natRule.translatedDestinationAddressType === 'None'" aria-label="Translated Destination Address Type">
    {{ natRule?.translatedDestinationAddressType }}
  </p>
  <p (click)="getObjectInfo('Translated Destination NetworkObject', natRule.translatedDestinationAddressType, natRule.translatedDestinationNetworkObjectId)" style="color:blue;cursor: pointer;" *ngIf="natRule.translatedDestinationAddressType === 'NetworkObject'" aria-label="Network Object">
    {{ natRule?.translatedDestinationNetworkObjectId | resolve: getNetworkObjectName }}
    (Object)
  </p>
  <p (click)="getObjectInfo('Translated Destination NetworkObjectGroup', natRule.translatedDestinationAddressType, natRule.translatedDestinationNetworkObjectGroupId)" style="color:blue;cursor: pointer;" *ngIf="natRule.translatedDestinationAddressType === 'NetworkObjectGroup'" aria-label="Network Object Group">
    {{ natRule?.translatedDestinationNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
    (Object Group)
  </p>
</ng-template>

<!-- to/from zone/direction template -->
<ng-template #directionZone let-natRule="datum">
  <p *ngIf="NatRuleGroup?.type === 'Intervrf' || NatRuleGroup?.type === 'External'" aria-label="Direction">
    {{ natRule?.direction }}
  </p>
  <p *ngIf="NatRuleGroup?.type === 'ZoneBased'" aria-label="From Zone">
    From: {{ getZoneNames(natRule.fromZone) }}
  </p>
  <p *ngIf="NatRuleGroup?.type === 'ZoneBased'" aria-label="To Zone">
    To: {{ natRule?.toZone?.name }}
  </p>
</ng-template>

<app-nat-rule-packet-tracer [objects]="packetTracerObjects"></app-nat-rule-packet-tracer>

<app-nat-rules-operation-modal
  (emitGetRuleGroup)="getNatRuleGroup()"
  [networkObjects]="networkObjects"
  [networkObjectGroups]="networkObjectGroups"
  [serviceObjects]="serviceObjects"
></app-nat-rules-operation-modal>