<a routerLink="/nat-rules" queryParamsHandling="merge" class="btn btn-info">
    <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
    <span>Back</span>
  </a>
  
  <h1>{{ TierName }} - {{ NatRuleGroup?.name }} Nat Rules</h1>
  
  <section class="btn-toolbar" role="toolbar">
    <!-- Add Nat Rule -->
    <button type="button" class="btn btn-success" (click)="createNatRule()">
      <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
      <span>Add Nat Rule</span>
    </button>
  
    <!-- Refresh -->
    <button type="button" class="btn btn-info" (click)="refresh()">
      <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
      <span>Refresh</span>
    </button>
  </section>
  
  <table class="table table-striped">
    <caption>
      <fa-icon class="icon" [icon]="['fas', 'table']"></fa-icon>
      <span>{{ NatRuleGroup?.name }} Nat Rules</span>
    </caption>
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of tableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let natRule of natRules
            | paginate: { itemsPerPage: perPage, currentPage: currentNatRulePage, totalItems: totalNatRules }
        "
      >
        <td>
          <p>{{ natRule?.name }}</p>
        </td>
        <td>
          <p>{{ natRule?.action }}</p>
        </td>
        <td>
          <p>{{ natRule?.protocol }}</p>
        </td>
        <td>
          <p>{{ natRule?.direction }}</p>
        </td>
        <td>
          <ng-container *ngTemplateOutlet="sourceAddress; context: { datum: natRule }"></ng-container>
        </td>
        <td>
          <ng-container *ngTemplateOutlet="destinationAddress; context: { datum: natRule }"></ng-container>
        </td>
        <td>
          <ng-container *ngTemplateOutlet="serviceType; context: { datum: natRule }"></ng-container>
        </td>
        <td>
          <p>{{ natRule?.logging }}</p>
        </td>
        <td>
          <p>{{ natRule?.enabled }}</p>
        </td>
        <td>
          <span>{{ natRule?.ruleIndex }}</span>
        </td>
        <td class="table__actions">
          <app-icon-button
            *ngIf="!natRule?.deletedAt"
            icon="edit"
            label="Edit Nat Rule"
            (handleClick)="openNatRuleModal(ModalMode.Edit, natRule)"
          ></app-icon-button>
  
          <app-icon-button
            *ngIf="natRule?.deletedAt"
            icon="undo"
            label="Restore Nat Rule"
            type="success"
            (handleClick)="restoreNatRule(natRule)"
          ></app-icon-button>
  
          <app-icon-button
            icon="delete"
            label="Soft-Delete/Delete Appliance"
            [type]="natRule.deletedAt ? 'danger' : 'default'"
            (handleClick)="deleteNatRule(natRule)"
          >
          </app-icon-button>
        </td>
      </tr>
      <tr *ngIf="natRules?.length === 0" class="text-center">
        <td colspan="11">No Nat Rules</td>
      </tr>
    </tbody>
  </table>
  
  <pagination-controls (pageChange)="currentNatRulePage = $event; getNatRules()"></pagination-controls>
  
  <section class="btn-toolbar btn-toolbar--start" role="toolbar">
    <span class="mr-3">Entities per page</span>
    <div class="btn-group" role="group">
      <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">50</button>
      <button type="button" value="100" (click)="perPage = $event.target.value" class="btn btn-light">100</button>
      <button type="button" value="200" (click)="perPage = $event.target.value" class="btn btn-light">200</button>
    </div>
  </section>
  
  <section class="btn-toolbar" role="toolbar">
    <app-import-export
      [exportObject]="natRules"
      exportFileName="natRules-{{ TierName }}-{{ NatRuleGroup?.name }}"
      (import)="importNatRulesConfig($event)"
      [disableJson]="false"
    ></app-import-export>
  </section>
  
  <app-nat-rule-modal></app-nat-rule-modal>
  <app-yes-no-modal></app-yes-no-modal>
  
  <!-- source address template -->
  <ng-template #sourceAddress let-natRule="datum">
    <p *ngIf="natRule.sourceAddressType === 'IpAddress'" aria-label="Source IP">
      {{ natRule?.sourceIpAddress }}
    </p>
    <p *ngIf="natRule.sourceAddressType === 'NetworkObject'" aria-label="Source Network Object">
      {{ natRule?.sourceNetworkObjectId | resolve: getNetworkObjectName }}
      (Object)
    </p>
    <p *ngIf="natRule.sourceAddressType === 'NetworkObjectGroup'" aria-label="Source Network Object Group">
      {{ natRule?.sourceNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
      (Object Group)
    </p>
  </ng-template>
  
  <!-- destination address template -->
  <ng-template #destinationAddress let-natRule="datum">
    <p *ngIf="natRule.destinationAddressType === 'IpAddress'" aria-label="Destination IP">
      {{ natRule?.destinationIpAddress }}
    </p>
    <p *ngIf="natRule.destinationAddressType === 'NetworkObject'" aria-label="Destination Network Object">
      {{ natRule?.destinationNetworkObjectId | resolve: getNetworkObjectName }}
      (Object)
    </p>
    <p *ngIf="natRule.destinationAddressType === 'NetworkObjectGroup'" aria-label="Destination Network Object Group">
      {{ natRule?.destinationNetworkObjectGroupId | resolve: getNetworkObjectGroupName }}
      (Object Group)
    </p>
  </ng-template>
  
  <!-- service type template -->
  <ng-template #serviceType let-natRule="datum">
    <p *ngIf="natRule.serviceType === 'Port'" aria-label="Source/Destination Ports">
      Source Ports: {{ natRule?.sourcePorts }} - Destination Ports: {{ natRule?.destinationPorts }}
    </p>
    <p *ngIf="natRule.serviceType === 'ServiceObject'" aria-label="Service Object">
      {{ natRule?.serviceObjectId | resolve: getServiceObjectName }} (Object)
    </p>
  </ng-template>
  