<a routerLink="/netcentric/nat-rules" queryParamsHandling="merge" class="btn btn-info">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>{{ TierName }} - {{ NatRuleGroup?.name }} Nat Rules</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Add Nat Rule -->
  <button type="button" class="btn btn-success" (click)="createNatRule()">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Add Nat Rule</span>
  </button>

  <!-- Refresh -->
  <button type="button" class="btn btn-info" (click)="refresh()">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>

  @if (NatRuleGroup?.type === 'Intervrf' || NatRuleGroup?.type === 'External') {
  <button class="btn btn-info" (click)="openPacketTracer()">Packet Tracer</button>
  }
</section>

@if (!isLoading) {
<app-table
  [config]="config"
  [data]="natRules"
  (clearResults)="getNatRules($event)"
  (searchParams)="getNatRules($event)"
  [searchColumns]="searchColumns"
  [(itemsPerPage)]="perPage"
  (tableEvent)="onTableEvent($event)"
></app-table>
} @else {
<fa-icon class="icon" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
}
<ng-template #actionsTemplate let-natRule="datum">
  <section class="table__actions">
    @if (checkUndeployedChanges(natRule)) {
    <app-icon-button icon="asterisk" label="Undeployed Changes" [type]="'info'"></app-icon-button>
    } @if (!natRule?.deletedAt && NatRuleGroup?.type !== 'ZoneBased') {
    <app-icon-button icon="clone" label="Move/Clone Nat Rule" (handleClick)="openNatRuleOperationModal(natRule)"></app-icon-button>
    } @if (!natRule?.deletedAt) {
    <app-icon-button icon="edit" label="Edit Nat Rule" (handleClick)="openNatRuleModal(ModalMode.Edit, natRule)"></app-icon-button>
    } @if (natRule?.deletedAt) {
    <app-icon-button icon="undo" label="Restore Nat Rule" type="success" (handleClick)="restoreNatRule(natRule)"></app-icon-button>
    }

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete NAT Rule"
      [type]="natRule.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteNatRule(natRule)"
    >
    </app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
</ng-template>

<section class="btn-toolbar" role="toolbar">
  <app-import-export
    [exportObject]="natRules"
    exportFileName="natRules-{{ TierName }}-{{ NatRuleGroup?.name }}"
    (import)="importNatRulesConfig($event)"
    [disableJson]="false"
  ></app-import-export>
</section>

<app-nat-rule-modal></app-nat-rule-modal>
<app-yes-no-modal></app-yes-no-modal>
<app-preview-modal></app-preview-modal>

<!-- original service type template -->
<ng-template #originalServiceType let-natRule="datum">
  @if (natRule.originalServiceType === 'None') {
  <p aria-label="Original Service type">
    {{ natRule.originalServiceType }}
  </p>
  } @if (natRule.originalServiceType === 'ServiceObject') {
  <p
    (click)="getObjectInfo('Original ServiceObject', natRule.originalServiceType, natRule.originalServiceObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Service Object"
  >
    {{ natRule?.originalServiceObjectId | resolve : getServiceObjectName }}
    (Object)
  </p>
  }
</ng-template>

<!-- original source address template -->
<ng-template #originalSourceAddress let-natRule="datum">
  @if (natRule.originalSourceAddressType === 'None') {
  <p aria-label="Original Source Address type">
    {{ natRule.originalSourceAddressType }}
  </p>
  } @if (natRule.originalSourceAddressType === 'NetworkObject') {
  <p
    (click)="getObjectInfo('Original Source NetworkObject', natRule.originalSourceAddressType, natRule.originalSourceNetworkObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Network Object"
  >
    {{ natRule?.originalSourceNetworkObjectId | resolve : getNetworkObjectName }}
    (Object)
  </p>
  } @if (natRule.originalSourceAddressType === 'NetworkObjectGroup') {
  <p
    (click)="
      getObjectInfo('Original Source NetworkObjectGroup', natRule.originalSourceAddressType, natRule.originalSourceNetworkObjectGroupId)
    "
    style="color: blue; cursor: pointer"
    aria-label="Network Object Group"
  >
    {{ natRule?.originalSourceNetworkObjectGroupId | resolve : getNetworkObjectGroupName }}
    (Object Group)
  </p>
  }
</ng-template>

<!-- original destination address template -->
<ng-template #originalDestinationAddress let-natRule="datum">
  @if (natRule.originalDestinationAddressType === 'None') {
  <p aria-label="Original Destination Address type">
    {{ natRule.originalDestinationAddressType }}
  </p>
  } @if (natRule.originalDestinationAddressType === 'NetworkObject') {
  <p
    (click)="
      getObjectInfo(
        'Original Destination NetworkObject',
        natRule.originalDestinationAddressType,
        natRule.originalDestinationNetworkObjectId
      )
    "
    style="color: blue; cursor: pointer"
    aria-label="Network Object"
  >
    {{ natRule?.originalDestinationNetworkObjectId | resolve : getNetworkObjectName }}
    (Object)
  </p>
  } @if (natRule.originalDestinationAddressType === 'NetworkObjectGroup') {
  <p
    (click)="
      getObjectInfo(
        'Original Destination NetworkObjectGroup',
        natRule.originalDestinationAddressType,
        natRule.originalDestinationNetworkObjectGroupId
      )
    "
    style="color: blue; cursor: pointer"
    aria-label="Network Object Group"
  >
    {{ natRule?.originalDestinationNetworkObjectGroupId | resolve : getNetworkObjectGroupName }}
    (Object Group)
  </p>
  }
</ng-template>

<!-- translated service type template -->
<ng-template #translatedServiceType let-natRule="datum">
  @if (natRule.translatedServiceType === 'None') {
  <p aria-label="Translated Service Type">
    {{ natRule.translatedServiceType }}
  </p>
  } @if (natRule.translatedServiceType === 'ServiceObject') {
  <p
    (click)="getObjectInfo('Translated ServiceObject', natRule.translatedServiceType, natRule.translatedServiceObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Service Object"
  >
    {{ natRule?.translatedServiceObjectId | resolve : getServiceObjectName }}
    (Object)
  </p>
  }
</ng-template>

<!-- translated source address template -->
<ng-template #translatedSourceAddress let-natRule="datum">
  @if (natRule.translatedSourceAddressType === 'None') {
  <p aria-label="Translated Source Address Type">
    {{ natRule?.translatedSourceAddressType }}
  </p>
  } @if (natRule.translatedSourceAddressType === 'NetworkObject') {
  <p
    (click)="getObjectInfo('Translated Source NetworkObject', natRule.translatedSourceAddressType, natRule.translatedSourceNetworkObjectId)"
    style="color: blue; cursor: pointer"
    aria-label="Network Object"
  >
    {{ natRule?.translatedSourceNetworkObjectId | resolve : getNetworkObjectName }}
    (Object)
  </p>
  } @if (natRule.translatedSourceAddressType === 'NetworkObjectGroup') {
  <p
    (click)="
      getObjectInfo(
        'Translated Source NetworkObjectGroup',
        natRule.translatedSourceAddressType,
        natRule.translatedSourceNetworkObjectGroupId
      )
    "
    style="color: blue; cursor: pointer"
    aria-label="Network Object Group"
  >
    {{ natRule?.translatedSourceNetworkObjectGroupId | resolve : getNetworkObjectGroupName }}
    (Object Group)
  </p>
  }
</ng-template>

<!-- translated destination address template -->
<ng-template #translatedDestinationAddress let-natRule="datum">
  @if (natRule.translatedDestinationAddressType === 'None') {
  <p aria-label="Translated Destination Address Type">
    {{ natRule?.translatedDestinationAddressType }}
  </p>
  } @if (natRule.translatedDestinationAddressType === 'NetworkObject') {
  <p
    (click)="
      getObjectInfo(
        'Translated Destination NetworkObject',
        natRule.translatedDestinationAddressType,
        natRule.translatedDestinationNetworkObjectId
      )
    "
    style="color: blue; cursor: pointer"
    aria-label="Network Object"
  >
    {{ natRule?.translatedDestinationNetworkObjectId | resolve : getNetworkObjectName }}
    (Object)
  </p>
  } @if (natRule.translatedDestinationAddressType === 'NetworkObjectGroup') {
  <p
    (click)="
      getObjectInfo(
        'Translated Destination NetworkObjectGroup',
        natRule.translatedDestinationAddressType,
        natRule.translatedDestinationNetworkObjectGroupId
      )
    "
    style="color: blue; cursor: pointer"
    aria-label="Network Object Group"
  >
    {{ natRule?.translatedDestinationNetworkObjectGroupId | resolve : getNetworkObjectGroupName }}
    (Object Group)
  </p>
  }
</ng-template>

<!-- to/from zone/direction template -->
<ng-template #directionZone let-natRule="datum">
  @if (NatRuleGroup?.type === 'Intervrf' || NatRuleGroup?.type === 'External') {
  <p aria-label="Direction">
    {{ natRule?.direction }}
  </p>
  } @if (NatRuleGroup?.type === 'ZoneBased') {
  <p aria-label="From Zone">From: {{ getZoneNames(natRule.fromZone) }}</p>
  } @if (NatRuleGroup?.type === 'ZoneBased') {
  <p aria-label="To Zone">To: {{ natRule?.toZone?.name }}</p>
  }
</ng-template>

<app-nat-rule-packet-tracer [objects]="packetTracerObjects"></app-nat-rule-packet-tracer>

<app-nat-rules-operation-modal
  (emitGetRuleGroup)="getNatRuleGroup()"
  [networkObjects]="networkObjects"
  [networkObjectGroups]="networkObjectGroups"
  [serviceObjects]="serviceObjects"
></app-nat-rules-operation-modal>

<ng-template #expandableRowsTemplate let-natRule="datum">
  <div class="hitcount-container">
    <div class="hitcount-display">
      <strong>Hit Count:&nbsp;</strong>
      <span>{{ natRule.hitCount === null ? '-' : natRule.hitCount }}</span>
    </div>

    <div class="last-refreshed">
      <strong>Last Refreshed:&nbsp;</strong>
      <span>
        {{ NatRuleGroup.runtimeDataLastRefreshed ? calculateTimeDifference(NatRuleGroup.runtimeDataLastRefreshed) : '-' }}
      </span>
    </div>

    <button
      (click)="refreshHitcount()"
      class="refresh-button"
      [ngClass]="{ 'green-button': isRecentlyRefreshed() }"
      [disabled]="isRefreshingRuntimeData || isRecentlyRefreshed()"
    >
      @if (!isRefreshingRuntimeData && !isRecentlyRefreshed()) { Refresh Hitcount } @if (isRefreshingRuntimeData) {
      <fa-icon class="icon" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
      Refreshing... } @if (isRecentlyRefreshed() && !isRefreshingRuntimeData) { Refreshed }
    </button>
  </div>
</ng-template>
