<h3 class="header-with-button">
  Advertised Internal Subnets
  <button *ngIf="!global" class="inline-button" (click)="navigateToWanFormSubnets()" [disabled]="wanForm.status === 'PENDING'">
    Manage Subnets
  </button>
</h3>
<div class="table-container mb-4">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>VRF</th>
        <th>Environment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subnet of wanForm?.wanFormSubnets">
        <td>{{ subnet.name }}</td>
        <td>{{ subnet.description || '-' }}</td>
        <td>{{ subnet.vrf }}</td>
        <td>{{ subnet.environment }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="header-with-button">
  Allowed External Routes
  <button *ngIf="!global" class="inline-button" (click)="navigateToExternalRoute()" [disabled]="wanForm.status === 'PENDING'">
    Manage External Routes
  </button>
</h3>
<div class="table-container mb-4">
  <table>
    <thead>
      <tr>
        <th>Network</th>
        <th>Protocol</th>
        <th>Metric</th>
        <th>VRF</th>
        <th>Uptime</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of wanForm?.externalRoutes">
        <td>{{ route.network }}/{{ route.prefixLength }}</td>
        <td>{{ route.protocol }}</td>
        <td>{{ route.metric }}</td>
        <td>{{ route.vrf }}</td>
        <td>{{ route.uptime }}</td>
      </tr>
    </tbody>
  </table>
</div>
