<div class="mb-3 mt-3">
  <div class="chart-wrapper m-3">
    <h4>Replication Not Completed</h4>
    <ngx-charts-pie-chart
      [scheme]="pieColorScheme"
      [results]="pieChartData"
      [legend]="pieShowLegend"
      [legendPosition]="pieLegendPosition"
      [labels]="pieShowLabels"
    >
    </ngx-charts-pie-chart>
  </div>
  <div class="chart-wrapper m-3 pt-3">
    <h4>Replication Queue Depth</h4>
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [yScaleMax]="yScaleMax"
      [results]="lineChartData"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<table name="" class="table table-striped">
  <thead>
    <th>VOLSER</th>
    <th>CGX</th>
    <th>Storage Pool</th>
    <th>Status</th>
    <th>Timestamp</th>
  </thead>
  <tbody>
    <!-- *ngFor="" -->
    <tr>
      <td>Q02400</td>
      <td>cgx2</td>
      <td>sp3490</td>
      <td>Complete</td>
      <td>2020.03.17 11:17:33 AM EDT</td>
    </tr>
    <tr>
      <td>Q20001-recall@default</td>
      <td>cgx1</td>
      <td>spcloud</td>
      <td>Error</td>
      <td>2020.03.17 11:17:09 AM EDT</td>
    </tr>
    <tr>
      <td>Q02401</td>
      <td>cgx2</td>
      <td>sp3490</td>
      <td>Write</td>
      <td>2020.03.17 11:16:27 AM EDT</td>
    </tr>
  </tbody>
</table>
