<a routerLink="/appliance" queryParamsHandling="merge" class="btn btn-info">
  <fa-icon class="icon" [icon]="['fas', 'chevron-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>Appliance: {{ Appliance?.name }}</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Restore Appliance -->
  <button *ngIf="Appliance?.deletedAt" class="btn btn-success" (click)="restoreAppliance(Appliance)">
    <fa-icon class="icon" [icon]="['fas', 'undo']"></fa-icon>
    <span>Restore Appliance</span>
  </button>

  <!-- Delete Appliance -->
  <button class="btn btn-danger" (click)="deleteAppliance(Appliance)">
    <fa-icon class="icon" [icon]="['fas', 'trash']"></fa-icon>
    <span>Delete Appliance</span>
  </button>
</section>

<div *ngIf="Appliance">
  <app-view-field background="none" label="Description" [value]="Appliance.description || 'No description provided'"></app-view-field>

  <div class="details">
    <app-view-field label="Rack Units" [value]="Appliance.rackUnits"></app-view-field>
    <app-view-field label="Serial Number" [value]="Appliance.serialNumber"></app-view-field>
    <app-view-field label="Delivery Date" [value]="Appliance.deliveryDate | date: 'dd/MM/yyyy'"></app-view-field>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p><strong>Local Storage Type:</strong> {{ Appliance.localStorageType }}</p>
      <p>
        <strong>Local Storage Required?</strong>
        {{ Appliance.localStorageRequired }}
      </p>
      <p>
        <strong>Local Storage Size:</strong>
        {{ ConversionUtil.convertBytesToGb(Appliance.localStorageSize) }} GB
      </p>
    </div>
    <div class="col-md-4">
      <p><strong>SAN Type:</strong> {{ Appliance.sanType }}</p>
      <p><strong>SAN Required?</strong> {{ Appliance.sanRequired }}</p>
      <p>
        <strong>SAN Storage Size:</strong>
        {{ ConversionUtil.convertBytesToGb(Appliance.sanStorageSize) }} GB
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Power Supply:</strong>
        {{ Appliance.powerSupplyVoltage + 'V, ' + Appliance.powerSupplyWattage + 'W' }}
      </p>
      <p>
        <strong>Power Supply Connection Type:</strong>
        {{ Appliance.powerSupplyConnectionType }}
      </p>
      <p><strong>Power Supply Count:</strong> {{ Appliance.powerSupplyCount }}</p>
    </div>
  </div>
</div>

<hr />

<h2>Network Ports</h2>

<table class="table table-striped">
  <caption>
    <fa-icon class="icon" [icon]="['fas', 'table']"></fa-icon>
    <span>Network Ports on this Appliance</span>
  </caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of networkPorts">
      <td>
        <span>{{ n.name }}</span>
      </td>
      <td class="table__actions"></td>
    </tr>
    <tr *ngIf="!networkPorts?.length" class="text-center">
      <td colspan="2">No Network Ports</td>
    </tr>
  </tbody>
</table>

<app-yes-no-modal></app-yes-no-modal>
