<a routerLink="/appliance" queryParamsHandling="merge" class="btn btn-primary">
  <fa-icon class="icon" [icon]="['fas', 'arrow-left']"></fa-icon>
  <span>Back</span>
</a>

<h1>Appliance: {{ Appliance?.name }}</h1>

<section class="btn-toolbar" role="toolbar">
  <!-- Restore Appliance -->
  <button *ngIf="Appliance?.deletedAt" class="btn btn-success" (click)="restoreAppliance(Appliance)">
    <fa-icon class="icon" [icon]="['fas', 'undo']"></fa-icon>
    <span>Restore Appliance</span>
  </button>

  <!-- Delete Appliance -->
  <button class="btn btn-danger" (click)="deleteAppliance(Appliance)">
    <fa-icon class="icon" [icon]="['fas', 'trash']"></fa-icon>
    <span>Delete Appliance</span>
  </button>
</section>

<div *ngIf="Appliance">
  <p *ngIf="Appliance.description"><strong>Description:</strong> {{ Appliance.description }}</p>
  <p><strong>Rack Units:</strong> {{ Appliance.rackUnits }}</p>
  <p><strong>Serial Number:</strong> {{ Appliance.serialNumber }}</p>
  <p>
    <strong>Delivery Date:</strong>
    {{ Appliance.deliveryDate | date: 'shortDate' }}
  </p>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <p><strong>Local Storage Type:</strong> {{ Appliance.localStorageType }}</p>
      <p>
        <strong>Local Storage Required?</strong>
        {{ Appliance.localStorageRequired }}
      </p>
      <p>
        <strong>Local Storage Size:</strong>
        {{ ConversionUtil.convertBytesToGb(Appliance.localStorageSize) }} GB
      </p>
    </div>
    <div class="col-md-4">
      <p><strong>SAN Type:</strong> {{ Appliance.sanType }}</p>
      <p><strong>SAN Required?</strong> {{ Appliance.sanRequired }}</p>
      <p>
        <strong>SAN Storage Size:</strong>
        {{ ConversionUtil.convertBytesToGb(Appliance.sanStorageSize) }} GB
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Power Supply Voltage:</strong>
        {{ Appliance.powerSupplyVoltage }}
      </p>
      <p>
        <strong>Power Supply Wattage:</strong>
        {{ Appliance.powerSupplyWattage }}
      </p>
      <p>
        <strong>Power Supply Connection Type:</strong>
        {{ Appliance.powerSupplyConnectionType }}
      </p>
      <p><strong>Power Supply Count:</strong> {{ Appliance.powerSupplyCount }}</p>
    </div>
  </div>
</div>

<div class="p-3">
  <h3>Network Ports</h3>
  <table class="table table-striped" aria-describedby="Network Ports table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of networkPorts">
        <td>
          <span>{{ n.name }}</span>
        </td>
        <td class="item-actions">
          <!-- actions? -->
        </td>
      </tr>
      <tr *ngIf="!networkPorts?.length" class="text-center">
        <td colspan="2">No Network Ports</td>
      </tr>
    </tbody>
  </table>
</div>

<app-yes-no-modal></app-yes-no-modal>
