.dot-container {
  cursor: pointer;
}

.dot-container:hover {
  cursor: pointer;
}

.my-container {
  position: relative;
  display: flex;
  flex-direction: column; /* Ensure the content stacks vertically */
  width: 100%;
  height: 100vh; /* Make sure the container takes full viewport height */
}

.my-drawer {
  z-index: 1000;
  width: 300px;
  flex-shrink: 0; /* Prevent the drawer from shrinking */
  height: 100vh; /* Full viewport height */
  overflow-y: auto;
  position: absolute; /* Position it outside the flow */
  right: 0; /* Align it to the right */
  top: 0; /* Align it to the top */
}

.my-drawer-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Allow content to scroll */
  height: 100%;
}

.sticky-drawer-content {
  position: sticky;
  top: 0;
}