<ngx-smart-modal
  #serviceObjectGroupModal
  identifier="serviceObjectGroupModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Service Object Group</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="type">Type</label>
          <tooltip [message]="helpText.Type"></tooltip>
          <select
            name="type"
            formControlName="type"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
            aria-label="Type"
          >
            <option></option>
            <option value="TCPUDP">TCP/UDP</option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Type is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Description</label>
        <tooltip [message]="helpText.Description"></tooltip>
        <input
          type="text"
          formControlName="description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          aria-label="Description"
        />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Name is required</div>
        </div>
      </div>

      Service Objects
      <tooltip [message]="helpText.ServiceObjects"></tooltip>

      <div
        *ngIf="ModalMode === 'Edit'"
        class="btn-group-sm pull-right mb-2"
        role="group"
      >
        <select
          [(ngModel)]="selectedServiceObject"
          [ngModelOptions]="{ standalone: true }"
        >
          <option></option>
          <option
            *ngFor="let tierServiceObject of tierServiceObjects"
            [ngValue]="tierServiceObject"
            >{{ tierServiceObject?.name }}</option
          >
        </select>

        <button
          type="button"
          class="btn btn-info"
          (click)="addServiceObject()"
          aria-label="Service Object"
          [disabled]="!selectedServiceObject"
        >
          <fa name="plus"></fa>
          Add Service Object
        </button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Source Port</th>
            <th scope="col">Destination Port</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceObject of serviceObjects">
            <td>
              <span>{{ serviceObject?.name }}</span>
            </td>
            <td>
              <span>{{ serviceObject?.protocol }}</span>
            </td>
            <td>
              <span>{{ serviceObject?.sourcePorts }}</span>
            </td>
            <td>
              <span>{{ serviceObject?.destinationPorts }}</span>
            </td>
            <td class="item-actions">
              <fa name="times" (click)="removeServiceObject(serviceObject)">
              </fa>
            </td>
          </tr>
          <tr *ngIf="!serviceObjects?.length" class="text-center">
            <td colspan="6">No Service Objects</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-link"
        data-dismiss="modal"
        (click)="cancel()"
      >
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa name="save"></fa>
        Save
      </button>
    </div>
  </form>
</ngx-smart-modal>
