<ngx-smart-modal
  #loadBalancerProfileModal
  identifier="loadBalancerProfileModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="large-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Load Balancer Profile</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="type">Type</label>
          <tooltip [message]="helpText.Type"></tooltip>
          <select formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
            aria-label="Type">
            <option value="ClientSSL">ClientSSL</option>
            <option value="Http">HTTP</option>
          </select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Type is required</div>
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="f.type.value === 'Http'">
        <div class="form-group col-md-6">
          <label for="reverseProxy">Reverse Proxy</label>
          <tooltip [message]="helpText.ReverseProxy"></tooltip>
          <select formControlName="reverseProxy" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.reverseProxy.errors }">
            <option value="Explicit">Explicit</option>
            <option value="Reverse">Reverse</option>
            <option value="Transparent">Transparent</option>
          </select>
          <div *ngIf="submitted && f.reverseProxy.errors" class="invalid-feedback">
            <div *ngIf="f.reverseProxy.errors.required">Reverse Proxy is required</div>
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="f.type.value === 'ClientSSL'">
        <div class="form-group col-md-12">
          <label for="publicKey">Certificate</label>
          <tooltip [message]="helpText.Certificate"></tooltip>
          <textarea
          rows="8"
          formControlName="certificate"
          class="form-control"
          aria-label="Certificate"
          placeholder="Paste Public Certificate Here"
          >
          </textarea>
        </div>
        <div *ngIf="submitted && f.certificate.errors" class="invalid-feedback">
          <div *ngIf="f.certificate.errors.required">Public Certificate is required</div>
        </div>
      </div>

      <div class="form-row" *ngIf="f.type.value === 'ClientSSL'">
        <div class="form-group col-md-6">

          <button
          class="btn btn-warning btn-sm mr-1"
          (click)="privateKeyCipherUploader.click()"
          type="button"
          *ngIf="!disableImport"
        >
          <fa name="upload"></fa>
          <span>{{ privateKeyCipher ? 'Replace' : 'Upload' }} Encrypted Private Key</span>
        </button>

          <input
          hidden
          type="file"
          #privateKeyCipherUploader
          (change)="importPrivateKeyCipher($event)"
          [(ngModel)]="privateKeyCipherInput"
          [ngModelOptions]="{standalone: true}"
        />
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
