<div class="d-flex justify-content-center align-items-center gap-2 pb-2">
  <span class="col-form-label">Current Tier:</span>
  <strong class="ms-1">{{ currentTier?.name || 'No Tier Selected' }}</strong>
  <button type="button" class="btn btn-primary w-auto flex-grow-0 ms-3" (click)="openTierModal()" [disabled]="!datacenterId">
    {{ currentTier ? 'Switch' : 'Select' }} Tier
  </button>
</div>

<ngx-smart-modal [dismissable]="false" (onClose)="clearTier()" #tierSwitchModal identifier="tierSwitchModal">
  <header class="modal-header">
    <h4 class="modal-title">{{ currentTier ? 'Switch' : 'Select' }} Tier</h4>
  </header>

  <div class="modal-body">
    <p class="mb-3">Current Tier: {{ currentTier?.name || 'No Tier Selected' }}</p>
    <ng-select [items]="tiers" bindLabel="name" bindValue="id" [(ngModel)]="selectedTier"></ng-select>
  </div>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="tierSwitchModal.close(); clearTier()">Cancel</button>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-dismiss="modal"
      [disabled]="!selectedTier"
      (click)="switchTier(); tierSwitchModal.close()"
    >
      {{ currentTier ? 'Switch' : 'Select' }} Tier
    </button>
  </footer>
</ngx-smart-modal>
