<div class="clearfix">
  <h1 class="mb-3">LDOM: {{ Ldom?.name }}</h1>

  <div class="btn-toolbar pb-1 pull-left">
    <app-import-export
    [exportObject]="LdomMetadata"
    exportFileName="LDOM_{{ Ldom?.name }}"
    disableImport="true"
    disableCsv="true"
  ></app-import-export>  
  </div>


  <div class="btn-toolbar pull-right" role="toolbar">
    <button
      class="btn btn-sm btn-danger"
      (click)="ngxSm.getModal('deleteLdomModal').open()"
    >
      <fa name="trash"></fa>
      Delete LDOM
    </button>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item" (click)="navIndex = 0">
    <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Summary</a>
  </li>
  <li class="nav-item" (click)="navIndex = 1">
    <a class="nav-link" [ngClass]="{ active: navIndex == 1 }">Virtual Disks</a>
  </li>
  <li class="nav-item" (click)="navIndex = 2">
    <a class="nav-link" [ngClass]="{ active: navIndex == 2 }"
      >Virtual Networks</a
    >
  </li>
</ul>

<div *ngIf="navIndex == 0">
  <div class="p-3">
    <p>
      <strong>vCPU: </strong>
      {{ LdomMetadata?.vcpu }}
    </p>
    <p>
      <strong>Memory: </strong>
      {{ LdomMetadata?.memory }}
    </p>
    <p>
      <strong>Net Install:</strong>
      {{ LdomMetadata?.net_install}}
    </p>
    <p *ngIf="LdomMetadata?.net_install">
      <strong>Image:</strong>
    </p>
    <p class="pl-3" *ngIf="LdomMetadata?.net_install">
      <strong>Name:</strong> {{ LdomMetadata?.solarisImage?.Name }} <strong>Source:</strong> {{ LdomMetadata?.solarisImage?.Source }} <strong>Protocol:</strong>> {{ LdomMetadata?.solarisImage?.Protocol }} <strong>Version:</strong> {{ LdomMetadata?.solarisImage?.Version }} 
    </p>
  </div>
</div>

<div *ngIf="navIndex == 1">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Disk Size</th>
          <th scope="col">VDS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vsw of LdomMetadata.vds">
          <td>
            <span>{{ vsw?.diskName }}</span>
          </td>
          <td>
            <span>{{ vsw?.diskSize }}</span>
          </td>
          <td>
            <span>{{ vsw?.vds }}</span>
          </td>
        </tr>
        <tr *ngIf="!LdomMetadata.vds?.length" class="text-center">
          <td colspan="3">No Virtual Disks</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="navIndex == 2">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Virtual Switch Name</th>
          <th scope="col">Untagged VLAN</th>
          <th scope="col">Tagged VLANs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vnet of LdomMetadata.vnic">
          <td>
            <span>{{ vnet?.Name }}</span>
          </td>
          <td>
            <span>{{ vnet?.VirtualSwitchName }}</span>
          </td>
          <td>
            <span>{{ vnet?.TaggedVlans }}</span>
          </td>
          <td>
            <span>{{ vnet?.UntaggedVlans }}</span>
          </td>
        </tr>
        <tr colspan="4" *ngIf="!LdomMetadata.vnic?.length" class="text-center">
          <td>No Virtual Networks</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ngx-smart-modal
  #deleteLdomModal
  identifier="deleteLdomModal"
  customClass="'modal-content'"
>
  <div class="modal-header">
    <h4 class="modal-title">Delete LDOM?</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="deleteLdomConfirm = ''; deleteLdomModal.close()"
    ></button>
  </div>

  <div class="modal-body text-center">
    <p>This will also delete all child objects associated with this LDOM.</p>

    <h6 class="text-danger">
      DANGER: The LDOM will be permanently deleted and deprovisioned.
    </h6>

    <p class="py-3">Type 'DELETE' and click 'Yes'</p>
    <input class="form-control" [(ngModel)]="deleteLdomConfirm" />
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      (click)="deleteLdomConfirm = ''; deleteLdomModal.close()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-danger"
      data-dismiss="modal"
      (click)="deleteLdom()"
      [disabled]="deleteLdomConfirm !== 'DELETE'"
    >
      Yes
    </button>
  </div>
</ngx-smart-modal>
