<h1 class="mb-3">LDOM: {{ Ldom?.name }}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item" (click)="navIndex = 0">
    <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Summary</a>
  </li>
  <li class="nav-item" (click)="navIndex = 1">
    <a class="nav-link" [ngClass]="{ active: navIndex == 1 }">Virtual Disks</a>
  </li>
  <li class="nav-item" (click)="navIndex = 2">
    <a class="nav-link" [ngClass]="{ active: navIndex == 2 }"
      >Virtual Networks</a
    >
  </li>
</ul>

<div *ngIf="navIndex == 0">
  <div class="p-3">
    <p>
      <strong>vCPU: </strong>
      {{ LdomMetadata?.vcpu }}
    </p>
    <p>
      <strong>Memory: </strong>
      {{ LdomMetadata?.memory }}
    </p>
  </div>
</div>

<div *ngIf="navIndex == 1">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Disk Size</th>
          <th scope="col">VDS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vsw of LdomMetadata.vds">
          <td>
            <span>{{ vsw?.diskName }}</span>
          </td>
          <td>
            <span>{{ vsw?.diskSize }}</span>
          </td>
          <td>
            <span>{{ vsw?.vds }}</span>
          </td>
        </tr>
        <tr *ngIf="!LdomMetadata.vds?.length" class="text-center">
          <td colspan="3">No Virtual Disks</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="navIndex == 2">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Virtual Switch Name</th>
          <th scope="col">Untagged VLAN</th>
          <th scope="col">Tagged VLANs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vnet of LdomMetadata.vnet">
          <td>
            <span>{{ vnet?.Name }}</span>
          </td>
          <td>
            <span>{{ vnet?.VirtualSwitchName }}</span>
          </td>
          <td>
            <span>{{ vnet?.TaggedVlans }}</span>
          </td>
          <td>
            <span>{{ vnet?.UntaggedVlans }}</span>
          </td>
        </tr>
        <tr *ngIf="!LdomMetadata.vnet?.length" class="text-center">
          <td>No Virtual Networks</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
