<h1>Dashboard - TenantV2</h1>
<main class="dashboard">
  <!-- Overall Environment -->
  <aside class="dashboard__card" aria-label="Network Environment">
    <h4 class="dashboard__heading">Network Environment</h4>
    <ul class="dash-card">
      <li class="dash-card__item">
        <a routerLink="/tenantv2/tenant-select" queryParamsHandling="merge">
          <span> Logical Tenants </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span>
            Placeholder
            <!-- <tooltip [message]="helpText.Vrfs"></tooltip> -->
          </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span>
            Placeholder
            <!-- <tooltip [message]="helpText.BridgeDomains"></tooltip> -->
          </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span>
            Placeholder
            <!-- <tooltip [message]="helpText.Contracts"></tooltip> -->
          </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
    </ul>
  </aside>

  <!-- Network Services Card -->
  <aside class="dashboard__card" aria-label="Attached Network Services">
    <h4 class="dashboard__heading">Attached Network Services</h4>
    <ul class="dash-card">
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span> North/South Firewalls </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span> East/West Firewalls </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span> Load Balancers </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
    </ul>
  </aside>

  <aside class="dashboard__card" aria-label="Compute Environment">
    <h4 class="dashboard__heading">Compute Environment</h4>
    <ul class="dash-card">
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span>
            VCD Tenants
            <!-- <tooltip [message]="helpText.Vrfs"></tooltip> -->
          </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
      <li class="dash-card__item">
        <a routerLink="/tenantv2/dashboard" queryParamsHandling="merge">
          <span> VDCs </span>
          <span class="inline-block ml-auto"> 0 </span>
        </a>
      </li>
    </ul>
  </aside>
</main>
