<mat-toolbar color="primary" class="appcentric-navbar" *ngIf="user && tenant">
  <button mat-icon-button routerLink="/appcentric/dashboard" queryParamsHandling="merge" title="DRaaS">
    <mat-icon>bolt</mat-icon>
  </button>

  <span class="toolbar-spacer"></span>

  <button mat-button [matMenuTriggerFor]="networkingMenu">
    Networking
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #networkingMenu="matMenu">
    <button
      mat-menu-item
      *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
      routerLink="/appcentric/tenant-select"
      queryParamsHandling="merge"
    >
      Tenant Select
    </button>
  </mat-menu>

  <span class="toolbar-title" *ngIf="tenant">Appcentric - {{ tenant }}</span>

  <span class="toolbar-spacer"></span>

  <button mat-button [matMenuTriggerFor]="userMenu">
    <span *ngIf="user">{{ user.uid }} ({{ user.cn }})</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" class="user-menu">
    <button id="environment-summary-link" mat-menu-item routerLink="/appcentric/environment-summary" queryParamsHandling="merge">
      Environment Summary
    </button>
    <button
      id="audit-log-link"
      mat-menu-item
      *ngIf="userRoles?.includes('admin')"
      routerLink="/appcentric/audit-log"
      queryParamsHandling="preserve"
    >
      Audit Log
    </button>
    <button mat-menu-item (click)="openLogoutModal()">Logout</button>
  </mat-menu>
</mat-toolbar>
