@import '../../../../assets/styles/variables';

.appcentric-navbar {
  padding: 0 1.5rem;
  background-color: #495057;
  color: #fff;

  .mat-icon {
    color: inherit;
  }

  button[mat-button],
  button[mat-icon-button] {
    color: inherit;
  }

  .toolbar-title {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

#accountNumber {
  font-size: 1.1rem;
}
