@import '../../../../assets/styles/variables';

.navbar {
  padding: 0.5rem 2rem;
  background-color: $c-gray-700;
  box-shadow: 0 5px 8px rgba($c-gray-700, 0.15);

  a {
    color: white;
    cursor: pointer;
  }

  .navbar-brand {
    margin-right: 15px;
  }

  .navbar-toggler {
    color: white;
  }

  .nav-item + .nav-item {
    margin-left: 10px;
  }
}

.dropdown-menu {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  a {
    color: $c-gray-700;
  }

  &--reverse {
    left: unset;
    right: 0;
  }
}

.dropdown-item {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  transition: all 150ms;
  color: $c-gray-700;

  &:focus,
  &:hover {
    background-color: $c-gray-100;
  }
}

#accountNumber {
  font-size: 1.1rem;
 } 
