<nav class="navbar navbar-expand-lg" *ngIf="user && tenant">
  <a class="navbar-brand" routerLink="dashboard" queryParamsHandling="merge" title="DRaaS">
    <fa-icon class="icon" [icon]="['fas', 'bolt']"></fa-icon>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa-icon class="icon" [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          tabindex="0"
          class="nav-link dropdown-toggle"
          id="networkingNavbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Networking
        </a>
        <div class="dropdown-menu" aria-labelledby="networkingNavbarDropdown">
          <a
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="/appcentric/tenant-select"
            queryParamsHandling="merge"
            >Tenant Select</a
          >
          <!-- <a
            *ngIf="userRoles?.includes('admin') || userRoles?.includes('network_admin')"
            class="dropdown-item"
            routerLink="wan-form"
            queryParamsHandling="merge"
            >Wan Form</a
          > -->
        </div>
      </li>
    </ul>

    <ul class="navbar-nav m-auto">
      <li id="accountNumber" class="nav-item">
        <a>
          <span *ngIf="tenant">Appcentric - {{ tenant }}</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto align-items-lg-center">
      <li class="nav-item dropdown">
        <a
          tabindex="0"
          class="nav-link dropdown-toggle"
          id="userNavbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span *ngIf="user">{{ user.uid }} ({{ user.cn }})</span>
        </a>
        <div class="dropdown-menu dropdown-menu--reverse" aria-labelledby="userNavbarDropdown">
          <a id="environment-summary-link" class="dropdown-item" routerLink="environment-summary" queryParamsHandling="merge"
            >Environment Summary</a
          >
          <a
            id="audit-log-link"
            *ngIf="userRoles?.includes('admin')"
            class="dropdown-item"
            routerLink="audit-log"
            queryParamsHandling="preserve"
            >Audit Log</a
          >
          <!-- <a *ngIf="!lockChangeRequest" id="change-request-link" class="dropdown-item" (click)="openChangeRequestModal()">Change Request</a>
          <a *ngIf="lockChangeRequest" style="color: grey; cursor: not-allowed" id="change-request-link2" class="dropdown-item"
            >Change Request</a
          > -->
          <a class="dropdown-item" (click)="openLogoutModal()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div
  class="notification-bar"
  style="width: 100%; background-color: #d1ecf1; color: black; text-align: center; padding: 5px 0"
  [ngStyle]="{ 'background-color': changeRequest === null ? 'red' : '#d1ecf1' }"
>
  <span *ngIf="changeRequest && !lockChangeRequest" (click)="openChangeRequestModal()" style="cursor: pointer">{{ changeRequest }}</span>
  <span *ngIf="changeRequest && lockChangeRequest" style="color: grey; cursor: not-allowed">{{ changeRequest }}</span>
  <span *ngIf="!changeRequest" style="cursor: pointer" (click)="openChangeRequestModal()">No Active Change Request </span>

  <fa-icon
    *ngIf="!changeRequest"
    class="icon"
    style="cursor: pointer"
    (click)="openChangeRequestModal()"
    [icon]="['fas', 'plus']"
  ></fa-icon>

  <fa-icon
    *ngIf="!lockChangeRequest && changeRequest"
    (click)="removeChangeRequest(changeRequest)"
    style="cursor: pointer"
    class="icon"
    [icon]="['fas', 'trash']"
  ></fa-icon>
  <tooltip [message]="helpText.CRInfo"></tooltip>
</div>

<!-- Logout -->
<ngx-smart-modal #logoutModal identifier="logoutModal">
  <header class="modal-header">
    <h4 class="modal-title">Logout</h4>
  </header>

  <div class="modal-body">
    <p class="mb-3">Are you sure you want to log out?</p>
  </div>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="logoutModal.close()">Cancel</button>

    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logout()">
      <fa-icon class="icon" [icon]="['fas', 'sign-out-alt']"></fa-icon>
      <span>Logout</span>
    </button>
  </footer>
</ngx-smart-modal>

<app-change-request-modal></app-change-request-modal>
<app-yes-no-modal></app-yes-no-modal>
