@use '../../../assets/styles/variables' as *;
a {
  cursor: pointer;
}
.icon {
  display: flex;
  padding-top: 7px;
}

#main {
  display: flex;
  column-gap: 5px;
}

#clear {
  color: rgb(0, 38, 255);
  text-decoration: underline;
  display: inline-flex;
  font-weight: 100;

  &:hover {
    cursor: pointer;
  }
}

select {
  display: inline-flex;
}

span {
  display: block;
  color: red;
}

#error {
  display: inline-flex;
}
