<div id="error">
  <span [hidden]="!searchError">Please choose correct search criteria</span>
</div>
<div id="main">
  <select aria-label="searchColumn" id="searchColumn" [(ngModel)]="searchColumn" placeholder="Column">
    <optgroup aria-label="search-properties">
      <option [ngValue]="defaultSearch.propertyName" selected>{{ defaultSearch.displayName }}</option>
      <option *ngFor="let column of columns" [ngValue]="column.propertyName">
        {{ column.displayName }}
      </option>
    </optgroup>
  </select>
  <input (keyup.enter)="searchThis()" aria-label="searchText" type="search" [(ngModel)]="searchText" placeholder="Search" />
  <a id="search-button" aria-label="searchButton" (click)="searchThis()">
    <fa-icon class="icon" [icon]="['fas', 'search']"></fa-icon>
  </a>
  <span (keyup.enter)="clearFilteredResults()" *ngIf="filteredResults" id="clear" (click)="clearFilteredResults()">clear</span>
</div>
