<ng-container>
  <section class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-success" (click)="openContractModal(ModalMode.Create)">
      <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
      <span>Create Contract</span>
    </button>
  </section>

  @if (!isLoading) {
  <app-table
    [config]="config"
    [data]="contracts"
    (clearResults)="getContracts($event)"
    (searchParams)="getContracts($event)"
    [searchColumns]="searchColumns"
    [(itemsPerPage)]="perPage"
    (tableEvent)="onTableEvent($event)"
  ></app-table>
  <section class="btn-toolbar" role="toolbar">
    <app-import-export
      [exportObject]="contracts"
      exportFileName="contracts"
      [disableJson]="false"
      (import)="importContracts($event)"
    ></app-import-export>
  </section>
  } @else {
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  }
</ng-container>

<ng-template #actionsTemplate let-contract="datum">
  <section class="table__actions">
    @if (!contract?.deletedAt) {
    <app-icon-button icon="edit" label="Edit Contract" (handleClick)="openContractModal(ModalMode.Edit, contract)"></app-icon-button>
    } @if (contract?.deletedAt) {
    <app-icon-button icon="undo" label="Restore Contract" type="success" (handleClick)="restoreContract(contract)"></app-icon-button>
    }

    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Contract"
      [type]="contract?.deletedAt ? 'danger' : 'default'"
      (handleClick)="deleteContract(contract)"
    ></app-icon-button>
  </section>
</ng-template>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>

<app-contract-modal [tenantId]="tenantId"></app-contract-modal>
<app-yes-no-modal></app-yes-no-modal>
