<div class="offset-1 col-10">

    <h5 aria-label="Firewall Rules">Firewall Rules</h5>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" (click)="getNetworks()" aria-label="Refresh Networks">
          <fa name="refresh" size="2x"></fa>
        </button>
      </div>

    <div class="card">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Interface Name</th>
            <th scope="col">Firewall Rules</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subnet of subnets.subnets">
            <td>
              <a href="/network-security-profiles/edit/{{ subnet.subnet_id }}">{{ subnet.name }}</a>
            </td>
            <td>
              {{ getFirewallRulesCount(subnet) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>