<div class="text-center">
  <h1>Dashboard</h1>
</div>

<div class="container text-center" style="padding-top:100px;">
  <div class="row">
    <div class="col-4">
      <h3>Summary 1</h3>
    </div>
    <div class="col-4">
      <h3>Summary 2</h3>
    </div>
    <div class="col-4">
      <h3>Summary 3</h3>
    </div>
  </div>

  <div class="row" style="padding-top:250px;">
      <div class="col-4">
        <h3>Summary 4</h3>
      </div>
      <div class="col-4">
        <h3>Summary 5</h3>
      </div>
      <div class="col-4">
        <h3>Summary 6</h3>
      </div>
    </div>

  <div class="row" style="padding-top:250px;">
    <div class="col-4">
      <h3>Top 10 CPU</h3>
    </div>
    <div class="col-4">
      <h3>Top 10 Memory</h3>
    </div>
    <div class="col-4">
      <h3>Top 10 Storage</h3>
    </div>
  </div>
</div>
