<ngx-smart-modal #firewallRulePacketTracer identifier="firewallRulePacketTracer"
  (onClose)="reset()" [dismissable]="false" customClass="medium-modal">
  <header class="modal-header">
    <h4 class="modal-title">Packet Tracer</h4>
  </header>

  <div *ngIf="rulesHit.length > 0">
    Total matches : {{rulesHit}}
  </div>
  <br>

  <div *ngIf="partialMatches.length > 0">
    <a style="color: blue; cursor: pointer;" (click)="showPartials = !showPartials">Show Partials</a>
  </div>
  <div *ngIf="showPartials">
    <table class="table table-striped">

      <thead>

        <th>Rule Name</th>
        <th>Source In Range</th>
        <th>Dest In Range</th>
        <th>Direction Match</th>
        <th>Protocol Match</th>
        <th>Enabled Match</th>
        <th>Source Port Match</th>
        <th>Dest Port Match</th>
      </thead>

      <tbody>
        <tr *ngFor="let partial of partialMatches">
          <td>
            {{partial.name}}
          </td>
          <td>
            {{partial.checkList.sourceInRange}}
          </td>

          <td>

            {{partial.checkList.destInRange}}

          </td>

          <td>
            {{partial.checkList.directionMatch}}

          </td>

          <td>
            {{partial.checkList.protocolMatch}}

          </td>

          <td>
            {{partial.checkList.enabledMatch}}

          </td>

          <td>
            {{partial.checkList.sourcePortMatch}}

          </td>

          <td>
            {{partial.checkList.destPortMatch}}

          </td>

        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tfoot>
    </table>
  </div>


  <form [formGroup]="form" (ngSubmit)="search()">
    <div class="modal-body">

      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="direction">Direction</label>
          <select id="direction" formControlName="direction" class="form-control"
            [class.is-invalid]="submitted && f.direction.errors" aria-label="Direction">
            <option></option>
            <option value="In">In</option>
            <option value="Out">Out</option>
          </select>
          <div *ngIf="submitted && f.direction.errors" class="invalid-feedback">
            <div *ngIf="f.direction.errors.required">Direction is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="protocol">Protocol</label>
          <select id="protocol" formControlName="protocol" class="form-control"
            [class.is-invalid]="submitted && f.protocol.errors" aria-label="Protocol">
            <option></option>
            <option value="IP">IP</option>
            <option value="ICMP">ICMP</option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
          <div *ngIf="submitted && f.protocol.errors" class="invalid-feedback">
            <div *ngIf="f.protocol.errors.required">Protocol is required</div>
          </div>
        </div>


        <div class="form-group col-md-2">
            <label for="enabled">Enabled</label>
            <select
              id="enabled"
              formControlName="enabled"
              class="form-control"
              [class.is-invalid]="submitted && f.enabled.errors"
              aria-label="Enabled"
            >
              <option></option>
              <option [ngValue]="false">False</option>
              <option [ngValue]="true">True</option>
            </select>
            <div *ngIf="submitted && f.enabled.errors" class="invalid-feedback">
              <div *ngIf="f.enabled.errors.required">Enabled is required</div>
            </div>
          </div>


      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="sourceIpAddress">Source IP</label>
          <input type="text" formControlName="sourceIpAddress" id="sourceIpAddress" class="form-control"
            [class.is-invalid]="submitted && f.sourceIpAddress.errors" aria-label="Source IP" />
          <div *ngIf="submitted && f.sourceIpAddress.errors" class="invalid-feedback">
            <div *ngIf="f.sourceIpAddress.errors.required">Source IP Address is required</div>
            <div *ngIf="f.sourceIpAddress.errors.invalidIpAny">Invalid IP address, must be a valid IPv4/IPv6 address or
              CIDR</div>
          </div>
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="destinationIpAddress">Destination IP</label>
          <input type="text" id="destinationIpAddress" formControlName="destinationIpAddress" class="form-control"
            [class.is-invalid]="submitted && f.destinationIpAddress.errors" aria-label="Destination IP" />
          <div *ngIf="submitted && f.destinationIpAddress.errors" class="invalid-feedback">
            <div *ngIf="f.destinationIpAddress.errors.required">Destination IP is required</div>
            <div *ngIf="f.destinationIpAddress.errors.invalidIpAny">Invalid IP address, must be a valid IPv4/IPv6
              address or CIDR</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div *ngIf="f.protocol.value === 'TCP' || f.protocol.value === 'UDP'" class="form-row">
          <div class="form-group col-md-6">
            <label for="sourcePorts">Source Port</label>
            <input type="text" id="sourcePorts" formControlName="sourcePorts" class="form-control"
              [class.is-invalid]="submitted && f.sourcePorts.errors" aria-label="Source Ports" />
            <div *ngIf="submitted && f.sourcePorts.errors" class="invalid-feedback">
              <div *ngIf="f.sourcePorts.errors.invalidPortNumber">Source Port/Range must be between 1-65535</div>
              <div *ngIf="f.sourcePorts.errors.required">Source Port is required</div>
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label for="destinationPorts">Destination Port</label>
            <input type="text" id="destinationPorts" formControlName="destinationPorts" class="form-control"
              [class.is-invalid]="submitted && f.destinationPorts.errors" aria-label="Destination Ports" />
            <div *ngIf="submitted && f.destinationPorts.errors" class="invalid-feedback">
              <div *ngIf="f.destinationPorts.errors.invalidPortNumber">Destination Port/Range must be between 1-65535
              </div>
              <div *ngIf="f.destinationPorts.errors.required">Destination Port is required</div>
            </div>
          </div>
        </div>
      </div>

      
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="close()">
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>