<app-tier-select></app-tier-select>

<h1>Network Objects & Groups</h1>
<ng-container *ngIf="currentTier; else warningMessage">
  <app-tabs [tabs]="tabs" (tabChange)="handleTabChange($event)"></app-tabs>
  <div *ngIf="navIndex === 0">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create Network Object -->
      <button type="button" class="btn btn-success" (click)="openNetworkObjectModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Network Object</span>
      </button>
      <button type="button" class="btn btn-primary" (click)="getFirewallRules()">
        <span>Scan Objects</span>
      </button>
    </section>

    <ng-container *ngIf="!isLoadingObjects; else loading">
      <app-table [config]="networkObjectConfig" [data]="networkObjects" (clearResults)="getNetworkObjects($event)" (searchParams)="getNetworkObjects($event)" [searchColumns]="objectSearchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onNetObjTableEvent($event)"></app-table>
      <section class="btn-toolbar" role="toolbar">
        <app-import-export
          [exportObject]="networkObjects"
          exportFileName="networkObjects-{{ currentTier?.name }}"
          [disableJson]="false"
          (import)="importNetworkObjectsConfig($event)"
        ></app-import-export>
      </section>
    </ng-container>

    <ng-template #addressTemplate let-netObj="datum">
      <section>
        <span *ngIf="netObj?.type === 'IpAddress'">{{ netObj?.ipAddress }}</span>
        <span *ngIf="netObj?.type === 'Range'"> {{ netObj?.startIpAddress }} - {{ netObj?.endIpAddress }} </span>
        <span *ngIf="netObj?.type === 'Fqdn'"> {{ netObj?.fqdn }}</span>
      </section>
    </ng-template>

    <ng-template #natServiceTemplate let-netObj="datum">
      <section>
        <span *ngIf="netObj?.natService"> {{ netObj?.natSourcePort }} : {{ netObj?.natTranslatedPort }} </span>
      </section>
    </ng-template>

    <ng-template #objStateTemplate let-netObj="datum">
      <section>
        <span>{{ netObj.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
      </section>
    </ng-template>

    <ng-template #actionsTemplate let-netObj="datum">
      <section class="table__actions">
        <app-icon-button
              *ngIf="!netObj?.deletedAt"
              icon="edit"
              label="Edit Network Object"
              (handleClick)="openNetworkObjectModal(ModalMode.Edit, netObj)"
            ></app-icon-button>

            <app-icon-button
              *ngIf="netObj?.deletedAt"
              icon="undo"
              label="Restore Network Object"
              type="success"
              (handleClick)="restoreNetworkObject(netObj)"
            ></app-icon-button>

            <app-icon-button
              icon="delete"
              label="Soft-Delete/Delete Network Object"
              [type]="netObj?.deletedAt ? 'danger' : 'default'"
              (handleClick)="deleteNetworkObject(netObj)"
            ></app-icon-button>
      </section>
    </ng-template>

    <ng-template #loading>
      <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </ng-template>
  </div>

  <div *ngIf="navIndex === 1">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create Network Object Group -->
      <button type="button" class="btn btn-success" (click)="openNetworkObjectGroupModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Network Object Group</span>
      </button>
    </section>

    <ng-container *ngIf="!isLoadingGroups; else loading">
      <app-table [config]="networkObjectGroupConfig" [data]="networkObjectGroups" (clearResults)="getNetworkObjectGroups($event)" (searchParams)="getNetworkObjectGroups($event)" [searchColumns]="groupSearchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onNetObjGrpTableEvent($event)"></app-table>
      <section class="btn-toolbar" role="toolbar">
        <app-import-export
          [exportObject]="networkObjectGroups"
          exportFileName="networkObjectGroups-{{ currentTier?.name }}"
          [disableJson]="false"
          (import)="importNetworkObjectGroupsConfig($event)"
        ></app-import-export>
      </section>
    </ng-container>

    <ng-template #membersTemplate let-netObjGroup="datum">
      <section>
        <span> {{ netObjGroup.networkObjects?.length }}</span>
      </section>
    </ng-template>

    <ng-template #groupStateTemplate let-netObjGroup="datum">
      <section>
        <span>{{ netObjGroup.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
      </section>
    </ng-template>

    <ng-template #actionsTemplate let-netObjGroup="datum">
      <section class="table__actions">
        <app-icon-button
              *ngIf="!netObjGroup?.deletedAt"
              icon="edit"
              label="Edit Network Object Group"
              (handleClick)="openNetworkObjectGroupModal(ModalMode.Edit, netObjGroup)"
            ></app-icon-button>

            <app-icon-button
              *ngIf="netObjGroup?.deletedAt"
              icon="undo"
              label="Restore Network Object Group"
              type="success"
              (handleClick)="restoreNetworkObjectGroup(netObjGroup)"
            ></app-icon-button>

            <app-icon-button
              icon="delete"
              label="Soft-Delete/Delete Network Object Group"
              [type]="netObjGroup?.deletedAt ? 'danger' : 'default'"
              (handleClick)="deleteNetworkObjectGroup(netObjGroup)"
            ></app-icon-button>
      </section>
    </ng-template>

    <ng-template #loading>
      <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </ng-template>
  </div>

  <div *ngIf="navIndex === 2">
    <label class="mt-3 ml-3">Click the import CSV button to add network object group relations</label>
  </div>

  <section class="btn-toolbar" role="toolbar" *ngIf="navIndex === 2">
    <app-import-export
      [disableExport]="true"
      [disableJson]="false"
      (import)="importNetworkObjectGroupRelationsConfig($event)"
    ></app-import-export>
  </section>
</ng-container>
<app-network-object-group-modal></app-network-object-group-modal>
<app-network-object-modal></app-network-object-modal>
<app-unused-objects-modal [unusedObjectsInput]="unusedObjects"></app-unused-objects-modal>
<app-yes-no-modal [allowEmptyTier]="showRadio"></app-yes-no-modal>
<ng-template #warningMessage>
  <p>Select a Tier to display Network Objects & Groups details</p>
</ng-template>
