<app-tier-select></app-tier-select>

<div>
  <h1 class="header mb-3">Network Objects & Groups</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="navIndex = 0; getObjectsForNavIndex()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 0 }">Network Objects <tooltip [message]="helpText.NetworkObjects"></tooltip></a>
    </li>
    <li class="nav-item" (click)="navIndex = 1; getObjectsForNavIndex()">
      <a class="nav-link" [ngClass]="{ active: navIndex == 1 }"
        >Network Object Groups <tooltip [message]="helpText.NetworkObjects"></tooltip
      ></a>
    </li>
    <li class="nav-item" (click)="navIndex = 2">
      <a class="nav-link" [ngClass]="{ active: navIndex == 2 }">Network Object Group Relations </a>
    </li>
  </ul>

  <div *ngIf="navIndex === 0">

    <section class="btn-toolbar" role="toolbar">
      <!-- Create Network Object -->
      <button type="button" class="btn btn-success" (click)="openNetworkObjectModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Network Object</span>
      </button>
    </section>

    <table class="table table-striped" aria-describedby="Network Objects table">
      <!-- TO DO: are all of these fields necessary to show on the summary page? -->
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Address</th>
          <th scope="col">NAT Translated IP Address</th>
          <th scope="col">NAT Type</th>
          <th scope="col">NAT Direction</th>
          <th scope="col">NAT Protocol</th>
          <th scope="col">NAT Source:Translated Port</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let netObj of networkObjects | paginate: { itemsPerPage: perPage, currentPage: currentNetworkObjectsPage }">
          <td>
            <span>{{ netObj?.name }}</span>
          </td>
          <td>
            <span>{{ netObj?.type }}</span>
          </td>
          <td>
            <span *ngIf="netObj?.type === 'IpAddress'">{{ netObj?.ipAddress }}</span>
            <span *ngIf="netObj?.type === 'Range'"> {{ netObj?.startIpAddress }} - {{ netObj?.endIpAddress }} </span>
          </td>
          <td>
            <span>{{ netObj?.translatedIpAddress }}</span>
          </td>
          <td>
            <span>{{ netObj?.natType }}</span>
          </td>
          <td>
            <span>{{ netObj?.natDirection }}</span>
          </td>
          <td>
            <span>{{ netObj?.natProtocol }}</span>
          </td>
          <td>
            <span *ngIf="netObj?.natService"> {{ netObj?.natSourcePort }} : {{ netObj?.natTranslatedPort }} </span>
          </td>
          <td>
            <span>{{ netObj?.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon class="icon" [icon]="['fas', 'pencil-alt']" *ngIf="!netObj?.deletedAt" (click)="openNetworkObjectModal(ModalMode.Edit, netObj)" aria-label="Edit Network Object">
            </fa-icon>
            <fa-icon 
              [icon]="['fas', 'undo']"
              *ngIf="netObj?.deletedAt"
              class="fg-success icon"
              (click)="restoreNetworkObject(netObj)"
              aria-label="Restore Network Object"
            ></fa-icon>
            <fa-icon 
              class="icon"
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': netObj.deletedAt }"
              (click)="deleteNetworkObject(netObj)"
              aria-label="Soft-Delete/Delete Network Object"
            >
            </fa-icon>
          </td>
        </tr>
        <tr *ngIf="!networkObjects?.length" class="text-center">
          <td colspan="10">No Network Objects in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentNetworkObjectsPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex === 1">
    <section class="btn-toolbar" role="toolbar">
      <!-- Create Network Object Group -->
      <button type="button" class="btn btn-success" (click)="openNetworkObjectGroupModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Network Object Group</span>
      </button>
    </section>

    <table class="table table-striped" aria-describedby="Network Object Groups table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Members</th>
          <th scope="col">State</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let netObjGroup of networkObjectGroups | paginate: { itemsPerPage: perPage, currentPage: currentNetworkObjectGroupsPage }"
        >
          <td>
            <span>{{ netObjGroup.name }}</span>
          </td>
          <td>
            <span>{{ netObjGroup.networkObjects?.length }}</span>
          </td>
          <td>
            <span>{{ netObjGroup.provisionedAt ? 'Provisioned' : 'Not Provisioned' }}</span>
          </td>
          <td class="item-actions">
            <fa-icon 
              class="icon"
              [icon]="['fas', 'pencil-alt']" 
              *ngIf="!netObjGroup?.deletedAt"
              (click)="openNetworkObjectGroupModal(ModalMode.Edit, netObjGroup)"
              aria-label="Edit Network Object Group"
            ></fa-icon>
            <fa-icon 
              [icon]="['fas', 'undo']"
              *ngIf="netObjGroup?.deletedAt"
              class="fg-success icon"
              (click)="restoreNetworkObjectGroup(netObjGroup)"
              aria-label="Restore Network Object Group"
            ></fa-icon>
            <fa-icon 
              class="icon"
              [icon]="['fas', 'trash']"
              [ngClass]="{ 'fg-danger': netObjGroup.deletedAt }"
              (click)="deleteNetworkObjectGroup(netObjGroup)"
              aria-label="Soft-Delete/Delete Network Object Group"
            ></fa-icon>
          </td>
        </tr>
        <tr *ngIf="!networkObjectGroups?.length" class="text-center">
          <td colspan="4">No Network Object Groups in this Tier</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentNetworkObjectGroupsPage = $event"></pagination-controls>
  </div>

  <div *ngIf="navIndex == 2">
    <table class="table table-striped mt-3" aria-describedby="Network Object Group Relations">
      <thead>
        <tr>
          <th scope="col">Click the import CSV button to add network object group relations</th>
        </tr>
      </thead>
    </table>
  </div>

  <section class="btn-toolbar btn-toolbar--start" role="toolbar" *ngIf="navIndex !== 2">
    <span class="mr-3">Entities per page</span>
    <div class="btn-group" role="group">
      <button type="button" value="10" (click)="perPage = $event.target.value" class="btn btn-light">10</button>
      <button type="button" value="20" (click)="perPage = $event.target.value" class="btn btn-light">20</button>
      <button type="button" value="50" (click)="perPage = $event.target.value" class="btn btn-light">50</button>
    </div>
  </section>
</div>

<section class="btn-toolbar" role="toolbar" *ngIf="navIndex === 0">
  <app-import-export
    [exportObject]="networkObjects"
    exportFileName="networkObjects-{{ currentTier?.name }}"
    [disableJson]="false"
    (import)="importNetworkObjectsConfig($event)"></app-import-export>
</section>

<section class="btn-toolbar" role="toolbar" *ngIf="navIndex === 1">
  <app-import-export
  [exportObject]="networkObjectGroups"
  exportFileName="networkObjectGroups-{{ currentTier?.name }}"
  [disableJson]="false"
  (import)="importNetworkObjectGroupsConfig($event)"></app-import-export>
</section>

<section class="btn-toolbar" role="toolbar" *ngIf="navIndex === 3">
  <app-import-export
  [disableExport]="true"
  [disableJson]="false"
  (import)="importNetworkObjectGroupRelationsConfig($event)"></app-import-export>
</section>

<app-network-object-group-modal></app-network-object-group-modal>
<app-network-object-modal></app-network-object-modal>
<app-yes-no-modal [allowEmptyTier]="showRadio"></app-yes-no-modal>
