<ngx-smart-modal #selfServiceModal identifier="selfServiceModal" [dismissable]="true" customClass="large-modal"
  (onClose)="onClose()">
  <header class="modal-header">
    <h4 class="modal-title">Title</h4>
  </header>

  <main class="modal-body">
    <div [hidden]="submittedFirstForm" class="page-1">
      <form [formGroup]="initialForm">
        <div class="form-row">

          <div class="form-group col-md-3">
            <label for="deviceType">Device Type</label>
            <select id="deviceType" formControlName="deviceType" class="form-control"
              [class.is-invalid]="submittedFirstForm && f.deviceType.errors" aria-label="Device Type">
              <option></option>
              <option value="ASA">ASA</option>
              <option value="PA">PA</option>
            </select>
            <div *ngIf="submittedFirstForm && f.deviceType.errors" class="invalid-feedback">
              <div *ngIf="f.deviceType.errors.required">Device Type is required</div>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="DCSTierSelect">Select a Tier</label>
            <ng-select [class.is-invalid]="submittedFirstForm && f.DCSTierSelect.errors" formControlName="DCSTierSelect" id="DCSTierSelect" [items]="tiers" bindLabel="name"
              bindValue="name"></ng-select>
            <div *ngIf="submittedFirstForm && f.DCSTierSelect.errors" class="invalid-feedback">
              <div *ngIf="f.DCSTierSelect.errors.required">Please select a tier</div>
            </div>
          </div>

          <div class="form-group col">
            <label for="deviceConfig">Device Config</label>
            <input [class.is-invalid]="submittedFirstForm && f.deviceConfig.errors" formControlName="deviceConfig" id="deviceConfig" type="file" class="form-control-file" 
              (change)="deviceConfigFileChange($event)">
          </div>

          <div *ngIf="f.deviceType.value === 'PA'" class="form-group col">
            <label for="intervrfSubnets">Intervrf Subnets</label>
            <input formControlName="intervrfSubnets" id="intervrfSubnets"
              type="file" class="form-control-file" (change)="intervrfSubnetsFileChange($event)">
          </div>

          <div *ngIf="tiersFromConfig && tiersFromConfig.length > 0" class="form-group col">
            <label for="selectedTiersFromConfig">Select Tier(s) from the config</label>
            <ng-select [class.is-invalid]="submittedFirstForm && f.selectedTiersFromConfig.errors" [multiple]="true" formControlName="selectedTiersFromConfig"
              id="selectedTiersFromConfig" [items]="tiersFromConfig"></ng-select>
            <div *ngIf="submittedFirstForm && f.selectedTiersFromConfig.errors" class="invalid-feedback">
              <div *ngIf="f.selectedTiersFromConfig.errors.required">Please select a tier</div>
            </div>
          </div>
        </div>

        <ul *ngIf="f.selectedTiersFromConfig && f.selectedTiersFromConfig.value">
          <!-- <label>Add a unique namespace for each selected tier</label> -->
          <li *ngFor="let tier of f.selectedTiersFromConfig.value">{{tier}}
            <!-- <textarea></textarea> -->
          </li>
          <button type="button" class="btn btn-primary" (click)="saveTiers()">
            <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
            <span>Next</span>
          </button>
        </ul>
      </form>

    </div>

    <div *ngIf="submittedFirstForm" class="page-2">
      <form [formGroup]="continuedForm">
        <div class="form-row">
          <div class="form-group">
            <ul>
              <li *ngFor="let tier of cf.selectedTiers.value; let i = index">
                <span id="tier">{{tier.hostname}} - Interfaces</span>
                <div>
                  <ul>
                    <li *ngFor="let interface of tier.interfaces">{{interface.interface}}
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="interface.intervrf" type="checkbox" (click)="markInterfaceIntervrf(interface)"> Intervrf
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="interface.external" type="checkbox" (click)="markInterfaceExternal(interface)"> External
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="interface.inside" type="checkbox" (click)="markInterfaceInside(interface)"> Inside
                    </li>
                  </ul>
                </div>
                <div>
                  <label>Namespace</label>
                  <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="tier.namespace"></textarea>
                </div>
                
              </li>
            </ul>

            <button type="button" class="btn btn-primary" (click)="saveNameSpaces()">
              <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
              <span>Next</span>
            </button>
          </div>
        </div>
      </form>
    </div>



  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="reset()">
      <fa-icon class="icon" [icon]="['fas', 'undo']"></fa-icon>
      <span>Reset</span>
    </button>


    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onClose()">
      Cancel
    </button>

    <button *ngIf="submittedSecondForm" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="save()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Submit</span>
    </button>
  </footer>
</ngx-smart-modal>