<ngx-smart-modal #selfServiceModal identifier="selfServiceModal" [dismissable]="false" customClass="large-modal" (onClose)="onClose()">
  <header class="modal-header">
    <h4 class="modal-title">Managed Network</h4>
  </header>

  <main class="modal-body">
    <div [hidden]="submittedInitialForm && showSecondForm">
      <form [formGroup]="initialForm">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="deviceType">Device Type</label>
            <select
              id="deviceType"
              formControlName="deviceType"
              class="form-control"
              [class.is-invalid]="submittedInitialForm && f.deviceType.errors"
              aria-label="Device Type"
            >
              <option></option>
              <option value="ASA">ASA</option>
              <option value="PA">PA</option>
            </select>
            @if (submittedInitialForm && f.deviceType.errors) {
            <div class="invalid-feedback">
              @if (f.deviceType.errors.required) {
              <div>Device Type is required</div>
              }
            </div>
            }
          </div>

          <div class="form-group col-md-3">
            <label for="DCSTierSelect">Select a Tier</label>
            <ng-select
              [class.is-invalid]="submittedInitialForm && f.DCSTierSelect.errors"
              formControlName="DCSTierSelect"
              id="DCSTierSelect"
              [items]="tiers"
              bindLabel="name"
              bindValue="name"
            ></ng-select>
            @if (submittedInitialForm && f.DCSTierSelect.errors) {
            <div class="invalid-feedback">
              @if (f.DCSTierSelect.errors.required) {
              <div>Please select a tier</div>
              }
            </div>
            }
          </div>

          @if (f.deviceType.value) {
          <div class="form-group col">
            <label for="deviceConfig">Device Config</label>
            <input
              [class.is-invalid]="f.deviceConfig.errors"
              formControlName="deviceConfig"
              id="deviceConfig"
              type="file"
              class="form-control-file"
              (change)="deviceConfigFileChange($event)"
            />
            @if (f.deviceConfig.errors) {
            <div class="invalid-feedback">
              @if (f.deviceConfig.errors.incorrectFileType) {
              <div>Please upload a config file with the correct type for the device chosen</div>
              }
            </div>
            }
          </div>
          } @if (f.deviceType.value === 'PA') {
          <div class="form-group col">
            <label for="intervrfSubnets">Intervrf Subnets</label>
            <input
              [class.is-invalid]="submittedInitialForm && f.intervrfSubnets.errors"
              id="intervrfSubnets"
              type="file"
              class="form-control-file"
              (change)="intervrfSubnetsFileChange($event)"
            />
            @if (submittedInitialForm && f.intervrfSubnets.errors) {
            <div class="invalid-feedback">
              @if (f.intervrfSubnets.errors.required) {
              <div>Please upload an intervrf subnets file for PA conversion</div>
              }
            </div>
            }
          </div>
          } @if (tiersFromConfig && tiersFromConfig.length > 0) {
          <div class="form-group col">
            <label for="selectedTiersFromConfig">Select Tier(s) from the config</label>
            <ng-select
              [class.is-invalid]="submittedInitialForm && f.selectedTiersFromConfig.errors"
              [multiple]="true"
              formControlName="selectedTiersFromConfig"
              id="selectedTiersFromConfig"
              [items]="tiersFromConfig"
            >
            </ng-select>
            @if (submittedInitialForm && f.selectedTiersFromConfig.errors) {
            <div class="invalid-feedback">
              @if (f.selectedTiersFromConfig.errors.required) {
              <div>Please select a tier</div>
              }
            </div>
            }
          </div>
          }
        </div>

        @if (f.selectedTiersFromConfig && f.selectedTiersFromConfig.value && f.selectedTiersFromConfig.value.length > 0) {
        <ul style="margin-left: 66%">
          <label><u>Selected Tiers</u></label>
          @for (tier of f.selectedTiersFromConfig.value; track tier) {
          <li>{{ tier }}</li>
          }
        </ul>
        }
      </form>
    </div>

    @if (submittedInitialForm && showSecondForm && !receivedConfig && !showSpinner) {
    <div>
      <div class="form-row">
        <div class="form-group col">
          <ul>
            @for (tier of selectedTiers; track tier) {
            <li style="margin-bottom: inherit">
              <span>{{ tier.hostname }} - Interfaces</span>
              @if (tier.tooManyInside) {
              <div class="hostNeedsInsidePrefix">Only one interface may be inside for tier "{{ tier.hostname }}"</div>
              }
              <div>
                <ul>
                  @for (interface of tier.interfaces; track interface) {
                  <li>
                    {{ interface.interface }} -
                    <input
                      (keyup.enter)="markInterfaceIntervrf(interface)"
                      [(ngModel)]="interface.intervrf"
                      type="checkbox"
                      (click)="markInterfaceIntervrf(interface)"
                    />
                    Intervrf
                    <input
                      (keyup.enter)="markInterfaceExternal(interface)"
                      [(ngModel)]="interface.external"
                      type="checkbox"
                      (click)="markInterfaceExternal(interface)"
                    />
                    External @if (interface.needsSelection) {
                    <div style="display: inline-block">
                      <div class="interfaceNeedsSelection">Make a selection</div>
                    </div>
                    }
                  </li>
                  }
                </ul>
                <div>
                  @if (tier.needsInsidePrefix) {
                  <div class="hostNeedsInsidePrefix">Please provide an inside prefix for "{{ tier.hostname }}"</div>
                  } @if (tier.insidePrefixTooLong) {
                  <div class="hostNeedsInsidePrefix">Inside Prefix cannot be longer than 50 characters</div>
                  } @if (tier.insidePrefixAlphanumericalFail) {
                  <div class="hostNeedsInsidePrefix">Inside Prefix must be alphanumeric</div>
                  }
                  <textarea placeholder="Inside Prefix" [(ngModel)]="tier.insidePrefix"></textarea>
                </div>
                <div>
                  <textarea placeholder="Namespace" [(ngModel)]="tier.namespace"></textarea>
                </div>
                @if (tier.namespaceAlphanumericalFail) {
                <div class="hostNeedsInsidePrefix">Namespace must be alphanumeric</div>
                } @if (tier.needsNamespace) {
                <div class="hostNeedsNamespace">Please add a namespace to append to all objects coming into DCS from this host</div>
                } @if (tier.sameNamespace) {
                <div class="hostNeedsNamespace">Namespaces cannot be the same for different hosts</div>
                } @if (tier.namespaceTooLong) {
                <div class="namespaceTooLong">Namespaces cannot be longer than 11 characters</div>
                }
              </div>
            </li>
            }
          </ul>
        </div>
        <div class="form-group col">
          <h3>Interface Matrix Information</h3>
          <textarea rows="12" cols="50" readonly>
              The interface matrix is used to translate tenant network configurations into the DRaaS environment. This is done by identifying detected interfaces in the provided configuration and allowing them to be designated as Intervrf or External. This is necessary since it gives our conversion process a map of the interface/zone names from the source environment and allows it to translate it to the DRaaS environment based on the to/from interfaces/zones of each NAT/FW rule in the configuration. In the case of PANOS conversions, a list of subnets must be provided that would classify a rule as Intervrf IF that rules source/destination ip address or object fall within one of those subnets.
              Additionally, the inside prefix is another value that must be supplied, this is used as a tie-breaker whenever a rules to/from zones/interfaces are both classified as Intervrf by the interface matrix. Whichever zone/interface matches the insidePrefix would be considered "inside", this would then be used to determine rule directionality. This allows us to determine the proper directionality for those rules.
              The resulting interface matrix will be used to determine which rule group (External, Intervrf) and which direction each rule must be applied in. The Interface Matrix will also be used to validate that specific conditions are met, the DRaaS environment does not support NAT/firewall rules that have External to/from interfaces/zones for example.
            </textarea
          >
        </div>
      </div>
    </div>
    } @if (showSpinner) {
    <div>
      <fa-icon class="icon" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
    </div>
    }
  </main>

  @if (showFooter) {
  <footer class="modal-footer">
    <button style="margin-right: auto" type="button" class="btn btn-warning" data-dismiss="modal" (click)="reset()">
      <fa-icon class="icon" [icon]="['fas', 'undo']"></fa-icon>
      <span>Reset</span>
    </button>
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onClose()">Cancel</button>
    @if (f.selectedTiersFromConfig && f.selectedTiersFromConfig.value && f.selectedTiersFromConfig.value.length > 0) {
    <button [hidden]="submittedInitialForm && showSecondForm" type="button" class="btn btn-primary" (click)="saveTiers()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Next</span>
    </button>
    } @if (showSecondForm) {
    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveNameSpaces()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Submit</span>
    </button>
    }
  </footer>
  }
</ngx-smart-modal>
