<ngx-smart-modal (onOpen)="getData()" #changeRequestModal identifier="changeRequestModal" (onClose)="closeModal()">
    <header class="modal-header">
        <h4 class="modal-title header">Change Request</h4>
    </header>

    <main class="modal-body">
        <form [formGroup]="form">
            <input formControlName="changeRequest" name="changeRequest" (keyup.enter)="save()" placeholder="Change Request #" />
            <div *ngIf="submitted && form.status === 'INVALID'">
                <div>ERROR</div>
              </div>
        </form>
    </main>

    <footer class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">
            Cancel
        </button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="removeCRFromLocalStorage()">
            Clear CR#
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">
            Save
        </button>
    </footer>
</ngx-smart-modal>