<ngx-smart-modal [dismissable]="false" (onOpen)="getData()" #changeRequestModal identifier="changeRequestModal" (onClose)="closeModal()">
  <header class="modal-header">
    <h4 class="modal-title header">Change Request</h4>
  </header>

  <main class="modal-body">
    <form [formGroup]="form">
      <input
        [class.is-invalid]="submitted && f.changeRequest.errors"
        formControlName="changeRequest"
        name="changeRequest"
        (keyup.enter)="save()"
        placeholder="CHGXXXXXXX"
      />
      <fa-icon
        *ngIf="changeRequestNumber"
        (click)="removeChangeRequest(changeRequestNumber)"
        style="cursor: pointer"
        class="icon"
        [icon]="['fas', 'trash']"
      ></fa-icon>
      <div class="invalid-feedback" *ngIf="submitted && form.invalid">
        <div>Invalid Change Request Number</div>
      </div>
    </form>
  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>

    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save</button>
  </footer>
</ngx-smart-modal>

<app-yes-no-modal></app-yes-no-modal>
