@import '../../../../../assets/styles/variables';

.breadcrumb-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;

  a {
    color: $primary-dark;
  
    &:hover {
      color: $primary-main;
    }
  }
}

.breadcrumb-item {
  font-size: 14px;
}
