<div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-info" (click)="getNetworks()">
      <fa name="refresh" size="2x"></fa>
    </button>
    <button type="button" class="btn btn-success" aria-label="New Network" [routerLink]="['create']">
      <fa name="plus" size="2x"></fa>
    </button>
  </div>

  <div class="pull-right">
      <app-import-export
      [exportObject]="exportNetworkConfig()"
      exportFileName="subnets"
      disableCsv=true
      (import)="importNetworkConfig($event)"
    ></app-import-export>
  </div>

  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address Range</th>
          <th scope="col">Deployed</th>
          <th scope="col">Tier (VRF)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subnet of subnets">
          <td>
            <a routerLink="/networks/edit/{{ subnet.subnet_id }}">{{ subnet.name }}</a>
          </td>
          <td>{{ subnet.network }}/{{ subnet.mask_bits }}</td>
          <td>{{ getDeployedState(subnet) }}</td>
          <td>{{ subnet.vrf_group_name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
