<ngx-smart-modal
  #poolModal
  identifier="poolModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Pool</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-","_",":", ".".</div>
        </div>
      </div>

      <div class="form-group">
        <label for="loadBalancingMethod">Load Balancing Method</label>
        <tooltip [message]="helpText.LoadBalancingMethod"></tooltip>
        <select
          formControlName="loadBalancingMethod"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f.loadBalancingMethod.errors
          }"
          aria-label="Load Balancing Method"
        >
          <option></option>
          <option value="RoundRobin">Round Robin</option>
          <option value="LeastSessions">Least Sessions</option>
          <option value="FastestNode">Fastest Node</option>
          <option value="FastestAppResponse">Fastest App Response</option>
          <option value="RatioMember">Ratio Member</option>
          <option value="ObservedMember">Observed Member</option>
          <option value="PredictiveMember">Predictive Member</option>
          <option value="RatioNode">Ratio Node</option>
          <option value="LeastConnectionsNode">Least Connections Node</option>
          <option value="ObservedNode">Observed Node</option>
          <option value="PredictiveNode">Predictive Node</option>
          <option value="DynamicRatioNode">Dynamic Ratio Node</option>
          <option value="DynamicRatioMember">Dynamic Ratio Member</option>
          <option value="RatioSession">Ratio Session</option>
          <option value="RatioLeastConnectionsMember">Ratio Least Connections Member</option>
          <option value="RatioLeastConnectionsNode">Ratio Least Connections Node</option>
        </select>
        <div
          *ngIf="submitted && f.loadBalancingMethod.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.loadBalancingMethod.errors.required">Name is required</div>
        </div>
      </div>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="availableNodes">Available Nodes</label>
          <tooltip [message]="helpText.AvailableNodes"></tooltip>

          <div class="input-group align-items-center">
            <select class="form-control" id="availableNodes" formControlName="selectedNode">
              <option></option>
              <option *ngFor="let node of availableNodes" [ngValue]="node">
                {{ node.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="servicePort">Service Port</label>
          <tooltip [message]="helpText.ServicePort"></tooltip>
          <input type="text" formControlName="servicePort" class="form-control"
            [ngClass]="{ 'is-invalid': f.servicePort.errors }" aria-label="Service Port" />
          <div *ngIf="f.servicePort.errors" class="invalid-feedback">
            <div *ngIf="f.servicePort.errors.required">Service Port is required</div>
            <div *ngIf="f.servicePort.errors.min">Service Port must be greater than or equal to 1.</div>
            <div *ngIf="f.servicePort.errors.max">Service Port must be equal to or less than 65535.</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="ratio">Ratio</label>
          <tooltip [message]="helpText.Ratio"></tooltip>
          <input type="text" formControlName="ratio" class="form-control"
            [ngClass]="{ 'is-invalid': f.ratio.errors }" aria-label="Ratio" />
          <div *ngIf="f.ratio.errors" class="invalid-feedback">
            <div *ngIf="f.ratio.errors.required">Ratio</div>
            <div *ngIf="f.ratio.errors.min">Ratio must be greater than or equal to 1.</div>
            <div *ngIf="f.ratio.errors.max">Ratio must be equal to or less than 100.</div>
          </div>
        </div>
        <div [ngStyle]="{'margin-top': '2.2rem'}">
          <button type="button" class="btn btn-sm btn-info" (click)="addNode();"
            [disabled]="ModalMode === 'Create' || f?.servicePort?.errors || f?.ratio?.errors">
            Select Node
          </button>
        </div>

        <div class="form-group col-md-12">
          <label for="selectedNodes">Selected Nodes</label>
          <tooltip [message]="helpText.SelectedNodes"></tooltip>
          <table class="table table-striped" aria-describedby="Selected Nodes table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Service Port</th>
                <th scope="col">Ratio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let node of selectedNodes">
                <td>
                  {{ node?.loadBalancerNode?.name }}
                </td>
                <td>
                  {{ node?.servicePort }}
                </td>
                <td>
                  {{ node?.ratio }}
                </td>
                <td class="item-actions">
                  <fa-icon class="icon" [icon]="['fas', 'trash']" (click)="removeNode(node)" aria-label="Remove Node"></fa-icon>
                </td>
              </tr>
              <tr *ngIf="!selectedNodes?.length" class="text-center">
                <td colspan="4">No Nodes Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="availableNodes">Available Health Monitors</label>
          <tooltip [message]="helpText.AvailableHealthMonitors"></tooltip>

          <div class="input-group align-items-center">
            <select
              class="form-control"
              id="availableHealthMonitors"
              formControlName="selectedHealthMonitor"
            >
              <option></option>
              <option
                *ngFor="let healthMonitor of availableHealthMonitors"
                [ngValue]="healthMonitor.id"
                >{{ healthMonitor.name }}</option
              >
              <option
              *ngFor="let defaultHealthMonitor of defaultHealthMonitors"
              [ngValue]="defaultHealthMonitor"
              >{{ defaultHealthMonitor }} (Default)</option>
            </select>
            <button
            type="button"
            class="btn btn-sm btn-info"
            (click)="addHealthMonitor();"
            [disabled]="ModalMode === 'Create'"
            >
            Select Health Monitor
          </button>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="selectedHealthMonitors">Selected Health Monitors</label>
          <tooltip [message]="helpText.SelectedHealthMonitors"></tooltip>
          <table class="table table-striped" aria-describedby="Selected Health Monitors table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let healthMonitor of selectedHealthMonitors">
                <td>
                  {{ healthMonitor.name }}
                </td>
                <td class="item-actions">
                  <fa-icon class="icon" [icon]="['fas', 'trash']" (click)="removeHealthMonitor(healthMonitor.id)" aria-label="Remove Health Monitor"></fa-icon>
                </td>
              </tr>
              <tr *ngFor="let defaultHealthMonitor of selectedDefaultHealthMonitors">
                <td>
                  {{ defaultHealthMonitor }} (Default)
                </td>
                <td class="item-actions">
                  <fa-icon class="icon" [icon]="['fas', 'trash']" (click)="removeHealthMonitor(defaultHealthMonitor)" aria-label="Remove Default Health Monitor"></fa-icon>
                </td>
              </tr>
              <tr *ngIf="!selectedHealthMonitors?.length && !selectedDefaultHealthMonitors?.length" class="text-center">
                <td colspan="2">No Health Monitors Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa-icon class="icon" [icon]="['far', 'save']"></fa-icon>
          <span>Save</span>
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>