/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '~ngx-smart-modal/ngx-smart-modal';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

.pill-default {
    background-color: #0d146d;
    border-radius: 2px;
    color: #ffffff;
    display: inline;
    font-size: smaller;
    padding: 2px 5px 2px 5px;
}

.fg-danger{
    color: red;
}

.fg-success{
    color:green;
}

.breadcrumbs{
    height: 100px;
    text-align:center;
    line-height:50px;
}

.padded-router-outlet{
    padding-top:5px;
}

.large-modal {
    max-width: 1000px;
    max-height: 1000px;
}
