/* You can add global styles to this file, and also import other style files */

.pill-default {
    background-color: #0d146d;
    border-radius: 2px;
    color: #ffffff;
    display: inline;
    font-size: smaller;
    padding: 2px 5px 2px 5px;
}

.fg-danger{
    color: red;
}

.fg-success{
    color:green;
}

.breadcrumbs{
    height: 100px;
    text-align:center;
    line-height:50px;
}