<ngx-smart-modal
  #tenantModal
  [dismissable]="false"
  customClass="large-modal"
  identifier="tenantModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">Tenant</h4>
  </header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <!-- Common tenant information -->
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [class.is-invalid]="submitted && f.name.errors"
              aria-label="Name"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
              <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
              <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
              <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or '_'.</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="alias">Alias</label>
            <input
              type="text"
              id="alias"
              formControlName="alias"
              class="form-control"
              [class.is-invalid]="submitted && f.alias.errors"
              aria-label="Alias"
            />
            <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
              <div *ngIf="f.alias.errors.maxlength">Alias must be 100 characters or less.</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              [class.is-invalid]="submitted && f.description.errors"
              aria-label="Description"
            />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.maxlength">Description must be 500 characters or less.</div>
            </div>
          </div>
        </div>
      </div>

      <!-- AdminPortal specific sections -->
      <div *ngIf="isAdminPortalMode" class="admin-portal-sections mt-2">
        <!-- Tab navigation -->
        <ul class="nav nav-tabs mb-3" id="tenantConfigTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="base" aria-selected="true"
              >Base Configuration</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="vrf-config-tab"
              data-toggle="tab"
              href="#vrf-config"
              role="tab"
              aria-controls="vrf-config"
              aria-selected="false"
              >VRF Configuration</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="vcd-tab" data-toggle="tab" href="#vcd" role="tab" aria-controls="vcd" aria-selected="false"
              >VCD Integration</a
            >
          </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="tenantConfigTabContent">
          <!-- Base Configuration Tab -->
          <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
            <div class="row config-row">
              <div class="col-md-6">
                <!-- Base Tenant Options -->
                <h5 class="section-title compact-title">Base Tenant Options</h5>
                <div class="form-group row compact-form-group">
                  <label class="col-sm-4 col-form-label" for="tenantSize">Tenant Size</label>
                  <div class="col-sm-8">
                    <div class="d-flex align-items-center">
                      <select id="tenantSize" formControlName="tenantSize" class="form-control form-control-sm mr-2">
                        <option value="x-small">X-Small</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="x-large">X-Large</option>
                      </select>
                      <tooltip [message]="helpText.TenantSize"></tooltip>
                    </div>
                    <small class="form-text text-muted">Sizing affects virtual firewall resources and VCD parameters</small>
                  </div>
                </div>

                <div class="form-group row compact-form-group">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                    <div class="feature-flag-item">
                      <input type="checkbox" id="vendorAgnosticNat" class="form-check-input" formControlName="vendorAgnosticNat" />
                      <label class="form-check-label" for="vendorAgnosticNat"> Vendor-Agnostic NAT </label>
                      <tooltip [message]="helpText.VendorAgnosticNat"></tooltip>
                    </div>
                  </div>
                </div>

                <div class="form-group row compact-form-group">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                    <div class="feature-flag-item">
                      <input type="checkbox" id="multiVrf" class="form-check-input" formControlName="multiVrf" />
                      <label class="form-check-label" for="multiVrf"> Multi-VRF </label>
                      <tooltip [message]="helpText.MultiVrf"></tooltip>
                    </div>
                  </div>
                </div>

                <div class="form-group row compact-form-group">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                    <div class="feature-flag-item">
                      <input type="checkbox" id="multiL3out" class="form-check-input" formControlName="multiL3out" />
                      <label class="form-check-label" for="multiL3out"> Multi-L3Out </label>
                      <tooltip [message]="helpText.MultiL3out"></tooltip>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <!-- Template Upload -->
            <div class="form-group mt-3">
              <label for="tenantTemplateFile">Upload Tenant Template YAML</label>
              <div class="custom-file">
                <input
                  type="file"
                  id="tenantTemplateFile"
                  class="custom-file-input"
                  accept=".yaml,.yml"
                  (change)="onFileSelected($event)"
                />
                <label class="custom-file-label" for="tenantTemplateFile">
                  {{ selectedFile ? selectedFile.name : 'Choose file...' }}
                </label>
              </div>
            </div>
          </div>

          <!-- VRF Configuration Tab -->
          <div class="tab-pane fade" id="vrf-config" role="tabpanel" aria-labelledby="vrf-config-tab">
            <h5 class="section-title compact-title">VRF Configuration</h5>

            <!-- VRF Configuration informational message -->
            <div *ngIf="!f.multiVrf.value" class="alert alert-info">
              <strong>Note:</strong> You can configure the default VRF below. Enable Multi-VRF in Base Configuration to add additional VRFs.
            </div>

            <!-- VRF List and Management -->
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="mb-0">VRF Configurations</h6>
                  <button *ngIf="f.multiVrf.value" type="button" class="btn btn-sm btn-primary" (click)="addVrf()">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    Add VRF
                  </button>
                </div>

                <!-- VRF Cards -->
                <div *ngFor="let vrf of vrfConfigurations; let i = index" class="card mb-3">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">VRF {{ i + 1 }}: {{ vrf.name || 'Unnamed' }}</h6>
                    <button
                      *ngIf="f.multiVrf.value"
                      type="button"
                      class="btn btn-sm btn-danger"
                      (click)="removeVrf(i)"
                      [disabled]="!canRemoveVrf(i)"
                      [title]="
                        vrf.name === 'default_vrf' ? 'Default VRF cannot be deleted' : !canRemoveVrf(i) ? 'Cannot delete the last VRF' : ''
                      "
                    >
                      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label [for]="'vrfName' + i">VRF Name</label>
                          <input
                            type="text"
                            [id]="'vrfName' + i"
                            [(ngModel)]="vrf.name"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control form-control-sm"
                            placeholder="Enter VRF name"
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label [for]="'vrfDescription' + i">Description</label>
                          <input
                            type="text"
                            [id]="'vrfDescription' + i"
                            [(ngModel)]="vrf.description"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control form-control-sm"
                            placeholder="Enter VRF description"
                          />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label [for]="'externalConnectivity' + i">External VRF Connectivity</label>
                          
                          <!-- External VRF Selection -->
                          <div class="mb-3">
                            <div class="input-group input-group-sm">
                              <select
                                [id]="'externalVrfSelect' + i"
                                [(ngModel)]="selectedExternalVrf"
                                [ngModelOptions]="{ standalone: true }"
                                class="form-control form-control-sm"
                              >
                                <option value="">Select External VRF to add...</option>
                                <option *ngFor="let option of getAvailableExternalVrfs(i)" [value]="option">
                                  {{ option }}
                                </option>
                              </select>
                              <div class="input-group-append">
                                <button
                                  type="button"
                                  class="btn btn-sm btn-primary"
                                  (click)="addExternalVrfAndClear(i, selectedExternalVrf)"
                                  [disabled]="!selectedExternalVrf"
                                >
                                  Add
                                </button>
                              </div>
                            </div>
                          </div>

                          <!-- Selected External VRFs Table -->
                          <div *ngIf="vrf.externalVrfs && vrf.externalVrfs.length > 0" class="table-responsive">
                            <table class="table table-sm table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th>External VRF</th>
                                  <th width="80">Default</th>
                                  <th width="60">Remove</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let extVrf of vrf.externalVrfs">
                                  <td>{{ extVrf }}</td>
                                  <td class="text-center">
                                    <input
                                      type="radio"
                                      [name]="'defaultVrf' + i"
                                      [checked]="isDefaultExternalVrf(i, extVrf)"
                                      (change)="setDefaultExternalVrf(i, extVrf)"
                                      class="form-check-input"
                                    />
                                  </td>
                                  <td class="text-center">
                                    <button
                                      type="button"
                                      class="btn btn-sm btn-outline-danger"
                                      (click)="removeExternalVrf(i, extVrf)"
                                      [disabled]="vrf.externalVrfs.length === 1"
                                      [title]="vrf.externalVrfs.length === 1 ? 'Cannot remove the last external VRF' : 'Remove external VRF'"
                                    >
                                      <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <!-- Empty state -->
                          <div *ngIf="!vrf.externalVrfs || vrf.externalVrfs.length === 0" class="alert alert-warning">
                            No external VRFs selected. Please select at least one external VRF.
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- VRF Policy and Network Settings -->
                    <div class="row mt-3">
                      <div class="col-md-6">
                        <h6 class="feature-section-title">Policy Settings</h6>
                        <div class="form-group">
                          <div class="feature-flag-item mb-2">
                            <input
                              type="checkbox"
                              [id]="'policyControlEnforced' + i"
                              [(ngModel)]="vrf.policyControlEnforced"
                              [ngModelOptions]="{ standalone: true }"
                              class="form-check-input"
                            />
                            <label class="form-check-label" [for]="'policyControlEnforced' + i"> 
                              Policy Control Enforced 
                            </label>
                          </div>
                          <div class="feature-flag-item">
                            <input
                              type="checkbox"
                              [id]="'policyControlEnforcementIngress' + i"
                              [(ngModel)]="vrf.policyControlEnforcementIngress"
                              [ngModelOptions]="{ standalone: true }"
                              class="form-check-input"
                            />
                            <label class="form-check-label" [for]="'policyControlEnforcementIngress' + i"> 
                              Ingress Policy Enforcement 
                            </label>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-6">
                        <h6 class="feature-section-title">Routing Settings</h6>
                        <div class="form-group">
                          <div class="feature-flag-item mb-2">
                            <input
                              type="checkbox"
                              [id]="'hostBasedRoutes' + i"
                              [(ngModel)]="vrf.hostBasedRoutesToExternalVrfs"
                              [ngModelOptions]="{ standalone: true }"
                              class="form-check-input"
                            />
                            <label class="form-check-label" [for]="'hostBasedRoutes' + i"> 
                              Host-based Routes to External VRFs 
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <label [for]="'maxExternalRoutes' + i" class="form-label">Max External Routes</label>
                              <input
                                type="number"
                                [id]="'maxExternalRoutes' + i"
                                [(ngModel)]="vrf.maxExternalRoutes"
                                [ngModelOptions]="{ standalone: true }"
                                class="form-control form-control-sm"
                                min="0"
                                max="10000"
                              />
                            </div>
                            <div class="col-6">
                              <label [for]="'bgpASN' + i" class="form-label">BGP ASN</label>
                              <input
                                type="number"
                                [id]="'bgpASN' + i"
                                [(ngModel)]="vrf.bgpASN"
                                [ngModelOptions]="{ standalone: true }"
                                class="form-control form-control-sm"
                                min="1"
                                max="4294967295"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- VCD Integration Tab -->
          <div class="tab-pane fade" id="vcd" role="tabpanel" aria-labelledby="vcd-tab">
            <h5 class="section-title compact-title">VMware Cloud Director Integration</h5>
            <div class="row config-row">
              <div class="col-md-6">
                <div class="form-group row compact-form-group">
                  <label class="col-sm-4 col-form-label" for="vcdLocation">VCD Location</label>
                  <div class="col-sm-8">
                    <select id="vcdLocation" formControlName="vcdLocation" class="form-control form-control-sm">
                      <option value="VCD-East">VCD-East</option>
                      <option value="VCD-West">VCD-West</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row compact-form-group">
                  <label class="col-sm-4 col-form-label" for="vcdTenantType">VCD Tenant Type</label>
                  <div class="col-sm-8">
                    <select id="vcdTenantType" formControlName="vcdTenantType" class="form-control form-control-sm">
                      <option value="new">New VCD Tenant</option>
                      <option value="existing">Existing VCD Tenant</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row config-row" *ngIf="f.vcdTenantType.value === 'existing'">
              <div class="col-md-6">
                <div class="form-group row compact-form-group">
                  <label class="col-sm-4 col-form-label" for="vcdTenantId">VCD Tenant ID</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      id="vcdTenantId"
                      formControlName="vcdTenantId"
                      class="form-control form-control-sm"
                      placeholder="Enter existing VCD Tenant ID"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
