<div class="offset-1 col-10">

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" (click)="getNetworks()" aria-label="Refresh Networks">
          <fa name="refresh" size="2x"></fa>
        </button>
        <button type="button" class="btn btn-success" aria-label="Create New Network">
          <fa name="plus" size="2x"></fa>
        </button>
      </div>

    <div class="card">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subnet of subnets.subnets">
            <td><input type="checkbox"></td>
            <td>
              <a href="/networks/network-security-profiles/edit/{{ subnet.subnet_id }}">{{ subnet.name }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>