<div>
  <h1>z/OS</h1>

  <div class="btn-group-sm mb-2 pull-right" role="group">
    <!-- TO DO: show only if customer -->
    <button class="btn btn-success" (click)="openRequestModal('request', null)">
      <fa name="upload"></fa>
      Upload z/OS request
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Request sent</th>
        <th scope="col">Configuration</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let configuration of configurations">
        <td>{{ configuration.requestedAt | date: "medium" }}</td>
        <td>
          {{ configuration.configuredAt | date: "medium" }}
          <ng-container
            *ngIf="configuration.configuration && configuration.configuration.data && configuration.configuration.data.length">
            <a class="btn btn-sm mr-1" [href]="downloadHref" download="{{ downloadName }}"
              (click)="exportFile(configuration.file)">
              <fa name="download"></fa>
            </a>
          </ng-container>
        </td>
        <td>
          <a class="btn btn-sm mr-1" [href]="downloadHref" download="{{ downloadName }}"
            (click)="exportFile(configuration.file)">
            <fa name="download"></fa>
          </a>

          <fa name="upload" (click)="openRequestModal('configuration', configuration.id)"></fa>
        </td>
      </tr>
      <tr *ngIf="!configurations?.length" class="text-center">
        <td colspan="3">No z/OS Requests have been sent</td>
      </tr>
    </tbody>
  </table>
</div>

<app-zos-zvm-request-modal></app-zos-zvm-request-modal>
