.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-link {
  color: $primary--alt;
}

.btn-primary {
  color: $white;
  background-color: $primary-main;
  border-color: $primary-main;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
}

.btn-info {
  color: $white;
  background-color: $primary-main;
  border-color: $primary-main;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary-medium;
    border-color: $primary-medium;
  }
}

.btn-success {
  color: $white;
  background-color: $success--dark;
  border-color: $success--dark;
  &:hover,
  &:focus,
  &:active {
    background-color: $success;
    border-color: $success;
  }
}

.btn-warning {
  color: $gray-darker;
  background-color: $warning;
  border-color: $warning;
  &:hover,
  &:focus,
  &:active {
    color: $gray-dark;
    background-color: darken($warning, 10%);
    border-color: darken($warning, 10%);
  }
}

.btn-danger {
  color: $white;
  background-color: $danger;
  border-color: $danger;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($danger, 10%);
    border-color: darken($danger, 10%);
  }
}
