.btn {
  border-radius: 4px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: .875rem;
  line-height: 1.5;
  
  + .btn {
    margin-left: 0.25rem;
  }

  .icon {
    margin-right: 0.5rem;
  }
}

.btn-toolbar {
  margin: 10px 0;
  justify-content: flex-end;
  align-items: center;

  &--start {
    justify-content: flex-start;
  }
}

.btn-danger {
  background-color: $c-red-400;
  border-color: $c-red-400;
  color: white;

  &:focus {
    box-shadow: 0 0 0 0.2rem $c-gray-100;
  }

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-red-700;
    border-color: $c-red-700;
    color: white;
  }
}

.btn-link {
  color: $c-gray-700;
  background-color: white;
  box-shadow: none;
  border: none;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    color: $c-gray-700;
    background-color: $c-gray-100;
  }
}

.btn-primary {
  background-color: $c-blue-400;
  border-color: $c-blue-400;
  color: white;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-blue-700;
    border-color: $c-blue-700;
    color: white;
  }
}

.btn-success {
  background-color: $c-green-100;
  border-color: $c-green-400;
  color: $c-green-400;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-green-400;
    border-color: $c-green-400;
    color: white;
  }
}

.btn-info {
  background-color: $c-blue-100;
  border-color: $c-blue-400;
  color: $c-blue-400;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-blue-400;
    border-color: $c-blue-400;
    color: white;
  }
}

.btn-warning {
  background-color: $c-gray-100;
  border-color: $c-gray-700;
  color: $c-gray-700;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-gray-700;
    border-color: $c-gray-700;
    color: white;
  }
}