.btn {
  border-radius: 4px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 0.875rem;
  line-height: 1.5;

  + .btn {
    margin-left: 0.25rem;
  }

  .icon {
    margin-right: 0.5rem;
  }
}

%disabled-btn {
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    background-color: $c-gray-400;
    color: white;
    border-color: $c-gray-400;
    opacity: 1;

    &:hover,
    &:focus {
      background-color: $c-gray-400;
      color: white;
      border-color: $c-gray-400;
      opacity: 1;
    }
  }
}

.btn-toolbar {
  margin: 10px 0;
  justify-content: flex-end;
  align-items: center;

  &--start {
    justify-content: flex-start;
  }
}

.btn-danger {
  background-color: $c-red-400;
  border-color: $c-red-400;
  color: white;

  @extend %disabled-btn;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-red-700;
    border-color: $c-red-700;
    color: white;
  }
}

.btn-link {
  color: $c-gray-700;
  background-color: white;
  box-shadow: none;
  border: none;

  @extend %disabled-btn;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    color: $c-gray-700;
    background-color: $c-gray-100;
  }
}

.btn-primary {
  background-color: $c-blue-400;
  border-color: $c-blue-400;
  color: white;

  @extend %disabled-btn;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-blue-700;
    border-color: $c-blue-700;
    color: white;
  }
}

.btn-success {
  background-color: $c-green-100;
  border-color: $c-green-400;
  color: $c-green-400;

  @extend %disabled-btn;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-green-400;
    border-color: $c-green-400;
    color: white;
  }
}

.btn-info {
  background-color: $c-blue-100;
  border-color: $c-blue-400;
  color: $c-blue-400;

  @extend %disabled-btn;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-blue-400;
    border-color: $c-blue-400;
    color: white;
  }
}

.btn-warning {
  background-color: $c-gray-100;
  border-color: $c-gray-700;
  color: $c-gray-700;

  @extend %disabled-btn;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $c-gray-700;
    border-color: $c-gray-700;
    color: white;
  }
}
