.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-link {
  color: $primary--alt;
}

@mixin button($text, $background) {
  color: $text;
  background-color: $background;
  border-color: $background;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: darken($background, 10%);
    border-color: darken($background, 10%);
  }
}

.btn-primary,
.btn-info {
  @include button($white, $primary-main);
}

.btn-success {
  @include button($white, $success--dark);
}

.btn-warning {
  @include button($gray-darker, $warning);
}

.btn-danger {
  @include button($white, $danger);
}
