.modal-header {
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: none;

  .modal-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.modal-footer {
  margin: 0 1rem;
  padding: 1rem 0;
}

.nsm-content {
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem;
}

.dcs-modal-warning {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 80%;
  text-align: center;
  color: #dc3545;
}