.table {
  border: 1px solid $c-gray-100;
  color: $c-gray-700;
}

.item-actions {
  text-align: right;
  
  .icon {
    cursor: pointer;
    margin: 0 3px;
  }
}

td a {
  color: $c-blue-400;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $c-gray-100;
}
