.table {
  border: 1px solid $c-gray-100;
  color: $c-gray-700;

  caption {
    padding: 0.5rem;
    color: $c-gray-700;
  }
}

.table__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul.ngx-pagination {
  padding: 0;
  text-align: center;
  color: $c-gray-700;

  a {
    border-radius: 4px;
  }

  li {
    border-radius: 4px;

    &.disabled {
      color: $c-gray-400;
    }

    &.current {
      background-color: $c-blue-400;
    }
  }
}

td a {
  color: $c-blue-400;

  &:hover {
    color: $c-blue-700;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $c-gray-100;
}
