.table {
  border: 1px solid $c-gray-100;
  color: $c-gray-700;
}

.item-actions {
  text-align: right;
  
  .icon {
    color: $c-gray-700;
    cursor: pointer;
    transition: color 150ms;

    &:hover {
      color: $c-blue-400;
    }

    + .icon {
      margin-left: 10px;
    }
  }
}

td a {
  color: $c-blue-400;

  &:hover {
    color: $c-blue-700;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $c-gray-100;
}
