.table {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.item-actions {
  text-align: right;
  
  fa-icon {
    cursor: pointer;
    margin: 0 3px;
  }
}

td a {
  color: $primary--alt;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $gray-light;
}
