// colors
$primary-main: #007ac2;
$primary-dark: #0b315b;
$primary-medium: #5ac4f9;
$primary-light: #e3effc;

$secondary-main: #ffad00;
$secondary-dark: #d17d05;
$secondary-medium: #ffd085;
$secondary-light: #fcf7f0;

$white: #fff;
$black: #000; // change to off-black
$gray-main: #7f8084;
$gray-dark: #3d3e3f;
$gray-medium: #c2c2c6;
$gray-light: #f6f6f7;

$success: #4eb796;
$warning: #ffdf5a;
$danger: #e84d4d;
$info: #5ac4f9;

$multistep-success: $success;
