// Palette Colors
$c-blue-100: #edf3fc;
$c-blue-300: #2e86ff;
$c-blue-400: #0058da;
$c-blue-700: #0043a8;

$c-green-100: #eef5ef;
$c-green-400: #14782c;
$c-green-700: #0b6320;

$c-gray-100: #f2f2f2;
$c-gray-300: #b3b3b3;
$c-gray-400: #75767a;
$c-gray-700: #222222;

$c-red-100: #fcf1f1;
$c-red-400: #d33737;
$c-red-700: #8c1111;

$c-yellow-100: #ffdf5a;

// Named Colors
$multistep-success: $c-green-700;
