// Palette Colors
$c-blue-100: #EDF3FC;
$c-blue-300: #2E86FF;
$c-blue-400: #0058DA;
$c-blue-700: #0043a8;

$c-green-100: #EEF5EF;
$c-green-400: #14782C;
$c-green-700: #0B6320;

$c-gray-100: #f2f2f2;
$c-gray-400: #75767A;
$c-gray-700: #222222;

$c-red-100: #FCF1F1;
$c-red-400: #d33737;
$c-red-700: #8C1111;

// Named Colors
$success: $c-green-400;
$info: #5ac4f9;
$warning: #ffdf5a;
$multistep-success: $c-green-700;