// colors
$primary-main: #006faf;
$primary-dark: #0b315b;
$primary-medium: #5ac4f9;
$primary-light: #e3ebf3;
$primary--alt: #0074b8;

$secondary-main: #ffad00;
$secondary-dark: #d17d05;
$secondary-medium: #ffd085;

$gray-main: #7f8084;
$gray-medium: #c2c2c6;
$gray-light: #f6f6f7;


// Palette Colors
$c-blue-100: #EDF3FC;
$c-blue-400: #0058DA;
$c-blue-700: #0043a8;

$c-green-100: #EEF5EF;
$c-green-400: #1f8838;
$c-green-700: #0C6F24;

$c-gray-100: #f2f2f2;
$c-gray-700: #222222;

$c-red-100: #FCF1F1;
$c-red-400: #d33737;
$c-red-700: #8C1111;

// Named Colors
$danger: $c-red-400;
$success: $c-green-400;
$info: #5ac4f9;
$warning: #ffdf5a;
$multistep-success: $c-green-700;