// 3rd party imports
@import '~ngx-toastr/toastr.css';
@import '~ngx-smart-modal/ngx-smart-modal';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~d3-context-menu/css/d3-context-menu.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

// custom imports
@import 'variables', 'buttons', 'tables', 'forms';

a {
  &:hover {
    // color: $primary-dark;
    color: $secondary-main;
  }
}

// wasn't working inside tooltip component styles for some reason
.tooltiptext a {
  color: $secondary-medium;
  &:hover {
    color: $secondary-dark;
  }
}

fa {
  margin-right: 5px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.disabled,
*:disabled {
  cursor: not-allowed;
}

.pill-default {
  background-color: #0d146d;
  border-radius: 2px;
  color: #ffffff;
  display: inline;
  font-size: smaller;
  padding: 2px 5px 2px 5px;
}

.fg-danger {
  color: $danger;
}

.fg-warning {
  color: $warning;
}

.fg-success {
  color: $success;
}

.xlarge-modal {
  max-width: 1200px;
  max-height: 1200px;
}

.large-modal {
  max-width: 1000px;
  max-height: 1000px;
}

.medium-modal {
  max-width: 800px;
  max-height: 800px;
}

.capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

// PAGINATION STYLES
.ngx-pagination {
  padding: 0;
  text-align: center;

  li.current {
    background-color: $primary-main;
  }
}

%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after {
    background-color: $gray-light;
  }
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $multistep-success;

    &:before {
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: $multistep-success;
        radius: 50%;
      }
    }
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: $multistep-success;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.is-active {
      @extend %remain-steps;
      &:before {
        background-color: $white;
        border-color: $multistep-success;
      }

      ~ li {
        color: #808080;
        @extend %remain-steps;
        &:before {
          background-color: $gray-light;
          border-color: $gray-light;
        }
      }
    }
  }
}
