// 3rd party imports
@import '~ngx-toastr/toastr.css';
@import '~ngx-smart-modal/ngx-smart-modal';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

// custom imports
@import 'variables', 'buttons', 'tables', 'forms', 'modals';

a:hover {
  color: $c-blue-400;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

.tooltiptext a {
  color: $c-blue-300;
  transition: color 150ms;
}

.icon {
  margin-right: 5px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.disabled,
*:disabled {
  cursor: not-allowed;
}

.fg-danger {
  color: $c-red-400;
}

.fg-success {
  color: $c-green-400;
}

.xlarge-modal {
  max-width: 1200px;
  max-height: 1200px;
}

.large-modal {
  max-width: 1000px;
  max-height: 1000px;
}

.medium-modal {
  max-width: 800px;
  max-height: 800px;
}

.capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after {
    background-color: $c-gray-100;
  }
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $multistep-success;

    &:before {
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: $multistep-success;
        radius: 50%;
      }
    }
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: $multistep-success;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.is-active {
      @extend %remain-steps;
      &:before {
        background-color: white;
        border-color: $multistep-success;
      }

      ~ li {
        color: $c-gray-400;
        @extend %remain-steps;
        &:before {
          background-color: $c-gray-100;
          border-color: $c-gray-100;
        }
      }
    }
  }
}

.pull-right {
  float: right;
}

body {
  font-family: 'Open Sans', sans-serif;
}