<h1 aria-label="VRF Name">VRF: {{ vrf?.name }}</h1>

<div class="btn-group-sm mb-2 pull-right mt-3" role="group">
  <button type="button" class="btn btn-warning mr-1" (click)="saveAll()" aria-label="Update Contracts" *ngIf="dirty">
    <fa-icon class="icon" [icon]="['far', 'save']"></fa-icon>
    <span>Save Changes</span>
  </button>

  <button type="button" class="btn btn-success" (click)="createContract()" aria-label="Create Contract">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
    <span>Create Contract</span>
  </button>

  <button type="button" class="btn btn-info mr-1" (click)="refresh()" aria-label="Refresh Firewall Rules" *ngIf="!dirty">
    <fa-icon class="icon" [icon]="['fas', 'sync-alt']"></fa-icon>
    <span>Refresh</span>
  </button>
</div>

<table class="table table-striped" aria-describedby="Intra-VRF Rules table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"># Filter Entries</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contract of contracts">
      <td>
        <span>{{ contract?.Name }}</span>
      </td>
      <td>
        <span>{{ contract?.FilterEntries?.length }}</span>
      </td>
      <td class="item-actions">
        <fa-icon class="icon" [icon]="['fas', 'pencil-alt']" (click)="editContract(contract)" aria-label="Edit Contract"></fa-icon>
        <fa-icon class="icon" [icon]="['fas', 'trash']" (click)="deleteContract(contract)" aria-label="Delete Contract"></fa-icon>
      </td>
    </tr>
    <tr *ngIf="contracts?.length === 0" class="text-center">
      <td colspan="3">No Contracts in this VRF.</td>
    </tr>
  </tbody>
</table>

<app-contract-modal></app-contract-modal>
