<div class="btn-group-sm mb-2 pull-right mt-3" role="group">
  <button
    type="button"
    class="btn btn-success"
    (click)="createContract()"
    aria-label="Create Contract"
  >
    <fa name="plus"></fa>
    Create Contract
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"># Filter Entries</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contract of contracts">
      <td>
        <span>{{ contract?.Name }}</span>
      </td>
      <td>
        <span>{{ contract?.FilterEntries.length }}</span>
      </td>
      <td class="item-actions">
        <fa
          name="pencil"
          (click)="editContract(contract)"
          aria-label="Edit Contract"
        >
        </fa>
        <fa name="trash" (click)="deleteContract(contract)"> </fa>
      </td>
    </tr>
    <tr *ngIf="contracts?.length === 0" class="text-center">
      <td colspan="3">No Contracts in this VRF.</td>
    </tr>
  </tbody>
</table>