<ngx-smart-modal
  #firewallRuleModal
  identifier="firewallRuleModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Firewall Rule</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
          id="name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 60 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="action">Action</label>
          <tooltip [message]="helpText.Action"></tooltip>
          <select
            id="action"
            formControlName="action"
            class="form-control"
            [class.is-invalid]="submitted && f.action.errors"
            aria-label="Action"
          >
            <option></option>
            <option value="Deny">Deny</option>
            <option value="Permit">Permit</option>
          </select>
          <div *ngIf="submitted && f.action.errors" class="invalid-feedback">
            <div *ngIf="f.action.errors.required">Action is required</div>
          </div>
        </div>

        <div class="form-group col-md-2" *ngIf="firewallRuleGroupType !== 'ZoneBased' && firewallRuleGroupType !== 'OneArmServiceGraph'">
          <label for="direction">Direction</label>
          <tooltip [message]="helpText.Direction"></tooltip>
          <select
            id="direction"
            formControlName="direction"
            class="form-control"
            [class.is-invalid]="submitted && f.direction.errors"
            aria-label="Direction"
          >
            <option></option>
            <option value="In">In</option>
            <option value="Out">Out</option>
          </select>
          <div *ngIf="submitted && f.direction.errors" class="invalid-feedback">
            <div *ngIf="f.direction.errors.required">Direction is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="protocol">Protocol</label>
          <tooltip [message]="helpText.Protocol"></tooltip>
          <select
            id="protocol"
            formControlName="protocol"
            class="form-control"
            [class.is-invalid]="submitted && f.protocol.errors"
            aria-label="Protocol"
          >
            <option></option>
            <option value="IP">IP</option>
            <option value="ICMP">ICMP</option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
          <div *ngIf="submitted && f.protocol.errors" class="invalid-feedback">
            <div *ngIf="f.protocol.errors.required">Protocol is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="logging">Logging</label>
          <tooltip [message]="helpText.Logging"></tooltip>
          <select
            id="logging"
            formControlName="logging"
            class="form-control"
            [class.is-invalid]="submitted && f.logging.errors"
            aria-label="Logging"
          >
            <option></option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
          <div *ngIf="submitted && f.logging.errors" class="invalid-feedback">
            <div *ngIf="f.logging.errors.required">Logging is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="enabled">Enabled</label>
          <tooltip [message]="helpText.Enabled"></tooltip>
          <select
            id="enabled"
            formControlName="enabled"
            class="form-control"
            [class.is-invalid]="submitted && f.enabled.errors"
            aria-label="Logging"
          >
            <option></option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
          <div *ngIf="submitted && f.enabled.errors" class="invalid-feedback">
            <div *ngIf="f.enabled.errors.required">Enabled is required</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="ruleIndex">Rule Index</label>
          <tooltip [message]="helpText.RuleIndex"></tooltip>
          <input
            type="number"
            id="ruleIndex"
            formControlName="ruleIndex"
            class="form-control"
            [class.is-invalid]="submitted && f.ruleIndex.errors"
            aria-label="Rule Index"
          />
          <div *ngIf="submitted && f.ruleIndex.errors" class="invalid-feedback">
            <div *ngIf="f.ruleIndex.errors.required">Rule Index is required</div>
            <div *ngIf="f.ruleIndex.errors.min">Rule Index must be greater than or equal to 1</div>
          </div>
        </div>
      </div>

      <hr *ngIf="firewallRuleGroupType === 'ZoneBased'" />

      <div class="form-row" *ngIf="firewallRuleGroupType === 'ZoneBased'">
        <div class="form-group col-md-6">
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">From Zones</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedFromZone of selectedFromZones">
                <td>{{ selectedFromZone.name }}</td>
                <td class="table__actions">
                  <app-icon-button
                    icon="delete"
                    label="Remove From Zone"
                    (click)="removeZone('from', selectedFromZone.id)"
                  ></app-icon-button>
                </td>
              </tr>
              <tr *ngIf="!selectedFromZones?.length" class="text-center">
                <td colspan="2">No From Zones Selected</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group col-md-6">
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">To Zones</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedToZone of selectedToZones">
                <td>{{ selectedToZone.name }}</td>
                <td class="table__actions">
                  <app-icon-button icon="delete" label="Remove To Zone" (click)="removeZone('to', selectedToZone.id)"></app-icon-button>
                </td>
              </tr>
              <tr *ngIf="!selectedToZones?.length" class="text-center">
                <td colspan="2">No To Zones Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-row" *ngIf="firewallRuleGroupType === 'ZoneBased'">
        <div class="form-group col-md-6">
          <div class="input-group align-items-center">
            <select id="availableFromZones" class="form-control mr-3" formControlName="selectedFromZone">
              <option></option>
              <option *ngFor="let zone of zones" [ngValue]="zone.id">{{ zone.name }}</option>
            </select>

            <button type="button" class="btn btn-info" (click)="addZone('from')" [disabled]="!f.selectedFromZone.value">
              <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
              <span>Add From Zone</span>
            </button>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group align-items-center">
            <select id="availableToZones" class="form-control mr-3" formControlName="selectedToZone">
              <option></option>
              <option *ngFor="let zone of zones" [ngValue]="zone.id">{{ zone.name }}</option>
            </select>

            <button type="button" class="btn btn-info" (click)="addZone('to')" [disabled]="!f.selectedToZone.value">
              <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
              <span>Add To Zone</span>
            </button>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="sourceNetworkType">Source Network Type</label>
          <tooltip [message]="helpText.SourceNetworkType"></tooltip>
          <select id="sourceNetworkType" formControlName="sourceNetworkType" class="form-control" aria-label="Source Network Type">
            <option></option>
            <option value="IpAddress">IP</option>
            <option value="NetworkObject">Network Object</option>
            <option value="NetworkObjectGroup">Network Object Group</option>
            <option *ngIf="isTenantV2Mode" value="EndpointGroup">Endpoint Group</option>
            <option *ngIf="isTenantV2Mode" value="EndpointSecurityGroup">Endpoint Security Group</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="sourceIpAddress" *ngIf="f.sourceNetworkType.value === 'IpAddress'">Source IP</label>
          <tooltip *ngIf="f.sourceNetworkType.value === 'IpAddress'" [message]="helpText.IpNetworkType"></tooltip>
          <input
            type="text"
            formControlName="sourceIpAddress"
            id="sourceIpAddress"
            class="form-control"
            [class.is-invalid]="submitted && f.sourceIpAddress.errors"
            aria-label="Source IP"
            *ngIf="f.sourceNetworkType.value === 'IpAddress'"
          />
          <div *ngIf="submitted && f.sourceIpAddress.errors" class="invalid-feedback">
            <div *ngIf="f.sourceIpAddress.errors.required">Source IP Address is required</div>
            <div *ngIf="f.sourceIpAddress.errors.invalidIpAny">Invalid IP address, must be a valid IPv4/IPv6 address or CIDR</div>
          </div>

          <label for="sourceNetworkObject" *ngIf="f.sourceNetworkType.value === 'NetworkObject'">Source Network Object</label>
          <tooltip *ngIf="f.sourceNetworkType.value === 'NetworkObject'" [message]="helpText.NetworkObjectType"></tooltip>
          <ng-select
            formControlName="sourceNetworkObject"
            id="sourceNetworkObject"
            [ngClass]="{
              'is-invalid': submitted && f.sourceNetworkObject.errors
            }"
            aria-label="Source Network Object"
            *ngIf="f.sourceNetworkType.value === 'NetworkObject'"
            [items]="networkObjects"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          <div *ngIf="submitted && f.sourceNetworkObject.errors" class="invalid-feedback">
            <div *ngIf="f.sourceNetworkObject.errors.required">Source Network Object is required</div>
          </div>
          <span
            *ngIf="f.sourceNetworkType.value === 'NetworkObject'"
            (click)="getObjectInfo('Source NetworkObject', f.sourceNetworkType.value, f.sourceNetworkObject.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >

          <label for="sourceNetworkObjectGroup" *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'"
            >Source Network Object Group</label
          >
          <tooltip *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'" [message]="helpText.NetworkObjectGroupType"></tooltip>
          <ng-select
            formControlName="sourceNetworkObjectGroup"
            id="sourceNetworkObjectGroup"
            [ngClass]="{
              'is-invalid': submitted && f.sourceNetworkObjectGroup.errors
            }"
            aria-label="Source Network Object Group"
            *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'"
            [items]="networkObjectGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.sourceNetworkObjectGroup.errors" class="invalid-feedback">
            <div *ngIf="f.sourceNetworkObjectGroup.errors.required">Source Network Object Group is required</div>
          </div>
          <span
            *ngIf="f.sourceNetworkType.value === 'NetworkObjectGroup'"
            (click)="getObjectInfo('Source NetworkObjectGroup', f.sourceNetworkType.value, f.sourceNetworkObjectGroup.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >

          <label for="sourceEndpointGroup" *ngIf="isTenantV2Mode && f.sourceNetworkType.value === 'EndpointGroup'"
            >Source Endpoint Group</label
          >
          <!-- <tooltip *ngIf="isTenantV2Mode && f.sourceNetworkType.value === 'EndpointGroup'" [message]="helpText.EndpointGroupType"></tooltip> -->
          <ng-select
            formControlName="sourceEndpointGroup"
            id="sourceEndpointGroup"
            [ngClass]="{
              'is-invalid': submitted && f.sourceEndpointGroup.errors
            }"
            aria-label="Source Endpoint Group"
            *ngIf="isTenantV2Mode && f.sourceNetworkType.value === 'EndpointGroup'"
            [items]="endpointGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.sourceEndpointGroup.errors" class="invalid-feedback">
            <div *ngIf="f.sourceEndpointGroup.errors.required">Source Endpoint Group is required</div>
          </div>

          <label for="sourceEndpointSecurityGroup" *ngIf="isTenantV2Mode && f.sourceNetworkType.value === 'EndpointSecurityGroup'"
            >Source Endpoint Security Group</label
          >
          <!-- <tooltip *ngIf="isTenantV2Mode && f.sourceNetworkType.value === 'EndpointSecurityGroup'" [message]="helpText.EndpointSecurityGroupType"></tooltip> -->
          <ng-select
            formControlName="sourceEndpointSecurityGroup"
            id="sourceEndpointSecurityGroup"
            [ngClass]="{
              'is-invalid': submitted && f.sourceEndpointSecurityGroup.errors
            }"
            aria-label="Source Endpoint Security Group"
            *ngIf="isTenantV2Mode && f.sourceNetworkType.value === 'EndpointSecurityGroup'"
            [items]="endpointSecurityGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.sourceEndpointSecurityGroup.errors" class="invalid-feedback">
            <div *ngIf="f.sourceEndpointSecurityGroup.errors.required">Source Endpoint Security Group is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="destinationNetworkType">Destination Network Type</label>
          <tooltip [message]="helpText.DestinationNetworkType"></tooltip>
          <select
            id="destinationNetworkType"
            formControlName="destinationNetworkType"
            class="form-control"
            aria-label="Destination Network Type"
          >
            <option></option>
            <option value="IpAddress">IP</option>
            <option value="NetworkObject">Network Object</option>
            <option value="NetworkObjectGroup">Network Object Group</option>
            <option *ngIf="isTenantV2Mode" value="EndpointGroup">Endpoint Group</option>
            <option *ngIf="isTenantV2Mode" value="EndpointSecurityGroup">Endpoint Security Group</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="destinationIpAddress" *ngIf="f.destinationNetworkType.value === 'IpAddress'">Destination IP</label>
          <tooltip *ngIf="f.destinationNetworkType.value === 'IpAddress'" [message]="helpText.IpNetworkType"></tooltip>
          <input
            type="text"
            id="destinationIpAddress"
            formControlName="destinationIpAddress"
            class="form-control"
            [class.is-invalid]="submitted && f.destinationIpAddress.errors"
            aria-label="Destination IP"
            *ngIf="f.destinationNetworkType.value === 'IpAddress'"
          />
          <div *ngIf="submitted && f.destinationIpAddress.errors" class="invalid-feedback">
            <div *ngIf="f.destinationIpAddress.errors.required">Destination IP is required</div>
            <div *ngIf="f.destinationIpAddress.errors.invalidIpAny">Invalid IP address, must be a valid IPv4/IPv6 address or CIDR</div>
          </div>

          <label for="destinationNetworkObject" *ngIf="f.destinationNetworkType.value === 'NetworkObject'"
            >Destination Network Object</label
          >
          <tooltip *ngIf="f.destinationNetworkType.value === 'NetworkObject'" [message]="helpText.NetworkObjectType"></tooltip>
          <ng-select
            formControlName="destinationNetworkObject"
            id="destinationNetworkObject"
            [ngClass]="{
              'is-invalid': submitted && f.destinationNetworkObject.errors
            }"
            aria-label="Destination Network Object"
            *ngIf="f.destinationNetworkType.value === 'NetworkObject'"
            [items]="networkObjects"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.destinationNetworkObject.errors" class="invalid-feedback">
            <div *ngIf="f.destinationNetworkObject.errors.required">Destination Network Object is required</div>
          </div>
          <span
            *ngIf="f.destinationNetworkType.value === 'NetworkObject'"
            (click)="getObjectInfo('Destination NetworkObject', f.destinationNetworkType.value, f.destinationNetworkObject.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >

          <label for="destinationNetworkObjectGroup" *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'"
            >Destination Network Object Group</label
          >
          <tooltip *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'" [message]="helpText.NetworkObjectGroupType"></tooltip>
          <ng-select
            formControlName="destinationNetworkObjectGroup"
            id="destinationNetworkObjectGroup"
            [ngClass]="{
              'is-invalid': submitted && f.destinationNetworkObjectGroup.errors
            }"
            aria-label="Destination Network Object Group"
            *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'"
            [items]="networkObjectGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.destinationNetworkObjectGroup.errors" class="invalid-feedback">
            <div *ngIf="f.destinationNetworkObjectGroup.errors.required">Destination Network Object Group is required</div>
          </div>
          <span
            *ngIf="f.destinationNetworkType.value === 'NetworkObjectGroup'"
            (click)="getObjectInfo('Destination NetworkObjectGroup', f.destinationNetworkType.value, f.destinationNetworkObjectGroup.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >

          <label for="destinationEndpointGroup" *ngIf="isTenantV2Mode && f.destinationNetworkType.value === 'EndpointGroup'"
            >Destination Endpoint Group</label
          >
          <!-- <tooltip *ngIf="isTenantV2Mode && f.destinationNetworkType.value === 'EndpointGroup'" [message]="helpText.EndpointGroupType"></tooltip> -->
          <ng-select
            formControlName="destinationEndpointGroup"
            id="destinationEndpointGroup"
            [ngClass]="{
              'is-invalid': submitted && f.destinationEndpointGroup.errors
            }"
            aria-label="Destination Endpoint Group"
            *ngIf="isTenantV2Mode && f.destinationNetworkType.value === 'EndpointGroup'"
            [items]="endpointGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.destinationEndpointGroup.errors" class="invalid-feedback">
            <div *ngIf="f.destinationEndpointGroup.errors.required">Destination Endpoint Group is required</div>
          </div>

          <label for="destinationEndpointSecurityGroup" *ngIf="isTenantV2Mode && f.destinationNetworkType.value === 'EndpointSecurityGroup'"
            >Destination Endpoint Security Group</label
          >
          <!-- <tooltip *ngIf="isTenantV2Mode && f.destinationNetworkType.value === 'EndpointSecurityGroup'" [message]="helpText.EndpointSecurityGroupType"></tooltip> -->
          <ng-select
            formControlName="destinationEndpointSecurityGroup"
            id="destinationEndpointSecurityGroup"
            [ngClass]="{
              'is-invalid': submitted && f.destinationEndpointSecurityGroup.errors
            }"
            aria-label="Destination Endpoint Security Group"
            *ngIf="isTenantV2Mode && f.destinationNetworkType.value === 'EndpointSecurityGroup'"
            [items]="endpointSecurityGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          <div *ngIf="submitted && f.destinationEndpointSecurityGroup.errors" class="invalid-feedback">
            <div *ngIf="f.destinationEndpointSecurityGroup.errors.required">Destination Endpoint Security Group is required</div>
          </div>
        </div>
      </div>

      <div *ngIf="f.protocol.value !== 'IP' && f.protocol.value !== 'ICMP'">
        <hr />
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="serviceType">Service Type</label>
            <tooltip [message]="helpText.SourceServiceType"></tooltip>
            <select id="serviceType" formControlName="serviceType" class="form-control" aria-label="Source Service Type">
              <option></option>
              <option value="Port">Port</option>
              <option value="ServiceObject">Service Object</option>
              <option value="ServiceObjectGroup">Service Object Group</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6" *ngIf="f.serviceType.value === 'Port'">
            <label for="sourcePorts" *ngIf="f.serviceType.value === 'Port'">Source Port</label>
            <tooltip *ngIf="f.serviceType.value === 'Port'" [message]="helpText.PortServiceType"></tooltip>
            <input
              type="text"
              id="sourcePorts"
              formControlName="sourcePorts"
              class="form-control"
              [class.is-invalid]="submitted && f.sourcePorts.errors"
              aria-label="Source Ports"
              *ngIf="f.serviceType.value === 'Port'"
            />
            <div *ngIf="submitted && f.sourcePorts.errors" class="invalid-feedback">
              <div *ngIf="f.sourcePorts.errors.invalidPortNumber">Source Port/Range must be between 1-65535</div>
              <div *ngIf="f.sourcePorts.errors.required">Source Port is required</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="destinationPorts" *ngIf="f.serviceType.value === 'Port'">Destination Port</label>
            <tooltip *ngIf="f.serviceType.value === 'Port'" [message]="helpText.PortServiceType"></tooltip>
            <input
              type="text"
              id="destinationPorts"
              formControlName="destinationPorts"
              class="form-control"
              [class.is-invalid]="submitted && f.destinationPorts.errors"
              aria-label="Destination Ports"
              *ngIf="f.serviceType.value === 'Port'"
            />
            <div *ngIf="submitted && f.destinationPorts.errors" class="invalid-feedback">
              <div *ngIf="f.destinationPorts.errors.invalidPortNumber">Destination Port/Range must be between 1-65535</div>
              <div *ngIf="f.destinationPorts.errors.required">Destination Port is required</div>
            </div>

            <label for="serviceObject" *ngIf="f.serviceType.value === 'ServiceObject'">Service Object </label>
            <tooltip *ngIf="f.serviceType.value === 'ServiceObject'" [message]="helpText.ServiceObjectType"></tooltip>
            <ng-select
              formControlName="serviceObject"
              id="serviceObject"
              [ngClass]="{
                'is-invalid': submitted && f.serviceObject.errors
              }"
              aria-label="Service Object Group"
              *ngIf="f.serviceType.value === 'ServiceObject'"
              [items]="serviceObjects"
              bindLabel="name"
              bindValue="id"
            >
            </ng-select>
            <div *ngIf="submitted && f.serviceObject.errors" class="invalid-feedback">
              <div *ngIf="f.serviceObject.errors.required">Service Object is required</div>
            </div>
            <span
              *ngIf="f.serviceType.value === 'ServiceObject'"
              (click)="getObjectInfo('Service Object', f.serviceType.value, f.serviceObject.value)"
              style="color: blue; cursor: pointer"
              >(object info)</span
            >

            <label for="serviceObjectGroup" *ngIf="f.serviceType.value === 'ServiceObjectGroup'">Service Object Group</label>
            <tooltip *ngIf="f.serviceType.value === 'ServiceObjectGroup'" [message]="helpText.ServiceObjectGroupType"></tooltip>
            <ng-select
              formControlName="serviceObjectGroup"
              id="serviceObjectGroup"
              [ngClass]="{
                'is-invalid': submitted && f.serviceObjectGroup.errors
              }"
              aria-label="Service Object Group"
              *ngIf="f.serviceType.value === 'ServiceObjectGroup'"
              [items]="serviceObjectGroups"
              bindLabel="name"
              bindValue="id"
            >
            </ng-select>
            <div *ngIf="submitted && f.serviceObjectGroup.errors" class="invalid-feedback">
              <div *ngIf="f.serviceObjectGroup.errors.required">Service Object Group is required</div>
            </div>
            <span
              *ngIf="f.serviceType.value === 'ServiceObjectGroup'"
              (click)="getObjectInfo('Service Object Group', f.serviceType.value, f.serviceObjectGroup.value)"
              style="color: blue; cursor: pointer"
              >(object info)</span
            >
          </div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">Cancel</button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>

<app-firewall-rule-object-info-modal></app-firewall-rule-object-info-modal>
