<ngx-smart-modal
  #firewallRuleModal
  identifier="firewallRuleModal"
  [dismissable]="false"
  (onOpen)="getData()"
  (onClose)="reset()"
  customClass="medium-modal"
>
  <header class="modal-header">
    <h4 class="modal-title">Firewall Rule</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
          id="name"
        />
        @if (submitted && f.name.errors) {
        <div class="invalid-feedback">
          @if (f.name.errors.required) {
          <div>Name is required</div>
          } @if (f.name.errors.minlength) {
          <div>Name must be at least 3 characters.</div>
          } @if (f.name.errors.maxlength) {
          <div>Name must be 60 characters or less.</div>
          } @if (f.name.errors.invalidName) {
          <div>Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
          }
        </div>
        }
      </div>

      <div class="row">
        <div class="mb-3 col-md-2">
          <label for="action">Action</label>
          <tooltip [message]="helpText.Action"></tooltip>
          <select
            id="action"
            formControlName="action"
            class="form-select"
            [class.is-invalid]="submitted && f.action.errors"
            aria-label="Action"
          >
            <option></option>
            <option value="Deny">Deny</option>
            <option value="Permit">Permit</option>
          </select>
          @if (submitted && f.action.errors) {
          <div class="invalid-feedback">
            @if (f.action.errors.required) {
            <div>Action is required</div>
            }
          </div>
          }
        </div>

        @if (firewallRuleGroupType !== 'ZoneBased') {
        <div class="mb-3 col-md-2">
          <label for="direction">Direction</label>
          <tooltip [message]="helpText.Direction"></tooltip>
          <select
            id="direction"
            formControlName="direction"
            class="form-select"
            [class.is-invalid]="submitted && f.direction.errors"
            aria-label="Direction"
          >
            <option></option>
            <option value="In">In</option>
            <option value="Out">Out</option>
          </select>
          @if (submitted && f.direction.errors) {
          <div class="invalid-feedback">
            @if (f.direction.errors.required) {
            <div>Direction is required</div>
            }
          </div>
          }
        </div>
        }

        <div class="mb-3 col-md-2">
          <label for="protocol">Protocol</label>
          <tooltip [message]="helpText.Protocol"></tooltip>
          <select
            id="protocol"
            formControlName="protocol"
            class="form-select"
            [class.is-invalid]="submitted && f.protocol.errors"
            aria-label="Protocol"
          >
            <option></option>
            <option value="IP">IP</option>
            <option value="ICMP">ICMP</option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
          @if (submitted && f.protocol.errors) {
          <div class="invalid-feedback">
            @if (f.protocol.errors.required) {
            <div>Protocol is required</div>
            }
          </div>
          }
        </div>

        <div class="mb-3 col-md-2">
          <label for="logging">Logging</label>
          <tooltip [message]="helpText.Logging"></tooltip>
          <select
            id="logging"
            formControlName="logging"
            class="form-select"
            [class.is-invalid]="submitted && f.logging.errors"
            aria-label="Logging"
          >
            <option></option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
          @if (submitted && f.logging.errors) {
          <div class="invalid-feedback">
            @if (f.logging.errors.required) {
            <div>Logging is required</div>
            }
          </div>
          }
        </div>

        <div class="mb-3 col-md-2">
          <label for="enabled">Enabled</label>
          <tooltip [message]="helpText.Enabled"></tooltip>
          <select
            id="enabled"
            formControlName="enabled"
            class="form-select"
            [class.is-invalid]="submitted && f.enabled.errors"
            aria-label="Logging"
          >
            <option></option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="true">True</option>
          </select>
          @if (submitted && f.enabled.errors) {
          <div class="invalid-feedback">
            @if (f.enabled.errors.required) {
            <div>Enabled is required</div>
            }
          </div>
          }
        </div>

        <div class="mb-3 col-md-2">
          <label for="ruleIndex">Rule Index</label>
          <tooltip [message]="helpText.RuleIndex"></tooltip>
          <input
            type="number"
            id="ruleIndex"
            formControlName="ruleIndex"
            class="form-control"
            [class.is-invalid]="submitted && f.ruleIndex.errors"
            aria-label="Rule Index"
          />
          @if (submitted && f.ruleIndex.errors) {
          <div class="invalid-feedback">
            @if (f.ruleIndex.errors.required) {
            <div>Rule Index is required</div>
            } @if (f.ruleIndex.errors.min) {
            <div>Rule Index must be greater than or equal to 1</div>
            }
          </div>
          }
        </div>
      </div>

      @if (firewallRuleGroupType === 'ZoneBased') {
      <hr />
      } @if (firewallRuleGroupType === 'ZoneBased') {
      <div class="row">
        <div class="mb-3 col-md-6">
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">From Zones</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              @for (selectedFromZone of selectedFromZones; track selectedFromZone) {
              <tr>
                <td>{{ selectedFromZone.name }}</td>
                <td class="table__actions">
                  <app-icon-button
                    icon="delete"
                    label="Remove From Zone"
                    (click)="removeZone('from', selectedFromZone.id)"
                  ></app-icon-button>
                </td>
              </tr>
              } @if (!selectedFromZones?.length) {
              <tr class="text-center">
                <td colspan="2">No From Zones Selected</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="mb-3 col-md-6">
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">To Zones</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              @for (selectedToZone of selectedToZones; track selectedToZone) {
              <tr>
                <td>{{ selectedToZone.name }}</td>
                <td class="table__actions">
                  <app-icon-button icon="delete" label="Remove To Zone" (click)="removeZone('to', selectedToZone.id)"></app-icon-button>
                </td>
              </tr>
              } @if (!selectedToZones?.length) {
              <tr class="text-center">
                <td colspan="2">No To Zones Selected</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      } @if (firewallRuleGroupType === 'ZoneBased') {
      <div class="row">
        <div class="mb-3 col-md-6">
          <div class="input-group align-items-center">
            <select id="availableFromZones" class="form-select me-3" formControlName="selectedFromZone">
              <option></option>
              @for (zone of zones; track zone) {
              <option [ngValue]="zone.id">{{ zone.name }}</option>
              }
            </select>
            <button type="button" class="btn btn-info" (click)="addZone('from')" [disabled]="!f.selectedFromZone.value">
              <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
              <span>Add From Zone</span>
            </button>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <div class="input-group align-items-center">
            <select id="availableToZones" class="form-select me-3" formControlName="selectedToZone">
              <option></option>
              @for (zone of zones; track zone) {
              <option [ngValue]="zone.id">{{ zone.name }}</option>
              }
            </select>
            <button type="button" class="btn btn-info" (click)="addZone('to')" [disabled]="!f.selectedToZone.value">
              <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
              <span>Add To Zone</span>
            </button>
          </div>
        </div>
      </div>
      }

      <hr />

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="sourceNetworkType">Source Network Type</label>
          <tooltip [message]="helpText.SourceNetworkType"></tooltip>
          <select id="sourceNetworkType" formControlName="sourceNetworkType" class="form-select" aria-label="Source Network Type">
            <option></option>
            <option value="IpAddress">IP</option>
            <option value="NetworkObject">Network Object</option>
            <option value="NetworkObjectGroup">Network Object Group</option>
          </select>
        </div>

        <div class="mb-3 col-md-6">
          @if (f.sourceNetworkType.value === 'IpAddress') {
          <label for="sourceIpAddress">Source IP</label>
          } @if (f.sourceNetworkType.value === 'IpAddress') {
          <tooltip [message]="helpText.IpNetworkType"></tooltip>
          } @if (f.sourceNetworkType.value === 'IpAddress') {
          <input
            type="text"
            formControlName="sourceIpAddress"
            id="sourceIpAddress"
            class="form-control"
            [class.is-invalid]="submitted && f.sourceIpAddress.errors"
            aria-label="Source IP"
          />
          } @if (submitted && f.sourceIpAddress.errors) {
          <div class="invalid-feedback">
            @if (f.sourceIpAddress.errors.required) {
            <div>Source IP Address is required</div>
            } @if (f.sourceIpAddress.errors.invalidIpAny) {
            <div>Invalid IP address, must be a valid IPv4/IPv6 address or CIDR</div>
            }
          </div>
          } @if (f.sourceNetworkType.value === 'NetworkObject') {
          <label for="sourceNetworkObject">Source Network Object</label>
          } @if (f.sourceNetworkType.value === 'NetworkObject') {
          <tooltip [message]="helpText.NetworkObjectType"></tooltip>
          } @if (f.sourceNetworkType.value === 'NetworkObject') {
          <ng-select
            formControlName="sourceNetworkObject"
            id="sourceNetworkObject"
            [ngClass]="{
              'is-invalid': submitted && f.sourceNetworkObject.errors
            }"
            aria-label="Source Network Object"
            [items]="networkObjects"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          } @if (submitted && f.sourceNetworkObject.errors) {
          <div class="invalid-feedback">
            @if (f.sourceNetworkObject.errors.required) {
            <div>Source Network Object is required</div>
            }
          </div>
          } @if (f.sourceNetworkType.value === 'NetworkObject') {
          <span
            (click)="getObjectInfo('Source NetworkObject', f.sourceNetworkType.value, f.sourceNetworkObject.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >
          } @if (f.sourceNetworkType.value === 'NetworkObjectGroup') {
          <label for="sourceNetworkObjectGroup">Source Network Object Group</label>
          } @if (f.sourceNetworkType.value === 'NetworkObjectGroup') {
          <tooltip [message]="helpText.NetworkObjectGroupType"></tooltip>
          } @if (f.sourceNetworkType.value === 'NetworkObjectGroup') {
          <ng-select
            formControlName="sourceNetworkObjectGroup"
            id="sourceNetworkObjectGroup"
            [ngClass]="{
              'is-invalid': submitted && f.sourceNetworkObjectGroup.errors
            }"
            aria-label="Source Network Object Group"
            [items]="networkObjectGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          } @if (submitted && f.sourceNetworkObjectGroup.errors) {
          <div class="invalid-feedback">
            @if (f.sourceNetworkObjectGroup.errors.required) {
            <div>Source Network Object Group is required</div>
            }
          </div>
          } @if (f.sourceNetworkType.value === 'NetworkObjectGroup') {
          <span
            (click)="getObjectInfo('Source NetworkObjectGroup', f.sourceNetworkType.value, f.sourceNetworkObjectGroup.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >
          }
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="destinationNetworkType">Destination Network Type</label>
          <tooltip [message]="helpText.DestinationNetworkType"></tooltip>
          <select
            id="destinationNetworkType"
            formControlName="destinationNetworkType"
            class="form-select"
            aria-label="Destination Network Type"
          >
            <option></option>
            <option value="IpAddress">IP</option>
            <option value="NetworkObject">Network Object</option>
            <option value="NetworkObjectGroup">Network Object Group</option>
          </select>
        </div>

        <div class="mb-3 col-md-6">
          @if (f.destinationNetworkType.value === 'IpAddress') {
          <label for="destinationIpAddress">Destination IP</label>
          } @if (f.destinationNetworkType.value === 'IpAddress') {
          <tooltip [message]="helpText.IpNetworkType"></tooltip>
          } @if (f.destinationNetworkType.value === 'IpAddress') {
          <input
            type="text"
            id="destinationIpAddress"
            formControlName="destinationIpAddress"
            class="form-control"
            [class.is-invalid]="submitted && f.destinationIpAddress.errors"
            aria-label="Destination IP"
          />
          } @if (submitted && f.destinationIpAddress.errors) {
          <div class="invalid-feedback">
            @if (f.destinationIpAddress.errors.required) {
            <div>Destination IP is required</div>
            } @if (f.destinationIpAddress.errors.invalidIpAny) {
            <div>Invalid IP address, must be a valid IPv4/IPv6 address or CIDR</div>
            }
          </div>
          } @if (f.destinationNetworkType.value === 'NetworkObject') {
          <label for="destinationNetworkObject">Destination Network Object</label>
          } @if (f.destinationNetworkType.value === 'NetworkObject') {
          <tooltip [message]="helpText.NetworkObjectType"></tooltip>
          } @if (f.destinationNetworkType.value === 'NetworkObject') {
          <ng-select
            formControlName="destinationNetworkObject"
            id="destinationNetworkObject"
            [ngClass]="{
              'is-invalid': submitted && f.destinationNetworkObject.errors
            }"
            aria-label="Destination Network Object"
            [items]="networkObjects"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          } @if (submitted && f.destinationNetworkObject.errors) {
          <div class="invalid-feedback">
            @if (f.destinationNetworkObject.errors.required) {
            <div>Destination Network Object is required</div>
            }
          </div>
          } @if (f.destinationNetworkType.value === 'NetworkObject') {
          <span
            (click)="getObjectInfo('Destination NetworkObject', f.destinationNetworkType.value, f.destinationNetworkObject.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >
          } @if (f.destinationNetworkType.value === 'NetworkObjectGroup') {
          <label for="destinationNetworkObjectGroup">Destination Network Object Group</label>
          } @if (f.destinationNetworkType.value === 'NetworkObjectGroup') {
          <tooltip [message]="helpText.NetworkObjectGroupType"></tooltip>
          } @if (f.destinationNetworkType.value === 'NetworkObjectGroup') {
          <ng-select
            formControlName="destinationNetworkObjectGroup"
            id="destinationNetworkObjectGroup"
            [ngClass]="{
              'is-invalid': submitted && f.destinationNetworkObjectGroup.errors
            }"
            aria-label="Destination Network Object Group"
            [items]="networkObjectGroups"
            bindLabel="name"
            bindValue="id"
          >
          </ng-select>
          } @if (submitted && f.destinationNetworkObjectGroup.errors) {
          <div class="invalid-feedback">
            @if (f.destinationNetworkObjectGroup.errors.required) {
            <div>Destination Network Object Group is required</div>
            }
          </div>
          } @if (f.destinationNetworkType.value === 'NetworkObjectGroup') {
          <span
            (click)="getObjectInfo('Destination NetworkObjectGroup', f.destinationNetworkType.value, f.destinationNetworkObjectGroup.value)"
            style="color: blue; cursor: pointer"
            >(object info)</span
          >
          }
        </div>
      </div>

      @if (f.protocol.value !== 'IP' && f.protocol.value !== 'ICMP') {
      <div>
        <hr />
        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="serviceType">Service Type</label>
            <tooltip [message]="helpText.SourceServiceType"></tooltip>
            <select id="serviceType" formControlName="serviceType" class="form-select" aria-label="Source Service Type">
              <option></option>
              <option value="Port">Port</option>
              <option value="ServiceObject">Service Object</option>
              <option value="ServiceObjectGroup">Service Object Group</option>
            </select>
          </div>
        </div>
        <div class="row">
          @if (f.serviceType.value === 'Port') {
          <div class="mb-3 col-md-6">
            @if (f.serviceType.value === 'Port') {
            <label for="sourcePorts">Source Port</label>
            } @if (f.serviceType.value === 'Port') {
            <tooltip [message]="helpText.PortServiceType"></tooltip>
            } @if (f.serviceType.value === 'Port') {
            <input
              type="text"
              id="sourcePorts"
              formControlName="sourcePorts"
              class="form-control"
              [class.is-invalid]="submitted && f.sourcePorts.errors"
              aria-label="Source Ports"
            />
            } @if (submitted && f.sourcePorts.errors) {
            <div class="invalid-feedback">
              @if (f.sourcePorts.errors.invalidPortNumber) {
              <div>Source Port/Range must be between 1-65535</div>
              } @if (f.sourcePorts.errors.required) {
              <div>Source Port is required</div>
              }
            </div>
            }
          </div>
          }
          <div class="mb-3 col-md-6">
            @if (f.serviceType.value === 'Port') {
            <label for="destinationPorts">Destination Port</label>
            } @if (f.serviceType.value === 'Port') {
            <tooltip [message]="helpText.PortServiceType"></tooltip>
            } @if (f.serviceType.value === 'Port') {
            <input
              type="text"
              id="destinationPorts"
              formControlName="destinationPorts"
              class="form-control"
              [class.is-invalid]="submitted && f.destinationPorts.errors"
              aria-label="Destination Ports"
            />
            } @if (submitted && f.destinationPorts.errors) {
            <div class="invalid-feedback">
              @if (f.destinationPorts.errors.invalidPortNumber) {
              <div>Destination Port/Range must be between 1-65535</div>
              } @if (f.destinationPorts.errors.required) {
              <div>Destination Port is required</div>
              }
            </div>
            } @if (f.serviceType.value === 'ServiceObject') {
            <label for="serviceObject">Service Object </label>
            } @if (f.serviceType.value === 'ServiceObject') {
            <tooltip [message]="helpText.ServiceObjectType"></tooltip>
            } @if (f.serviceType.value === 'ServiceObject') {
            <ng-select
              formControlName="serviceObject"
              id="serviceObject"
              [ngClass]="{
                'is-invalid': submitted && f.serviceObject.errors
              }"
              aria-label="Service Object Group"
              [items]="serviceObjects"
              bindLabel="name"
              bindValue="id"
            >
            </ng-select>
            } @if (submitted && f.serviceObject.errors) {
            <div class="invalid-feedback">
              @if (f.serviceObject.errors.required) {
              <div>Service Object is required</div>
              }
            </div>
            } @if (f.serviceType.value === 'ServiceObject') {
            <span (click)="getObjectInfo('Service Object', f.serviceType.value, f.serviceObject.value)" style="color: blue; cursor: pointer"
              >(object info)</span
            >
            } @if (f.serviceType.value === 'ServiceObjectGroup') {
            <label for="serviceObjectGroup">Service Object Group</label>
            } @if (f.serviceType.value === 'ServiceObjectGroup') {
            <tooltip [message]="helpText.ServiceObjectGroupType"></tooltip>
            } @if (f.serviceType.value === 'ServiceObjectGroup') {
            <ng-select
              formControlName="serviceObjectGroup"
              id="serviceObjectGroup"
              [ngClass]="{
                'is-invalid': submitted && f.serviceObjectGroup.errors
              }"
              aria-label="Service Object Group"
              [items]="serviceObjectGroups"
              bindLabel="name"
              bindValue="id"
            >
            </ng-select>
            } @if (submitted && f.serviceObjectGroup.errors) {
            <div class="invalid-feedback">
              @if (f.serviceObjectGroup.errors.required) {
              <div>Service Object Group is required</div>
              }
            </div>
            } @if (f.serviceType.value === 'ServiceObjectGroup') {
            <span
              (click)="getObjectInfo('Service Object Group', f.serviceType.value, f.serviceObjectGroup.value)"
              style="color: blue; cursor: pointer"
              >(object info)</span
            >
            }
          </div>
        </div>
      </div>
      }
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-bs-dismiss="modal" (click)="cancel()">Cancel</button>

      <button class="btn btn-success" data-bs-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>

<app-firewall-rule-object-info-modal></app-firewall-rule-object-info-modal>
