span {
  color: blue;
  cursor: pointer;
}

.inline-button {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid black;
}
.inline-button:hover {
  text-decoration: none;
  border-bottom: 1px solid #007bff;
}
