<ngx-smart-modal
  #applicationGroupModal
  identifier="applicationGroupModal"
  [dismissable]="false"
  customClass="large-modal"
  (onOpen)="loadApplicationGroup()"
  (onClose)="onClose()"
>
  <header class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </header>

  <main class="modal-body">
    <form [formGroup]="form">
      <div class="form-row">
        <!-- Name -->
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            aria-label="Name"
            [class.is-invalid]="submitted && f.name.errors"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>

        <!-- Description -->
        <div class="form-group col-md-6">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control" aria-label="Description" />
        </div>
      </div>
    </form>
  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onClose()">
      Cancel
    </button>

    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="save()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Save Application Group</span>
    </button>
  </footer>
</ngx-smart-modal>
