<app-f5-config-filter
  (f5ConfigSearch)="onSearch($event)"
  (partitionSelected)="onPartitionSelected($event)"
  (search)="onSearch($event)"
></app-f5-config-filter>

<div *ngIf="!partitionInfoExists" class="empty-state-container">
  <p>No partitions found in this F5.</p>
</div>

<div *ngFor="let partition of filteredPartitionInfo">
  <ng-container *ngIf="selectedPartition === '[ALL]' || selectedPartition === partition?.name">
    <h2>{{ partition.name }}</h2>
    <div class="row">
      <div
        *ngFor="let virtualServer of partition?.virtualServers | sortVirtualServersByStatus"
        [ngClass]="virtualServer.expanded ? 'col-12' : 'col-md-2'"
      >
        <app-virtual-server-card
          [virtualServer]="virtualServer"
          (expandedChange)="handleExpandedChange(virtualServer, $event)"
        ></app-virtual-server-card>
      </div>
    </div>
  </ng-container>
</div>
