<app-f5-config-filter
  (f5ConfigSearch)="onSearch($event)"
  (partitionSelected)="onPartitionSelected($event)"
  (search)="onSearch($event)"
></app-f5-config-filter>

@if (!partitionInfoExists) {
<div class="empty-state-container">
  <p>No partitions found in this F5.</p>
</div>
} @for (partition of filteredPartitionInfo; track partition) {
<div>
  @if (selectedPartition === '[ALL]' || selectedPartition === partition?.name) {
  <h2>{{ partition.name }}</h2>
  <div class="row">
    @for (virtualServer of partition?.virtualServers | sortVirtualServersByStatus; track virtualServer) {
    <div [ngClass]="virtualServer.expanded ? 'col-12' : 'col-md-2'">
      <app-virtual-server-card
        [virtualServer]="virtualServer"
        (expandedChange)="handleExpandedChange(virtualServer, $event)"
      ></app-virtual-server-card>
    </div>
    }
  </div>
  }
</div>
}
