@import '../../../../../assets/styles/variables';

%list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 600px;
}

.application-groups {
  margin-top: 20px;
  display: flex;

  &__list {
    @extend %list;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $c-gray-100;
    margin-top: 2px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__section {
    flex-grow: 1;

    &:first-child {
      padding-right: 20px;
      border-right: 1px solid $c-gray-100;
    }

    &:last-child {
      padding-left: 20px;
    }
  }
}
