<ngx-smart-modal
  #recoveryPlanModal
  identifier="recoveryPlanModal"
  [dismissable]="false"
  customClass="xlarge-modal"
  (onOpen)="loadRecoveryPlan()"
  (onClose)="onClose()"
>
  <header class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </header>

  <main class="modal-body">
    <form [formGroup]="form">
      <div class="form-row">
        <!-- Name -->
        <div class="form-group col-md-5">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            aria-label="Name"
            [class.is-invalid]="submitted && f.name.errors"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>

        <!-- Arm Server -->
        <div class="form-group col-md-5">
          <label for="arm-server">RD Collector</label>
          <ng-select
            id="arm-server"
            [items]="armServers"
            [class.is-invalid]="submitted && f.armServerId.errors"
            bindLabel="hostOrIp"
            [closeOnSelect]="true"
            bindValue="id"
            [loading]="isLoadingArmServers"
            formControlName="armServerId"
          >
          </ng-select>
          <div *ngIf="submitted && f.armServerId.errors" class="invalid-feedback">
            <div *ngIf="f.armServerId.errors.required">RD Collector is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Virtual Management Server -->
        <div class="form-group col-md-3">
          <label for="virtual-management-server">Virtual Management Server</label>
          <ng-select
            id="virtual-management-server"
            [items]="virtualManagementServers"
            [class.is-invalid]="submitted && f.virtualManagementServerId.errors"
            bindLabel="name"
            [closeOnSelect]="true"
            bindValue="id"
            [loading]="isLoadingVirtualManagementServers"
            formControlName="virtualManagementServerId"
          >
          </ng-select>
          <div *ngIf="submitted && f.virtualManagementServerId.errors" class="invalid-feedback">
            <div *ngIf="f.virtualManagementServerId.errors.required">Virtual Management Server is required</div>
          </div>
        </div>

        <!-- Resource Pool -->
        <div class="form-group col-md-3">
          <label for="resource-pool">Default Resource Pool</label>
          <ng-select
            id="resource-pool"
            [items]="resourcePools"
            [class.is-invalid]="submitted && f.resourcePoolId.errors"
            bindLabel="name"
            [closeOnSelect]="true"
            bindValue="id"
            [loading]="isLoadingResourcePools"
            formControlName="resourcePoolId"
          >
          </ng-select>
          <div *ngIf="submitted && f.resourcePoolId.errors" class="invalid-feedback">
            <div *ngIf="f.resourcePoolId.errors.required">Default Resource Pool is required</div>
          </div>
        </div>

        <!-- Port Group -->
        <div class="form-group col-md-4">
          <label for="port-group">Default Port Group</label>
          <ng-select
            id="port-group"
            [items]="portGroups"
            [class.is-invalid]="submitted && f.portGroupName.errors"
            bindLabel="name"
            [closeOnSelect]="true"
            bindValue="uniqueName"
            [loading]="isLoadingPortGroups"
            formControlName="portGroupName"
          >
          </ng-select>
          <div *ngIf="submitted && f.portGroupName.errors" class="invalid-feedback">
            <div *ngIf="f.portGroupName.errors.required">Default Port Group is required</div>
          </div>
        </div>
      </div>
    </form>

    <section class="application-groups" *ngIf="f.armServerId.value">
      <!-- Available Application Groups -->
      <div class="application-groups__section">
        <header class="application-groups__header">
          <label>Available Application Groups</label>
        </header>
        <ng-container *ngIf="!isLoadingApplicationGroups; else loading">
          <ul class="application-groups__list">
            <li class="application-groups__item" *ngFor="let applicationGroup of availableApplicationGroups">
              <span> {{ applicationGroup.name }}</span>
              <app-icon-button
                icon="add"
                label="Add Application Group"
                (handleClick)="addApplicationGroup(applicationGroup)"
              ></app-icon-button>
            </li>
          </ul>

          <span *ngIf="availableApplicationGroups.length === 0">No application groups available</span>
        </ng-container>
      </div>

      <!-- Selected Application Groups -->
      <div class="application-groups__section">
        <header class="application-groups__header">
          <label>Selected Application Groups</label>
        </header>

        <ng-container *ngIf="!isLoadingApplicationGroups; else loading">
          <ul class="application-groups__list">
            <li class="application-groups__item" *ngFor="let applicationGroup of selectedApplicationGroups; let i = index">
              <span> {{ i + 1 }}</span>
              <span> {{ applicationGroup.name }}</span>
              <app-icon-button
                icon="delete"
                label="Remove Application Group"
                (handleClick)="removeApplicationGroup(applicationGroup)"
              ></app-icon-button>
            </li>
          </ul>

          <span *ngIf="!selectedApplicationGroups">No selected application groups</span>
        </ng-container>
      </div>
    </section>
  </main>

  <footer class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="onClose()">
      Cancel
    </button>

    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="save()">
      <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
      <span>Save Recovery Plan</span>
    </button>
  </footer>
</ngx-smart-modal>

<ng-template #loading>
  <fa-icon class="icon" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</ng-template>
