<div class="container">
  <h2>App ID Version Maintenance</h2>

  <div class="button-container-top-right">
    <button mat-raised-button color="primary" (click)="update()" [disabled]="!selection.hasValue() || isAnySelectedTenantUpdateDisabled">
      Run App ID Maintenance
    </button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAll() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let tenant">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(tenant) : null"
            [checked]="selection.isSelected(tenant)"
            [disabled]="tenant.isUpdateDisabled"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Tenant Name Column -->
      <ng-container matColumnDef="tenant">
        <th mat-header-cell *matHeaderCellDef>Tenant Name</th>
        <td mat-cell *matCellDef="let tenant">{{ tenant.tenant }}</td>
      </ng-container>

      <!-- Current Version Column -->
      <ng-container matColumnDef="currentVersion">
        <th mat-header-cell *matHeaderCellDef>Current Version</th>
        <td mat-cell *matCellDef="let tenant">{{ tenant.currentVersion }}</td>
      </ng-container>

      <!-- Last Updated Column -->
      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef>Last Updated</th>
        <td mat-cell *matCellDef="let tenant">{{ tenant.lastUpdated }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let tenant">
          <button
            mat-icon-button
            color="primary"
            (click)="refreshTenant(tenant)"
            matTooltip="Refresh tenant data"
            [disabled]="tenant.isRefreshDisabled || tenant.isRefreshingAppIdRuntimeData"
          >
            <mat-icon style="transform: rotate(80deg)" [class.icon-spin]="tenant.isRefreshingAppIdRuntimeData">sync</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openTierManagementModal(tenant)" matTooltip="Manage App ID Tiers">
            <mat-icon>settings_applications</mat-icon>
          </button>
          <mat-icon *ngIf="tenant.appIdJobStatus === 'error'" color="warn" matTooltip="Refresh failed">warning</mat-icon>
          <mat-icon *ngIf="tenant.updateJobStatus === 'error'" color="warn" matTooltip="Update failed">error</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let tenant; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<app-yes-no-modal></app-yes-no-modal>
