<ngx-smart-modal
  #subnetsModal
  [dismissable]="false"
  customClass="large-modal"
  identifier="subnetsModal"
  (onOpen)="getData()"
  (onClose)="reset()"
>
  <header class="modal-header">
    <h4 class="modal-title">Subnets</h4>
  </header>

  <div class="modal-body">
    <section class="btn-toolbar" role="toolbar">
      <button class="btn btn-success" (click)="openSubnetsEditModal(ModalMode.Create)">
        <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
        <span>Create Subnet</span>
      </button>
    </section>

    <app-table
      [config]="config"
      [data]="subnets"
      (clearResults)="getSubnets($event)"
      (searchParams)="getSubnets($event)"
      [searchColumns]="searchColumns"
      [(itemsPerPage)]="perPage"
      (tableEvent)="onTableEvent($event)"
    ></app-table>
  </div>
</ngx-smart-modal>

<app-subnets-edit-modal [bridgeDomainId]="bridgeDomainId" [tenantId]="tenantId"></app-subnets-edit-modal>

<ng-template #actionsTemplate let-subnet="datum">
  <section>
    <app-icon-button
      *ngIf="!subnet?.deletedAt"
      icon="edit"
      label="Edit Subnet"
      (handleClick)="openSubnetsEditModal(ModalMode.Edit, subnet)"
    ></app-icon-button>
    <app-icon-button
      icon="delete"
      label="Soft-Delete/Delete Bridge Domain"
      [type]="subnet?.deletedAt ? 'danger' : 'default'"
      (handleClick)="removeSubnet(subnet)"
    ></app-icon-button>

    <app-icon-button
      *ngIf="subnet?.deletedAt"
      icon="undo"
      label="Restore Bridge Domain"
      type="success"
      (handleClick)="restoreSubnet(subnet)"
    ></app-icon-button>
  </section>
</ng-template>
