<ngx-smart-modal #addFilterModal identifier="addFilterModal" (onOpen)="getData()" (onClose)="reset()">
  <header class="modal-header">
    <h4 class="modal-title">Add Filter</h4>
  </header>
    <div class="modal-body">
      <div class="form-group">
        <label for="filters">Filters</label>
        <ng-select [(ngModel)]="selectedFilter" [ngModelOptions]="{standalone: true}" [items]="filters" id="filters" bindLabel="name"></ng-select>
      </div>
        <button class="btn btn-success" (click)="addFilter()">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
      <app-table [config]="config" [data]="filterTableData" (clearResults)="getFiltertableData($event)" (searchParams)="getFiltertableData($event)" [searchColumns]="searchColumns" [(itemsPerPage)]="perPage" (tableEvent)="onTableEvent($event)"></app-table>
    </div>
</ngx-smart-modal>
