<!--TODO: Show more info for subnets andc interfaces (cidr, interface speed, switch name, etc)-->

<ngx-smart-modal
  #logicalInterfaceModal
  identifier="logicalInterfaceModal"
  [dismissable]="false"
  (onOpen)="getData()"
  customClass="medium-modal"
>
  <div class="modal-header">
    <h4 class="modal-title">Logical Interface</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="nativeSubnet">Native VLAN</label>
        <select
          formControlName="nativeSubnet"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nativeSubnet.errors }"
          aria-label="Native Subnet"
        >
          <option></option>
          <option *ngFor="let subnet of availableSubnets" [ngValue]="subnet">{{
            subnet
          }}</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tagged VLANS</label>
          <div class="input-group align-items-center">
            <select formControlName="selectedTaggedSubnet" class="form-control">
              <option></option>
              <option
                *ngFor="let subnet of availableSubnets"
                [ngValue]="subnet"
                >{{ subnet }}</option
              >
            </select>
            <button
              type="button"
              class="btn btn-sm btn-info"
              (click)="selectSubnet()"
              aria-label="Add VLAN"
            >
              <fa name="plus"></fa>
              Add VLAN
            </button>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subnet of selectedSubnets">
            <td>
              <p>{{ subnet }}</p>
            </td>
            <td class="item-actions">
              <fa name="trash" (click)="unselectSubnet(subnet)"> </fa>
            </td>
          </tr>
          <tr *ngIf="!selectedSubnets?.length" class="text-center">
            <td colspan="2">No Subnets Selected</td>
          </tr>
        </tbody>
      </table>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
