<h3 class="header-with-button">
  Advetised Internal Routes
  <button *ngIf="!global" class="inline-button" (click)="manageSubnets.emit()" [disabled]="wanForm.status === 'PENDING'">
    Manage Internal Routes
  </button>
</h3>
<div class="table-container mb-4">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>VRF</th>
        <th>Environment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let internalRoute of wanForm?.internalRoutes">
        <td>{{ internalRoute.name }}</td>
        <td>{{ internalRoute.description || '-' }}</td>
        <td>{{ internalRoute.vrf }}</td>
        <td>{{ internalRoute.environment }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="header-with-button">
  Allowed External Routes
  <button *ngIf="!global" class="inline-button" (click)="manageRoutes.emit()" [disabled]="wanForm.status === 'PENDING'">
    Manage External Routes
  </button>
</h3>
<div class="table-container mb-4">
  <table>
    <thead>
      <tr>
        <th>Network</th>
        <th>External VRF</th>
        <th>Last Seen</th>
        <th>Protocol</th>
        <th>Metric</th>
        <th>Uptime</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of wanForm?.externalRoutes">
        <td>{{ route.network }}</td>
        <td>{{ route.externalVrf }}</td>
        <td>
          {{ route.lastSeen }} <mat-icon matTooltip="Expired" aria-label="Expired route icon" *ngIf="route.expired">event_busy</mat-icon>
        </td>
        <td>{{ route.protocol }}</td>
        <td>{{ route.metric }}</td>
        <td>{{ route.uptime || '-' }}</td>
        <td>{{ route.tag || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
