:host {
  display: block;
}

:host .table-container {
  width: 100%;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

:host table {
  width: 100%;
  border-collapse: collapse;
}

:host th,
:host td {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

:host th {
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 2;
}

:host th,
:host td {
  font-size: 14px;
  color: #333;
}

:host th {
  font-weight: bold;
}

:host .table-container::-webkit-scrollbar {
  width: 8px;
}

:host .table-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inline-button {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 1px solid black;
}
.inline-button:hover {
  text-decoration: none;
  border-bottom: 1px solid #007bff;
}

.inline-button:disabled {
  color: #999;
  cursor: not-allowed;
  border-bottom: 1px solid #999;
}

.inline-button:disabled:hover {
  border-bottom: 1px solid #999;
}
