<ngx-smart-modal
  #nodeModal
  identifier="nodeModal"
  [dismissable]="false"
  (onOpen)="getData()"
>
  <div class="modal-header">
    <h4 class="modal-title">Node</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          appIsAlphanumeric
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          aria-label="Name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <tooltip [message]="helpText.Type"></tooltip>
        <select
          name="type"
          formControlName="type"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
          aria-label="Type"
        >
          <option></option>
          <option value="IpAddress">IP Address</option>
          <option value="Fqdn">FQDN</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="f.type.value == 'IpAddress'">
        <label for="ipAddress">IP Address</label>
        <tooltip  *ngIf="f.type.value == 'IpAddress'" [message]="helpText.IpAddress"></tooltip>
        <input
          name="ipAddress"
          formControlName="ipAddress"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.ipAddress.errors }"
          [dropSpecialCharacters]="false"
          mask="099.099.099.099"
          aria-label="IP Address"
        />
      </div>

      <div class="form-group" *ngIf="f.type.value == 'Fqdn'">
        <label for="fqdn">FQDN</label>
        <tooltip  *ngIf="f.type.value == 'Fqdn'" [message]="helpText.Fqdn"></tooltip>
        <input
          name="fqdn"
          formControlName="fqdn"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.fqdn.errors }"
          aria-label="IP Address"
        />
      </div>

      <div class="form-group" *ngIf="f.type.value == 'Fqdn'">
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            name="autoPopulate"
            class="form-check-input"
            formControlName="autoPopulate"
            aria-label="FQDN"
          />

          <label class="form-check-label" for="autoPopulate">
            Auto Populate
          </label>
          <tooltip  *ngIf="f.type.value == 'fqdn'" [message]="helpText.AutoPopulate"></tooltip>

        </div>
      </div>

      <div class="form-group">
        <label for="servicePort">
          Service Port
        </label>
        <tooltip [message]="helpText.ServicePort"></tooltip>
        <input
          class="form-control"
          name="servicePort"
          formControlName="servicePort"
          [ngClass]="{ 'is-invalid': submitted && f.servicePort.errors }"
          mask="09999"
          aria-label="Service Port"
        />
      </div>
      <div class="form-group">
        <label for="priority">
          Priority
        </label>
        <tooltip [message]="helpText.Priority"></tooltip>
        <input
          class="form-control"
          name="priority"
          formControlName="priority"
          [ngClass]="{ 'is-invalid': submitted && f.priority.errors }"
          mask="099"
          aria-label="Priority"
        />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link"
          data-dismiss="modal"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button class="btn btn-success" data-dismiss="modal">
          <fa name="save"></fa>
          Save
        </button>
      </div>
    </div>
  </form>
</ngx-smart-modal>
