<ngx-smart-modal #networkObjectModal identifier="networkObjectModal" [dismissable]="false" (onOpen)="getData()" (onClose)="reset()">
  <header class="modal-header">
    <h4 class="modal-title">Network Object</h4>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
          id="name"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
          <div *ngIf="f.name.errors.maxlength">Name must be 100 characters or less.</div>
          <div *ngIf="f.name.errors.invalidName">Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <tooltip [message]="helpText.Type"></tooltip>
        <select id="type" formControlName="type" class="form-control" [class.is-invalid]="submitted && f.type.errors" aria-label="Type">
          <option></option>
          <option value="IpAddress">Ip Address</option>
          <option value="Range">Range</option>
          <option value="Fqdn">FQDN</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="f.type.value == 'IpAddress'">
        <label for="ipAddress">IP Address</label>
        <tooltip *ngIf="f.type.value == 'IpAddress'" [message]="helpText.IpAddress"></tooltip>
        <input
          type="text"
          id="ipAddress"
          formControlName="ipAddress"
          class="form-control"
          [class.is-invalid]="submitted && f.ipAddress.errors"
          aria-label="IP Address"
          *ngIf="f.type.value == 'IpAddress'"
        />
        <div *ngIf="submitted && f.ipAddress.errors" class="invalid-feedback">
          <div *ngIf="f.ipAddress.errors.required">IP Address is required</div>
          <div *ngIf="f.ipAddress.errors.invalidIpAny">IP Address is invalid, must be a valid IPv4/IPv6 address or CIDR</div>
        </div>
      </div>

      <div class="form-group">
        <label for="startIpAddress" *ngIf="f.type.value == 'Range'">Start Address</label>
        <tooltip *ngIf="f.type.value == 'Range'" [message]="helpText.StartIpAddress"></tooltip>
        <input
          type="text"
          id="startIpAddress"
          class="form-control"
          formControlName="startIpAddress"
          [ngClass]="{
            'is-invalid': submitted && f.startIpAddress.errors
          }"
          aria-label="Start Address"
          *ngIf="f.type.value == 'Range'"
        />

        <div *ngIf="submitted && f.startIpAddress.errors" class="invalid-feedback">
          <div *ngIf="f.startIpAddress.errors && f.startIpAddress.errors.required">Start Address is required</div>
          <div *ngIf="f.startIpAddress.errors && f.startIpAddress.errors.invalidIpAddress">IP Address is invalid</div>
        </div>
      </div>

      <div class="form-group">
        <label for="endIpAddress" *ngIf="f.type.value == 'Range'">End Address</label>
        <tooltip *ngIf="f.type.value == 'Range'" [message]="helpText.EndIpAddress"></tooltip>
        <input
          type="text"
          id="endIpAddress"
          class="form-control"
          formControlName="endIpAddress"
          [class.is-invalid]="submitted && f.endIpAddress.errors"
          aria-label="End Address"
          *ngIf="f.type.value == 'Range'"
        />
        <div *ngIf="submitted && f.endIpAddress.errors" class="invalid-feedback">
          <div *ngIf="f.endIpAddress.errors.invalidIpAddress">IP Address is invalid</div>
          <div *ngIf="f.endIpAddress.errors.required">End Address is required</div>
        </div>
      </div>

      <div class="form-group" *ngIf="f.type.value == 'Fqdn'">
        <label for="fqdn">FQDN</label>
        <tooltip *ngIf="f.type.value == 'Fqdn'" [message]="helpText.Fqdn"></tooltip>
        <input
          type="text"
          id="fqdn"
          formControlName="fqdn"
          class="form-control"
          [class.is-invalid]="submitted && f.fqdn.errors"
          aria-label="FQDN"
          *ngIf="f.type.value == 'Fqdn'"
        />
        <div *ngIf="submitted && f.fqdn.errors" class="invalid-feedback">
          <div *ngIf="f.fqdn.errors.required">FQDN is required</div>
          <div *ngIf="f.fqdn.errors.invalidFqdn">FQDN is invalid.</div>
        </div>
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
