<ngx-smart-modal #networkObjectModal identifier="networkObjectModal" [dismissable]="false" (onOpen)="getData()" (onClose)="reset()">
  <header class="modal-header">
    <h2 class="modal-title">Network Object</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <tooltip [message]="helpText.Name"></tooltip>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="submitted && f.name.errors"
          aria-label="Name"
          id="name"
        />
        @if (submitted && f.name.errors) {
        <div class="invalid-feedback">
          @if (f.name.errors.required) {
          <div>Name is required</div>
          } @if (f.name.errors.minlength) {
          <div>Name must be at least 3 characters.</div>
          } @if (f.name.errors.maxlength) {
          <div>Name must be 100 characters or less.</div>
          } @if (f.name.errors.invalidName) {
          <div>Name must only contain alphanumeric characters or "-", "_", ":", "."</div>
          }
        </div>
        }
      </div>

      @if (!f.nat.value) {
      <div class="form-group">
        <label for="type">Type</label>
        <tooltip [message]="helpText.Type"></tooltip>
        <select id="type" formControlName="type" class="form-control" [class.is-invalid]="submitted && f.type.errors" aria-label="Type">
          <option></option>
          <option value="IpAddress">Ip Address</option>
          <option value="Range">Range</option>
          <option value="Fqdn">FQDN</option>
        </select>
        @if (submitted && f.type.errors) {
        <div class="invalid-feedback">
          @if (f.type.errors.required) {
          <div>Type is required</div>
          }
        </div>
        }
      </div>
      } @if (f.type.value == 'IpAddress') {
      <div class="form-group">
        <label for="ipAddress">IP Address</label>
        @if (f.type.value == 'IpAddress') {
        <tooltip [message]="helpText.IpAddress"></tooltip>
        } @if (f.type.value == 'IpAddress') {
        <input
          type="text"
          id="ipAddress"
          formControlName="ipAddress"
          class="form-control"
          [class.is-invalid]="submitted && f.ipAddress.errors"
          aria-label="IP Address"
        />
        } @if (submitted && f.ipAddress.errors) {
        <div class="invalid-feedback">
          @if (f.ipAddress.errors.required) {
          <div>IP Address is required</div>
          } @if (f.ipAddress.errors.invalidIpAny) {
          <div>IP Address is invalid, must be a valid IPv4/IPv6 address or CIDR</div>
          }
        </div>
        }
      </div>
      }

      <div class="form-group">
        @if (f.type.value == 'Range') {
        <label for="startIpAddress">Start Address</label>
        } @if (f.type.value == 'Range') {
        <tooltip [message]="helpText.StartIpAddress"></tooltip>
        } @if (f.type.value == 'Range') {
        <input
          type="text"
          id="startIpAddress"
          class="form-control"
          formControlName="startIpAddress"
          [ngClass]="{
            'is-invalid': submitted && f.startIpAddress.errors
          }"
          aria-label="Start Address"
        />
        } @if (submitted && f.startIpAddress.errors) {
        <div class="invalid-feedback">
          @if (f.startIpAddress.errors && f.startIpAddress.errors.required) {
          <div>Start Address is required</div>
          } @if (f.startIpAddress.errors && f.startIpAddress.errors.invalidIpAddress) {
          <div>IP Address is invalid</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        @if (f.type.value == 'Range') {
        <label for="endIpAddress">End Address</label>
        } @if (f.type.value == 'Range') {
        <tooltip [message]="helpText.EndIpAddress"></tooltip>
        } @if (f.type.value == 'Range') {
        <input
          type="text"
          id="endIpAddress"
          class="form-control"
          formControlName="endIpAddress"
          [class.is-invalid]="submitted && f.endIpAddress.errors"
          aria-label="End Address"
        />
        } @if (submitted && f.endIpAddress.errors) {
        <div class="invalid-feedback">
          @if (f.endIpAddress.errors.invalidIpAddress) {
          <div>IP Address is invalid</div>
          } @if (f.endIpAddress.errors.required) {
          <div>End Address is required</div>
          }
        </div>
        }
      </div>

      @if (f.type.value == 'Fqdn') {
      <div class="form-group">
        <label for="fqdn">FQDN</label>
        @if (f.type.value == 'Fqdn') {
        <tooltip [message]="helpText.Fqdn"></tooltip>
        } @if (f.type.value == 'Fqdn') {
        <input
          type="text"
          id="fqdn"
          formControlName="fqdn"
          class="form-control"
          [class.is-invalid]="submitted && f.fqdn.errors"
          aria-label="FQDN"
        />
        } @if (submitted && f.fqdn.errors) {
        <div class="invalid-feedback">
          @if (f.fqdn.errors.required) {
          <div>FQDN is required</div>
          } @if (f.fqdn.errors.invalidFqdn) {
          <div>FQDN is invalid.</div>
          }
        </div>
        }
      </div>
      } @if (f.type.value === 'IpAddress') {
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input type="checkbox" name="nat" class="form-check-input" formControlName="nat" aria-label="NAT" />
          <label class="form-check-label" for="nat">NAT</label>
          @if (f.type.value == 'IpAddress') {
          <tooltip [message]="helpText.Nat"></tooltip>
          }
        </div>
      </div>
      } @if (f.nat.value) {
      <div class="form-group">
        <label for="natType">NAT Type</label>
        @if (f.nat.value) {
        <tooltip [message]="helpText.NatType"></tooltip>
        }
        <select
          name="natType"
          formControlName="natType"
          class="form-control"
          [class.is-invalid]="submitted && f.natType.errors"
          aria-label="NAT Direction"
        >
          <option></option>
          <option value="Intervrf">InterVRF</option>
          <option value="External">External</option>
        </select>
        @if (submitted && f.natType.errors) {
        <div class="invalid-feedback">
          @if (f.natType.errors.required) {
          <div>NAT Type is required</div>
          }
        </div>
        }
      </div>
      } @if (f.nat.value) {
      <div class="form-group">
        <label for="natDirection">NAT Direction</label>
        @if (f.nat.value) {
        <tooltip [message]="helpText.NatDirection"></tooltip>
        }
        <select
          name="natDirection"
          formControlName="natDirection"
          class="form-control"
          [class.is-invalid]="submitted && f.natDirection.errors"
          aria-label="NAT Direction"
        >
          <option></option>
          <option value="In">In</option>
          <option value="Out">Out</option>
        </select>
        @if (submitted && f.natDirection.errors) {
        <div class="invalid-feedback">
          @if (f.natDirection.errors.required) {
          <div>NAT Direction is required</div>
          }
        </div>
        }
      </div>
      } @if (f.nat.value) {
      <div class="form-group">
        <label for="translatedIpAddress">Translated IP Address</label>
        @if (f.nat.value) {
        <tooltip [message]="helpText.TranslatedIpAddress"></tooltip>
        }
        <input
          type="text"
          name="translatedIpAddress"
          class="form-control"
          formControlName="translatedIpAddress"
          aria-label="Translated IP"
          [class.is-invalid]="submitted && f.translatedIpAddress.errors"
        />
        @if (submitted && f.translatedIpAddress.errors) {
        <div class="invalid-feedback">
          @if (f.translatedIpAddress.errors.required) {
          <div>Translated IP Address is required</div>
          }
        </div>
        }
      </div>
      } @if (f.nat.value) {
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input type="checkbox" name="natService" class="form-check-input" formControlName="natService" aria-label="NAT Service" />
          <label class="form-check-label" for="nat">NAT Service</label>
          @if (f.nat.value) {
          <tooltip [message]="helpText.NatService"></tooltip>
          }
        </div>
      </div>
      } @if (f.natService.value) {
      <div class="form-group">
        <label for="type">NAT Protocol</label>
        @if (f.natService.value) {
        <tooltip [message]="helpText.NatProtocol"></tooltip>
        }
        <select
          name="natProtocol"
          formControlName="natProtocol"
          class="form-control"
          [class.is-invalid]="submitted && f.natProtocol.errors"
          aria-label="NAT Protocol Type"
        >
          <option></option>
          <option value="TCP">TCP</option>
          <option value="UDP">UDP</option>
        </select>
        @if (submitted && f.natProtocol.errors) {
        <div class="invalid-feedback">
          @if (f.natProtocol.errors.required) {
          <div>NAT Protocol is required</div>
          }
        </div>
        }
      </div>
      } @if (f.natService.value) {
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="natSourcePort">Source Port</label>
          @if (f.natService.value) {
          <tooltip [message]="helpText.NatSourcePort"></tooltip>
          }
          <input
            type="text"
            name="natSourcePort"
            class="form-control"
            formControlName="natSourcePort"
            [class.is-invalid]="submitted && f.natSourcePort.errors"
            mask="09999"
          />
          @if (submitted && f.natSourcePort.errors) {
          <div class="invalid-feedback">
            @if (f.natSourcePort.errors.invalidPortNumber) {
            <div>Source Port/Range must be between 1-65535</div>
            } @if (f.natSourcePort.errors.required) {
            <div>Source Port is required</div>
            }
          </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="natTranslatedPort">Translated Port</label>
          @if (f.natService.value) {
          <tooltip [message]="helpText.NatTranslatedPort"></tooltip>
          }
          <input
            type="text"
            name="natTranslatedPort"
            class="form-control"
            formControlName="natTranslatedPort"
            [class.is-invalid]="submitted && f.natTranslatedPort.errors"
            mask="09999"
          />
          @if (submitted && f.natTranslatedPort.errors) {
          <div class="invalid-feedback">
            @if (f.natTranslatedPort.errors.invalidPortNumber) {
            <div>Translated Port must be between 1-65535</div>
            } @if (f.natTranslatedPort.errors.required) {
            <div>Translated Port is required</div>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">Cancel</button>

      <button class="btn btn-success" data-dismiss="modal">
        <fa-icon class="icon" [icon]="['fas', 'save']"></fa-icon>
        <span>Save</span>
      </button>
    </footer>
  </form>
</ngx-smart-modal>
